<section>
	<div class="row">
		<div class="col-md-12">
			<div class="line-through">
				<p><span><%= @inquiries.size %> Messages</span></p>
			</div>
			<div class="col-md-12">
				<section class="section">
					<% @collection.each do |resource| %>
						<div class="row section-comments-group">
							<div class="col-sm-3">
								<center>
									<div class="user-image-cycle float-none margin-none">
										<% if resource.user_id.present? %>
											<%= image_tag resource.try(:user).try(:profile).try(:avatar).url(:thumb), class: 'host-profile-image' %>
										<% else %>
											<%= image_tag "no-image.png", class: 'host-profile-image' %>
										<% end %>
									</div>
									<br>
									<span class="text-muted"><b><%= resource.name %></b></span>
								</center>
							</div>
							<div class="col-sm-9">
								<div class="row">
									<div class="col-xs-12">
										<p class="p-message">
											<small>
												<b>Subject:</b> <%= resource.subject? %>
											</small>
											<br>
											<div class="well">
												<%= resource.reply(current_user.id) %>
												<%= link_to "#{resource.message}", resource_path(resource) %>
											</div>
										</p>
									</div>
									<div class="col-xs-9">
										<small class="text-muted">
											<i class="fa fa-user"></i>
											&nbsp;<a href="mailto:<%= resource.email %>"><%= resource.email %></a>
											&nbsp;
											<i class="fa fa-mobile"></i> <%= resource.phone %>
											<br>
											Sent at <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
										</small>
									</div>
									<div class="col-xs-3">
										<div class="pull-right">
											<%= link_to '<i class="fa fa-search"></i>'.html_safe,resource_path(resource) %> |
											<%= link_to '<i class="fa fa-times-circle"></i>'.html_safe,resource_path(resource), method: 'delete', data: {confirm: "Are you sure delete this #{resource.id}"} %>
										</div>
									</div>
									<div class="col-xs-12"><hr></div>
								</div>
							</div>
						</div>
					<% end %>

					<%= paginate @collection %>
				</section>
			</div>
		</div>
	</div>
</section>
