<section>
	<div class="row">
		<div class="col-md-12">
			<div class="line-through">
				<p><span>Detail Message</span></p>
			</div>
			<div class="col-md-12">
				<%= link_to '<i class="fa fa-angle-double-left"></i> Back'.html_safe, collection_path(resource) %>
				<section class="section">
					<div class="row section-comments-group">
						<div class="col-sm-3">
							<center>
								<div class="user-image-cycle float-none margin-none">
									<% if resource.user_id.present? %>
										<%= image_tag resource.try(:user).try(:profile).try(:avatar).url(:thumb), class: 'host-profile-image' %>
									<% else %>
										<%= image_tag "no-image.png", class: 'host-profile-image' %>
									<% end %>
								</div>
								<br>
								<span class="text-muted"><b><%= resource.name %></b></span>
							</center>
						</div>
						<div class="col-sm-9">
							<div class="row">
								<div class="col-xs-12">
									<p class="p-message">
										<small>
											<b>Subject:</b> <%= resource.subject? %>
										</small>
										<br>
										<div class="well">
											<%= resource.message %>
										</div>
									</p>
								</div>
								<div class="col-xs-12">
									<small class="text-muted">
										<i class="fa fa-user"></i>
										&nbsp;<a href="mailto:<%= resource.email %>"><%= resource.email %></a>
										&nbsp;
										<i class="fa fa-mobile"></i> <%= resource.phone %>
										<br>
										Sent at <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
									</small>
								</div>
								<div class="col-xs-12">
									<hr>
								</div>
								<% if resource.user_id.present? %>
									<%= render 'shareds/messages/form_reply_message', resource: resource %>
								<% end %>
							</div>
						</div>
					</div>

					<%= render 'shareds/messages/list_reply_messages' %>
				</section>
			</div>
		</div>
	</div>
</section>
