<div class="row">
  <div class="col-md-12 region-based">
    <h6>Parent</h6>
    <% parent_id = resource.try(:parent_id) %>
    <% ancestry_depth = resource.try(:ancestry_depth) %>
    <% provinces = Region.roots.alfa %>
    <% if parent_id.present? %>
      <% reg = Region.find(parent_id) %>
      <% province_id = provinces.include?(reg) ? parent_id : reg.root %>
      <% cities = provinces.include?(reg) ? reg.children : reg.root.children %>
      <% city_id = cities.include?(reg) ? parent_id : reg.parent ? reg.parent.id : nil %>
      <% city_name = city_id == parent_id ? "region[parent_id]" : "" %>
      <% subdistricts = cities.include?(reg) ? reg.children : reg.siblings %>
      <% subdistrict_id = subdistricts.include?(reg) ? parent_id : nil %>
      <% subdistrict_name = subdistrict_id == parent_id ? "region[parent_id]" : "" %>
      <% villages = subdistricts.include?(reg) ? reg.children : reg.siblings %>
      <% village_id = villages.include?(reg) ? parent_id : nil %>
      <% village_name = village_id == parent_id ? "region[parent_id]" : "" %>
      <% cities = cities.pluck(:name, :id) %>
      <% subdistricts = subdistricts.pluck(:name, :id) %>
      <% villages = villages.pluck(:name, :id) %>
    <% else %>
      <% provinces = Region.roots %>
      <% province_id = city_id = subdistrict_id = parent_id %>
      <% cities = subdistricts = villages = [] %>
    <% end %>
    <%= f.select :parent_id, options_for_select(provinces.alfa.pluck(:name, :id), province_id), {prompt: 'Choice Provinces'}, class: 'select2 form-control provinces_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    <div class="city-container <%= show_hidden(ancestry_depth, 'city') %>">
      <%= select_tag city_name, options_for_select(cities, city_id), prompt: 'Choice City', class: 'select2 form-control city_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    </div>
    <div class="sub-district-container <%= show_hidden(ancestry_depth, 'subdistrict') %>">
      <%= select_tag subdistrict_name, options_for_select(subdistricts, subdistrict_id), prompt: 'Choice Subdistrict', class: 'select2 form-control city_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    </div>
    <div class="village-container <%= show_hidden(ancestry_depth, 'village') %>">
      <%= select_tag village_name, options_for_select(villages, village_id), prompt: 'Choice Village', class: 'select2 form-control village_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    </div>
  </div>
  <div class="break"></div>
  <div class="col-md-2">
    <div class="user">
      <%= image_tag f.object.image.url(:medium), style: 'width: 200px' %>
    </div>
    <%= f.file_field :image %>
  </div>
  <div class="col-md-10">
    <h6><%= f.check_box :featured %> Set Featured</h6>
    <h6>Name</h6>
    <%= f.text_field :name, class: 'form-control', required: true  %>
  </div>
</div>
