<div class="col-md-12">
  <%= render 'backend/shareds/search_form_report' %>
  <%= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do %>
    <div class="widget">
      <%= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Sales Reports', button_name: 'Sales Report', add_method: true} %>
      <div class="widget-content">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th width="1%"></th>
                <th>Code</th>
                <th>Property</th>
                <th>Price</th>
                <th>Sold Price</th>
                <th>Sold Date</th>
                <th>Created At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @collection.each_with_index do |resource, index| %>
                <tr>
                  <td><%= check_box_tag "ids[]", resource.id %></td>
                  <td><b><%= resource.try(:sold_reportable).try(:code) %></b></td>
                  <td>SOLD <%= resource.try(:sold_reportable).try(:title) %> [<b><%= resource.try(:sold_reportable).try(:type_property) %></b>]</td>
                  <td><%= number_to_currency_br(resource.sold_reportable.price) if resource.sold_reportable.price.present? %></td>
                  <td><%= number_to_currency_br(resource.price) if resource.price.present? %></td>
                  <td><%= resource.try(:date).strftime("%B, %d, %Y") if resource.date.present? %></td>
                  <td><%= resource.try(:created_at).strftime("%B, %d, %Y") %></td>
                  <td>
                    <%= link_to 'Show', property_path(resource.try(:sold_reportable)) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="widget-foot">
          <div class="pull-right">
            <%= paginate @collection %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
