<div class="row">
  <div class="col-xs-12">
    <div class="area">
      <strong>Your Packages</strong>
      <span class="pull-right"><%= link_to 'Invoice Packages', invoices_userpage_packages_path %></span>
    </div>
    <hr>
    <div>
      <div class="l-info col-md-6" style="padding-top: 12px;">
        <p>To upgrade the package please <%= link_to 'click here', package_path %></p>
        <div class="priod">
          <ul>
            <li>Expired At</li>
            <li>Listing online limit</li>
          </ul>
        </div>
        <div class="bonus">
          <ul>
            <li>Top Listing</li>
            <li>Featured Listing</li>
            <li>Profil Agen di website</li>
            <li>Email Alert</li>
            <% LabelType.to_a.each do |label| %>
              <li><%= label[0] %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% if @current_package %>
        <div class="l-gold col-md-6">
          <div class="package">
            <span class="gold">Detail Package</span>
          </div>
          <div class="priod">
            <ul>
              <li><%= @current_package.expire_in || '-' %></li>
              <li><%= current_user.remain_listing %></li>
            </ul>
          </div>
          <div class="bonus">
            <div class="quote-bonus">Bonus</div>
            <ul>
              <li><%= @current_package.top_listing ? 'Yes' : 'No' %></li>
              <li><%= current_user.remain_featured_listing || '-' %></li>
              <li>Yes</li>
              <li>Yes</li>
              <% LabelType.to_a.each do |label| %>
                <% if @current_package.label_tags %>
                  <li><%= @current_package.label_tags.include?(label[0]) ? 'Yes' : 'No' %></li>
                <% else %>
                  <li> No </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div><!-- gold -->
      <% end %>
    </div>
  </div>
</div>