<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copy">Copyright &copy; 2015 | <a href="#">PROPEDIA</a> </p>
      </div>
    </div>
  </div>
</footer>
