<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
  <div class="col-md-12">
    <div class="navbar-header">
      <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span>Menu</span>
      </button>
      <%= link_to 'Admin Panel', backend_dashboard_path, class: "navbar-brand hidden-lg" %>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown pull-right">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="fa fa-user"></i> Admin <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to edit_backend_admin_path(current_user) do %>
                <i class="fa fa-cogs"></i> Settings
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: 'delete' do %>
                <i class="fa fa-sign-out"></i> Logout
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo">
          <h1>
            <%= link_to backend_dashboard_path do %>
              Dashboard<span class="bold">Admin</span>
            <% end %>
          </h1>
          <p class="meta">Admin Control Panel</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="header-data">
          <div class="hdata">
            <div class="mcol-left">
              <i class="fa fa-user bred"></i>
            </div>
            <div class="mcol-right">
              <p><a href="#"><%= @members_size %></a><em>Members</em></p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="hdata">
            <div class="mcol-left">
              <i class="fa fa-user-secret bblue"></i>
            </div>
            <div class="mcol-right">
              <p><a href="#"><%= @agents_size %></a> <em>Agents</em></p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="hdata">
            <div class="mcol-left">
              <i class="fa fa-briefcase bblue"></i>
            </div>
            <div class="mcol-right">
              <p><a href="#"><%= @developers_size %></a> <em>Developers</em></p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="hdata">
            <div class="mcol-left">
              <i class="fa fa-home bgreen"></i>
            </div>
            <div class="mcol-right">
              <p><a href="#"><%= @properties_size %></a><em>Properties</em></p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="hdata">
            <div class="mcol-left">
              <i class="fa fa-building bgreen"></i>
            </div>
            <div class="mcol-right">
              <p><a href="#"><%= @projects_size %></a><em>Projects</em></p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<%= flash_messages %>
