<%= link_to resource_path(resource) do %>
	<div class="btn btn-xs btn-info"><i class="fa fa-eye"></i> </div>
<% end if no_show == true && no_show.present? %>

<%= link_to edit_resource_path(resource) do %>
	<div class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> </div>
<% end %>

<%= link_to resource_path(resource), method: 'delete', data: {confirm: confirmation} do %>
	<div class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </div>
<% end %>
