<div class="widget-head">
	<div class="pull-left">
		<%= link_to collection_path do %>
			<div class="btn btn-xs btn-info"><i class="fa fa-reorder"></i> List</div>
		<% end %>
		<% if add_method %>
			<%= link_to new_resource_path do %>
				<div class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Create New</div>
			<% end unless params[:controller] == 'backend/sold_reports' %>
		<% end %>
	</div>
	<div class="widget-icons pull-right">
		<% if params[:controller] == 'backend/members'||
					params[:controller] == 'backend/agents' ||
					params[:controller] == 'backend/developers' ||
					params[:controller] == 'backend/locations' %>
			<button class="btn btn-xs btn-primary" type="submit" name="commit" value="verified">
				<i class="fa fa-check"></i> Verified
			</button>
			<button class="btn btn-xs btn-warning" type="submit" name="commit" value="non_verified">
				<i class="fa fa-exclamation"></i> Non Verified
			</button>
		<% end %>

		<% if params[:controller] == 'backend/properties' ||
					params[:controller] == 'backend/projects' ||
					params[:controller] == 'backend/auction_properties' %>
			<button class="btn btn-xs btn-primary" type="submit" name="commit" value="featured">
				<i class="fa fa-heart"></i> Change Featured
			</button>
			<button class="btn btn-xs btn-info" type="submit" name="commit" value="activated">
				<i class="fa fa-check"></i> Activated
			</button>
			<button class="btn btn-xs btn-warning" type="submit" name="commit" value="non_activated">
				<i class="fa fa-exclamation"></i> Non Activated
			</button>
		<% end %>
		<% if params[:controller] == 'backend/feedbacks' ||
					params[:controller] == 'backend/reports' %>
			<button class="btn btn-xs btn-primary" type="submit" name="commit" value="checked">
				<i class="fa fa-check"></i> Change Checked Status
			</button>
		<% end %>
		<% unless params[:controller] == 'backend/regions' ||
					params[:controller] == 'backend/landing_pages' ||
					params[:controller] == 'backend/web_settings' ||
					params[:controller] == 'backend/order_user_packages' %>
			<button class="btn btn-xs btn-danger" type="submit" name="commit" value="destroy_all">
				<i class="fa fa-times"></i> Destroy All
			</button>
		<% end %>
		<% if params[:controller] == 'backend/order_user_packages' && defined?(@collection) %>
			<% if @collection.present? %>
				<button class="btn btn-xs btn-primary" type="submit" name="commit" value="confirmation">
					<i class="fa fa-check"></i> Confirmation
				</button>
			<% end %>
		<% end %>
	</div>
	<div class="clearfix"></div>
</div>
