<div class="row">
	<%= form_for :search, url: collection_path, method: 'get' do %>
		<div class="col-md-12">
			<h6>Find Results <b><%= collection.size %></b></h6>
		</div>
		<div class="col-md-2">
			<%= select_tag :type_asset, options_for_select(LocationType.to_a, params[:type_asset]), prompt: 'Choice Type', class: 'form-control' %>
		</div>
		<div class="col-md-5 padding-left0">
			<%= text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'keywords..' %>
		</div>
		<div class="col-md-2 padding-left0">
			<%= select_tag :province, options_for_select(Region.roots.alfa.pluck('name'), params[:province]), prompt: 'Choice Province', class: 'select2 form-control provinces_select_tag' %>
		</div>
		<div class="col-md-2 padding-left0">
			<% cities = params[:city] ? Region.find_by(name: params[:province]).try(:children).pluck('name') || [] : Region.none rescue [] %>
	    <div class="city-container">
	      <%= select_tag :city, options_for_select(cities, params[:city]), prompt: 'Choice City', class: 'select2 form-control cities_select' %>
	    </div>
		</div>
		<div class="col-md-1 padding0">
			<button class="btn btn-info" type="submit">Search</button>
		</div>
	<% end %>
</div>
