<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>PROPEDIA</title>
    <style type="text/css">
      a:hover { text-decoration: underline !important; }
    </style>
  </head>
  <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px;" leftmargin="0">
    <table bgcolor="#E5EFF6" cellspacing="0" border="0" cellpadding="0" width="100%">
      <tr>
        <td>
          <table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="middle" width="493" bgcolor="#FD4F55">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="18"></td>
                          <td height="40"></td>
                        </tr>
                        <tr>
                          <td style="width:100%">
                            <h2 align="center" style="color:white; font-family: Arial;">PROPEDIA</h2>
                          </td>
                        </tr>
                        <tr>
                          <td height="40">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table bgcolor="#ffffff" cellspacing="0" border="0" align="center" cellpadding="30" width="684" style="padding: 40px 0;">
            <tr>
              <td>
                <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                  <tr>
                    <td>
                      <table cellspacing="0" border="0" cellpadding="0" width="100%">
                        <tr>
                          <td valign="top" align="center">
                            <h2 style="font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;">
                              Approved Verification - Your Account Member has Verified
                            </h2>
                            <p style="font-size: 14px; line-height: 22px; font-family: Arial; color: #333; margin: 0px;">
                              Your Acccount!<br>
                              Code: <b><%= @user.code %></b><br>
                              Username: <b><%= @user.username %></b><br>
                              Email: <b><%= @user.email %></b><br><br>

                              Your Account Successfully Verification!
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <a style="background-color: #2CC92C; color: #ffffff; border-bottom: 2px solid #2F9600; display: table; margin-top: 25px; border-radius: 4px; text-decoration: none; padding: 7px 16px;" href="<%= @url %>">www.housingindonesia.com</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table width="680" border="0" align="center" cellpadding="30" cellspacing="0" bgcolor="#191919">
            <tr>
              <td valign="top" width="60%">
                <p style="font-size: 12px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    <b>PROPEDIA Team</b>
                  </unsubscribe><br>
                  Home seekers get a virtual tour of your property. Only those with genuine interest approach you.
                </p>
              </td>
              <td valign="top">
                <p style="font-size: 12px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  South Jakarta, Indonesia<br>

                  Email.
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    housingindonesia@gmail.com
                  </unsubscribe>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
