<div class="container">
  <div class="col-md-12">
    <div class="box-landing-page">
      <div class="title">
        <center>
          <%= @page.title %>
        </center>
      </div>
      <div class="box-description">
        <%= @page.description.html_safe %>
      </div>
    </div>
  </div>
</div>
