<div class="col-md-12">
  <div class="widget">
    <div class="widget-head">
      <div class="pull-left">Report detail <%= resource.id %></div>
      <div class="clearfix"></div>
    </div>
    <div class="widget-content">
      <div class="padd">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped table-hover table-responsive table-bordered">
              <tbody>
                <tr>
                  <td width="20%"><h6>Reportable ID</h6></td>
                  <td><%= resource.reportable_id %></td>
                </tr>
                <tr>
                  <td><h6>Reportable Type</h6></td>
                  <td><%= resource.reportable_type %></td>
                </tr>
                <tr>
                  <td><h6>Report</h6></td>
                  <td>
                    <b>
                      <%= link_to resource.reportable.title, property_path(resource.reportable) if resource.reportable.present? %>
                    </b> [ Flat ID: <%= resource.try(:reportable).try(:code) if resource.reportable.present? %> ]
                  </td>
                </tr>
                <tr>
                  <td><h6>Created At</h6></td>
                  <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
                </tr>
                <tr>
                  <td><h6>Email</h6></td>
                  <td><a href="mailto:<%= resource.email %>"><%= resource.email %></a></td>
                </tr>
                <tr>
                  <td><h6>Category</h6></td>
                  <td><%= resource.category %></td>
                </tr>
                <tr>
                  <td><h6>Message</h6></td>
                  <td><%= resource.message %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="widget-foot"></div>
    </div>
  </div>
</div>


