<div class="row">
  <div class="col-md-12">
    <h6> Name </h6>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h6> Title </h6>
    <%= f.text_field :title, class: 'form-control', required: true %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h6> Description </h6>
    <%= f.text_field :description, class: 'form-control', required: true %>
  </div>
</div>