<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading bittersweet-soft">
      <h3 class="panel-title"> Create Rule</h3>
    </div>
    <div class="panel-body">
      <%= form_tag create_rule_backend_role_sections_path(@role), method: :post, class: 'form-stateable' do |f| %>
        <div class="form-group">
          <h6>Section Name</h6>
          <%= select_tag :section_name, options_for_select(@role.to_hash.keys),{prompt: 'Select Section', required: true, class: 'form-control'} %>
        </div>
        <div class="form-group">
          <h6>Rule Name</h6>
          <%= select_tag :rule_name, options_for_select(@permissions, ''),{prompt: 'Select Rule', required: true, class: 'form-control'} %>
        </div>
        <div class="form-group">
          <div class="buttons">
            <button class="btn btn-sm btn-info" type="submit">Save</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>