<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading bittersweet-soft">
      <h3 class="panel-title"> Role Sections </h3>
    </div>
    <div class="panel-body">
      <% resource.to_hash.each_pair do |section, rules| %>
        <table class="table table-striped table-bordered margin-bottom-nil">
          <thead class="table table-colapse" data-toggle="collapse" href="#<%= section %>" style="cursor:pointer">
            <tr>
              <th width="80%">
                <b><%= section.try(:upcase) %></b>
              </th>
              <th>
                <%= link_to 'Delete', backend_role_section_path(resource, section), class: 'btn btn-xs btn-danger', data: {method: :delete, confirm: "You will delete, #{section}. Do you want continue?"} %>
          </thead>
          <tbody class="collapse" id="<%= section %>" data-parent="bs-example-navbar-collapse-1">
            <% rules.each_pair do |rule, value| %>
              <tr>
                <td><%= ['&rarr;&nbsp',rule].join(' ').html_safe %>
                <td>
                  <div class="controls">
                    <div class="btn-group">
                      <% klass = value ? 'info' : 'default' %>
                      <% state = value ? 'enable' : 'disable' %>
                      <button class="btn btn-xs <%="btn-#{klass}" %>">
                        <%= state %>
                      </button>
                      <button class="btn btn-xs dropdown-toggle <%= "btn-#{klass}" %>" data-toggle="dropdown">
                        <span class="caret"></span>
                      </button>

                      <ul class="dropdown-menu">
                        <li>
                          <%= link_to 'enable', rule_on_backend_role_section_path(resource.id, section, name: rule), method: :put %>
                        </li>
                        <li>
                          <%= link_to 'disable', rule_off_backend_role_section_path(resource.id, section, name: rule), method: :put %>
                        <li>
                          <%= link_to 'remove', destroy_rule_backend_role_section_path(resource.id, section, name: rule), method: :delete, data: {confirm: 'You will delete section, are you sure?'} %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>