<%= render partial: 'backend/shareds/prepare_form', locals: { form_name: 'Role', action_name: 'Edit', form_method: 'put'} %>
<% if resource.persisted? %>
  <%= render partial: 'backend/roles/section_role' if eval(resource.the_role).present? %>
  <%= render partial: 'backend/roles/section_form' %>
  <%= render partial: 'backend/roles/section_role_form' if eval(resource.the_role).present? %>
<% end %>