<div class="col-md-12">
  <div class="widget">
    <%= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Role', button_name: 'Role', add_method: true} %>
    <div class="widget-content">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th> Name </th>
              <th> Description </th>
              <th> Created At </th>
              <th style="width:150px;")></th>
            </tr>
          </thead>
          <tbody>
            <% collection.each do |item| %>
              <% next if item.admin? %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.description %></td>
                <td><%= item.created_at %></td>
                <td class="btn-group no-border">
                  <%= render partial: 'backend/shareds/prepare_action',
                  locals: { resource: item, confirmation: "Are you sure delete this #{item.name}", no_show: false } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
