<% @user %>
<% @profile = @user.try(:profile) %>
<% @address = @user.try(:address) %>
<div class="cover-image-users">
  <div class="container">
    <div class="col-md-12">
      <div class="info-user-cover">
        <div class="col-md-1">
          <div class="user-image-cycle">
            <%= image_tag @profile.try(:avatar).url(:thumb) %>
          </div>
        </div>
        <div class="col-md-11">
          <div class="row">
            <div class="box-info-user">
              <div class="name">
                <%= @profile.try(:full_name) %> <small>[ID <%= @user.try(:code) %>] <%= @user.verified? %></small>
              </div>
              <div class="email">
                <% if @user.agent? %>
                  <small>
                    <i class="fa fa-building-o"></i> Specialist Property: <%= @user.try(:agent_info).try(:specialist_property) %>
                  </small><br>
                  <small>
                    <span class="fa fa-map-marker"></span> Specialist Area: <%= @user.try(:agent_info).try(:specialist_area) %>
                  </small>
                <% else %>
                  <small><span class="fa fa-map-marker"></span> <%= @address.place_info_user %></small>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag @profile.try(:cover).url(:large), class: 'img-responsive' %>
</div>