<% user = @user %>
<% profile = user.try(:profile) %>
<% contact = user.try(:contact) %>
<div class="col-md-4 contact-user-to-fixed">
  <div class="contact-user-font-section">
    <div class="line-through">
      <p><span>Information <%= user.try(:type) %></span></p>
    </div>
    <div class="col-xs-12">
      <% if user.agent? %>
        <h5>Profile</h5>
        <span><%= @user.try(:agent_info).try(:description) %></span>
        <div class="break"></div>
        <h5>Fluent Language</h5>
        <span><%= @user.try(:agent_info).try(:language) %></span>
        <div class="break"></div>
      <% end %>
      <h5>Phone</h5>
      <span><i class="fa fa-mobile"></i> <%= contact.try(:phone) %></span>
      <div class="break"></div>
      <h5>Handphone</h5>
      <span><i class="fa fa-mobile"></i> <%= contact.try(:handphone) %></span>
      <div class="break"></div>
      <h5>PIN</h5>
      <span><%= contact.try(:pin) %></span>
      <div class="break"></div>
      <h5>Email</h5>
      <span><a href="mailto:<%= user.try(:email) %>"><%= user.try(:email) %></a></span>
      <div class="break"></div>
      <h5>Registered Since</h5>
      <span><%= user.try(:created_at).strftime("%B, %d, %Y") %></span>
      <div class="break"></div>
      <h5>Address</h5>
      <span><%= @address.place_info_user %></span>
      <div class="break"></div>
      <% if contact.website.present? %>
        <h5>Website</h5>
        <span><a href="<%= contact.try(:website) %>" target="_blank"> <%= contact.try(:website) %></a></span>
      <% end %>
    </div>
    <br>
    <div class="line-through"></div>
    <div class="bottom">
      <%= form_for Inquiry.new, url: inquiries_path, method: 'post' do |f| %>
        <%= f.hidden_field :owner_id, value: user.try(:id) %>
        <%= render 'shareds/messages/form', f: f %>
      <% end %>
    </div>
  </div>
  <div class="col-md-12 padding0">
    <div class="btn-group grid-controls-action-show-property">
      <button class="btn btn-default click-block-share-social full-width">
        <i class="fa fa-share-alt"></i> Share
      </button>
    </div>
    <div class="block-share-social">
      <span class='st_sharethis_large' displayText='ShareThis'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_pinterest_large' displayText='Pinterest'></span>
      <span class='st_email_large' displayText='Email'></span>
    </div>
  </div>
</div>
