<div class="row">
  <div class="col-md-6">
    <h6>Favicon</h6>
    <%= image_tag f.object.favicon.url(:small), class: 'show-choice customize-img-web-setting' %>
    <%= f.file_field :favicon, class: 'input-file' %>
  </div>
  <div class="col-md-6">
    <h6>Logo</h6>
    <%= image_tag f.object.logo.url(:small), class: 'show-choice customize-img-web-setting' %>
    <%= f.file_field :logo, class: 'input-file' %>
  </div>
  <div class="col-md-6">
    <h6>Twitter</h6>
    <%= f.text_field :twitter, class: 'form-control', required: true  %>
  </div>
  <div class="col-md-6">
    <h6>Facebook</h6>
    <%= f.text_field :facebook, class: 'form-control', required: true  %>
  </div>
  <div class="col-md-6">
    <h6>Header Tags</h6>
    <%= f.text_field :header_tags, class: 'form-control', required: true  %>
  </div>
  <div class="col-md-6">
    <h6>Footer Tags</h6>
    <%= f.text_field :footer_tags, class: 'form-control', required: true  %>
  </div>
  <div class="col-md-6">
    <h6>Contact</h6>
    <%= f.text_field :contact, class: 'form-control', required: true  %>
  </div>
  <div class="col-md-6">
    <h6>Email</h6>
    <%= f.text_field :email, class: 'form-control', required: true  %>
  </div>
</div>

<div class="break"></div>

<div class="row">
  <div class="col-md-12">
    <h3>Setting SEO (<em>Search Engine Optimation</em>)</h3>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h6>Title</h6>
        <%= f.text_field :title, class: 'form-control', required: true  %>
      </div>
      <div class="col-md-6">
        <h6>Keyword</h6>
        <%= f.text_field :keywords, class: 'form-control', required: true  %>
      </div>
      <div class="col-md-12">
        <h6>Description</h6>
        <%= f.text_area :description, class: 'form-control', required: true  %>
      </div>
      <div class="col-md-6">
        <h6>Meta Robot</h6>
        <%= f.text_field :robot, class: 'form-control', placeholder: 'Example: Index, Follow, NoFollow' %>
      </div>
      <div class="col-md-6">
        <h6>Author</h6>
        <%= f.text_field :author, class: 'form-control', placeholder: 'author project'  %>
      </div>
      <div class="col-md-6">
        <h6>Corpyright</h6>
        <%= f.text_field :corpyright, class: 'form-control', placeholder: 'Example: PROPEDIA'  %>
      </div>
      <div class="col-md-6">
        <h6>Revisit</h6>
        <%= f.text_field :revisit, class: 'form-control', placeholder: '2 Days'  %>
      </div>
      <div class="col-md-6">
        <h6>Expires</h6>
        <%= f.text_field :expires, class: 'form-control', placeholder: 'never'  %>
      </div>
      <div class="col-md-6">
        <h6>Revisit After</h6>
        <%= f.text_field :revisit_after, class: 'form-control', placeholder: '2 Days'  %>
      </div>
      <div class="col-md-6">
        <h6>GeoPlacename</h6>
        <%= f.text_field :geo_placename, class: 'form-control', placeholder: 'Example: Indonesia'  %>
      </div>
      <div class="col-md-6">
        <h6>Language</h6>
        <%= f.text_field :language, class: 'form-control', placeholder: 'ID'  %>
      </div>
      <div class="col-md-6">
        <h6>Country</h6>
        <%= f.text_field :country, class: 'form-control', placeholder: 'ID'  %>
      </div>
      <div class="col-md-6">
        <h6>Content language</h6>
        <%= f.text_field :content_language, class: 'form-control', placeholder: 'All-Language'  %>
      </div>
      <div class="col-md-6">
        <h6>Distribution</h6>
        <%= f.text_field :distribution, class: 'form-control', placeholder: 'global'  %>
      </div>
      <div class="col-md-6">
        <h6>Generator</h6>
        <%= f.text_field :generator, class: 'form-control', placeholder: 'website'  %>
      </div>
      <div class="col-md-6">
        <h6>Rating</h6>
        <%= f.text_field :rating, class: 'form-control', placeholder: 'general'  %>
      </div>
      <div class="col-md-6">
        <h6>Target</h6>
        <%= f.text_field :target, class: 'form-control', placeholder: 'global'  %>
      </div>
      <div class="col-md-12">
        <h6>Search Engine</h6>
        <%= f.text_area :search_engines, class: 'form-control', placeholder: 'Keyword 1, Keyword 2'  %>
      </div>
    </div>
  </div>
</div>

<div class="break"></div>

<div class="row">
  <div class="col-md-12">
    <h3>Setting Information In Package Page</h3>
    <hr>
    <div class="col-md-12">
      <h6>Package Title</h6>
      <%= f.text_field :package_title, class: 'form-control', placeholder: 'Package Title'  %>
    </div>
    <div class="col-md-12">
      <h6>Package Description</h6>
      <%= f.text_area :package_description, class: 'ckeditor form-control', placeholder: 'Package Description'  %>
    </div>
    <div class="col-md-12"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Image Slider</h3>
    <hr>
  </div>
  <div class="setup-content">
    <%= render partial: 'gallery_form', locals: {f: f} %>
  </div>
</div>
