<% basic = resource.try(:basic_property) %>
<section class="basic">
	<h2 class="heading text-uppercase">Details</h2>
	<span class="entity">
		<span class="entity-left">
			<i class="fa fa-bookmark-o"></i>
		</span>
		<span class="entity-right">
			<span class="text">Property</span>
			<br>
			<span class="value">
				<span><%= resource.try(:type_property) %></span>
			</span>
		</span>
	</span>
	<span class="entity">
		<span class="entity-left">
			<i class="fa fa-calendar"></i>
		</span>
		<span class="entity-right">
			<span class="text">Added on</span>
			<br>
			<span class="value">
				<span><%= resource.try(:created_at).strftime("%b, %d, %Y") %></span>
			</span>
		</span>
	</span>
	<% unless resource.category == 'Rent' %>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-money"></i>
			</span>
			<span class="entity-right">
				<span class="text">Price</span>
				<br>
				<span class="value">
					<i class="icon icon-rupee"></i>
					<span>
						<%= number_to_currency_br(resource.price) %>
					</span>
				</span>
			</span>
		</span>
	<% end %>

	<% if resource.category == 'Rent' %>
		<% if resource.type_property == 'House' || resource.type_property == 'Apartment' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-tags"></i>
				</span>
				<span class="entity-right">
					<span class="text">Rent Price in Day</span>
					<br>
					<span class="value">
						<i class="icon icon-rupee"></i>
						<span>
							<%= number_to_currency_br(basic.price_day) if basic.price_day.present? %>
						</span>
					</span>
				</span>
			</span>
		<% end %>
		<% unless resource.type_property == 'Land' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-tags"></i>
				</span>
				<span class="entity-right">
					<span class="text">Rent Price in Month</span>
					<br>
					<span class="value">
						<i class="icon icon-rupee"></i>
						<span>
							<%= number_to_currency_br(basic.price_month) if basic.price_month.present? %>
						</span>
					</span>
				</span>
			</span>
		<% end %>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-tags"></i>
			</span>
			<span class="entity-right">
				<span class="text">Rent Price in Year</span>
				<br>
				<span class="value">
					<i class="icon icon-rupee"></i>
					<span>
						<%= number_to_currency_br(basic.price_year) if basic.price_year.present? %>
					</span>
				</span>
			</span>
		</span>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-shield"></i>
			</span>
			<span class="entity-right">
				<span class="text">Security Deposit</span>
				<br>
				<span class="value">
					<i class="icon icon-rupee"></i>
					<span>
						<%= number_to_currency_br(basic.price_security) if basic.price_security.present? %>
					</span>
				</span>
			</span>
		</span>
		<% unless resource.type_property == 'Apartment' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-slack"></i>
				</span>
				<span class="entity-right">
					<span class="text">Land Area</span>
					<br>
					<span class="value">
						<span><%= basic.try(:surface_area) rescue '--' %>m<sup>2</sup></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'House' || resource.type_property == 'Warehouse' || resource.type_property == 'Apartment' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-building-o"></i>
				</span>
				<span class="entity-right">
					<span class="text">Building Area</span>
					<br>
					<span class="value">
						<span><%= basic.try(:building_area) rescue '--' %>m<sup>2</sup></span>
					</span>
				</span>
			</span>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-chevron-circle-up"></i>
				</span>
				<span class="entity-right">
					<span class="text">Floor</span>
					<br>
					<span class="value">
						<span><%= basic.try(:floor) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'House' || resource.type_property == 'Apartment' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-bed"></i>
				</span>
				<span class="entity-right">
					<span class="text">Bedrooms</span>
					<br>
					<span class="value">
						<span><%= basic.try(:bedrooms) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'House' || resource.type_property == 'Apartment' || resource.type_property == 'Ruko' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-yelp"></i>
				</span>
				<span class="entity-right">
					<span class="text">Bathrooms</span>
					<br>
					<span class="value">
						<span><%= basic.try(:bathrooms) rescue '--' %></span>
					</span>
				</span>
			</span>
			<% end %>
		<% unless resource.type_property == 'Land' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-clock-o"></i>
				</span>
				<span class="entity-right">
					<span class="text">Property Age</span>
					<br>
					<span class="value">
						<span><%= basic.the_age? %> Years</span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'House' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-car"></i>
				</span>
				<span class="entity-right">
					<span class="text">Garage</span>
					<br>
					<span class="value">
						<span><%= basic.try(:garage) rescue '--' %></span>
					</span>
				</span>
			</span>
			<% end %>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-location-arrow"></i>
			</span>
			<span class="entity-right">
				<span class="text">Entrance Facing</span>
				<br>
				<span class="value">
					<span><%= basic.try(:facing) rescue '--' %></span>
				</span>
			</span>
		</span>
	<% end %>

	<% unless resource.category == 'Rent' %>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-files-o"></i>
			</span>
			<span class="entity-right">
				<span class="text">Document</span>
				<br>
				<span class="value">
					<i class="icon icon-rupee"></i>
					<span>
						<%= basic.document %>
					</span>
				</span>
			</span>
		</span>
		<% if resource.type_property == 'Apartment' ||
					resource.type_property == 'Land' ||
					resource.type_property == 'Office' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-tags"></i>
				</span>
				<span class="entity-right">
					<span class="text">Price in Meter</span>
					<br>
					<span class="value">
						<i class="icon icon-rupee"></i>
						<span>
							<%= number_to_currency_br(basic.price_in_meter) if basic.price_in_meter.present? %>/Meter
						</span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'Commercial Business' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-flag-o"></i>
				</span>
				<span class="entity-right">
					<span class="text">Business Unit</span>
					<br>
					<span class="value">
						<i class="icon icon-rupee"></i>
						<span>
							<%= basic.business_unit %>
						</span>
					</span>
				</span>
			</span>
		<% end %>
		<% unless resource.type_property == 'Office' || resource.type_property == 'Apartment' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-slack"></i>
				</span>
				<span class="entity-right">
					<span class="text">Land Area</span>
					<br>
					<span class="value">
						<span><%= basic.try(:surface_area) rescue '--' %>m<sup>2</sup></span>
					</span>
				</span>
			</span>
		<% end %>
		<% unless resource.type_property == 'Land' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-building-o"></i>
				</span>
				<span class="entity-right">
					<span class="text">Building Area</span>
					<br>
					<span class="value">
						<span><%= basic.try(:building_area) rescue '--' %>m<sup>2</sup></span>
					</span>
				</span>
			</span>
		<% end %>
		<% unless resource.type_property == 'Land' ||
							resource.type_property == 'Commercial Business' ||
							resource.type_property == 'Apartment' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-bolt"></i>
				</span>
				<span class="entity-right">
					<span class="text">Electricity</span>
					<br>
					<span class="value">
						<span><%= basic.try(:electricity) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% unless resource.type_property == 'Land' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-random"></i>
				</span>
				<span class="entity-right">
					<span class="text">Phone Lines</span>
					<br>
					<span class="value">
						<span><%= basic.try(:phone_lines) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'Apartment' || resource.type_property == 'House' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-bed"></i>
				</span>
				<span class="entity-right">
					<span class="text">Bedrooms</span>
					<br>
					<span class="value">
						<span><%= basic.try(:bedrooms) rescue '--' %></span>
					</span>
				</span>
			</span>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-yelp"></i>
				</span>
				<span class="entity-right">
					<span class="text">Bathrooms</span>
					<br>
					<span class="value">
						<span><%= basic.try(:bathrooms) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'Apartment' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-car"></i>
				</span>
				<span class="entity-right">
					<span class="text">Parking</span>
					<br>
					<span class="value">
						<span><%= basic.try(:parking) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'House' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-car"></i>
				</span>
				<span class="entity-right">
					<span class="text">Garage</span>
					<br>
					<span class="value">
						<span><%= basic.try(:garage) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% unless resource.type_property == 'Land' ||
							resource.type_property == 'Apartment' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-clock-o"></i>
				</span>
				<span class="entity-right">
					<span class="text">Property Age</span>
					<br>
					<span class="value">
						<span><%= basic.the_age? %> Years</span>
					</span>
				</span>
			</span>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-location-arrow"></i>
				</span>
				<span class="entity-right">
					<span class="text">Entrance Facing</span>
					<br>
					<span class="value">
						<span><%= basic.try(:facing) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'Apartment' || resource.type_property == 'House' || resource.type_property == 'Ruko' || resource.type_property == 'Commercial Business' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-chevron-circle-up"></i>
				</span>
				<span class="entity-right">
					<span class="text">Floor</span>
					<br>
					<span class="value">
						<span><%= basic.try(:floor) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
	<% end %>

	<% if resource.type_property == 'Land' %>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-arrows-v"></i>
			</span>
			<span class="entity-right">
				<span class="text">Long Land</span>
				<br>
				<span class="value">
					<span><%= basic.try(:long_land) rescue '--' %>m<sup>2</sup></span>
				</span>
			</span>
		</span>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-arrows-h"></i>
			</span>
			<span class="entity-right">
				<span class="text">Width Land</span>
				<br>
				<span class="value">
					<span><%= basic.try(:width_land) rescue '--' %>m<sup>2</sup></span>
				</span>
			</span>
		</span>
	<% end %>
</section>
<div class="break"></div>
