<section>
  <!-- The carousel -->
  <div id="transition-timer-carousel" class="home-carousel carousel slide transition-timer-carousel" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @setting.galleries.each_with_index do |f, index| %>
        <div class="item <%= 'active' if index == 1 %>">
          <%= image_tag f.file.url %>
        </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <!-- Timer "progress bar" -->
    <hr class="transition-timer-carousel-progress-bar animate" />

    <div class="main-text main-text-auction">
      <div class="text-center">
        <h1><%= @properties.size %> Auctions Active</h1>
        <p>Find Your Ideal Property in the various Regions Indonesia</p>
        <%= form_for :search, url: properties_path, method: 'get' do %>
          <%= hidden_field_tag :category, nil, value: 'Auction Property' %>
          <div class="input-group search-big">
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search"></span></span>
                <%= autocomplete_field_tag :region_auction_display_name, params[:region_auction_display_name], autocomplete_auction_region_path, class: 'form-control', placeholder: 'By address, city, state, ZIP code, Property Id' %>
                <%#= text_field_tag :keywords, nil, value: params[:key], class: 'form-control', placeholder: 'By address, city, state, ZIP code, Property Id' %>
              </div>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger" type="submit">
                <span>Search</span>
              </button>
            </div>
          </div>
        <% end %>
        <a href="#info-auction">
          <button class="btn btn-alert btn-create-sell">How It Works</button>
        </a>
      </div>
    </div>
  </div>
</section>

