<section>
  <!-- The carousel -->
  <div id="transition-timer-carousel" class="home-carousel carousel slide transition-timer-carousel" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% resource.try(:galleries).each_with_index do |resource, index| %>
        <div class="item <%= 'active' if index == 0 %>">
          <%= image_tag resource.try(:file).url(:large) %>
        </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <!-- Timer "progress bar" -->
    <hr class="transition-timer-carousel-progress-bar animate" />

    <div class="main-text">
      <div class="text-center">
        <% if resource.sold? %>
          <%= image_tag 'sold-out.png', class: 'expired-label' unless resource.category == 'Rent' %>
        <% elsif resource.is_expired? %>
          <%= image_tag 'expired.png', class: 'expired-label' %>
        <% end %>
        <h1><%= resource.try(:title) %></h1>
        <p>
          <%= resource.try(:category) %> <%= resource.try(:type_property) %><br>
          <span class="uppercase">Flat Id: <%= resource.try(:code) %></span>
        </p>
        <button class="btn btn-alert btn-create-sell">
          <span>
            <%= number_to_currency_br(resource.the_price?) + resource.the_price_status? %>
          </span>
          <% if resource.category == 'Sell' && (resource.type_property == 'Apartment' || resource.type_property == 'Office' || resource.type_property == 'House') %>
            <span class="price-sq">
              | <%= raw "#{number_to_currency_br(resource.price_per_meter)} <small class='color-grey'> per sq m</small>" %>
            </span>
          <% end %>
        </button>
      </div>
    </div>
  </div>
</section>

