<script type="text/javascript">
  $(function(){
    var map;
    var locationStart;
    var geocoder;
    var bounds = new google.maps.LatLngBounds();
    var markers = [];
    var markersArray = [];
    var destinationIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=D|FF0000|000000';
    var originIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=O|FFFF00|000000';
    var BrusselsHightlight;

    types = <%= raw @types_location %>
    icon_types = {"Airports": "<i class='fa fa-plane'></i>", "Banks": '<i class="fa fa-bank"></i>', "Bars": '<i class="fa fa-cutlery"></i>',
                  "Bus Stations": '<i class="fa fa-bus"></i>', "Department Stores": '<i class="fa fa-cutlery"></i>',
                  "Hospitals": '<i class="fa fa-hospital-o"></i>', "Movie Theaters": '<i class="fa fa-film"></i>', "Parks": '<i class="fa fa-tree"></i>',
                  "Pharmacies": '<i class="fa fa-cutlery"></i>', "Restaurants": '<i class="fa fa-cutlery"></i>',
                  "Schools": '<i class="fa fa-briefcase"></i>', "Shopping Malls": '<i class="fa fa-cutlery"></i>',
                  "Train Stations": '<i class="fa fa-train"></i>'}
    iconBase = "<%= root_url %>assets/marker/";
    icons = {
      'Apartment': {
        icon: iconBase + 'Apartment.png'
      },
      'Commercial Business': {
        icon: iconBase + 'Commercial Business.png'
      },
      'Condotel': {
        icon: iconBase + 'Condotel.png'
      },
      'Factory': {
        icon: iconBase + 'Factory.png'
      },
      'House': {
        icon: iconBase + 'House.png'
      },
      'Land': {
        icon: iconBase + 'Land.png'
      },
      'Office Tower': {
        icon: iconBase + 'Office Tower.png'
      },
      'Office': {
        icon: iconBase + 'Office.png'
      },
      'Ruko': {
        icon: iconBase + 'Ruko.png'
      },
      'Warehouse': {
        icon: iconBase + 'Warehouse.png'
      }
    };
    asset_icons = {
      'Airports': {
        icon: iconBase + 'airport.png'
      },
      'Train Stations': {
        icon: iconBase + 'train.png'
      },
      'Bus Stations': {
        icon: iconBase + 'bus.png'
      },
      'Banks': {
        icon: iconBase + 'bank.png'
      },
      'Hospitals': {
        icon: iconBase + 'hospital.png'
      },
      'Schools': {
        icon: iconBase + 'school.png'
      },
      'Parks': {
        icon: iconBase + 'park.png'
      },
      'Restaurants': {
        icon: iconBase + 'restaurant.png'
      },
      'Movie Theaters': {
        icon: iconBase + 'movie.png'
      },
      'Bars': {
        icon: iconBase + 'bar.png'
      },
      'Department Stores': {
        icon: iconBase + 'supermarket.png'
      },
      'Pharmacies': {
        icon: iconBase + 'pharmacy.png'
      },
      'Shopping Malls': {
        icon: iconBase + 'mall.png'
      }
    };

    function initialize(type, place, assets) {
      var locationStart = new google.maps.LatLng(place[1].lat(), place[1].lng());
      var locations = assets

      // map.setCenter(locationStart);
      // map.setZoom(16);

      geocoder = new google.maps.Geocoder();

      infowindow = new google.maps.InfoWindow();
      var destinationA = [];
      var type = type;

      locations.forEach(function(location,i){
        if(location[0].type_asset == type){
          location.forEach(function(locate,i){
            destinationA.push([locate.title, new google.maps.LatLng(locate.latitude, locate.longitude), locate.type_asset, locate.id]);
          });
        }
      });
      draw_map(map, locationStart);
      set_html_type(type, place);
      // get_asset_property(place, type)
      calculateDistances(locationStart, destinationA, type, place[3]);

      // google.maps.event.addListener(marker, 'mouseover', function() {
      //   content = "<table><tr>"+
      //               "<td><img src='"+ place[6] +"' class='hov-image'></td>"+
      //               "<td><span>"+ place[0] +"</span>" + "<br><h5 class='margin-top2'>"+ ChangeToRupiah(place[2]) +"</h5></td></tr></table>";
      //   infowindow.setContent(content);
      //   infowindow.open(map, this);
      // });
      // // assuming you also want to hide the infowindow when user mouses-out
      // google.maps.event.addListener(marker, 'mouseout', function() {
      //   infowindow.close();
      // });
    }

    function calculateDistances(origin1, destinationA, type, place_id) {
      var longlatDestinations = []
      var typeDestinations = []

      destinationA.forEach(function(desA, i){
        longlatDestinations.push(desA[1]);
        typeDestinations.push(desA[2]);
      });

      typeDestinations = arrayUnique(typeDestinations);

      var service = new google.maps.DistanceMatrixService();
      service.getDistanceMatrix(
        {
          origins: [origin1],
          destinations: longlatDestinations,
          travelMode: google.maps.TravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC,
          avoidHighways: false,
          avoidTolls: false
        }, function(response, status) { callback(response, status, destinationA, type, place_id) });
    }

    function callback(response, status, result_destination, type, place_id) {
      var outputDiv = document.getElementsByClassName('ul-spec-detail_'+ type)[0];
      if(outputDiv != undefined){
        if (status != google.maps.DistanceMatrixStatus.OK) {
          outputDiv.innerHTML = '<p> No Result </p>';
        } else {
          var origins = response.originAddresses;
          var destinations = response.destinationAddresses;
          var results = response.rows[0].elements;

          outputDiv.innerHTML = '';
          for (var j = 0; j < result_destination.length; j++) {
            // createMarker(result_destination[j], type);
            if(result_destination[j][2] == type){

              if(results[j].distance != undefined){
                outputDiv.innerHTML += '<li class="data">'
                    + '<span class="pull-left">' + result_destination[j][0] + '</span>'
                    + '<span class="pull-right">' + results[j].distance.text + ' in ' + results[j].duration.text + '</span>'
                    + '</li>';
              }else{
                outputDiv.innerHTML = '<p> No Result </p>';
              }

            }
          }
        }
      }
    }

    function createMarker(place, type) {
      var placeName = place[0];
      var placeLoc = place[1];
      var asset_marker_type = asset_icons[type]
      if(asset_marker_type != undefined){
        var asset_icon_type = asset_marker_type.icon
      }else{
        var asset_icon_type = {
                                path: 'M 0,-24 6,-7 24,-7 10,4 15,21 0,11 -15,21 -10,4 -24,-7 -6,-7 z',
                                fillColor: '#ffff00',
                                fillOpacity: 1,
                                scale: 1/4,
                                strokeColor: '#bd8d2c',
                                strokeWeight: 1
                              }
      }
      var marker = new google.maps.Marker({
        map: map,
        position: placeLoc,
        icon: asset_icon_type
      });

      google.maps.event.addListener(marker, 'mouseover', function() {
        infowindow.setContent(placeName);
        infowindow.open(map, this);
      });
      // assuming you also want to hide the infowindow when user mouses-out
      google.maps.event.addListener(marker, 'mouseout', function() {
          infowindow.close();
      });
    }

    function deleteOverlays() {
      for (var i = 0; i < markersArray.length; i++) {
        markersArray[i].setMap(null);
      }
      markersArray = [];
    }

    function flatten(arr) {
      return arr.reduce(function (flat, toFlatten) {
        return flat.concat(Array.isArray(toFlatten) ? flatten(toFlatten) : toFlatten);
      }, []);
    }

    function arrayUnique(array) {
      var a = array.concat();
      for(var i=0; i<a.length; ++i) {
        for(var j=i+1; j<a.length; ++j) {
           if(a[i] === a[j])
              a.splice(j--, 1);
        }
      }

      return a;
    };

    $('.ul-list-property li').click(function(){
      var getWidth = $('.round-property').width();
      var width = getWidth + 15;
      $('.show-property-pop').css('right', -width);

      var effect = 'slide';
      var options = { direction: 'right' };
      var duration = 700;
      $('.show-property-pop').show(effect, options, duration);
    });

    // default map
    function initialized() {
      <% if @region.latitude.present? %>
        locationStart = {lat: <%= @region.try(:latitude) %>, lng: <%= @region.try(:longitude) %>}
      <% else %>
        locationStart = {lat: -6.186486, lng: 106.834091}
      <% end %>
      var locations = <%= raw @list_properties.map{|l| [l.title, l.address.latitude, l.address.longitude, number_to_currency_br(l.the_price?) + "<small class='color-grey'>#{l.the_price_status?}</small>".html_safe, l.id, l.category+'  '+ l.type_property, property_path(l.slug), l.first_image(:small), l.detail_property, number_to_currency_br(l.price_for_meter) ]} %>
      var destinations = [];
      map = new google.maps.Map(document.getElementById('map1'), {
        zoom: 14,
        center: locationStart
      });
      geocoder = new google.maps.Geocoder();
      <% if params[:region_display_name].present? %>
        set_center_latlng_from_address("<%= params[:region_display_name].split(',').first.strip %>", "<%= params[:region_display_name].split(',').last.strip %>");
      <% end %>
      marker = new google.maps.Marker({
        map: map
      });
      locations.forEach(function(location,i){
        destinations.push([locations[i][0], new google.maps.LatLng(locations[i][1], locations[i][2]), locations[i][3], locations[i][4], locations[i][5], locations[i][6], locations[i][7], locations[i][8], locations[i][9]]);
      });
      destinations.forEach(function(dest,i){
        createMarker_def(dest);
      })
      // var mcOptions = {gridSize: 50, maxZoom: 15};
      // var mc = new MarkerClusterer(map, markers, mcOptions);
    }

    $('#container-property').on('click', '.btn-close', function(){
      var effect = 'slide';
      var options = { direction: 'right' };
      var duration = 700;
      $('.show-property-pop').hide(effect, options, duration);
      BrusselsHightlight.setMap(null);
      google.maps.event.addDomListener(window, 'load', initialized);
    });

    google.maps.event.addDomListener(window, 'load', initialized);

    function createMarker_def(place) {
      placeLoc = place[1];
      type = place[4].split("  ")[1];
      var marker_type = icons[type]
      if(marker_type != undefined){
        var icon_type = marker_type.icon
      }else{
        var icon_type = "http://maps.google.com/mapfiles/marker_green.png"
      }
      var placeName = place[0];
      var marker = new google.maps.Marker({
        map: map,
        position: placeLoc,
        icon: icon_type,
        url: place[5]
      });

      infowindow = new google.maps.InfoWindow();
      google.maps.event.addListener(marker, 'mouseover', function() {
        if(place[8] == "Rp 0"){
          var price_for_meter = ""
        }else{
          var price_for_meter = '<span class="line-price">|</span> <span class="price-sq">' + place[8] + '</span> <small class="color-grey">per sq m</small>';
        }
        var content = "<table><tr>"+
                    "<td><img src='"+ place[6] +"' class='hov-image'></td>"+
                    "<td><div><span>" + placeName + "</span>" + "</div>"+
                    "<div><small class='color-grey'>"+place[4]+"</small></div>"+
                    "<div><small>"+place[7]+"</small></div>"+
                    "<h5 class='margin-top2'>"+place[2]+" "+ price_for_meter +"</h5>"+
                    "</td></tr></table>";
        infowindow.setContent(content);
        infowindow.open(map, this);
      });
      // assuming you also want to hide the infowindow when user mouses-out
      google.maps.event.addListener(marker, 'mouseout', function() {
        infowindow.close();
      });
      google.maps.event.addListener(marker, 'click', function() {
      // marker.setIcon("http://maps.google.com/mapfiles/marker.png");
        var getWidth = $('.round-property').width();
        var width = getWidth + 15;
        $('.show-property-pop').css('right', -width);

        var effect = 'slide';
        var options = { direction: 'right' };
        var duration = 700;
        $('.show-property-pop').show(effect, options, duration);
        change_detail_html(place[3]);
        var delay=0; //1 seconds
        setTimeout(function(){
          $.ajax({
            url: "<%= get_assets_url %>",
            method: 'get',
            data: {place_id: place[3]}
          }).done(function( data_places ) {
            for (var i = 0; i <= types.length-1; i++) {
              google.maps.event.addDomListener(window, 'load', initialize(types[i][0], place , data_places.assets));
            };
          });
        }, delay);
        infowindow.close();
      });
      // markers.push(marker);
    }

    function get_asset_property(place, type){
      var outputDivType = document.getElementsByClassName('outputDivType_'+ type)[0];

      outputDivType.innerHTML = '';
      outputDivType.innerHTML += '<div class="section-spec"><h4>'
          + type + '</h4><ul class="ul-spec ul-spec-detail_' + type + '">'
          + '</ul></div>';
      var outputDiv = document.getElementsByClassName('ul-spec-detail_'+ type)[0];
      $.ajax({
        url: "<%= get_assets_property_url %>",
        method: 'get',
        data: {place_id: place_id}
      }).done(function( locations_database ) {
        location_asset = locations_database.location
        locations_database.asset.forEach(function(asset,i){
          createMarker(new google.maps.LatLng(location_asset[i].latitude, location_asset[i].longitude));
          if(asset.type_asset == type){

            outputDiv.innerHTML += '<li class="data">'
                + '<span class="pull-left">' + location_asset[i].title + '</span>'
                + '<span class="pull-right">' + asset.distance + ' in ' + asset.duration + '</span>'
                + '</li>';
          }
        })
      });
    }

    function set_html_type(type, place){
      createDivType(type);
      var outputDivType = document.getElementsByClassName('outputDivType_'+ type)[0];
      if(outputDivType != undefined) {
        outputDivType.innerHTML = '';
        icon_type = icon_types[type]+' '+type;
        outputDivType.innerHTML += '<div class="section-spec"><h4>'
            + icon_type + '</h4><ul class="ul-spec ul-spec-detail_' + type + '">'
            + '</ul></div>';
      }
    }

    function createDivType(type){
      var groupdiv = $('#group-locality-type')[0];
      if($('.outputDivType_'+ type).length < 1){
        groupdiv.innerHTML += '<div class="outputDivType_'+ type +'"></div>';
      }
    }

    function draw_map(map, place){
      if(BrusselsHightlight != undefined){
        BrusselsHightlight.setMap(null);
      }
      BrusselsHightlight = new google.maps.Circle({
          center: place,
          radius: 200,
          strokeColor: "#FFF",
          strokeOpacity: 0.8,
          strokeWeight: 1,
          fillColor: "#000",
          fillOpacity: 0.09
      });
      BrusselsHightlight.setMap(map);
    }

    function ChangeToRupiah(angka){
      angka = Number(angka);
      var rev     = parseInt(angka, 10).toString().split("").reverse().join("");
      var rev2    = "";
      for(var i = 0; i < rev.length; i++){
          rev2  += rev[i];
          if((i + 1) % 3 === 0 && i !== (rev.length - 1)){
              rev2 += ".";
          }
      }
      return "Rp. " + rev2.split("").reverse().join("") + "";
    }


    function set_center_latlng_from_address(address, default_region){
      if(default_region.name != undefined){
        parent_region = default_region.name
      }else{
        parent_region = default_region
      }
      new_address = address+ ', ' +parent_region
      geocoder.geocode( { 'address': new_address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
        } else {
          map.setCenter({lat: Number(default_region.latitude), lng: Number(default_region.longitude)});
        }
      })
    }

    function change_detail_html(data){
      $.get('/get_detail_profile_property?id='+data, function(result){
        $("#container-property").html(result);
      });

      // change_profile(data.profile);
      // change_facilities(data.facilities);
      // change_others(data.others)
    }

    function change_others(data){
      address_html = document.getElementById('address-place');
      nego_html = document.getElementById('nego');
      address_html.innerHTML = 0;
      address_html.innerHTML = '<i class="fa fa-map-marker"></i>'+data.address
      nego = ""
      if(nego == true){
        nego = "(Nego)"
      }
      nego_html.innerHTML = nego;
    }

    function change_profile(data){
      profile_html = document.getElementById('profile');
      profile_html.innerHTML = '';
      profile_html.innerHTML = '<li>'+
                        '<span class="pull-left">Year Built</span>'+
                        '<span class="pull-right">'+ data.age +'</span>'+
                        '<hr>'+
                      '</li>'+
                      '<li>'+
                        '<span class="pull-left">Floor</span>'+
                        '<span class="pull-right">'+data.floor+'</span>'+
                        '<hr>'+
                      '</li>'+
                      '<li>'+
                        '<span class="pull-left">Facing</span>'+
                        '<span class="pull-right">'+data.facing+'</span>'+
                        '<hr>'+
                      '</li>'+
                      '<li>'+
                        '<span class="pull-left">Bedrooms</span>'+
                        '<span class="pull-right">'+data.bedrooms+'</span>'+
                        '<hr>'+
                      '</li>'+
                      '<li>'+
                        '<span class="pull-left">Bathrooms</span>'+
                        '<span class="pull-right">'+data.bathrooms+'</span>'+
                        '<hr>'+
                      '</li>';
    }

    function change_facilities(data){
      facilities_html = document.getElementById('facilities');
      facilities_html.innerHTML = "";
      all_facilities.forEach(function(facility,i){
        if(data != null){
          if(data.indexOf(facility) >= 0){
            name = '<span>'+facility+'</span>';
          }else{
            name = '<span class="no">No '+facility+'</span>'
          }
        }else{
          name = '<span class="no">No '+facility+'</span>'
        }
        facilities_html.innerHTML += '<li>'+
                                        name+
                                        '<hr>'+
                                      '</li>';
      })
    }

    $(document).ready(function() {
      $(".property").on('click', function(){
        var id = $(this).data('id');
        var title = $(this).data('title');
        var latitude = $(this).data('latitude');
        var longitude = $(this).data('longitude');
        var price = $(this).data('price');
        var place = [title, new google.maps.LatLng(latitude, longitude), price, id]
        change_detail_html(id);
        var delay=1000; //1 seconds
        setTimeout(function(){
          $.ajax({
            url: "<%= get_assets_url %>",
            method: 'get',
            data: {place_id: id}
          }).done(function( data_places ) {
            var locationStart = new google.maps.LatLng(place[1].lat(), place[1].lng());
            map.setCenter(locationStart);
            for (var i = 0; i <= types.length-1; i++) {
              google.maps.event.addDomListener(window, 'load', initialize(types[i][0], place , data_places.assets));
            };
          });
        }, delay);
      })
    })

  });

</script>
