<% facilities = resource.try(:facilities) %>
<% if facilities.present? %>
	<section class="utilities">
		<h2 class="heading text-uppercase">FACILITIES</h2>
		<% @facilities.each do |s| %>
			<% if facilities.include?(s.name) %>
				<span class="entity">
					<span class="entity-left">
						<%= s.font_icon.html_safe if s.font_icon.present? %>
					</span>
					<span class="entity-right">
						<span class="text"><%= s.name %></span>
						<br>
						<span class="value">
							<span>
								<%= facilities.include?(s.name) ? 'Available' : 'Not Available' %>
							</span>
						</span>
					</span>
				</span>
			<% end %>
		<% end %>
	</section>
<% end %>
