<div class="section-top-search-new">
  <div class="panel-for-search">
    <%= hidden_field_tag :list, params[:list] if params[:list] %>
    <%= hidden_field_tag :category, params[:category] if params[:category] %>
    <%= hidden_field_tag :city, params[:city] if params[:city] %>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <h6>Property Type</h6>
          <% type_properties = params[:category] ? PropertyType.find_by(name: params[:category]).try(:children).pluck('name') : PropertyType.just_child.pluck(:name).uniq %>
          <div class="category-container">
            <%= select_tag :type_property, options_for_select(type_properties, params[:type_property]), prompt: 'Select Type', class: 'form-control type_properties_select_search select2' %>
          </div>
        </div>
        <% unless params[:category] == 'Rent' %>
          <div class="col-md-2 col-sm-6">
            <h6>Certifications</h6>
            <%= select_tag :document, options_for_select(Document.to_a, params[:document]), prompt: 'Select', class: 'form-control' %>
          </div>
        <% end %>
        <div class="col-md-3 col-sm-6">
          <h6>Select Price Range</h6>
          <div class="select-pretty">
            <div class="select-display btn btn-default dropdown custom-dropdown">
              <a href="#" data-toggle="dropdown">
                <span class="select-label label-clear-price" style="display:inline;">
                  <%= "Price Range" unless params[:min_price].present? || (params[:max_price].present?) %>
                  <%= "Until"  if params[:min_price].blank? && params[:max_price].present? %>
                </span>
                <span class="label-min-price" style="display: inline;">
                  <%= 'Rp. '+ number_to_human_indo(params[:min_price]) if params[:min_price].present? %>
                  <%= "-"  if params[:min_price].present? && params[:max_price].present? %>
                </span>
                <span class="label-max-price" style="display: inline;"><%= 'Rp. '+ number_to_human_indo(params[:max_price]) if params[:max_price].present? %></span>
                <i class="fa fa-angle-down pull-right"></i>
              </a>
              <div class="dropdown-menu custom-input" role="form" aria-labelledby="dLabel">
                <div class="custom-input-container">
                  <input type="text" maxlength="14" name="min_price" class="form-control numbers minimum-price" placeholder="Min" value="<%= params[:min_price] %>"> -
                  <input type="text" maxlength="18" name="max_price" class="form-control numbers maximum-price" placeholder="Max" value="<%= params[:max_price] %>">
                </div>
                <% list = params[:category].present? && params[:category] == 'Rent' ? Property::RENTPRICE_LIST : Property::PRICE_LIST %>
                <div class="custom-input-suggestion" style="text-align: left;">
                  <ul class="for-minimum-price" style="display: none;">
                    <% list.each_with_index do |price, index| %>
                      <li><a id="<%= "min#{index}" %>" href="#"><%= "Rp. #{number_to_currency_no_unit(price)}" %></a></li>
                    <% end %>
                  </ul>
                  <ul class="for-maximum-price" style="display: none;">
                    <% list.each_with_index do |price, index| %>
                      <li><a id="<%= "max#{index}" %>" href="#"><%= "Rp. #{number_to_currency_no_unit(price)}" %></a></li>
                    <% end %>
                    <li><a id="max11" href="#">Other</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="<%= params[:category] == 'Rent' ? 'col-md-3' : 'col-md-2' %> col-sm-6">
          <h6>Land Area</h6>
          <div class="select-pretty">
            <div class="select-display btn btn-default dropdown custom-dropdown-land">
              <a href="#" data-toggle="dropdown">
                <span class="select-label label-clear-price" style="display:inline;">
                  <%= "Range Land Area" unless params[:min_surface_area].present? || (params[:max_surface_area].present?) %>
                  <%= "Until" if params[:min_surface_area].blank? && params[:max_surface_area].present? %>
                </span>
                <span class="label-min-price" style="display: inline;"><%= "#{params[:min_surface_area]} m2" if params[:min_surface_area].present? %>
                  <%= '-' if params[:min_surface_area].present? && params[:max_surface_area].present? %> 
                </span>
                <span class="label-max-price" style="display: inline;"><%= "#{params[:max_surface_area]} m2" if params[:max_surface_area].present? %></span>
                <i class="fa fa-angle-down pull-right"></i>
              </a>
              <div class="dropdown-menu custom-input" role="form" aria-labelledby="dLabel">
                <div class="custom-input-container">
                  <input type="text" maxlength="14" name="min_surface_area" class="form-control numbers minimum-price" placeholder="Min" value="<%= params[:min_surface_area] %>"> -
                  <input type="text" maxlength="18" name="max_surface_area" class="form-control numbers maximum-price" placeholder="Max" value="<%= params[:max_surface_area] %>">
                </div>
                <div class="custom-input-suggestion" style="text-align: left;">
                  <ul class="for-minimum-price" style="display: none;">
                    <% Property::AREA_LIST.each_with_index do |area, index| %>
                      <li><a id="<%= "min#{index}" %>" href="#" data-value="<%= area %>"><%= area %> m<sup>2</sup></a></li>
                    <% end %>
                  </ul>
                  <ul class="for-maximum-price" style="display: none;">
                    <% Property::AREA_LIST.each_with_index do |area, index| %>
                      <li><a id="<%= "max#{index}" %>" href="#" data-value="<%= area %>"><%= area %> m<sup>2</sup></a></li>
                    <% end %>
                    <li><a id="max11" href="#">Other</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="<%= params[:category] == 'Rent' ? 'col-md-3' : 'col-md-2' %> col-sm-6">
          <h6>Building Area</h6>
          <div class="select-pretty">
            <div class="select-display btn btn-default dropdown custom-dropdown-area">
              <a href="#" data-toggle="dropdown">
                <span class="select-label label-clear-price" style="display:inline;">
                  <%= "Range Area" unless params[:min_building_area].present? || (params[:max_building_area].present?) %>
                  <%= "Until" if params[:min_building_area].blank? && params[:max_building_area].present? %>
                </span>
                <span class="label-min-price" style="display: inline;"><%= "#{params[:min_building_area]} m2" if params[:min_building_area].present? %>
                  <%= '-' if params[:min_building_area].present? && params[:max_building_area].present? %> 
                </span>
                <span class="label-max-price" style="display: inline;"><%= "#{params[:max_building_area]} m2" if params[:max_building_area].present? %></span>
                <i class="fa fa-angle-down pull-right"></i>
              </a>
              <div class="dropdown-menu custom-input" role="form" aria-labelledby="dLabel">
                <div class="custom-input-container">
                  <input type="text" maxlength="14" name="min_building_area" class="form-control numbers minimum-price" placeholder="Min" value="<%= params[:min_building_area] %>"> -
                  <input type="text" maxlength="18" name="max_building_area" class="form-control numbers maximum-price" placeholder="Max" value="<%= params[:max_building_area] %>">
                </div>
                <div class="custom-input-suggestion" style="text-align: left;">
                  <ul class="for-minimum-price" style="display: none;">
                    <% Property::AREA_LIST.each_with_index do |area, index| %>
                      <li><a id="<%= "min#{index}" %>" href="#" data-value="<%= area %>"><%= area %> m<sup>2</sup></a></li>
                    <% end %>
                  </ul>
                  <ul class="for-maximum-price" style="display: none;">
                    <% Property::AREA_LIST.each_with_index do |area, index| %>
                      <li><a id="<%= "max#{index}" %>" href="#" data-value="<%= area %>"><%= area %> m<sup>2</sup></a></li>
                    <% end %>
                    <li><a id="max11" href="#">Other</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 search-more-form">
          <div class="row">
            <div class="col-md-3">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <h6>Keywords</h6>
                  <%= text_field_tag :key, params[:key], class: 'form-control', placeholder: 'Search by keywords...' %>
                </div>
              </div>
              <% if params[:category] == 'Sell' %>
                <div class="row group-price-meter">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <h6>Price Sq Meter</h6>
                    <div class="select-pretty">
                      <div class="select-display btn btn-default dropdown custom-dropdown-price-meter">
                        <a href="#" data-toggle="dropdown">
                          <span class="select-label label-clear-price" style="display:inline;">
                            <%= "Price Range" unless params[:min_price_meter].present? || (params[:max_price_meter].present?) %>
                            <%= "Until"  if params[:min_price_meter].blank? && params[:max_price_meter].present? %>
                            <i class="fa fa-angle-down pull-right"></i>
                          </span>
                          <span class="label-min-price" style="display: inline;">
                            <%= 'Rp. '+ number_to_human_indo(params[:min_price_meter]) if params[:min_price_meter].present? %>
                            <%= "-"  if params[:min_price_meter].present? && params[:max_price_meter].present? %>
                          </span>
                          <span class="label-max-price" style="display: inline;">
                            <%= 'Rp. '+ number_to_human_indo(params[:max_price_meter]) if params[:max_price_meter].present? %>
                          </span>
                        </a>
                        <div class="dropdown-menu custom-input" role="form" aria-labelledby="dLabel">
                          <div class="custom-input-container">
                            <input type="text" maxlength="14" name="min_price_meter" class="form-control numbers minimum-price" placeholder="Min" value="<%= params[:min_price_meter] %>"> -
                            <input type="text" maxlength="18" name="max_price_meter" class="form-control numbers maximum-price" placeholder="Max" value="<%= params[:max_price_meter] %>">
                          </div>
                          <div class="custom-input-suggestion" style="text-align: left;">
                            <ul class="for-minimum-price" style="display: none;">
                              <% Property::PRICEMETER_LIST.each_with_index do |price, index| %>
                                <li><a id="<%= "min#{index}" %>" href="#"><%= "Rp. #{number_to_currency_no_unit(price)}" %></a></li>
                              <% end %>
                            </ul>
                            <ul class="for-maximum-price" style="display: none;">
                              <% Property::PRICEMETER_LIST.each_with_index do |price, index| %>
                                <li><a id="<%= "max#{index}" %>" href="#"><%= "Rp. #{number_to_currency_no_unit(price)}" %></a></li>
                              <% end %>
                              <li><a id="max11" href="#">Other</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="row opt-more-search">
                <div class="unless-land">
                  <% if (params[:type_property] == 'House' || params[:type_property] == 'Apartment') || params[:type_property].nil? %>
                    <div class="col-xs-12 col-sm-6 col-md-6 group-bedroom">
                      <h6>Bedrooms</h6>
                      <%= select_tag :bedrooms, options_for_select((1..10), params[:bedrooms]), prompt: 'Select', class: 'form-control' %>
                    </div>
                  <% end %>
                  <% if (params[:type_property] == 'House' || params[:type_property] == 'Apartment' || params[:type_property] == 'Ruko') || params[:type_property].nil? %>
                    <div class="col-xs-12 col-sm-6 col-md-6 group-bathroom">
                      <h6>Bathrooms</h6></p>
                      <%= select_tag :bathrooms, options_for_select((1..10), params[:bathrooms]), prompt: 'Select', class: 'form-control' %>
                    </div>
                  <% end %>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <h6>Floor</h6>
                    <%= number_field_tag :floor, nil, value: params[:floor], class: 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <br>
              <div class="line-through">
                <p><span>Facilities</span></p>
              </div>
              <div class="break"></div>
              <div class="facility-search" data-url="<%= get_facilities_xhrs_url %>">
                <%= render partial: 'xhrs/facilities' if @facility_list.present? %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="break"></div>
          <div class="line-through"></div>
          <span class="pull-left click-search-more-form">
            Show all filters &nbsp; &nbsp; <span class="glyphicon glyphicon-menu-down"></span>
          </span>
          <% if params['list'].present? %>
            <button class="btn btn-success btn-search-new pull-right" name="search" type="submit" id="submit" value="do_search">
              <span class="glyphicon glyphicon-search"></span> Search Now
            </button>
          <% else %>
            <button class="btn btn-success btn-search-new pull-right" name="search" type="button" id="btn-submit" value="do_search">
              <span class="glyphicon glyphicon-search"></span> Search Now
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

