<div class="line-through">
	<p><span class="grey">About This Listing</span></p>
	<div class="break"></div>
</div>
<br>
<div class="listing-history-info">
	<i class="fa fa-eye"></i>&nbsp;
	<strong><%= @property.impressionist_count %></strong> people have seen this property
</div>
<hr>
<div class="body-cont">
	<%= render 'shareds/properties/basic', resource: resource %>
	<%= render 'shareds/properties/facilities', resource: resource %>
</div>
