<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="line-through">
					<p><span>18 Reviews &nbsp; &nbsp;<%= image_tag 'stars.png', height: '20px' %></span></p>
				</div>
				<div class="col-md-12">
					<section class="section">
						<div class="row section-comments-group">
							<div class="col-sm-3">
								<center>
									<div class="user-image-cycle float-none margin-none">
										<%= image_tag 'people1.jpg', class: 'host-profile-image' %>
									</div>
									<br>
									<span class="text-muted"><b>Alam Topan</b></span>
								</center>
							</div>
							<div class="col-sm-9">
								<p class="p-message">All in all we had a very pleasant stay, really convenient location with all amenities close by.</p>
								<span class="text-muted">From Bogor Jawa Barat,  Indonesia · June 2015</span>
								<hr>
							</div>
						</div>
						<div class="row section-comments-group">
							<div class="col-sm-3">
								<center>
									<div class="user-image-cycle float-none margin-none">
										<%= image_tag 'people2.jpg', class: 'host-profile-image' %>
									</div>
									<br>
									<span class="text-muted"><b>Devi</b></span>
								</center>
							</div>
							<div class="col-sm-9">
								<p class="p-message">Yu is a nice and positive person! The apartment is clean and the room is spacious. The location is perfect! This is just 5 mins to Clark quay. You can even walk for 30 mins to Marina Bay. The MRT and bus stations are also located really close to this condo. I also like that there is a taxi stand in front of the building. I totally recommend this place if you visit Singapore and would like to be in a central part of the city.</p>
								<span class="text-muted">From Bandung Jawa Barat, Indonesia · June 2015</span>
								<hr>
							</div>
						</div>
						<div class="row section-comments-group">
							<div class="col-sm-3">
								<center>
									<div class="user-image-cycle float-none margin-none">
										<%= image_tag 'people3.jpg', class: 'host-profile-image' %>
									</div>
									<br>
									<span class="text-muted"><b>Siska</b></span>
								</center>
							</div>
							<div class="col-sm-9">
								<p class="p-message">Although Yu wasn't in town, his lovely wife and helper Sansa made sure we got to the building okay. They were very accommodating and helped us out when we accidentally tripped the circuit. Great location, would definitely stay again!</p>
								<span class="text-muted">From Jakarta, Indonesia · May 2015</span>
								<hr>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>
