<div class="top-label-side-fitured-properties">
  <span class="fa fa-list-alt"></span>
  &nbsp;&nbsp;List Featured Properties
</div>

<%# @featureds.each do |resource| %>
  <%# user = resource.try(:user) %>
  <%# profile = user.try(:profile) %>
  <%# address = resource.try(:address) %>
  <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
    <div class="row">
      <div class="side-right-fitured">
        <div class="col-md-4">
          <div class="row">
            <div class="box-img">
              <%#= image_tag "#{resource.try(:galleries).try(:first).try(:file).url(:small)}", class: 'img-responsive' %>
              <%= image_tag 'bali3.jpg', class: 'img-responsive' %>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="box-info-featured-wrapper">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="title">
                    <%#= link_to resource.title, project_path(resource) %>
                    House Strategis Di Permata Hijau Jakarta Selatan
                  </div>
                  <hr class="hr-small">
                  <div class="price">
                    <%#= number_to_currency_br(resource.price) if resource.price.present? %>
                    Rp. 1000.000.000
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="box-location-featured-properties">
              <div class="pull-left">
                <div class="box-sub-info">
                  <span class="fa fa-map-marker"></span>
                  <span class="name">
                    <%#= address.try(:city) %>
                    Kota Jakarta Pusat
                  </span>
                </div>
              </div>
              <div class="pull-right color-blue">
                <div class="box-sub-info-progress">
                  <span class="fa fa-area-chart"></span>
                  <span class="name">&nbsp;
                    <%#= resource.try(:construction) %>
                    Available
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%# end %>
