<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% contact = user.try(:contact) %>
<% expired_date = resource.auction.end_auction.strftime("%B, %d, %Y") if resource.auction.end_auction.present? %>

<% if resource.category == 'Auction Property' %>
	<div class="col-md-4">
		<div class="sidebar-auction-detail-wrapper">
			<div class="box-one-wrapper property-detail-countdown" data-expired="<%= expired_date %>">
				<div class="countdown-timer">
					<ul>
						<li>
							<span class="count days">20</span><br>
							<span class="day">DAY</span>
						</li>
						<li><span class="dotted-2">:</span></li>
						<li>
							<span class="count hours">20</span><br>
							<span class="day">HRS</span>
						</li>
						<li><span class="dotted-2">:</span></li>
						<li>
							<span class="count minutes">20</span><br>
							<span class="day">MINS</span>
						</li>
						<li><span class="dotted-2">:</span></li>
						<li>
							<span class="count seconds">20</span><br>
							<span class="day">SECD</span>
						</li>
					</ul>
				</div>
				<div class="price">
					<div class="price-nominal">
						<%= number_to_currency_br(resource.the_price_bid?) %>
					</div>
					<div class="price-description">
						<%= resource.bid_status? %>
					</div>
				</div>
				<div class="box-info-double">
					<ul>
						<li>
							<span>Reserve Met: <strong><%= resource.try(:auction).try(:reserve_met) %></strong></span>
							<a href="#" data-trigger="hover" class="pop-bottom" data-content="Seller sets the 'reserve price', which is the minimum bid Seller will consider for the purchase of the property. Once the reserve price is met, bidding continues through the end of the bidding period. The reserve price is not disclosed. Even if the reserve price is met, Seller reserves the right to refuse a Winning Bid and final acceptance of a winning bid is expressly subject to Seller's signature on the Purchase and Sale Agreement.">
								<i class="fa fa-info"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="description">
					Note: The seller may choose to negotiate with bidders even if reserve isn't met.
				</div>

				<%= form_for BidAuction.new, url: checkout_bid_properties_path , method: 'post' do %>
					<div class="spiner">
						<div class="title">
							<span class="pull-left"><b>Next bid</b></span>
						</div>
						<div class="input-group">
							<span class="input-group-addon">Rp.</span>
							<%= hidden_field_tag :property_id, nil, value: resource.id %>
							<%= number_field_tag :bid, nil, value: resource.the_price?, class: "form-control", required: true %>
						</div>
					</div>
					<div class="button-place-bird">
						<% if current_user %>
				      <button class="btn btn-outlined btn-purple-light btn-lg btn-block" type="submit">PLACE BID</button>
				    <% else %>
				      <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm" class="btn btn-outlined btn-purple-light btn-lg btn-block">
				      	PLACE BID
				      </a>
				    <% end %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="sidebar-auction-detail-wrapper">
			<div class="box-two-wrapper">
				<div class="title-top">Property Fees</div>
				<hr class="hr-small">
				<div class="title-ionic">
					<p>Buyer's Premium: The greater of $625 or 4.5% of bid amount</p>
					<span class="buyer"><span>BUYER Pays</span> at Close</span>&nbsp;&nbsp;
					<a href="#" data-trigger="hover" class="pop-bottom" data-content="Paid by the buyer at closing, this fee covers the costs of facilitating an auction sale on Hubzu and is added to the purchase price of the property.">
						<i class="fa fa-info"></i>
					</a>
				</div>
				<div class="title-ionic">
					<p>Technology Fee : $299</p>
					<span class="buyer"><span>BUYER Pays</span> at Close</span>&nbsp;&nbsp;
					<a href="#" data-trigger="hover" class="pop-bottom" data-content="Paid by the buyer at closing, this fee covers the costs of our technology platform and related services and is added to the purchase price of the property.">
						<i class="fa fa-info"></i>
					</a>
				</div>
				<div class="title-ionic">
					<p>Earnest Money : Greater of 2.0% or $1,000 of bid amount.</p>
					<span class="buyer"><span>BUYER Pays</span> at Bid Approval</span>&nbsp;&nbsp;
					<a href="#" data-trigger="hover" class="pop-bottom" data-content="Paid by the buyer upon bid approval and credited toward the purchase price at closing. The minimum required earnest money deposit is calculated based on a percentage of your winning bid amount. The required deposit ranges from 1% to 7%, but is never less than $1,000.">
						<i class="fa fa-info"></i>
					</a>
				</div>
				<div class="description">
					Bids must be submitted through this site. Email and fax bids will not be considered
				</div>
			</div>
		</div>
		<div class="sidebar-auction-detail-wrapper">
			<div class="box-three-wrapper">
				<ul>
					<li>
						<a href="#" data-toggle="modal" data-target="#modal_schedule_visit">
							<i class="fa fa-calendar"></i><br>
							<span>Schedule a Visit</span>
						</a>
					</li>
					<li>
						<a href='#' data-toggle='modal' data-target="#modal-agent-<%= resource.id %>">
							<i class="fa fa-question"></i><br>
							<span>Ask a Question</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="sidebar-auction-detail-wrapper">
			<!-- <div class="box-for-wrapper">
				<div class="title">
					Housing Customer Care
				</div>
				<hr class="hr-small">
				<ul>
					<li>
						<i class="fa fa-envelope"></i>
						<span>sales@housingindonesia.com</span>
					</li>
					<li>
						<i class="fa fa-phone"></i>
						<span>085720247282</span>
					</li>
					<li>
						<i class="fa fa-globe"></i>
						<span>www.housingindonesia.com</span>
					</li>
				</ul>
			</div> -->
			<div class="box-for-wrapper">
				<div class="title">
					How Closing Works
				</div>
				<hr class="hr-small">
				<p>
					Learn about the specific closing process for this property.
					<a href="#" data-toggle="modal" data-target="#modal_take_a_look">Take a Look</a>
				</p>
			</div>
		</div>
	</div>
<% elsif resource.category == 'Sell' %>
	<div class="col-md-4">
		<div class="sidebar-auction-detail-wrapper">
			<div class="box-one-wrapper property-detail-countdown" data-expired="<%= expired_date %>">
				<%= form_for @inquiry, url: inquiries_path, method: 'post' do |f| %>
					<%= f.hidden_field :inquiriable_id, value: resource.id %>
					<%= f.hidden_field :inquiriable_type, value: resource.class %>
					<%= f.hidden_field :owner_id, value: resource.try(:user).try(:id) %>
					<%= f.hidden_field :name, value: "#{current_user.username if current_user.present?}", class: "input", required: true %>
					<%= f.hidden_field :phone, class: "input", value: "#{current_user.contact.phone if current_user.present?}", required: true %>
					<%= f.hidden_field :email, class: "input", value: "#{current_user.email if current_user.present?}", required: true %>
					<%= f.hidden_field :subject, value: 'offer_price' %>
					<span class="pull-left"><b>OFFER THIS PROPERTY</b></span>
					<div class="spiner">
						<div class="input-group">
							<span class="input-group-addon">Rp.</span>
							<%= f.text_field :message, value: resource.the_price?, class: "form-control", required: true, data: {autonumeric: true} %>
						</div>
					</div>
					<div class="button-place-bird">
						<% if current_user %>
				      <button class="btn btn-outlined btn-purple-light btn-lg btn-block" type="submit">PLACE OFFER</button>
				    <% else %>
				      <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm" class="btn btn-outlined btn-purple-light btn-lg btn-block">
				      	PLACE OFFER
				      </a>
				    <% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<div class="col-md-4 contact-user-to-fixed">
	<% unless resource.category == 'Auction Property' %>
		<center class="contact-user-font-section">
			<% if user %>
				<div class="line-through">
					<p><span>Get Information</span></p>
				</div>
				<div class="col-md-12">
					<%= link_to user_path(user) do %>
						<div class="user-image-cycle float-none margin-none">
							<%= image_tag "#{profile.try(:avatar).url(:small)}", class: 'host-profile-image' %>
						</div>
					<% end %>
				</div>
				<div class="break"></div>
				<%= link_to user_path(user) do %>
					<h4><%= profile.try(:full_name) %></h4>
				<% end %>
				<div class="text-muted small">
					<%= user.try(:type) %>
				</div>
				<span class="uppercase">
		      ID <%= user.try(:code) %>
		    </span>
				<div class="phone">
					<i class="fa fa-mobile"></i> <%= contact.try(:handphone) %>
				</div>
				<div class="text-muted color-blue small">
					<%= user.verified? %>
				</div>
				<div class="text-muted small">
					Since <%= resource.try(:created_at).strftime("%B, %d, %Y") %>
				</div>
				<br>
				<div class="line-through"></div>
				<div class="bottom">
					<%= form_for @inquiry, url: inquiries_path, method: 'post' do |f| %>
						<%= f.hidden_field :inquiriable_id, value: resource.id %>
						<%= f.hidden_field :inquiriable_type, value: resource.class %>
						<%= f.hidden_field :owner_id, value: resource.try(:user).try(:id) %>
						<%= render 'shareds/messages/form', f: f %>
					<% end %>
				</div>
			<% end %>
		</center>
	<% end %>
	<div class="col-md-12 padding0">
		<div class="btn-group grid-controls-action-show-property">
			<button class="btn btn-default click-block-share-social">
				<i class="fa fa-share-alt"></i> Share
			</button>
			<button class="btn btn-default" data-toggle='modal' data-target="#modal-report">
				<i class="fa fa-flag-o"></i> Report
			</button>
		</div>
		<div class="block-share-social">
			<span class='st_sharethis_large' displayText='ShareThis'></span>
			<span class='st_facebook_large' displayText='Facebook'></span>
			<span class='st_twitter_large' displayText='Tweet'></span>
			<span class='st_pinterest_large' displayText='Pinterest'></span>
			<span class='st_email_large' displayText='Email'></span>
		</div>
	</div>
</div>

<%= render 'shareds/modal_report', resource: resource %>
<%= render 'shareds/modal_agent', resource: resource %>
<%= render 'shareds/modal_all_bids_auction', resource: resource %>
<%= render 'shareds/modal_schedule_visit', resource: resource %>
<%= render 'shareds/modal_take_a_look', resource: resource %>
