<% @featureds.each_slice(4).with_index do |slice, index| %>
  <div class="item <%= 'active' if index == 0 %>">
    <% slice.each do |resource| %>
      <% user = resource.try(:user) %>
      <% profile = user.try(:profile) %>
      <% address = resource.try(:address) %>
      <% basic = resource.try(:basic_property) %>
      <% cache ["featured_properties_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
        <div class="featured-properties-item">
          <div class="col-md-12">
            <div class="img-wrapper-feat-properties">
              <% if resource.label_tag.present? %>
                <label class="label <%= downcase_uderscore(resource.label_tag) %>"><%= resource.label_tag %></label>
              <% end %>
              <%= image_tag "#{resource.try(:galleries).try(:first).try(:file).url(:small)}", class: 'img-responsive' %>
              <label class="count-galleries">
                <i class="fa fa-photo"></i> <%= resource.galleries.available.count if resource.galleries.present? %>
              </label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="box-title-price">
              <div class="title">
                <%= link_to property_path(resource) do %>
                  <%= resource.title %>
                <% end %>
              </div>
              <span class="price">
                <%= raw number_to_currency_br(resource.the_price?) + resource.the_price_status? %>
              </span>
              <% if resource.category == 'Sell' && (resource.type_property == 'Apartment' || resource.type_property == 'Office' || resource.type_property == 'House') %>
                <span class="line-price">|</span>
                <span class="price-sq">
                  <%= raw "#{number_to_currency_br(resource.price_per_meter)} <small class='color-grey'> per sq m</small>" %>
                </span>
              <% end %>
            </div>
            <div class="other-info">
              <div class="small">
                <% unless resource.type_property == 'Office' || resource.type_property == 'Apartment' %>
                  <span class="label-feature">Land Area:</span>&nbsp;
                  <b><%= basic.try(:surface_area) || '--' %>m<sup>2</sup></b> &nbsp;
                <% end %>
                <% unless resource.type_property == 'Land' %>
                  <span class="label-feature">Building Area:</span>&nbsp;
                  <b><%= basic.try(:building_area) || '--' %>m<sup>2</sup></b>
                <% end %>
              </div>
              <div class="small">
                <% if resource.type_property == 'House' || resource.type_property == 'Apartment' || resource.type_property == 'Ruko' %>
                  <span class="label-feature">Bathrooms:</span>&nbsp;
                  <b><%= basic.try(:bathrooms) || '--' %></b> &nbsp;
                <% end %>
                <% if resource.type_property == 'House' || resource.type_property == 'Apartment' %>
                  <span class="label-feature">Bedrooms:</span>&nbsp;
                  <b><%= basic.try(:bedrooms) || '--' %></b>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <small class="color-grey">
              <i class="fa fa-map-marker"></i>
              <%= address.try(:city) %>
            </small>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
