<div class="col-md-12">
	<div class="pull-left">
		<div class="btn-group">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
				<span class="glyphicon glyphicon-sort-by-attributes"></span> Sort By &nbsp; &nbsp;<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" id="sort_order_property">
				<li><a href="#">Newest</a></li>
				<li><a href="#">Oldest</a></li>
				<li><a href="#">Price (Low to High)</a></li>
				<li><a href="#">Price (High to Low)</a></li>
			</ul>
		</div>
	</div>
	<% unless params[:category] == 'Auction Property' %>
		<div class="pull-right">
			<div class="btn-group grid-controls pull-right">
				<% params.delete(:page) %>
				<% params.delete(:per_page) %>
				<%= link_to properties_path({list: 'map'}.merge(params)), class: "btn btn-default" do %>
					<i class="fa fa-map-marker"></i> Map
				<% end %>
				<%= link_to "javascript:void(0)", class: "btn btn-default #{'active' unless params[:list].present?}" do %>
					<i class="fa fa-navicon"></i> List
				<% end %>
			</div>
		</div>
	<% end %>
	<br>
</div>
