<div class="margin-top10">
	<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
		<div class="results">
			<i class="fa fa-list"></i> <b><%= @list_properties.size + @top_properties.size %></b> Results Founds
		</div>
	</div>
	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 padding-right0">
		<div class="btn-group grid-controls pull-right">
			<% new_params = params.dup %>
			<% new_params.delete(:controller) %>
			<% new_params.delete(:action) %>
			<% new_params.delete(:page) %>
			<% new_params.delete(:per_page) %>
			<% new_params.delete(:list) %>
			<%= link_to "javascript:void(0)", class: "btn btn-default #{'active' if params[:list].present?}" do %>
				<i class="fa fa-map-marker"></i> Map
			<% end %>
			<%= link_to properties_path(new_params), class: "btn btn-default" do %>
				<i class="fa fa-navicon"></i> List
			<% end %>
		</div>
	</div>
</div>
<div class="col-md-12 padding-right0">
	<div class="input-group">
		<span class="input-group-addon">Sort By</span>
		<select name="sort" class="form-control" id="sort_order_property">
			<option <%= 'selected=selected' if params[:sort] == 'Newest' %>><a href="javasript:void(0)">Newest</a></option>
			<option <%= 'selected=selected' if params[:sort] == 'Oldest' %>><a href="javasript:void(0)">Oldest</a></option>
			<option <%= 'selected=selected' if params[:sort] == 'Price (Low to High)' %>><a href="javasript:void(0)">Price (Low to High)</a></option>
			<option <%= 'selected=selected' if params[:sort] == 'Price (High to Low)' %>><a href="javasript:void(0)">Price (High to Low)</a></option>
		</select>
	</div>
	<div class="line-through">
		<p><span><%= @region.name rescue "CENTRAL JAKARTA" %></span></p>
	</div>
</div>
