<% top_properties.each_with_index do |resource, i| %>
  <% user = resource.try(:user) %>
  <% profile = user.try(:profile) %>
  <% address = resource.try(:address) %>
  <li class="top-listing top-premium">
    <a href="javascript:void(0)" class="property" data-id="<%= resource.id %>" data-title="<%= resource.title %>" data-latitude="<%= resource.latitude %>" data-longitude="<%= resource.longitude %>" data-price="<%= resource.price %>" data-action="<%= property_path(resource.slug) %>">
      <div class= "cover-list">
        <% if resource.label_tag.present? %>
          <label class="label <%= downcase_uderscore(resource.label_tag) %>"><%= resource.label_tag %></label>
        <% end %>
        <%= image_tag "#{resource.try(:galleries).try(:first).try(:file).url(:small)}" %>
      </div>
      <div class="title section-whistlist">
        <small><%= truncate(resource.title, length: 30, omission: '...') if resource.title.present? %></small>
        <% if current_user.present? %>
          <span class="status-whistlist pull-right">
            <%= checking_wishlist(resource.id, current_user.id, wishlist_properties_url(resource.id)).html_safe %>
          </span>
        <% else %>
          <i class="fa fa-heart-o set pull-right"></i>
        <% end %>
      </div>
      <div class="desc">
        <small>
          <%= resource.try(:category) %> <%= resource.try(:type_property) %>,
          <strong><%= resource.impressionist_count %></strong> people have seen this
        </small>
      </div>
      <div class="desc">
        <small class="text-muted">
          <i class="fa fa-map-marker"></i>
          <%= address.try(:city) %>,
          <%= address.try(:province) %>
        </small>
      </div>
      <div>
        <span class="price">
          <%= raw number_to_currency_br(resource.the_price?) + resource.the_price_status? %>
        </span>
      </div>
    </a>
  </li>
<% end %>