<div class="section-feedback-content">
	<%= image_tag 'feedback.png', class: 'click-feedback' %>
	<div class="feedback-content">
		<div class="line-through"><p><span>Feedback</span></p></div>
	  <%= form_for Feedback.new, url: feedbacks_path, method: 'post' do |f| %>
			<div class="col-md-12">
				<div class="form-group">
					<h6>Name *</h6>
					<%= f.text_field :name, value: "#{current_user.username if current_user.present?}", class: "form-control", placeholder: 'ex. Nadine', required: true %>
				</div>
				<div class="form-group">
					<h6>Email *</h6>
					<%= f.email_field :email, value: "#{current_user.username if current_user.present?}", class: "form-control", placeholder: 'ex. nadine@example.com', required: true %>
				</div>
				<div class="form-group">
					<h6>Category *</h6>
					<%= f.select :category, FeedbackCategory.to_a, {prompt: 'Choice Category'}, class: "form-control", required: true %>
				</div>
				<div class="form-group">
					<h6>Message *</h6>
					<%= f.text_area :message, class: "form-control", required: true %>
				</div>
				<div class="form-group">
					<h6>Phone *</h6>
					<%= f.text_field :phone, class: "form-control", placeholder: 'ex. +628770..', required: true %>
				</div>
				<div class="form-group">
					<input class="btn btn-success full-width" type="submit" value="Send Feedback">
				</div>
			</div>
		<% end %>
	</div>
</div>
