<!-- Footer -->
<footer class="footer-main">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<h4>PROPEDIA</h4>
				<p>
					<%= @setting.description %>
				</p>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12">
				<h4>COMPANY</h4>
				<ul>
					<% @company.each do |company| %>
						<% cache ["footer_company_#{company.id}_#{company.updated_at.to_time.to_i}"] do %>
							<li>
								<% if company.link_url.blank? %>
									<%= link_to "#{company.title}", landing_page_path(company) %>
								<% else %>
									<a href="<%= company.link_url %>"><%= company.title %></a>
								<% end %>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12">
				<h4>EXPLORE</h4>
				<ul>
					<% @explore.each do |explore| %>
						<% cache ["footer_explore_#{explore.id}_#{explore.updated_at.to_time.to_i}"] do %>
							<li>
								<% if explore.link_url.blank? %>
									<%= link_to "#{explore.title}", landing_page_path(explore) %>
								<% else %>
									<a href="<%= explore.link_url %>"><%= explore.title %></a>
								<% end %>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12">
				<h4>FOLLOW</h4>
				<ul>
					<% @follow.each do |follow| %>
						<% cache ["footer_follow_#{follow.id}_#{follow.updated_at.to_time.to_i}"] do %>
							<li>
								<% if follow.link_url.blank? %>
									<%= link_to "#{follow.title}", landing_page_path(follow) %>
								<% else %>
									<a href="<%= follow.link_url %>"><%= follow.title %></a>
								<% end %>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="bottom-footer">
		<div class="container">
			<div class="col-md-12 col-md-12 col-xs-12">
				<span>
					<%= @setting.footer_tags %>
				</span>
			</div>
		</div>
	</div>
</footer>
<!-- Footer -->

<!-- TopUp Icon -->
<a class="toup" id="upClick" href="#">
	<i class="fa fa-chevron-up"></i>
</a>
<!-- /TopUp Icon -->

<%= render 'shareds/signin' %>
<%= render 'shareds/feedback' %>
<%= render 'shareds/google_analytics' %>
