<div class="modal fade" id="modal_view_all_bids" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header-all-bids">
        <span class="cross" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </span>
        <h4 class="modal-title-all-bids">
          Bid History:
          <span><%= resource.title %> [FLAT ID <span class="uppercase"><%= resource.code %></span>]</span>
        </h4>
      </div>
      <div class="modal-body">
        <table class="table table-hovered table-bordered table-bid">
          <thead>
            <tr>
              <th><strong>Rank</strong></th>
              <th><strong>Date / Time</strong></th>
              <th><strong>Bidder</strong></th>
              <th><strong>Amount</strong></th>
            </tr>
          </thead>
          <tbody>
            <% resource.bid_auctions.top_rank.each_with_index do |resource, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
                <td>
                  <%= link_to user_path(resource.user) do %>
                    <%= resource.try(:user).try(:username) %>
                  <% end %>
                </td>
                <td><%= number_to_currency_br(resource.bid) if resource.bid.present? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pull-left">
          <strong>Total Bids: <%= resource.bid_auctions.size %></strong>
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
