<div class="modal modal-report fade" id="modal-report-<%= resource.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<header class="modal-background">
					<div class="page-title pull-left">Property Sales Report</div>
					<div class="text">
						Is this property already sold? Report it now!
					</div>
				</header>
				<div class="col-md-12">
					<center class="contact-user-font">
						<div class="bottom">
							<form></form>
							<%= form_for SoldReport.new, url: do_report_sold_userpage_properties_path, method: 'post' do |f| %>
								<%= f.hidden_field :sold_reportable_id, value: resource.id %>
								<%= f.hidden_field :sold_reportable_type, value: resource.class %>
								<h5 class="heading-text uppercase">
									Please write your sales report below!
								</h5>
								<p>For Property <%= resource.title %></p>
								<hr>
								<div class="row">
									<div class="col-xs-12">
										<div class="well">
											<h6>Already Sold?</h6>
											<%= radio_button_tag :sold_out, nil, 1 %>
										</div>
									</div>
								</div>
								<div class="user-form full-width pull-left">
									<div class="form-element filled mature">
										<div class="placeholder">Date Sold</div>
										<%= f.text_field :date, class: "datepicker input", placeholder: '2015-01-01', required: true %>
									</div>
									<div class="form-element filled mature">
										<div class="placeholder">Sold Price</div>
										<%= f.number_field :price, class: "input", placeholder: 'ex. 1000000000', required: true %>
									</div>
									<div class="sent-button-container">
										<input class="btn btn-primary submit-button" type="submit" value="Send Your Report">
									</div>
								</div>
							<% end %>
						</div>
					</center>
				</div>
				<div class="break"></div>
			</div>
		</div>
	</div>
</div>
