<div class="modal modal-report fade" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<header class="modal-background">
					<div class="page-title pull-left">Report Error</div>
					<div class="text">
						Is this property already taken? Is the information incorrect? Report it now!
					</div>
				</header>
				<div class="col-md-12">
					<center class="contact-user-font">
						<div class="bottom">
							<form></form>
							<%= form_for Report.new, url: reports_path, method: 'post' do |f| %>
								<%= f.hidden_field :reportable_id, value: resource.id %>
								<%= f.hidden_field :reportable_type, value: resource.class %>
								<h5 class="heading-text uppercase">
									What do you want to report?
								</h5>
								<hr>
								<div class="form-group">
									<%= f.select :category, ReportCategory.to_a, {prompt: 'Select Category Report'}, {class: 'form-control'} %>
								</div>
								<div class="user-form full-width pull-left">
									<div class="form-element filled mature">
										<div class="placeholder">Name</div>
										<%= f.text_field :name, value: "#{current_user.username if current_user.present?}", class: "input", placeholder: 'ex. Example Name', required: true %>
									</div>
									<div class="form-element filled mature">
										<div class="placeholder">Email</div>
										<%= f.email_field :email, class: "input", value: "#{current_user.email if current_user.present?}", placeholder: 'ex. mail@example.com', required: true %>
									</div>
									<div class="form-element filled mature">
										<div class="placeholder">Message</div>
										<%= f.text_field :message, class: "input", placeholder: 'What information is incorrect?', required: true %>
									</div>
									<div class="sent-button-container">
										<input class="btn btn-primary submit-button" type="submit" value="Send Your Report">
									</div>
								</div>
							<% end %>
						</div>
					</center>
				</div>
				<div class="break"></div>
			</div>
		</div>
	</div>
</div>
