<div class="modal fade" id="modal_take_a_look" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header-all-bids">
        <span class="cross" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </span>
        <h4 class="modal-title-all-bids">
          How Closing Works
        </h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>This home is being sold by a financial institution</li>
          <li>Winning bids and offers are subject to seller and investor review and approval</li>
          <li>This seller has a very thorough and extensive review process, so offer review and contract generation may take several weeks</li>
          <li>Once approved, PROPEDIA will send you an electronic Purchase and Sale Agreement (PSA) </li>
          <li>The seller assigns a Document Processor to gather signatures from all parties, as well as a Closing Coordinator to track files to closing </li>
          <li>Within 48 hours of receiving the PSA, you'll sign it and provide the seller with an Earnest Money Deposit</li>
          <li>PROPEDIA related buyer fees are paid at closing </li>
          </ul>
      </div>
    </div>
  </div>
</div>
