<div class="modal fade" id="modal_schedule_visit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header-all-bids">
        <span class="cross" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </span>
        <h4 class="modal-title-all-bids">
          Schedule a Visit (Licensed Agent Required)
        </h4>
      </div>
      <div class="modal-body">
        <p>
          To see this property, you'll need the help of a licensed agent. If you're already working with one, please ask your agent to set up a visit. Your agent should first register with PROPEDIA, then go to the Property Details page and click "Ask a Question".
        </p>
        <p>
          If you don't have an agent, complete this form and we'll connect you with a local agent who can help.
        </p>
        <%= form_for ScheduleVisit.new, url: schedule_visits_path, method: 'post' do |f| %>
          <%= f.hidden_field :property_id, value: resource.id %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>First Name<span class="color-redd">*</span></label>
                <%= f.text_field :first_name, class: "form-control", placeholder: 'ex. First Name', required: true %>
              </div>
              <div class="form-group">
                <label>Requested Time to View Property<span class="color-redd">*</span></label>
                <div class="row">
                  <div class="col-md-7">
                    <%= f.text_field :schedule_date, class: "datepicker form-control", required: true %>
                  </div>
                  <div class="col-md-5">
                    <%= f.select :schedule_time, options_for_select(schedule_time, f.object.schedule_time), {include_blank: ''}, class: 'form-control', required: true  %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Phone<span class="color-redd">*</span></label>
                <%= f.text_field :phone, class: "form-control", placeholder: 'ex. +628 XXX XXX', required: true %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last Name<span class="color-redd">*</span></label>
                <%= f.text_field :last_name, class: "form-control", placeholder: 'ex. Last Name', required: true %>
              </div>
              <div class="form-group">
                <label>2nd Option to View Property</label>
                <div class="row">
                  <div class="col-md-7">
                    <%= f.text_field :alt_schedule_date, class: "datepicker form-control" %>
                  </div>
                  <div class="col-md-5">
                    <%= f.select :alt_schedule_time, options_for_select(schedule_time, f.object.alt_schedule_time), {include_blank: ''}, class: 'form-control', required: true  %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Email<span class="color-redd">*</span></label>
                <%= f.email_field :email, class: "form-control", placeholder: 'ex. yourmail@mail.com', required: true %>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-outlined btn-blue-light btn-block">Submit</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
