<%# if params[:list].present? %>
  <%# id = 'property-search-map' %>
<%# else %>
  <%# id = 'property-search' %>
<%# end %>

<% url_search = properties_path if params[:controller] == 'properties' %>
<% url_search = projects_path if params[:controller] == 'projects' %>
<%= form_for :search, url: url_search, html:{id: 'property-search', name: 'search'}, method: 'get' do %>
  <nav class="navbar navbar-default <%= 'navbar-red' if is_nav_list? %> ">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Propedia', root_path, class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if is_nav_list? %>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore <span class="glyphicon glyphicon-menu-down"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to 'Rent', properties_path(category: 'Rent')%>
                </li>
                <li>
                  <%= link_to 'Sell', properties_path(category: 'Sell')%>
                </li>
                <li>
                  <%= link_to 'Auction Property', auction_properties_path(category: 'Auction Property')%>
                </li>
                <li>
                  <%= link_to 'New Projects', projects_path%>
                </li>
                <li>
                  <%= link_to 'Sell Or Rent Property', new_property_path %>
                </li>
              </ul>
            </li>
          </ul>
          <div class='form-search form-horizontal navbar-form navbar-left' id='custom-search-input'>
            <%= hidden_field_tag :list, params[:list] if params[:list] %>
            <div class="input-group col-md-12">
              <span class="input-group-btn">
                <button class="btn btn-info btn-search" type="submit" id="find">
                  <i class="fa fa-map-marker"></i>
                </button>
              </span>
              <%= autocomplete_field_tag :region_display_name, "", autocomplete_region_path, placeholder: "Search by locality", class: 'form-control', value: params[:region_display_name] %>
            </div>
          </div>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% unless is_nav_list? %>
            <li><%= link_to 'SELL OR RENT PROPERTY', new_property_path %></li>
            <li><%= link_to 'PACKAGE ADS', package_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                HELP &nbsp; &nbsp;<span class="glyphicon glyphicon-menu-down"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'No data founds!', root_path unless @helps.present? %></li>
                <% @helps.each do |help| %>
                  <li>
                    <%= link_to "#{help.title}", landing_page_path(help) %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
          <% if current_user %>
            <li class="dropdown">
              <a href="#" class="dropdown-account dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <div class="user-image-cycle-top pull-left">
                  <%= image_tag current_user.try(:profile).try(:avatar).url(:thumb), class: "host-profile-image-top" %>
                </div>
                <span class="usr-name">
                  <%= current_user.try(:email) %>
                  &nbsp; &nbsp;<span class="glyphicon glyphicon-menu-down"></span>
               </span>
              </a>
              <%= render 'shareds/users/menu' unless current_user.developer? %>
              <%= render 'shareds/developers/menu' if current_user.developer? %>
            </li>
            <%= render 'shareds/messages/list_limit' %>
          <% else %>
            <li>
              <div class="btn-group btn-reg-log" role="group" aria-label="...">
                <%= link_to user_session_path, class: "btn btn-default left" do %>
                  Sign In
                <% end %>
                <button type="button" class="btn btn-default cycle">OR</button>
                <%= link_to new_user_registration_path, class: "btn btn-default right" do %>
                  Sign Up
                <% end %>
              </div>
            <li>
          <% end %>
          <%= render 'shareds/side_menu' %>
        </ul>
      </div>
    </div>
  </nav>

  <% if params[:controller] == 'properties' && params[:action] == 'index' %>
    <section class="form-top-search">
      <% if params[:list].present? %>
        <%= render 'shareds/properties/form_search_map' %>
      <% else %>
        <%= render 'shareds/properties/form_search' %>
      <% end %>
    </section>
  <% elsif params[:controller] == 'projects' && params[:action] == 'index' %>
    <section class="form-top-search">
      <%= render 'shareds/projects/form_search' %>
    </section>
  <% end %>
<% end %>
