<li>
  <a id="c-button--push-right">
    MENU&nbsp;
    <i class="fa fa-bars"></i>
  </a>
  <nav id="c-menu--push-right" class="c-menu c-menu--push-right">
    <button class="c-menu__close">
      <i class="fa fa-close"></i>
      Close
    </button>
    <ul class="c-menu__items">
      <li class="c-menu__item">
        <%= link_to 'HOME', root_path, class: 'c-menu__link' %>
      </li>
      <li class="c-menu__item">
        <%= link_to 'RENT', properties_path(category: 'Rent'), class: 'c-menu__link' %>
      </li>
      <li class="c-menu__item">
        <%= link_to 'SELL', properties_path(category: 'Sell'), class: 'c-menu__link' %>
      </li>
      <li class="c-menu__item">
        <%= link_to 'AUCTION PROPERTY', auction_properties_path(category: 'Auction Property'), class: 'c-menu__link' %>
      </li>
      <li class="c-menu__item">
        <%= link_to 'NEW PROJECTS', projects_path, class: 'c-menu__link' %>
      </li>
      <li class="c-menu__item">
        <%= link_to 'SELL OR RENT PROPERTY', new_property_path, class: "c-menu__link" %>
      </li>
    </ul>
    <!-- <ul class="c-menu__items">
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">Give us your Feedback</a>
      </li>
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">About Us</a>
      </li>
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">Terms</a>
      </li>
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">Policy</a>
      </li>
    </ul> -->
    <ul class="c-menu__items">
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">Needs your Help? write to us at</a>
      </li>
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">
          <i class="fa fa-envelope"></i>
          <%= @setting.email %>
        </a>
      </li>
    </ul>
    <ul class="c-menu__items">
      <% @follow.each do |follow| %>
        <li class="c-menu__item">
          <a href="<%= follow.link_url %>" class="c-menu__link"><%= follow.title %></a>
        </li>
      <% end %>
    </ul>
  </nav>
  <div id="c-mask" class="c-mask"></div>
</li>
