<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-sky modal-header-info">
        <h3 align="center">SignIn</h3>
      </div>
      <div class="modal-body modal-sign">
        <%= form_for :user, url: user_session_path, method: 'post', html: {class: ""} do |f| %>
          <fieldset>
            <div class="form-group">
              <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary-fb' do %>
                <i class="fa fa-facebook pull-left"></i>
                Login With Facebook
              <% end %>
            </div>
            <div class="form-group">
              <div class="col-xs-12 or-section">
                <i class="omb-or"></i>
                <span class="omb-span">OR</span>
              </div>
              <div class="break"></div>
            </div>
            <div class="form-group">
              <div class="controls">
                <%= f.text_field :login, class: "form-control", placeholder: "Username or Email" %>
              </div>
            </div>
            <!-- Password input-->
            <div class="form-group">
              <div class="controls">
                <%= f.password_field :password, class: "form-control password", placeholder: "Password" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.check_box :remember_me, class: "grey remember" %>
                  <span>Keep me signed in</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <div class="controls">
                    <%= f.submit 'SignIn',  class: "btn btn-lg btn-primary btn-block" %>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                Not Member?
                <a href="#signup" data-dismiss="modal" data-toggle="modal" data-target=".bs-modal-sm2">
                  Register
                </a>
              </div>
              <div class="col-md-6">
                <%= link_to 'Forgot Password ?', new_user_password_path %>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-modal-sm2" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header modal-header-info">
        <h3 align="center">Register</h3>
      </div>
      <div class="modal-body modal-sign">
        <%= form_for :user, url: user_registration_path, method: 'post', html: {class: "form-horizontal"} do |f| %>
          <%= f.fields_for(:profile_attributes) do |profile| %>
            <fieldset>
              <div class="col-md-12">
                <div class="form-group">
                  <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary-fb' do %>
                    <i class="fa fa-facebook pull-left"></i>
                    Register With Facebook
                  <% end %>
                </div>
                <div class="form-group">
                  <div class="col-xs-12 or-section">
                    <i class="omb-or"></i>
                    <span class="omb-span">OR</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label" for="userid">Fullname:</label>
                  <div class="controls">
                    <%= profile.text_field :full_name, class: "form-control", required: true %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label" for="userid">Username:</label>
                  <div class="controls">
                    <%= f.text_field :username, class: "form-control", required: true %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label" for="Email">Email:</label>
                  <div class="controls">
                    <%= f.email_field :email, class: "form-control", required: true %>
                  </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                  <label class="control-label" for="password">Password:</label>
                  <div class="controls">
                    <%= f.password_field :password, class: "form-control password", required: true %>
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="control-label" for="reenterpassword">Password Confirmation:</label>
                  <div class="controls">
                    <%= f.password_field :password_confirmation, class: "form-control password", required: true %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label" for="confirmsignup"></label>
                  <div class="controls">
                    <%= f.submit 'SignUp', class: "btn btn-lg btn-primary btn-block btn-success" do%>
                    <% end %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="margin-auto-display-table">
                    Already Registered?
                    <a href="#signin" data-dismiss="modal" data-toggle="modal" data-target=".bs-modal-sm">
                      Login
                    </a>
                  </div>
                </div>
              </div>

            </fieldset>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
