<% cache("obivious", expires_in: 12.hours) do %>
	<section class="section obvious">
		<div class="container">
			<div class="row">
				<h2 align="center">PROPEDIA - THE OBVIOUS CHOICE</h2>
				<div class="break"></div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="col-xs-12">
						<i class="fa fa-users"></i>
					</div>
					<div class="col-xs-12">
						<h4>GENUINE LEADS</h4>
						<p>Home seekers get a virtual tour of your property. Only those with genuine interest approach you.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="col-xs-12">
						<i class="fa fa-instagram"></i>
					</div>
					<div class="col-xs-12">
						<h4>REAL PHOTOGRAPHS</h4>
						<p>Get a professional photoshoot of your house. Meticulously shot by our professionals.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="col-xs-12">
						<i class="fa fa-tags"></i>
					</div>
					<div class="col-xs-12">
						<h4>IT'S FREE</h4>
						<p>Get in touch with the prospective tenants or buyers directly.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="col-xs-12">
						<i class="fa fa-headphones"></i>
					</div>
					<div class="col-xs-12">
						<h4>UNPARALLELED CONVENIENCE</h4>
						<p>Our highly trained customer support team helps you through the process.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
<% end %>

<%= render 'shareds/home/paralax' %>
<%= render 'shareds/home/popular_locations' %>
<%= render 'shareds/home/testimonials' %>
<%= render 'shareds/home/group_partner' %>
