<section class="section">
  <div class="container">
    <div class="col-md-12">
      <div class="box-landing-page">
        <div class="box-description">
          <div class="col-md-12">
            <div class="alert-review">
              <div>
                <h2 align="center"><%= @setting.package_title %></h2>
                <div class="break"></div>
                <div class="col-md-12">
                  <%= raw @setting.package_description %>
                </div>

                <div class="premium">
                  <div class="l-info col-md-3">
                    <div class="area">
                      <h3 class="h-package">Jabodetabek</h3>
                    </div>
                    <div class="priod">
                      <ul>
                        <li>Membership Period</li>
                        <li>Listing online limit</li>
                      </ul>
                    </div>
                    <div class="bonus">
                      <ul>
                        <li>Top Listing</li>
                        <li>Featured Listing</li>
                        <li>Listing Limit</li>
                        <li>Profil Agen di website</li>
                        <li>Email Alert</li>
                        <% LabelType.to_a.each do |label| %>
                          <li><%= label[0] %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                  <% @packages.each.with_index(1) do |package, i| %>
                    <div class="l-gold col-md-3">
                      <div class="package">
                        <span class="gold"><%= package.name %></span>
                      </div>
                      <div class="price">
                        <div class="year"><%= number_to_currency_br(package.price) %></div>
                      </div>
                      <div class="priod">
                        <ul>
                          <% duration = package.duration.zero? ? 'Free Package' : "#{package.duration} Bulan" %>
                          <li><%= duration %></li>
                          <li><%= package.max_listing %></li>
                        </ul>
                      </div>
                      <div class="bonus">
                        <div class="quote-bonus">Bonus</div>
                        <ul>
                          <li><%= package.top_listing ? 'Yes' : 'No' %></li>
                          <li><%= package.featured_listing || '-' %></li>
                          <li><%= package.max_listing || '-' %></li>
                          <li>Yes</li>
                          <li>Yes</li>
                          <% LabelType.to_a.each do |label| %>
                            <li><%= package.label_tags.to_s.split(',').include?(label[0]) ? 'Yes' : 'No' %></li>
                          <% end %>
                        </ul>
                      </div>
                      <div>
                        <% if current_user.present? %>
                          <%= show_subscribe(current_user, package.id) %>
                        <% else %>
                          <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm" class="btn btn-info btn-sm full-width">
                            Order Now
                          </a>
                        <% end unless package.name == 'Free Package' %>
                      </div>
                    </div><!-- gold -->
                  <% end %>
                </div>

                <p align="center">
                  Untuk mengetahui harga di luar Jabodetabek dan mengetahui program promo Yesng berlangsung Anda dapat menghubungi Eka di  081316383847 atau email ke info@housingindonesia.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
