<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	 
  <fieldset>
    <div class="form-group margin-top10">
      <div class="col-xs-12">
        <h4 align="center">Resend unlock instructions</h4>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <div class="controls">
        <%= f.submit 'Resend unlock instructions',  class: "btn btn-lg btn-primary btn-block medium-font" %>
      </div>
    </div>

    <div class="form-group">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  </fieldset>
<% end %>

