<div class="col-md-12">
  <div class="widget">
    <%= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Landing Pages', button_name: 'Landing Pages', add_method: true} %>
    <div class="widget-content">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Category</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @collection.each_with_index do |resource, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= resource.title %></td>
                <td><%= resource.category %></td>
                <td>
                  <%= render partial: 'backend/shareds/prepare_action',
                    locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="widget-foot">
        <div class="pull-right">
          <%= paginate @collection %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
