<div class="container">
	<div class="col-md-12">
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <ul class="today-datas">
      <!-- List #1 -->
      <li>
        <!-- Graph -->
        <div><span id="todayspark1" class="spark"><canvas width="77" height="30" style="display: inline-block; width: 77px; height: 30px; vertical-align: top;"></canvas></span></div>
        <!-- Text -->
        <div class="datas-text"><%= Visit.count_today %> <br> visitors Today</div>
      </li>
      <li>
        <div><span id="todayspark2" class="spark"><canvas width="77" height="30" style="display: inline-block; width: 77px; height: 30px; vertical-align: top;"></canvas></span></div>
        <div class="datas-text"><%= Visit.count_week %> <br> Visitors This Week</div>
      </li>
      <li>
        <div><span id="todayspark3" class="spark"><canvas width="77" height="30" style="display: inline-block; width: 77px; height: 30px; vertical-align: top;"></canvas></span></div>
        <div class="datas-text"><%= Visit.count_month %> <br> Visitor This Month</div>
      </li>
      <li>
        <div><span id="todayspark4" class="spark"><canvas width="77" height="30" style="display: inline-block; width: 77px; height: 30px; vertical-align: top;"></canvas></span></div>
        <div class="datas-text"><%= Visit.count_year %> <br> Visitor This Year</div>
      </li>
      <li>
        <div><span id="todayspark5" class="spark"><canvas width="250" height="30" style="display: inline-block; width: 250px; height: 30px; vertical-align: top;"></canvas></span></div>
        <div class="datas-text"><%= Visit.count %> <br> Visitors till date</div>
      </li>
      <li>
        <div><i class="fa fa-money fa-lg"></i></div>
        <div class="datas-text">
          <%= number_to_currency_br(@balance_order_user_package.sum) if @balance_order_user_package.present? %> <br> Balance Order Package
        </div>
      </li>
    </ul>
    <%= column_chart Visit.per_year.group_by_month(:started_at, format: "%b %Y").count %>
	</div>
</div>


