<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% address = resource.try(:address) %>
<% basic = resource.try(:basic_property) %>
<% expired_date = resource.auction.end_auction.strftime("%B, %d, %Y") if resource.auction.end_auction.present? %>
<div class="listing-project-wrapper listing-auction-wrapper active"  data-expired="<%= expired_date %>">
  <div class="row">
    <div class="col-md-4 cover-gall-property">
      <% if resource.sold? %>
        <%= image_tag 'sold-out.png', class: 'expired-label' unless resource.category == 'Rent' %>
      <% elsif resource.is_expired? %>
        <%= image_tag 'expired.png', class: 'expired-label' %>
      <% end %>
      <div class="image-lg-project">
        <% if resource.label_tag.present? %>
          <label class="label <%= downcase_uderscore(resource.label_tag) %>"><%= resource.label_tag %></label>
        <% end %>
        <%= image_tag "#{resource.try(:galleries).try(:first).try(:file).url(:small)}", class: 'img-responsive' %>
      </div>
      <div class="box-three-desc-auction">
        <center><small class="title-timer">Countdown Timer</small></center>
        <ul class="countdown">
          <li> <span class="days">00</span>
            <p class="days_ref">DAYS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="hours">00</span>
            <p class="hours_ref">HRS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="minutes">00</span>
            <p class="minutes_ref">MINS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="seconds">00</span>
            <p class="seconds_ref">SEC</p>
          </li>
        </ul>
        <div class="desc-bottom-timer">
          <div class="desc-time-left">Reserver Mit : <span><%= resource.try(:auction).try(:reserve_met) %></span></div>
          <div class="desc-time-right">
            <a href="#" data-toggle="modal" data-target="#modal_view_all_bids">
              <%= resource.try(:bid_auctions).size %> Bid<i class="fa fa-question-circle"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="box-feature-properties">
          <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12">
            <div class="info-global-project">
              <div class="title">
                <%= link_to property_path(resource) do %>
                  <%= truncate(resource.title, length: 25, omission: '...') if resource.title.present? %>
                <% end %>
              </div>
              <div class="location">
                <i class="fa fa-tags"></i>
                <%= resource.try(:category) %>&nbsp;
                <span class="fa fa-map-marker"></span>
                <%= address.try(:city) %>,
                <%= address.try(:province) %>
              </div>
              <div class="desc">
                <span class="price">
                  <%= number_to_currency_br(resource.auction.starting_bid) %>
                </span>
                <small class="color-grey"> Starting Price</small>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
            <div class="pull-right">
              <% if resource.is_expired? %>
                <%= link_to '<i class="fa fa-hand-o-up"></i> Renew'.html_safe, renew_userpage_property_path(resource), method: 'put', class: 'btn btn-outlined btn-red-light btn-sm' %>
              <% else %>
                <div class="btn btn-outlined btn-red-light btn-sm">
                  <%= resource.active? %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="feature-list">
              <small>
                <span class="label-feature">Flat Id:</span> 
                <%= resource.try(:code) %>
                <div>
                  <% unless resource.type_property == 'Office' || resource.type_property == 'Apartment' %>
                    <span class="label-feature">Land Area:</span>&nbsp;
                    <b><%= basic.try(:surface_area) || '--' %>m<sup>2</sup></b> &nbsp;
                  <% end %>
                  <% unless resource.type_property == 'Land'%>
                    <span class="label-feature">Building Area:</span>&nbsp;
                    <b><%= basic.try(:building_area) || '--' %>m<sup>2</sup></b>
                  <% end %>
                </div>
                <div>
                  <% if resource.type_property == 'House' || resource.type_property == 'Apartment' || resource.type_property == 'Ruko' %>
                    <span class="label-feature">Bathrooms:</span>&nbsp;
                    <b><%= basic.try(:bathrooms) || '--' %></b> &nbsp;
                  <% end %>
                  <% if resource.type_property == 'House' || resource.type_property == 'Apartment' %>
                    <span class="label-feature">Bedrooms:</span>&nbsp; 
                    <b><%= basic.try(:bedrooms) || '--' %></b>
                  <% end %>
                </div>
                <span class="label-feature">Latest Updated:</span>
                <%= resource.try(:updated_at).strftime("%b, %d, %Y") if resource.created_at.present? %>
              </small>
            </div>
          </div>
          <div class="break"></div>
          <div class="col-md-12">
            <% if resource.expired_at.present? %>
              <label class="label label-default">
                Expired: <%= resource.try(:expired_at).strftime("%B, %d, %Y") %>
              </label>&nbsp;
            <% end %>
            <% unless resource.category == 'Rent' %>
              <% if resource.sold_report.present? %>
                <label class="label label-default">
                  Sold Out: <%= resource.try(:sold_report).try(:date).strftime("%B, %d, %Y") if resource.sold_report.date.present? %>
                </label>&nbsp;
                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="This Property Already Sold"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <hr>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <small class="color-grey position-center">
            <a href="#" data-toggle="modal" data-target="#modal_list_schedule_visit">
              <i class="fa fa-calendar"></i>&nbsp;View Schedule Visit
            </a>
          </small>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
          <div class="pull-right position-center">
            <% if resource.sold_report.present? && resource.category != 'Rent'  %>
              <small class="color-green">
                <i class="fa fa-money"></i>&nbsp;
                <strong>SOLD <%= number_to_currency_br(resource.sold_report.price) if resource.sold_report.price.present? %></strong>
              </small>
            <% else %>
              <% unless resource.sold_report.present? || resource.category == 'Rent' %>
                <button class="btn btn-outlined btn-red-light btn-sm" data-toggle='modal' data-target="#modal-report-<%= resource.id %>">
                  <i class="fa fa-money"></i>
                  Sold
                </button>
              <% end %>
              <%= link_to edit_resource_path(resource) do %>
                <div class="btn btn-outlined btn-purple-light btn-sm">
                  <i class="fa fa-wrench"></i>
                  Edit
                </div>
              <% end %>
              <%= link_to resource_path(resource), method: 'delete', data: {confirm: "Are you sure delete this #{resource.code}"} do %>
                <div class="btn btn-outlined btn-red-light btn-sm">
                  <i class="fa fa-trash"></i>
                  Delete
                </div>
              <% end %>
              <%= link_to property_path(resource) do %>
                <div class="btn btn-outlined btn-purple-light btn-sm">
                  <span class="fa fa-search"></span>
                  View Detail
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shareds/modal_all_bids_auction', resource: resource %>
<%= render 'shareds/modal_list_schedule_visit', resource: resource %>
