<div class="row">
  <div class="col-xs-9">
    <strong>Total Advertisements (<%= @properties.count %>)</strong>
  </div>
  <div class="col-xs-3">
    <%= link_to '<i class="fa fa-plus-square-o"></i> Create New'.html_safe, new_property_path, class: 'btn btn-outlined btn-purple-light btn-sm pull-right' %>
  </div>
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<% @collection.each_with_index do |resource, index| %>
  <% if resource.is_category_auction? %>
    <%= render 'properties_auction', resource: resource %>
  <% else %>
    <%= render 'properties_list', resource: resource %>
  <% end %>
  <%= render 'shareds/modal_sold', resource: resource %>
<% end %>

<%= paginate @collection %>
