<ul class="dropdown-menu">
  <li>
    <%= link_to developerpage_dashboard_path do %>
      Dashboard <i class="fa fa-home pull-right"></i>
    <% end %>
  </li>
   <li class="divider"></li>
  <li>
    <%= link_to developerpage_projects_path do %>
      Projects <i class="fa fa-image pull-right"></i>
    <% end %>
  </li>
  <li class="divider"></li>
  <li>
    <%= link_to developerpage_wishlists_path do %>
      Wishlists <span class="glyphicon glyphicon-heart pull-right"></span>
    <% end %>
  </li>
  <li class="divider"></li>
  <li>
    <%= link_to edit_developerpage_developer_path(current_user) do %>
      Settings <span class="glyphicon glyphicon-cog pull-right"></span>
    <% end %>
  </li>
  <li class="divider"></li>
  <li>
    <%= link_to destroy_user_session_path, method: 'delete' do %>
      Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span>
    <% end %>
  </li>
</ul>
