<div class="nav-sidebar-users-left">
  <nav class="nav-sidebar-left">
    <ul class="nav tabs">
      <li class="<%= active_sidebar_active?(:home, :dashboard) %>">
        <%= link_to developerpage_dashboard_path do %>
          <i class="fa fa-home"></i>
          &nbsp;&nbsp;Dashboard
        <% end %>
      </li>
      <li class="<%= active_sidebar_active?(:wishlists, :all) %>">
        <%= link_to developerpage_wishlists_path do %>
          <i class="fa fa-heart"></i>
          &nbsp;&nbsp;Wishlists
          <span class="pull-right">
            <span class="badge"><%= @wishlists_size %></span>
          </span>
        <% end %>
      </li>
      <li class="<%= active_sidebar_active?(:messages, :all) %>">
        <%= link_to developerpage_inquiries_path do %>
          <i class="fa fa-comments"></i>
          &nbsp;&nbsp;Inquiries
          <span class="pull-right">
            <span class="badge"><%= @inquiries_size %></span>
          </span>
        <% end %>
      </li>
      <li class="<%= active_sidebar_active?(:projects, :all) %>">
        <%= link_to developerpage_projects_path do %>
          <i class="fa fa-flag"></i>
          &nbsp;&nbsp;Projects
          <span class="pull-right">
            <span class="badge"><%= @projects_size %></span>
          </span>
        <% end %>
      </li>
      <li>
        <hr>
      </li>
      <li class="<%= active_sidebar_active?(:developers, :all) %>">
        <%= link_to edit_developerpage_developer_path(current_user) do %>
          <i class="fa fa-wrench"></i>
          &nbsp;&nbsp;Edit Profile
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: 'delete' do %>
          <i class="fa fa-mail-reply"></i>
          &nbsp;&nbsp;SignOut
        <% end %>
      </li>
    </ul>
  </nav>
</div>
