<div class="nav-sidebar-users-right">
  <div class="sidebar-users-right-wrapper">
    <div class="image-icon">
      <div class="row">
        <div class="col-md-12">
          <strong>Developer Since : </strong><br>
          <%= current_user.try(:created_at).strftime("%H:%M %B, %d, %Y") if current_user.try(:created_at).present? %>
          <br><br>
          <strong>Last Sign in : </strong><br>
          <%= current_user.try(:last_sign_in_at).strftime("%H:%M %B, %d, %Y") if current_user.try(:last_sign_in_at).present? %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- upgrade_userpage_member_path(current_user) -->
