<div class="cover-image-users">
  <div class="container">
    <div class="col-md-12">
      <div class="info-user-cover">
        <div class="col-md-1">
          <div class="user-image-cycle">
            <%= image_tag current_user.try(:profile).try(:avatar).url(:thumb) %>
          </div>
        </div>
        <div class="col-md-11">
          <div class="row">
            <div class="box-info-user">
              <div class="name">
                <%= current_user.try(:profile).try(:full_name) %>
              </div>
              <div class="email">
                <%= current_user.try(:email) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag current_user.try(:profile).try(:cover).url(:large), class: 'img-responsive' %>
</div>
