<div class="col-md-12">
  <div class="negotiable">
    <i class="fa fa-check"></i>
    &nbsp;Negotiable
  </div>
  <div class="price">
    Rp. 1.000.000.000,-
  </div>
</div>

<div class="col-md-12">
  <div class="title">
    Apartemen kawasan griya sudirman estate ...
  </div>
</div>

<div class="col-md-12">
  <div class="horizontal-line"></div>
</div>

<div class="col-md-12">
  <div class="location-row">
    <div class="location">
      <i class="fa fa-map-marker"></i>
      <span>&nbsp;&nbsp;Jakarta Pusat</span>
    </div>
    <div class="label-catalog">
      <div class="label label-warning">
        Perumahan
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="horizontal-line"></div>
</div>

<div class="col-md-12">
  <div class="info">
    <ul class="list-inline">
      <li>
        <i class="fa fa-tags"></i>
        &nbsp;12.876 m2
      </li>
      <li>
        <i class="fa fa-refresh"></i>
        &nbsp;12.876 m2
      </li>
      <li>
        <i class="fa fa-bars"></i>
        &nbsp;12.876 m2
      </li>
    </ul>
  </div>
</div>

<div class="col-md-12">
  <div class="location-row">
    <div class="location">
      <%= link_to root_path do %>
        &nbsp;&nbsp;View all
        <i class="fa fa-angle-down"></i>
      <% end %>
    </div>
    <div class="label-catalog">
      <div class="label label-primary">
        <i class="fa fa-eye"></i>
        &nbsp;View detail
      </div>
    </div>
  </div>
</div>
