<ul class="dropdown-menu">
  <li>
    <%= link_to userpage_dashboard_path do %>
      Dashboard <i class="fa fa-home pull-right"></i>
    <% end %>
  </li>
   <li class="divider"></li>
  <li>
    <%= link_to userpage_properties_path do %>
      Advertisements <i class="fa fa-image pull-right"></i>
    <% end %>
  </li>
  <li class="divider"></li>
  <li>
    <%= link_to userpage_wishlists_path do %>
      Wishlists <span class="glyphicon glyphicon-heart pull-right"></span>
    <% end %>
  </li>
  <li class="divider"></li>
  <li>
    <%= link_to user_edit_url(current_user.type, current_user) do %>
      Settings <span class="glyphicon glyphicon-cog pull-right"></span>
    <% end %>
  </li>
  <li class="divider"></li>
  <li>
    <%= link_to destroy_user_session_path, method: 'delete' do %>
      Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span>
    <% end %>
  </li>
</ul>
