<nav class="navbar navbar-default <%= 'navbar-red' if params[:controller] == 'properties' && params[:action] == 'index' || params[:controller] == 'projects' && params[:action] == 'index' %> ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'PROPEDIA', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if params[:controller] == 'properties' && params[:action] == 'index' || params[:controller] == 'projects' && params[:action] == 'index' %>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buy <span class="glyphicon glyphicon-menu-down"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Rent</a></li>
              <li><a href="#">PG &amp; Hotels</a></li>
              <li><a href="#">Sell</a></li>
              <li><a href="#">New Projects</a></li>
              <li><a href="#">Sell or Rent Property</a></li>
            </ul>
          </li>
        </ul>
        <form id="custom-search-input" class="form-search form-horizontal navbar-form navbar-left">
          <div class="input-group col-md-12">
            <input type="text" class="form-control" placeholder="Pencarian">
            <span class="input-group-btn">
              <button class="btn btn-info btn-search" type="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </form>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">BLOG</a></li>
        <li><a href="">WE'RE HIRING</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            HELP &nbsp; &nbsp;<span class="glyphicon glyphicon-menu-down"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">Visit help center?</a>
            </li>
            <li>
              <a href="#">I'am a guest, what are some safety tips i can follow?</a>
            </li>
            <li>
              <a href="#">What's is Verified ID?</a>
            </li>
            <li>
              <a href="#">What's is Guarantee for Host?</a>
            </li>
            <li>
              <a href="#">See all faqs?</a>
            </li>
          </ul>
        </li>
        <li><a href="">SELL OR RENT PROPERTY</a></li>
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-account dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <div class="user-image-cycle-top pull-left">
                <%= image_tag 'people1.jpg', class: "host-profile-image-top" %>
              </div>
              <span class="usr-name">Alam Topan &nbsp; &nbsp;<span class="glyphicon glyphicon-menu-down"></span></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to member_dashboard_path do %>
                  Dashboard <i class="fa fa-home pull-right"></i>
                <% end %>
              </li>
               <li class="divider"></li>
              <li>
                <a href="#">Advertisements <i class="fa fa-image pull-right"></i></a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">Wishlists <span class="glyphicon glyphicon-heart pull-right"></span></a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">Settings <span class="glyphicon glyphicon-cog pull-right"></span></a>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: 'delete' do %>
                  Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="dropdown dropdown-account-message">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-comments fa-box-inbox"></i> <span class="count-inbox">22</span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <div class="header-inbox-pop">
                  <span class="pull-left"><small>Messages(10)</small></span>
                  <a href="#">
                    <span class="pull-right"><small>View Inbox</small></span>
                  </a>
                </div>
                <div class="box-inbox-pop">
                  No New Messages
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="header-inbox-pop">
                  <span class="pull-left"><small>Notifications(11)</small></span>
                  <a href="#">
                    <span class="pull-right"><small>See All</small></span>
                  </a>
                </div>
                <div class="box-inbox-pop">
                  No New Notifications
                </div>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <div class="btn-group btn-reg-log" role="group" aria-label="...">
              <%= link_to user_session_path, class: "btn btn-default left" do %>
                Sign In
              <% end %>
              <button type="button" class="btn btn-default cycle">OR</button>
              <%= link_to new_user_registration_path, class: "btn btn-default right" do %>
                Sign Up
              <% end %>
            </div>
          <li>
        <% end %>
        <%= render 'shareds/side_menu' %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if params[:controller] == 'properties' && params[:action] == 'index' %>
  <section class="form-top-search">
    <%= render 'shareds/properties/form_search' %>
  </section>
<% elsif params[:controller] == 'projects' && params[:action] == 'index' %>
  <section class="form-top-search">
    <%= render 'shareds/projects/form_search' %>
  </section>
<% end %>
