<div class="nav-sidebar-users-right">
  <div class="sidebar-users-right-wrapper">
    <div class="title">
      Do you want to become an agent?
    </div>
    <div class="description">
      Your member account can be upgraded to become an agent account, with the features of the service agent that you get on this website more numerous and diverse, by clicking the link below:
    </div>
    <div class="image-icon">
      <div class="row">
        <div class="col-md-12">
          <%= link_to upgrade_userpage_member_path(current_user), method: 'put' do %>
            <%= current_user.agent_processed? %>
          <% end %>
        </div>
        <div class="break"></div>
        <div class="col-md-12">
          <strong>Member Since : </strong><br>
          <%= current_user.try(:created_at).strftime("%H:%M %B, %d, %Y") if current_user.try(:created_at).present? %>
          <br><br>
          <strong>Last Sign in : </strong><br>
          <%= current_user.try(:last_sign_in_at).strftime("%H:%M %B, %d, %Y") if current_user.try(:last_sign_in_at).present? %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- upgrade_userpage_member_path(current_user) -->
