<div class="row">
  <div class="col-md-4">
    <h6>Name</h6>
    <%= f.text_field :name, class: "form-control", placeholder: 'ex. Parking', required: true %>
  </div>
  <div class="col-md-4">
    <h6>Font Icon Script <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="blank"><span class="pull-right">Find Icon?</span></a></h6>
    <%= f.text_field :font_icon, class: 'form-control', placeholder: 'ex. <i class="fa fa-car"></i>', required: true  %>
  </div>
  <div class="col-md-12">
  	<hr>
    <h6>Category</h6>
    <% @categories.each_with_index do |c, index| %>
    	<div class="col-xs-4">
    		<% category_checked = resource.category[c] if resource.category.present? %>
	    	<%= check_box_tag "categories[]", c, category_checked%>
	    	&nbsp;
	    	<%= c %>
	    </div>
    <% end %>
  </div>
  <div class="break"></div>
</div>
