<div class="col-md-12">
  <%= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do %>
    <div class="widget">
      <%= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Asset Facilities', button_name: 'Asset Facility', add_method: true} %>
      <div class="widget-content">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th width="1%"></th>
                <th width="20%">Name</th>
                <th width="10%">Font Icon</th>
                <th>Category</th>
                <th width="10%">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @collection.each_with_index do |resource, index| %>
                <tr>
                  <td><%= check_box_tag "ids[]", resource.id %></td>
                  <td><%= resource.name %></td>
                  <td><center><%= resource.font_icon.html_safe if resource.font_icon.present? %></center></td>
                  <td><%= resource.category %></td>
                  <td>
                    <%= render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="widget-foot">
          <div class="pull-right">
            <%= paginate @collection %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
