<div class="listing-project-wrapper listing-property-wrapper active">
  <div class="row">
    <% user     = property.try(:user) %>
    <% profile  = user.try(:profile) %>
    <% address  = property.try(:address) %>
    <% basic    = property.try(:basic_property) %>
    <div class="col-xs-12">
      <div class="title">
        <div class="row">
          <div class="col-xs-10">
            <%= link_to property.title, property_path(property) %>
          </div>
          <div class="col-xs-2">
            <div class="box-feature-category">
              <div>
                <i class="fa fa-bookmark-o"></i>
                <span>Property</span>
              </div>
              <div class="description">
                <%= property.try(:type_property) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="cover-gall-property">
        <% if property.label_tag.present? %>
          <label class="label <%= downcase_uderscore(property.label_tag) %>"><%= property.label_tag %></label>
        <% end %>
        <%= image_tag "#{property.try(:galleries).try(:first).try(:file).url(:small)}", class: 'image-lg-property-new' %>
        <!-- <div class="avatar">
          <%#= image_tag "#{profile.try(:avatar).url(:small)}", 'data-toggle' => 'modal', 'data-target' => "#modal-agent-#{property.id}" if profile %>
        </div> -->
        <div class="section-whistlist pull-left">
          <% if current_user.present? %>
            <span class="status-whistlist">
              <%= checking_wishlist(property.id, current_user.id, wishlist_properties_url(property.id)).html_safe %>
            </span>
          <% else %>
            <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm"><i class="fa fa-heart-o set"></i></a>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="box-feature-properties">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="info-global-project">
              <div class="pull-left">
                <span class="price">
                  <%= raw number_to_currency_br(property.the_price?) + property.the_price_status? %>
                </span>
                <% if property.category == 'Sell' && (property.type_property == 'Apartment' || property.type_property == 'Office' || property.type_property == 'House') %>
                  |
                  <span class="price-sq">
                    <%= raw "#{number_to_currency_br(property.price_per_meter)} <small class='color-grey'> per sq m</small>" %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="feature-list">
              <small>
                <span class="label-feature">Flat Id:</span>
                <%= property.try(:code) %>
                <div>
                  <% unless property.type_property == 'Office' || property.type_property == 'Apartment' %>
                    <span class="label-feature">Land Area:</span>&nbsp;
                    <b><%= basic.try(:surface_area) || '--' %>m<sup>2</sup></b> &nbsp;
                  <% end %>
                  <% unless property.type_property == 'Land'%>
                    <span class="label-feature">Building Area:</span>&nbsp;
                    <b><%= basic.try(:building_area) || '--' %>m<sup>2</sup></b>
                  <% end %>
                </div>
                <div>
                  <% if property.type_property == 'House' || property.type_property == 'Apartment' || property.type_property == 'Ruko' %>
                    <span class="label-feature">Bathrooms:</span>&nbsp;
                    <b><%= basic.try(:bathrooms) || '--' %></b> &nbsp;
                  <% end %>
                  <% if property.type_property == 'House' || property.type_property == 'Apartment' %>
                    <span class="label-feature">Bedrooms:</span>&nbsp;
                    <b><%= basic.try(:bedrooms) || '--' %></b>
                  <% end %>
                </div>
                <span class="label-feature">Latest Updated:</span>
                <%= property.try(:updated_at).strftime("%b, %d, %Y") if property.created_at.present? %>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <hr>
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 desc-prop-bottom">
          <small class="desc-prop-bottom color-grey">
            <span class="fa fa-map-marker"></span> <%= address.try(:city) %>, <%= address.try(:province) %>&nbsp; |
            <strong><%= property.impressionist_count %></strong> people have seen
          </small>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="pull-right">
            <%= link_to resource_path(whishlist), method: 'delete', data: {confirm: "Are you sure delete this?"} do %>
              <div class="btn btn-outlined btn-red-light btn-sm">
                <i class="fa fa-trash"></i>
                Delete
              </div>
            <% end %>
            <%= link_to property_path(property) do %>
              <div class="btn btn-outlined btn-purple-light btn-sm">
                <span class="fa fa-search"></span>
                View Detail
              </div>
            <% end if property.present? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
