<div class="row">
  <div class="col-xs-12">
    <strong>Total Wishlists (<%= @wishlists.count %>)</strong>
  </div>
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<% @collection.each_with_index do |resource, index| %>
  <% property = resource.try(:property) %>
  <% if property.is_category_auction? %>
    <%= render 'properties_auction', property: property, whishlist: resource %>
  <% else %>
    <%= render 'properties_list', property: property, whishlist: resource %>
  <% end %>
<% end %>

<%= paginate @collection %>
