<%= render 'basic_form_house', basic: basic %>
<%= render 'basic_form_apartment', basic: basic %>
<%= render 'basic_form_ruko', basic: basic %>
<%= render 'basic_form_factory', basic: basic %>
<%= render 'basic_form_land', basic: basic %>
<%= render 'basic_form_office', basic: basic %>
<%= render 'basic_form_warehouse', basic: basic %>
<%= render 'basic_form_unit', basic: basic %>
<%= render 'rent_basic_form_house', basic: basic %>
<%= render 'rent_basic_form_apartment', basic: basic %>
<%= render 'rent_basic_form_ruko', basic: basic %>
<%= render 'rent_basic_form_land', basic: basic %>
<%= render 'rent_basic_form_office', basic: basic %>
<%= render 'rent_basic_form_warehouse', basic: basic %>
<div class="break-20"></div>
