<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <h6>User</h6>
        <%= f.select :user_id, @users, {prompt: 'Select User'}, {class: 'form-control select2', id: 'property_user_id', required: true} %>
         <div class="break"></div>
      </div>
    </div>
    <div class="row">
      <% @types.each do |key, value| %>
        <div class="col-md-6">
          <div class="well">
            <center>
              <h2><%= key %></h2>
              <p><%= f.radio_button :category, key, required: true, class: 'categories_select', 'data-node' => "#{resource.class.to_s.downcase}" %></p>
            </center>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h6>Type</h6>
        <% type_properties = f.object.category.present? ? (PropertyType.find_by(name: f.object.category).try(:children).pluck('name') rescue PropertyType.pluck(:name)) : PropertyType.none rescue [] %>
        <div class="category-container">
          <%= f.select :type_property, options_for_select(type_properties, f.object.type_property), {prompt: 'Select Type'}, class: 'select2 form-control type_properties_select', required: true %>
        </div>
      </div>
      <div class="col-md-6 price-sell">
        <h6>Price</h6>
        <%= f.text_field :price, class: 'form-control', placeholder: 'ex. 10000000', data: {autonumeric: true} %>
      </div>
      <div class="col-md-12">
        <h6>Title</h6>
        <%= f.text_field :title, class: 'form-control', required: true, maxlength: 50 %>
      </div>
    </div>
    <div class="break"></div>
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <center>
            <p>Sold Out</p>
            <p><%= f.check_box :sold_out %></p>
          </center>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <center>
            <p>Featured</p>
            <p><%= f.check_box :featured %></p>
          </center>
        </div>
      </div>
      <div class="col-md-6 label-package-container">
        <h6>Label Package</h6>
        <% select_options = f.object && f.object.user ? f.object.user.label_packages : [] %>
        <%= f.select :label_tag, select_options, { prompt: 'Select Label' }, class: 'form-control' %>
      </div>
    </div>
    <div class="break"></div>
  </div>
</div>

<div class="section-basic-form">
  <%= f.fields_for :basic_property do |basic| %>
    <%= render partial: 'form_basic', locals: {f: f, basic: basic} %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Facilities</h3>
    <hr>
    <div class="facility" data-url="<%= get_societies_url%>">
      <% @facilities.each_with_index do |s| %>
        <% if resource.present? %>
          <%= render partial: 'properties/facility_fields', locals: {s: s} %>
        <% else %>
          <%= render partial: 'properties/facility_fields_new', locals: {s: s} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="break"></div>

<div class="row">
  <div class="col-md-12">
    <h3>Gallery</h3>
    <hr>
    <div class="setup-content">
      <ul class="choice-gallery-form">
        <%= f.fields_for :galleries do |g| %>
          <%= render 'gallery_fields', f: g %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="break"></div>

<%= f.fields_for :address do |address| %>
  <%= render partial: 'form_address', locals: {address: address} %>
<% end %>


