<div class="basic-form rent-basic-form-land">
  <h3>Basic Land</h3>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <h6>Security Deposit</h6>
        <%= basic.text_field :price_security, class: 'form-control', placeholder: 'ex. 1000000', data: {autonumeric: true} %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h6>Rent Price per/Year</h6>
        <%= basic.text_field :price_year, class: 'form-control', placeholder: 'ex. 20000000', data: {autonumeric: true} %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h6>Land Area in m<sup>2</sup></h6>
        <%= basic.number_field :surface_area, class: 'form-control', placeholder: 'ex. 1000' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h6>Entrance Facing</h6>
        <%= basic.select :facing, Facing.to_a, {prompt: 'Select'}, {class: 'form-control'} %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h6>Long Land in (m<sup>2</sup>)</h6>
        <%= basic.number_field :long_land, class: 'form-control', placeholder: 'ex. 200' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h6>Width Land in (m<sup>2</sup>)</h6>
        <%= basic.number_field :width_land, class: 'form-control', placeholder: 'ex. 800' %>
      </div>
    </div>
  </div>
</div>
