<div class="basic-form rent-basic-form-ruko">
  <h3>Basic Ruko</h3>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <h6>Rent Price per/Month</h6>
        <%= basic.text_field :price_month, class: 'form-control', placeholder: 'ex. 1300000', data: {autonumeric: true} %>
      </div>
      <div class="form-group">
        <h6>Rent Price per/Year</h6>
        <%= basic.text_field :price_year, class: 'form-control', placeholder: 'ex. 20000000', data: {autonumeric: true} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <h6>Security Deposit</h6>
        <%= basic.text_field :price_security, class: 'form-control', placeholder: 'ex. 1000000', data: {autonumeric: true} %>
      </div>
      <div class="form-group">
        <h6>Land Area in m<sup>2</sup></h6>
        <%= basic.number_field :surface_area, class: 'form-control', placeholder: 'ex. 1000' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <h6>Bathrooms</h6>
            <%= basic.number_field :bathrooms, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <h6>Year Built</h6>
            <%= basic.select :age, options_for_select((1950..Time.now.year).to_a, basic.object.age), {prompt: 'Select Year'}, {class: 'form-control select2', placeholder: 'ex. 2015'} %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <h6>Entrance Facing</h6>
            <%= basic.select :facing, Facing.to_a, {prompt: 'Select'}, {class: 'form-control'} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
