<% amenities = resource.try(:amenities) %>
<section class="utilities configuration-entity">
	<span class="entity">
		<span class="entity-left">
			<i class="fa fa-wheelchair"></i>
		</span>
		<span class="entity-right">
			<span class="text">Balconies</span>
			<br>
			<span class="value">
				<span><%= resource.balconies %></span>
			</span>
		</span>
	</span>
	<span class="entity">
		<span class="entity-left">
			<i class="fa fa-glass"></i>
		</span>
		<span class="entity-right">
			<span class="text">Toilets</span>
			<br>
			<span class="value">
				<span><%= resource.toilets %></span>
			</span>
		</span>
	</span>
	<% amenities.each do |amenity| %>
		<span class="entity <%= amenity.exist_hidden? %>">
			<span class="entity-left">
				<%= amenity.icon.html_safe if amenity.icon.present? %>
			</span>
			<span class="entity-right">
				<span class="text"><%= amenity.title %></span>
				<br>
				<span class="value">
					<span><%= amenity.exist? %></span>
				</span>
			</span>
		</span>
	<% end %>
</section>
