<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% contact = user.try(:contact) %>
<section class="section section-desc-white" id="section-builder">
	<div class="row">
		<div class="col-md-12">
			<div class="user-image-cycle float-none margin-none">
				<%= image_tag "#{profile.try(:avatar).url(:small)}", class: 'host-profile-image' %>
			</div>
		</div>
		<div class="col-md-12">
			<h4 align="center">
				<%= profile.try(:full_name) %>
			</h4>
			<center>
				<div class="text-muted color-blue small">
		      <%= user.verified? %>
		    </div>
				<div class="text-muted small">
					The Builder
				</div>
			</center>
			<div class="break"></div>
			<div class="builder-details row">
	      <div class="col-xs-6">
	        <div class="text-uppercase">Established in </div>
	        <div class="value"><%= profile.try(:birthday).strftime("%B, %Y") if profile.birthday.present? %></div>
	      </div>
	      <div class="col-xs-6">
	        <div class="text-uppercase">Total Projects</div>
	        <div class="value"><%= user.try(:projects).try(:count) %></div>
	      </div>
	    </div>
	    <div class="break"></div>
			<p><%= profile.try(:meta_description).html_safe if profile.meta_description.present? %></p>
		</div>
	</div>
</section>

