<section class="section-desc">
	<h2 class="heading text-uppercase">Overview</h2>
	<div class="body-cont">
		<section class="utilities">
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-bookmark"></i>
				</span>
				<span class="entity-right">
					<span class="text">Construction</span>
					<br>
					<span class="value">
						<span><%= resource.construction %></span>
					</span>
				</span>
			</span>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-tags"></i>
				</span>
				<span class="entity-right">
					<span class="text">Base Price</span>
					<br>
					<span class="value">
						<span><%= number_to_currency_br(resource.price) %></span>
					</span>
				</span>
			</span>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-building"></i>
				</span>
				<span class="entity-right">
					<span class="text">Project Size</span>
					<br>
					<span class="value">
						<span><%= resource.project_size %> Buildings</span>
					</span>
				</span>
			</span>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-calendar"></i>
				</span>
				<span class="entity-right">
					<span class="text">Possession Starts</span>
					<br>
					<span class="value">
						<span><%= resource.try(:possession_start).strftime("%B, %d, %Y") %></span>
					</span>
				</span>
			</span>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-home"></i>
				</span>
				<span class="entity-right">
					<span class="text">Configurations</span>
					<br>
					<span class="value">
						<span>
							<%= resource.overviews.pluck(:title).to_sentence %>
						</span>
					</span>
				</span>
			</span>
		</section>
	</div>
</section>
