<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% contact = user.try(:contact) %>
<div class="line-through" id="section-builder">
	<p><span class="grey">Builder</span></p>
</div>
<div class="break"></div>
<section class="section section-desc-white">
	<div class="row">
		<div class="col-md-2">
			<div class="img-builder-center-show">
				<div class="user-image-cycle float-none margin-none">
					<%= image_tag "#{profile.try(:avatar).url(:small)}", class: 'host-profile-image' %>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="name-builder-center-show">
				<h4><%= profile.try(:full_name) %></h4>
				<div class="builder-details row">
		      <div class="col-md-5 col-sm-5 col-xs-5">
		        <div class="text-uppercase">Established in </div>
		        <div class="value"><%= profile.try(:birthday).strftime("%B, %Y") if profile.birthday.present? %></div>
		      </div>
		      <div class="col-md-7 col-sm-7 col-xs-7">
		        <div class="text-uppercase">Total Projects</div>
		        <div class="value"><%= user.try(:projects).try(:count) %></div>
		      </div>
		    </div>
		    <div class="break"></div>
				<p><%= profile.try(:meta_description).html_safe if profile.meta_description.present? %></p>
			</div>
		</div>
	</div>
</section>

