<section>
  <!-- The carousel -->
  <div id="transition-timer-carousel" class="home-carousel carousel slide transition-timer-carousel" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% resource.try(:galleries).each_with_index do |resource, index| %>
        <div class="item <%= 'active' if index == 0 %>">
          <%= image_tag resource.try(:file).url(:large) %>
        </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <!-- Timer "progress bar" -->
    <hr class="transition-timer-carousel-progress-bar animate" />

    <div class="main-text">
      <div class="text-center">
        <h1><%= resource.try(:title) %></h1>
        <p>
          <%= resource.try(:construction) %> . Possession At
          <%= resource.try(:possession_start).strftime("%B, %d, %Y") %><br>
          <span class="uppercase">Flat Id: <%= resource.try(:code) %></span>
        </p>
        <button class="btn btn-alert btn-create-sell">
          <span>
            <%= number_to_currency_br(resource.price) if resource.price.present? %>
            <small><%= resource.status_price? %></small>
          </span>
          <small class='color-grey'><%= resource.status_price? %></small>
          <% unless resource.type_project == 'House' %>
            <span class="price-sq">
              | <%= raw "#{number_to_currency_br(resource.price_in_meter)} <small class='color-grey'> per sq m</small>" %>
            </span>
          <% end %>
        </button>
      </div>
    </div>
  </div>
</section>

