<div class="line-through" id="section-configuration">
	<p><span class="grey">Configurations</span></p>
</div>
<div class="break"></div>
<section class="section section-desc-white">
	<div class="row">
		<div class="col-md-4 panel-route panel-room-type">
			<div class="row">
				<div class="col-md-12">
					<h4 align="center">Available Type</h4>
					<ul>
						<% resource.overviews.each_with_index do |overview, index| %>
							<li class="configuration_<%= index+1 %>">
								<div class="row">
									<div class="col-xs-6">
										<b><%= overview.title %></b>
									</div>
									<div class="col-xs-6">
										Type (<%= index+1 %>)<i class="fa fa-angle-double-right"></i>
									</div>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<% resource.overviews.each_with_index do |overview, index| %>
				<div class="configurations configuration_<%= index+1 %>">
					<div class="panel-group panel-route" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#overview_<%= index+1 %>">
										<i class="fa fa-plus-square-o"></i> Overview
									</a>
								</h4>
							</div>
						</div>
						<div id="overview_<%= index+1 %>" class="panel-collapse collapse in">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="row">
										<div class="col-xs-12">
											<div class="room_type">
												<%= image_tag overview.try(:file_2d).url(:medium), class: 'cover_file_2d' %>
												<%= image_tag overview.try(:file_3d).url(:medium), class: 'cover_file_3d' %>
												<div class="btn-group btn-group-d">
													<button class="btn btn-default click_file_2d">
														2D
													</button>
													<button class="btn btn-default click_file_3d">
														3D
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-8">
											<h4><%= overview.try(:title) %></h4>
											<div class="config-item-content">
						            <div class="item">
						              <div class="sub-heading">Saleable Area</div>
						              <div class="item-content"><%= overview.try(:saleable_area) %> m<sup>2</sup></div>
						            </div>
						            <div class="item">
						              <div class="sub-heading">POSSESSION STARTS</div>
						              <div class="item-content">
						              	<%= overview.try(:possession_start).strftime("%B, %d, %Y") if overview.possession_start.present? %>
						              </div>
						            </div>
						          </div>
										</div>
										<div class="col-xs-4 padding-left0">
											<div class="pricing">
							          <div class="base-price-title sub-heading">BASE PRICE</div>
							          <div class="base-price">
							            <span><%= number_to_currency_br(overview.price) if overview.price.present? %></span>
							          </div>
							          <div><small>(Other Charges Apply)</small></div>
							        </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#detail_<%= index+1 %>">
										<i class="fa fa-plus-square-o"></i> Details
									</a>
								</h4>
							</div>
						</div>
						<div id="detail_<%= index+1 %>" class="panel-collapse collapse">
							<div class="panel panel-default">
								<div>
									<%= render 'shareds/projects/amenities', resource: overview %>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#interior_<%= index+1 %>">
										<i class="fa fa-plus-square-o"></i> Interiors
									</a>
								</h4>
							</div>
						</div>
						<div id="interior_<%= index+1 %>" class="panel-collapse collapse">
							<div class="panel panel-default">
								<div class="panel-body">
									<%= render 'shareds/projects/interiors', resource: overview %>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</section>

