<div class="section-top-search-new">
	<div class="panel-for-search">
		<%= hidden_field_tag :list, params[:list] if params[:list] %>
		<%= hidden_field_tag :city, params[:city] if params[:city] %>
		<%= hidden_field_tag :region_display_name, params[:region_display_name] if params[:region_display_name] %>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<h6>Keywords</h6>
					<%= text_field_tag :key, params[:key], class: 'form-control', placeholder: 'ex. Agung Podomoro' %>
				</div>
				<div class="col-md-3">
					<h6>Property</h6>
					<div class="category-container">
	          <%= select_tag :type_project, options_for_select(@types, params[:type_project]), prompt: 'Select Type', class: 'select2 form-control type_properties_select_search' %>
	        </div>
				</div>
				<div class="col-md-3">
					<h6>Price Range</h6>
					<div class="select-pretty">
		        <div class="select-display btn btn-default dropdown custom-dropdown">
	            <a href="#" data-toggle="dropdown">
	              <span class="select-label label-clear-price" style="display:inline;">
	              	<%= "Price Range"  unless params[:min_price].present? || (params[:max_price].present?) %>
	              	<%= "Until"  if params[:min_price].blank? && params[:max_price].present? %>
	              </span>
	              <span class="label-min-price" style="display: inline;">
	              	<%= 'Rp. '+ number_to_human_indo(params[:min_price]) if params[:min_price].present? %>
	              	<%= "-"  if params[:min_price].present? && params[:max_price].present? %>
	            	</span>
	              <span class="label-max-price" style="display: inline;"><%= 'Rp. '+ number_to_human_indo(params[:max_price]) if params[:max_price].present? %></span>
	            </a>
	            <div class="dropdown-menu custom-input" role="form" aria-labelledby="dLabel">
	              <div class="custom-input-container">
	                <input type="text" maxlength="14" name="min_price" class="form-control numbers minimum-price" placeholder="Min" value="<%= params[:min_price] %>"> -
	                <input type="text" maxlength="18" name="max_price" class="form-control numbers maximum-price" placeholder="Max" value="<%= params[:max_price] %>">
	              </div>
	              <div class="custom-input-suggestion" style="text-align: left;">
	                <ul class="for-minimum-price" style="display: none;">
	                  <% Project::PRICE_LIST.each_with_index do |price, index| %>
	                    <li><a id="<%= "min#{index}" %>" href="#"><%= "Rp. #{number_to_currency_no_unit(price)}" %></a></li>
	                  <% end %>
	                </ul>
	                <ul class="for-maximum-price" style="display: none;">
	                  <% Project::PRICE_LIST.each_with_index do |price, index| %>
	                    <li><a id="<%= "max#{index}" %>" href="#"><%= "Rp. #{number_to_currency_no_unit(price)}" %></a></li>
	                  <% end %>
	                  <li><a id="max11" href="#">Other</a></li>
	                </ul>
	              </div>
	            </div>
	          </div>
	         </div>
				</div>
				<div class="col-md-3">
					<h6>Construction</h6>
					<%= select_tag :construction, options_for_select(['In Progress', 'Available'], params[:construction]), prompt: 'Select Construction', class: 'form-control select2' %>
				</div>
				<div class="col-xs-12 search-more-form">
					<div class="row">
						<div class="col-md-3">
							<h6>Project Size</h6>
							<div class="select-pretty">
				        <div class="select-display btn btn-default dropdown custom-dropdown-building">
			            <a href="#" data-toggle="dropdown">
			              <span class="select-label label-clear-price" style="display:inline;"><%= "Project Size"  unless params[:min_price].present? || (params[:max_price].present?) %></span>
			              <span class="label-min-price" style="display: inline;"></span>
			              <span class="label-max-price" style="display: inline;"></span>
			            </a>
			            <div class="dropdown-menu custom-input" role="form" aria-labelledby="dLabel">
			              <div class="custom-input-container">
			                <input type="text" maxlength="14" name="min_project_size" class="form-control numbers minimum-price" placeholder="Min" value="<%= params[:min_project_size] %>"> -
			                <input type="text" maxlength="18" name="max_project_size" class="form-control numbers maximum-price" placeholder="Max" value="<%= params[:max_project_size] %>">
			              </div>
			              <div class="custom-input-suggestion" style="text-align: left;">
			                <ul class="for-minimum-price" style="display: none;">
			                  <% (1..10).each_with_index do |build, index| %>
			                    <li><a id="<%= "min#{index}" %>" href="#" data-value="<%= "#{build}" %>"><%= "#{build}" %> Building</a></li>
			                  <% end %>
			                </ul>
			                <ul class="for-maximum-price" style="display: none;">
			                  <% (1..10).each_with_index do |build, index| %>
			                    <li><a id="<%= "max#{index}" %>" href="#" data-value="<%= "#{build}" %>"><%= "#{build}" %> Building</a></li>
			                  <% end %>
			                  <li><a id="max11" href="#">Other</a></li>
			                </ul>
			              </div>
			            </div>
			          </div>
			        </div>
			        <div class="row group-price-meter">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<h6>Price Sq Meter</h6>
									<div class="select-pretty">
										<div class="select-display btn btn-default dropdown custom-dropdown-price-meter">
											<a href="#" data-toggle="dropdown">
												<span class="select-label label-clear-price" style="display:inline;">
                          <%= "Price Range" unless params[:min_price_meter].present? || (params[:max_price_meter].present?) %>
                          <%= "Until"  if params[:min_price_meter].blank? && params[:max_price_meter].present? %>
													<i class="fa fa-angle-down pull-right"></i>
												</span>
												<span class="label-min-price" style="display: inline;">
                          <%= 'Rp. '+ number_to_human_indo(params[:min_price_meter]) if params[:min_price_meter].present? %>
                          <%= "-"  if params[:min_price_meter].present? && params[:max_price_meter].present? %>
												</span>
												<span class="label-max-price" style="display: inline;">
                          <%= 'Rp. '+ number_to_human_indo(params[:max_price_meter]) if params[:max_price_meter].present? %>
												</span>
											</a>
											<div class="dropdown-menu custom-input" role="form" aria-labelledby="dLabel">
												<div class="custom-input-container">
													<input type="text" maxlength="14" name="min_price_meter" class="form-control numbers minimum-price" placeholder="Min" value="<%= params[:min_price_meter] %>"> -
													<input type="text" maxlength="18" name="max_price_meter" class="form-control numbers maximum-price" placeholder="Max" value="<%= params[:min_price_meter] %>">
												</div>
												<div class="custom-input-suggestion" style="text-align: left;">
					            		<ul class="for-minimum-price" style="display: none;">
					            			<% Project::PRICEMETER_LIST.each_with_index do |price, index| %>
						        					<li><a id="<%= "min#{index}" %>" href="#"><%= "Rp. #{number_to_currency_no_unit(price)}" %></a></li>
					        					<% end %>
					        				</ul>
					            		<ul class="for-maximum-price" style="display: none;">
					            			<% Project::PRICEMETER_LIST.each_with_index do |price, index| %>
						        					<li><a id="<%= "max#{index}" %>" href="#"><%= "Rp. #{number_to_currency_no_unit(price)}" %></a></li>
					        					<% end %>
														<li><a id="max11" href="#">Other</a></li>
					            		</ul>
					            	</div>
											</div>
										</div>
									</div>
								</div>
								</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<h6>Min Possession Start</h6>
									<%= text_field_tag :min_possession_start, nil, class: 'datepicker form-control' %>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<h6>Max Possession Start</h6>
									<%= text_field_tag :max_possession_start, nil, class: 'datepicker form-control' %>
								</div>
							</div>
						</div>
						<div class="col-md-9">
							<br>
							<div class="line-through">
								<p><span>Facilities</span></p>
							</div>
							<div class="break"></div>
							<div class="facility-search" data-url="<%= get_facilities_xhrs_url %>">
				        <%= render partial: 'xhrs/facilities' if @facility_list.present? %>
					    </div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="break"></div>
					<div class="line-through"></div>
					<span class="pull-left click-search-more-form">
						Show all filters &nbsp; &nbsp; <span class="glyphicon glyphicon-menu-down"></span>
					</span>
					<% if params[:list].present? %>
						<button class="btn btn-success btn-search-new pull-right" name="search" type="submit" id="submit" value="do_search">
							<span class="glyphicon glyphicon-search"></span> Search Now
						</button>
					<% else %>
						<button class="btn btn-success btn-search-new pull-right" name="search" type="button" id="btn-submit" value="do_search">
							<span class="glyphicon glyphicon-search"></span> Search Now
						</button>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
