<% interiors = resource.try(:interiors) %>
<section class="interiors">
	<h5>FLOORINGS</h5>
	<div class="row">
		<% interiors.each do |interior| %>
			<% if interior.category == 'FLOORINGS' %>
				<div class="col-xs-6">
					<b><%= interior.title %>:</b> <%= interior.val %>
				</div>
			<% end %>
		<% end %>
	</div>
	<hr>

	<h5>FITTINGS</h5>
	<div class="row">
		<% interiors.each do |interior| %>
			<% if interior.category == 'FITTINGS' %>
				<div class="col-xs-6">
					<b><%= interior.title %>:</b> <%= interior.val %>
				</div>
			<% end %>
		<% end %>
	</div>
	<hr>

	<h5>WALLS</h5>
	<div class="row">
		<% interiors.each do |interior| %>
			<% if interior.category == 'WALLS' %>
				<div class="col-xs-6">
					<b><%= interior.title %>:</b> <%= interior.val %>
				</div>
			<% end %>
		<% end %>
	</div>
	<hr>
</section>
