<section class="section grey" id="section-locality">
	<div class="container">
		<div class="row">
			<div class="line-through">
				<p><span class="grey">Locality</span></p>
			</div>
			<div class="break"></div>
			<section class="section section-desc-white">
				<div class="desc">
					<h5>INSIGHTS</h5>
					<p><%= resource.insights.html_safe if resource.insights.present? %></p>
				</div>
			</section>
			<div class="col-md-12 gallery-card">
				<div class="row">
					<div class="col-md-8">
						<div class="gmap3" id="mapShowProperty" data-placeid="<%= resource.id %>" data-latitude="<%= resource.latitude %>" data-longitude="<%= resource.longitude %>" data-placename="<%= resource.title %>" data-price="<%= "#{number_to_currency_br(resource.price)} <small class='color-grey'>#{resource.status_price?}</small>".html_safe %>", data-typelocation="<%= resource.type_project %>" data-image="<%= resource.first_image(:small) %>" data-priceinmeter="<%= number_to_currency_br(resource.price_in_meter) %>">
						</div>
					</div>
					<div class="col-md-4">
						<%= render 'shareds/properties/panel_spec' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

