<div class="row">
	<div class="col-md-12">
		<section class="section-desc">
			<%= render 'shareds/projects/galleries_card', resource: resource %>
			<div class="break"></div>
			<div class="line-through" id="section-overview">
				<p><span class="grey">Overview</span></p>
			</div>
			<div class="listing-history-info">
				<i class="fa fa-eye"></i>&nbsp;
				<strong><%= @project.impressionist_count %></strong> people have seen this project
			</div>
			<hr>
			<div class="body-cont">
				<section class="utilities">
					<span class="entity">
						<span class="entity-left">
							<i class="fa fa-bookmark"></i>
						</span>
						<span class="entity-right">
							<span class="text">Construction</span>
							<br>
							<span class="value">
								<span><%= resource.construction %></span>
							</span>
						</span>
					</span>
					<span class="entity">
						<span class="entity-left">
							<i class="fa fa-tags"></i>
						</span>
						<span class="entity-right">
							<span class="text"><%= resource.status_price? %></span>
							<br>
							<span class="value">
								<span><%= number_to_currency_br(resource.price) %></span>
							</span>
						</span>
					</span>
					<span class="entity">
						<span class="entity-left">
							<i class="fa fa-building"></i>
						</span>
						<span class="entity-right">
							<span class="text">Project Size</span>
							<br>
							<span class="value">
								<span><%= resource.project_size %> Buildings</span>
							</span>
						</span>
					</span>
					<span class="entity">
						<span class="entity-left">
							<i class="fa fa-home"></i>
						</span>
						<span class="entity-right">
							<span class="text">Configurations</span>
							<br>
							<span class="value">
								<span>
									<%= resource.overviews.pluck(:title).to_sentence %>
								</span>
							</span>
						</span>
					</span>
					<span class="entity">
						<span class="entity-left">
							<i class="fa fa-calendar"></i>
						</span>
						<span class="entity-right">
							<span class="text">Possession Starts</span>
							<br>
							<span class="value">
								<span><%= resource.try(:possession_start).strftime("%B, %d, %Y") %></span>
							</span>
						</span>
					</span>
				</section>
			</div>
			<div class="break"></div>
			<div class="desc">
				<p><%= resource.try(:description).html_safe if resource.description.present? %></p>
			</div>
			<div class="body-cont">
				<div class="break"></div>
				<%= render 'shareds/projects/facilities', resource: resource %>
			</div>
		</section>
	</div>
</div>
