<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% contact = user.try(:contact) %>
<div class="col-md-4 contact-user-to-fixed">
	<center class="contact-user-font-section">
		<% if user %>
			<div class="line-through">
				<p><span>Contact Builder</span></p>
			</div>
			<div class="col-md-12">
				<%= link_to user_path(user) do %>
					<div class="user-image-cycle float-none margin-none">
						<%= image_tag "#{profile.try(:avatar).url(:small)}", class: 'host-profile-image' %>
					</div>
				<% end %>
			</div>
			<div class="break"></div>
			<%= link_to user_path(user) do %>
				<h4><%= profile.try(:full_name) %></h4>
			<% end %>
			<div class="text-muted small">
				<%= user.try(:type) %>
			</div>
			<span class="uppercase">
	      ID <%= user.try(:code) %>
	    </span>
	    <div class="phone">
	      <i class="fa fa-mobile"></i> <%= contact.try(:handphone) %>
	    </div>
	    <div class="text-muted color-blue small">
	      <%= user.verified? %>
	    </div>
			<div class="text-muted small">
				Since <%= resource.try(:created_at).strftime("%B, %d, %Y") %>
			</div>
			<br>
			<div class="line-through"></div>
			<div class="bottom">
				<%= form_for @inquiry, url: inquiries_path, method: 'post' do |f| %>
					<%= f.hidden_field :inquiriable_id, value: resource.id %>
					<%= f.hidden_field :inquiriable_type, value: resource.class %>
					<%= f.hidden_field :owner_id, value: resource.try(:user).try(:id) %>
					<%= render 'shareds/messages/form', f: f %>
				<% end %>
			</div>
		<% end %>
	</center>
	<div class="col-md-12 padding0">
		<div class="btn-group grid-controls-action-show-property">
			<button class="btn btn-default click-block-share-social">
				<i class="fa fa-share-alt"></i> Share
			</button>
			<button class="btn btn-default" data-toggle='modal' data-target="#modal-report">
				<i class="fa fa-flag-o"></i> Report
			</button>
		</div>
		<div class="block-share-social">
			<span class='st_sharethis_large' displayText='ShareThis'></span>
			<span class='st_facebook_large' displayText='Facebook'></span>
			<span class='st_twitter_large' displayText='Tweet'></span>
			<span class='st_pinterest_large' displayText='Pinterest'></span>
			<span class='st_email_large' displayText='Email'></span>
		</div>
	</div>
</div>

<%= render 'shareds/modal_report', resource: resource %>
