<%= link_to featureds_projects_path do %>
  <div class="top-label-side-fitured">
    <span class="fa fa-list-alt"></span>
    &nbsp;&nbsp;List Featured Projects
  </div>
<% end %>

<% @featureds.each do |resource| %>
  <% user = resource.try(:user) %>
  <% profile = user.try(:profile) %>
  <% address = resource.try(:address) %>
  <% cache ["properties_featured_side_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
      <div class="row">
        <div class="side-right-fitured">
          <div class="col-md-12">
            <div class="row">
              <div id="project-caousel-<%= resource.id %>" class="project-carousel-side carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% resource.try(:galleries).each_with_index do |resource, index| %>
                    <div class="item <%= 'active' if index == 0 %>">
                      <%= image_tag resource.try(:file).url(:large) %>
                    </div>
                  <% end %>
                </div>
                <a class="left carousel-control" href="#project-caousel-<%= resource.id %>" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#project-caousel-<%= resource.id %>" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="box-info-featured-wrapper">
                <div class="title">
                  <%= link_to resource.title, project_path(resource) %>
                </div>
                <hr class="hr-small">
                <div class="row">
                  <div class="col-xs-9">
                    <span class="price">
                      <%= number_to_currency_br(resource.price) if resource.price.present? %>
                    </span>
                    <small class='color-grey'><%= resource.status_price? %></small>
                    <% unless resource.type_project == 'House' %>
                      |
                      <span class="price-sq">
                        <%= raw "#{number_to_currency_br(resource.price_in_meter)} <small class='color-grey'> per sq m</small>" %>
                      </span>
                    <% end %>
                  </div>
                  <div class="col-xs-3 padding-left0">
                    <div class="pull-right color-green">
                      <small class="box-sub-info">
                        <span class="fa fa-area-chart"></span>
                        <span class="name"><%= resource.try(:construction) %></span>
                      </small>
                    </div>
                  </div>
                </div>
                <div class="more-info">
                  <div>
                    <span class="label-info">Flat Id : </span> <span class="uppercase"><%= resource.try(:code) %></span>
                  </div>
                  <div>
                    <span class="label-info">Property : </span> <span><%= resource.try(:type_project) %></span> &nbsp;
                    <span class="label-info">Project Size : </span> 
                    <span><%= resource.try(:project_size).to_s + ' Buildings' if resource.project_size.present? %></span>
                  </div>
                  <div>
                    <span class="label-info">Configurations : </span> <span><%= resource.overviews.pluck(:title).to_sentence %></span>
                  </div>
                </div>
                <div class="box-location">
                  <div class="box-sub-info">
                    <span class="fa fa-map-marker"></span>
                    <span class="name">
                      <%= address.try(:city) %>
                    </span>
                  </div>
                </div>
                <%= link_to user_path(user), class: "full-width btn btn-outlined btn-red-light btn-sm" do %>
                  <i class="fa fa-user"></i>
                  <%= profile.full_name %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
