<div class="top-label-side-fitured">
  <span class="fa fa-list-alt"></span>
  &nbsp;&nbsp;Latest Projects
</div>

<% @latest_projects.each do |resource| %>
  <% user = resource.try(:user) %>
  <% profile = user.try(:profile) %>
  <% address = resource.try(:address) %>
  <% cache ["projects_latest_side_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
      <div class="row">
        <div class="side-right-fitured">
          <div class="col-md-4">
            <div class="row c-cover-project">
              <div class="box-img">
                <%= image_tag "#{resource.try(:galleries).try(:first).try(:file).url(:small)}", class: 'img-responsive' %>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="box-info-featured-wrapper">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="title">
                      <%= link_to resource.title, project_path(resource) %>
                    </div>
                    <hr class="hr-small">
                    <span class="price">
                      <%= number_to_currency_br(resource.price) if resource.price.present? %>
                    </span>
                    <small class='color-grey'><%= resource.status_price? %></small><br>
                    <% unless resource.type_project == 'House' %>
                      <span class="price-sq">
                        <%= raw "#{number_to_currency_br(resource.price_in_meter)} <small class='color-grey'> per sq m</small>" %>
                      </span>
                    <% end %>
                    <div class="box-location margin-top2">
                      <div class="pull-left">
                        <div class="box-sub-info">
                          <span class="fa fa-map-marker"></span>
                          <span class="name">
                            <%= address.try(:city) %>
                          </span>
                        </div>
                      </div>
                      <div class="pull-right color-green">
                        <div class="box-sub-info">
                          <span class="fa fa-area-chart"></span>
                          <span class="name">&nbsp;<%= resource.try(:construction) %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
