<% if current_user && @user.can_rate?(current_user, 'happiness') %>
  <div class="break"></div>
  <div class="row section-comments-group ">
    <%= form_for :rate, url: reviews_user_path(@user), id: 'rate-user' do |f| %>
      <%= f.hidden_field :klass %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :score %>
      <%= f.hidden_field :dimension %>
      <div class="col-sm-3">
        <center>
          <div class="user-image-cycle float-none margin-none">
            <%= image_tag current_user.profile.avatar(:thumb), class: 'host-profile-image' %>
          </div>
          <span class="text-muted"><%= current_user.profile.full_name %></span>
        </center>
      </div>
      <div class="col-sm-9">
        <div class="form-group">
          <%= rating_for @user, "happiness", :enable_half => true %>
        </div>
        <div class="form-group">
          <%= f.text_area :review, class: 'form-control', rows: 2 %>
        </div>
        <%= f.submit :submit, class: 'btn btn-info', value: "Rate!" %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="line-through">
      <% default_rating = imdb_style_rating(@user, 'happiness') %>
      <p>
        <span class="grey"><%= raw "#{@reviews.count} Reviews" %></span>
        <center><%= default_rating if @reviews.present? %></center>
      </p>
    </div>
    <div class="col-md-12">
      <section class="section">
        <% @reviews.each do |rate| %>
          <div class="row section-comments-group">
            <div class="col-sm-3">
              <center>
                <div class="user-image-cycle float-none margin-none">
                  <%= image_tag rate.rater.profile.avatar(:thumb), class: 'host-profile-image' %>
                </div>
                <span class="text-muted"><%= rate.rater.profile.full_name %></span>
              </center>
            </div>
            <div class="col-sm-9">
              <% if rate.rater == current_user %>
                <div class="pull-right"><%= link_to 'Delete', delete_rate_user_path(id: params[:id], rate_id: rate.id), method: :delete, data: {confirm: 'Are You Sure To Delete This Rate'} %></div>
              <% end %>
              <div><%= rating_user(rate.score) %></div>
              <p class="p-message-content"><%= rate.review %></p>
              <% address = "#{rate.rater.address.city}" %>
              <small class="text-muted"><%= "Created #{rate.created_at.strftime('%d %b %Y')}, From #{address}" %></small>
              <hr>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
