<% @user %>
<% @agent_info = @user.try(:agent_info) %>

<div class="row">
  <div class="col-xs-12">
    <strong>About Company</strong>
  </div>
</div>
<hr>
<section class="section section-desc-white">
  <div class="row">
    <div class="col-md-2">
      <div class="img-builder-center-show">
        <div class="user-image-cycle float-none margin-none">
          <%= image_tag @agent_info.try(:company_logo).url(:medium), class: 'host-profile-image' %>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="name-builder-center-show">
        <h4><%= @agent_info.try(:name_company) %></h4>
        <div class="builder-details row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="text-uppercase">Website </div>
            <div class="value">
              <a href="<%= @agent_info.try(:company_web) %>">
                <%= @agent_info.try(:company_web) %>
              </a>
            </div>
          </div>
        </div>
        <div class="break"></div>
      </div>
    </div>
  </div>
</section>