<div class="row">
  <div class="col-xs-12">
    <b>Total Advertisements (<%= @properties.count %>)</b>
    <hr>
  </div>
</div>

<% @lists.each_with_index do |resource, index| %>
  <% if @user.developer? %>
    <%= render 'projects/project', resource: resource %>
  <% elsif resource.is_category_auction? %>
    <%= render 'auction_properties', resource: resource %>
  <% else %>
    <%= render 'properties', resource: resource %>
  <% end %>
<% end %>

<%= paginate @lists %>
