<script type="text/javascript">
	$(function(){
		var map;
		var locationStart;
		var geocoder;
		var bounds = new google.maps.LatLngBounds();
		var markersArray = [];
		var destinationIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=D|FF0000|000000';
		var originIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=O|FFFF00|000000';

		function initialize(type, place) {
			var locationStart = new google.maps.LatLng(place[1].A, place[1].F);
			var locations = <%= raw @assets %>

			map = new google.maps.Map(document.getElementById('map1'), {
		    zoom: 14,
		    center: locationStart
		  });

		  marker = new google.maps.Marker({
		  	position: locationStart,
		    map: map,
		    icon: "http://maps.google.com/mapfiles/marker_green.png"
		  })

			geocoder = new google.maps.Geocoder();

		 	infowindow = new google.maps.InfoWindow();
		  var destinationA = [];
		  var type = type;

		  locations.forEach(function(location,i){
		  	if(locations[i][3] == type){
		  		destinationA.push([locations[i][0], new google.maps.LatLng(locations[i][1], locations[i][2]), locations[i][3]]);
		  	}
		  });

		  calculateDistances(locationStart, destinationA, type, place[0]);

		  google.maps.event.addListener(marker, 'mouseover', function() {
		    infowindow.setContent("<span style='text-transform:uppercase'>Baros Property Residence</span>" + "<br><h4>Rp.2.900.000.000</h4>");
		    infowindow.open(map, this);
		  });
		  // assuming you also want to hide the infowindow when user mouses-out
      google.maps.event.addListener(marker, 'mouseout', function() {
        infowindow.close();
      });
		}

		function calculateDistances(origin1, destinationA, type, place_name) {
			var longlatDestinations = []
			var typeDestinations = []

			destinationA.forEach(function(desA, i){
				longlatDestinations.push(desA[1]);
				typeDestinations.push(desA[2]);
			});

			typeDestinations = arrayUnique(typeDestinations);

		  var service = new google.maps.DistanceMatrixService();
		  service.getDistanceMatrix(
		    {
		      origins: [origin1],
		      destinations: longlatDestinations,
		      travelMode: google.maps.TravelMode.DRIVING,
		      unitSystem: google.maps.UnitSystem.METRIC,
		      avoidHighways: false,
		      avoidTolls: false
		    }, function(response, status) { callback(response, status, destinationA, type, place_name) });
		}

		function callback(response, status, result_destination, type, place_name) {
		  if (status != google.maps.DistanceMatrixStatus.OK) {
		    alert('Error was: ' + status);
		  } else {
		    var origins = response.originAddresses;
		    var destinations = response.destinationAddresses;
		    var results = response.rows[0].elements;
		    var outputDivType = document.getElementsByClassName('outputDivType_'+ type)[0];
		    var title = document.getElementsByClassName('outputTitle')[0];

		    title.innerHTML = place_name
		    outputDivType.innerHTML = '';
		    outputDivType.innerHTML += '<div class="section-spec"><h4>'
		  			+ type + '</h4><ul class="ul-spec ul-spec-detail_' + type + '">'
		  			+ '</ul></div>';

	  		var outputDiv = document.getElementsByClassName('ul-spec-detail_'+ type)[0];
	 			outputDiv.innerHTML = '';
	 			for (var j = 0; j < result_destination.length; j++) {
		      createMarker(result_destination[j]);
		      if(result_destination[j][2] == type){
		        outputDiv.innerHTML += '<li class="data">'
		        		+ '<span class="pull-left">' + result_destination[j][0] + '</span>'
		        		+ '<span class="pull-right">' + results[j].distance.text + ' in ' + results[j].duration.text + '</span>'
		            + '</li>';
		      }
		    }

		  }
		}

		function createMarker(place) {
			var placeName = place[0];
		  var placeLoc = place[1];
		  var marker = new google.maps.Marker({
		    map: map,
		    position: placeLoc,
		    icon: {
		      path: 'M 0,-24 6,-7 24,-7 10,4 15,21 0,11 -15,21 -10,4 -24,-7 -6,-7 z',
		      fillColor: '#ffff00',
		      fillOpacity: 1,
		      scale: 1/4,
		      strokeColor: '#bd8d2c',
		      strokeWeight: 1
		    }
		  });

		  google.maps.event.addListener(marker, 'mouseover', function() {
		    infowindow.setContent(placeName);
		    infowindow.open(map, this);
		  });
		  // assuming you also want to hide the infowindow when user mouses-out
      google.maps.event.addListener(marker, 'mouseout', function() {
        infowindow.close();
      });
		}

		function deleteOverlays() {
		  for (var i = 0; i < markersArray.length; i++) {
		    markersArray[i].setMap(null);
		  }
		  markersArray = [];
		}

		function flatten(arr) {
		  return arr.reduce(function (flat, toFlatten) {
		    return flat.concat(Array.isArray(toFlatten) ? flatten(toFlatten) : toFlatten);
		  }, []);
		}

		function arrayUnique(array) {
	    var a = array.concat();
	    for(var i=0; i<a.length; ++i) {
        for(var j=i+1; j<a.length; ++j) {
           if(a[i] === a[j])
           		a.splice(j--, 1);
        }
	    }

	    return a;
		};

		places = <%= raw @types %>

	  $('.ul-list-property li').click(function(){
	    var getWidth = $('.round-property').width();
	    var width = getWidth + 15;
	    $('.show-property-pop').css('right', -width);

	    var effect = 'slide';
	    var options = { direction: 'right' };
	    var duration = 700;
	    $('.show-property-pop').show(effect, options, duration);

	    for (var i = 0; i <= places.length-1; i++) {
	      google.maps.event.addDomListener(window, 'load', initialize(places[i]));
	    };
	  });


	  // default map
	  function initialized() {
	    locationStart = {lat: -6.189195348130978, lng: 106.82976722717285}
			var locations = <%= raw @properties %>
			var destinations = []
	    map = new google.maps.Map(document.getElementById('map1'), {
	      zoom: 14,
	      center: locationStart
	    });
	    marker = new google.maps.Marker({
	      map: map
	    });
		  locations.forEach(function(location,i){
		    destinations.push([locations[i][0], new google.maps.LatLng(locations[i][1], locations[i][2]), locations[i][3]]);
			});
			destinations.forEach(function(dest,i){
				createMarker_def(dest);
			})
	  }

	  $('.btn-close').click(function(){
	  	var effect = 'slide';
	    var options = { direction: 'right' };
	    var duration = 700;
	  	$('.show-property-pop').hide(effect, options, duration);
	  	google.maps.event.addDomListener(window, 'load', initialized);
	  	initialized();
	  });

	  google.maps.event.addDomListener(window, 'load', initialized);

		function createMarker_def(place) {
		  placeLoc = place[1];
			var placeName = place[0];
		  var marker = new google.maps.Marker({
		    map: map,
		    position: placeLoc,
		    icon: "http://maps.google.com/mapfiles/marker_green.png"
		  });
		 	infowindow = new google.maps.InfoWindow();
		  google.maps.event.addListener(marker, 'mouseover', function() {
		    infowindow.setContent("<span style='text-transform:uppercase'>" + placeName + "</span>" + "<br><h4>Rp.2.900.000.000</h4>");
		    infowindow.open(map, this);
	    });
	    // assuming you also want to hide the infowindow when user mouses-out
      google.maps.event.addListener(marker, 'mouseout', function() {
        infowindow.close();
      });
		  google.maps.event.addListener(marker, 'click', function() {
		    var getWidth = $('.round-property').width();
		    var width = getWidth + 15;
		    $('.show-property-pop').css('left', -width);

		    var effect = 'slide';
		    var options = { direction: 'right' };
		    var duration = 700;
		    $('.show-property-pop').show(effect, options, duration);
		    for (var i = 0; i <= places.length-1; i++) {
		      google.maps.event.addDomListener(window, 'load', initialize(places[i], place));
		    };
		  });
		}

	});

</script>
