<%= f.fields_for :profile do |profile| %>
  <%= f.fields_for :address do |address| %>
    <%= f.fields_for :contact do |contact| %>
      <%= f.fields_for :agent_info do |agent_info| %>
      	<div class="user-form panel-group panel-route" id="accordion">
  	      <%= render partial: 'userpage/users/form_user', locals: {f: f, profile: profile} %>
          <%= render partial: 'userpage/users/form_agent_info', locals: {agent_info: agent_info} %>
  	      <%= render partial: 'userpage/users/form_address', locals: {address: address} %>
  	      <%= render partial: 'userpage/users/form_contact', locals: {contact: contact} %>
  	    </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
