<div class="basic-form basic-form-office">
  <h4>Basic Office</h4>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <h6>Document</h6>
        <%= basic.select :document, Document.to_a, {prompt: 'Select'}, {class: 'form-control', required: true} %>
      </div>
      <div class="form-group">
        <h6>Building Area in (m<sup>2</sup>)</h6>
        <%= basic.number_field :building_area, class: 'form-control', placeholder: 'ex. 1000', required: true %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <h6>Year Built</h6>
        <%= basic.select :age, options_for_select((1950..Time.now.year).to_a, basic.object.age), {prompt: 'Select Year'}, {class: 'form-control select2', placeholder: 'ex. 2015', required: true} %>
      </div>
      <div class="form-group">
        <h6>Electricity</h6>
        <%= basic.text_field :electricity, class: 'form-control', placeholder: 'ex. 300 watt', required: true %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <h6>Lines Phone</h6>
        <%= basic.number_field :phone_lines, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <h6>Entrance Facing</h6>
        <%= basic.select :facing, Facing.to_a, {prompt: 'Select'}, {class: 'form-control', required: true} %>
      </div>
    </div>
  </div>
</div>
