<div class="basic-form basic-form-apartment">
  <h4>Basic Apartment</h4>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <h6>Document</h6>
        <%= basic.select :document, Document.to_a, {prompt: 'Select'}, {class: 'form-control', required: true} %>
      </div>
      <div class="form-group">
        <h6>Building Area in (m<sup>2</sup>)</h6>
        <%= basic.number_field :building_area, class: 'form-control', placeholder: 'ex. 1000', required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h6>Entrance Facing</h6>
        <%= basic.select :facing, Facing.to_a, {prompt: 'Select'}, {class: 'form-control', required: true} %>
      </div>
      <div class="form-group">
        <h6>Lines Phone</h6>
        <%= basic.number_field :phone_lines, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h6>Bedrooms</h6>
        <%= basic.number_field :bedrooms, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <h6>Bathrooms</h6>
        <%= basic.number_field :bathrooms, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <h6>Parking</h6>
        <%= basic.number_field :parking, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <h6>Floor</h6>
        <%= basic.number_field :floor, class: 'form-control', required: true %>
      </div>
    </div>
  </div>
</div>
