<div class="setup-content" id="step-1">
	<%= render 'properties/step_one', f: f %>
</div>
<div class="setup-content" id="step-2">
	<%= render 'properties/step_two', f: f %>
</div>
<div class="setup-content" id="step-3">
	<%= render 'properties/step_three', f: f %>
</div>
<div class="setup-content" id="step-4">
	<%= render 'properties/step_four', f: f %>
</div>
