<% if @featureds.present? %>
  <div class="col-md-12">
    <div class="line-through">
      <p class="featured"><span class="grey"><%= link_to 'FEATURED PROPERTIES', featureds_properties_path %></span></p>
    </div>
  </div>
  <div class="break"></div>
  <section class="group-partner">
    <div class="container">
      <div id="media-feat-properties" class="carousel carousel_featured_properties slide media-carousel-feature-property" data-ride="carousel">
        <div class="carousel-inner">
          <%= render 'shareds/properties/slider_featured_properties' %>
        </div>
        <a data-slide="prev" href="#media-feat-properties" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media-feat-properties" class="right carousel-control">›</a>
      </div>
    </div>
  </section>
<% end %>

<div class="col-md-12">
  <div class="line-through">
    <p>
      <span class="grey uppercase">
        <%= @properties_count %> PROPERTIES FOR <%= params[:category] || 'AVAILABLE' %>
      </span>
    </p>
  </div>
</div>
<div class="break"></div>
<section>
  <%= '<div class="break"></div><h5 align="center">No data found on this page!</h5>'.html_safe unless @properties.present? %>
  <%= render 'shareds/properties/top_listing_properties' if @top_properties.present? %>
  <% @properties.each do |resource| %>
    <% cache ["properties_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="listing-project-wrapper listing-property-wrapper active">
          <div class="row">
            <%= render 'product', resource: resource %>
          </div>
        </div>
      </div>
      <%= render 'shareds/modal_agent', resource: resource %>
    <% end %>
  <% end if @properties.present? %>
</section>
<div class="col-md-12">
  <div class="bs-example" data-example-id="disabled-active-pagination">
    <nav>
      <%= paginate @properties, remote:true %>
    </nav>
  </div>
</div>
