<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% address = resource.try(:address) %>
<% basic = resource.try(:basic_property) %>
<div class="col-xs-12">
  <div class="title">
    <div class="row">
      <div class="col-xs-10">
        <%= link_to resource.title, property_path(resource) %>
      </div>
      <div class="col-xs-2">
        <div class="box-feature-category">
          <div>
            <i class="fa fa-bookmark-o"></i>
            <span>Property</span>
          </div>
          <div class="description">
            <%= resource.try(:type_property) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-5">
  <div class="cover-gall-property">
    <% if resource.label_tag.present? %>
      <label class="label <%= downcase_uderscore(resource.label_tag) %>"><%= resource.label_tag %></label>
    <% end %>
    <%= image_tag "#{resource.try(:galleries).try(:first).try(:file).url(:small)}", class: 'image-lg-property-new' %>
    <!-- <div class="avatar">
      <%#= image_tag "#{profile.try(:avatar).url(:small)}", 'data-toggle' => 'modal', 'data-target' => "#modal-agent-#{resource.id}" if profile %>
    </div> -->
    <div class="section-whistlist pull-left">
      <% if current_user.present? %>
        <span class="status-whistlist">
          <%= checking_wishlist(resource.id, current_user.id, wishlist_properties_url(resource.id)).html_safe %>
        </span>
      <% else %>
        <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm"><i class="fa fa-heart-o set"></i></a>
      <% end %>
    </div>
    <label class="count-galleries">
      <i class="fa fa-photo"></i> <%= resource.galleries.available.count if resource.galleries.present? %>
    </label>
  </div>
</div>

<div class="col-md-7">
  <div class="row">
    <div class="box-feature-properties">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="info-global-project">
          <div class="pull-left">
            <span class="price">
              <%= raw number_to_currency_br(resource.the_price?) + resource.the_price_status? %>
            </span>
            <% if resource.category == 'Sell' && (resource.type_property == 'Apartment' || resource.type_property == 'Office' || resource.type_property == 'House') %>
              |
              <span class="price-sq">
                <%= raw "#{number_to_currency_br(resource.price_per_meter)} <small class='color-grey'> per sq m</small>" %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="feature-list">
          <small>
            <span class="label-feature">Flat Id:</span>
            <%= resource.try(:code) %>
            <div>
              <% unless resource.type_property == 'Office' || resource.type_property == 'Apartment' %>
                <span class="label-feature">Land Area:</span>&nbsp;
                <b><%= basic.try(:surface_area) || '--' %>m<sup>2</sup></b> &nbsp;
              <% end %>
              <% unless resource.type_property == 'Land'%>
                <span class="label-feature">Building Area:</span>&nbsp;
                <b><%= basic.try(:building_area) || '--' %>m<sup>2</sup></b>
              <% end %>
            </div>
            <div>
              <% if resource.type_property == 'House' || resource.type_property == 'Apartment' || resource.type_property == 'Ruko' %>
                <span class="label-feature">Bathrooms:</span>&nbsp;
                <b><%= basic.try(:bathrooms) || '--' %></b> &nbsp;
              <% end %>
              <% if resource.type_property == 'House' || resource.type_property == 'Apartment' %>
                <span class="label-feature">Bedrooms:</span>&nbsp;
                <b><%= basic.try(:bedrooms) || '--' %></b>
              <% end %>
            </div>
            <span class="label-feature">Latest Updated:</span>
            <%= resource.try(:updated_at).strftime("%b, %d, %Y") if resource.created_at.present? %>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <hr>
  <div class="row">
    <div class="col-lg-9 col-md- 9 col-sm- 9 col-xs-12 desc-prop-bottom">
      <small class="desc-prop-bottom color-grey">
        <span class="fa fa-map-marker"></span> <%= address.try(:city) %>, <%= address.try(:province) %>&nbsp; |
        <strong><%= resource.impressionist_count %></strong> people have seen
      </small>
    </div>
    <div class="col-lg-3 col-md- 3 col-sm- 3 col-xs-12">
      <div class="pull-right position-center btn btn-outlined btn-purple-light btn-xs" data-toggle='modal' data-target="#modal-agent-<%= resource.id %>">
        <i class="fa fa-phone"></i> Contact <%= user.try(:type) %>
      </div>
    </div>
  </div>
</div>