<div class="col-md-12">
  <div class="line-through">
    <p><span class="grey">AUCTION PROPERTIES</span></p>
  </div>
</div>
<div class="break"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <% @properties.each_with_index do |resource, index| %>
        <% user = resource.try(:user) %>
        <% profile = user.try(:profile) %>
        <% address = resource.try(:address) %>
        <% basic = resource.try(:basic_property) %>
        <% expired_date = resource.auction.end_auction.strftime("%B, %d, %Y") if resource.auction.end_auction.present? %>
        <% cache ["auction_properties_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
          <div class="listing-auction-wrapper" data-expired="<%= expired_date %>">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="row">
                <div class="box-image-auction-list">
                  <% if resource.label_tag.present? %>
                    <label class="label <%= downcase_uderscore(resource.label_tag) %>"><%= resource.label_tag %></label>
                  <% end %>
                  <%= image_tag "#{resource.try(:galleries).try(:first).try(:file).url(:small)}", class: 'img-responsive' %>
                  <div class="overlay-count-image">
                    <i class="fa fa-image"></i>
                    <%= resource.galleries.available.size if resource.galleries.present? %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <div class="box-desc-auction-list">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="box-zero-desc-auction">
                      <div class="title-auction-list">
                        <%= link_to property_path(resource) do %>
                          <%= resource.type_property %>: <%= resource.title %>,
                        <% end %>
                        <span class="uppercase">FLAT ID <%= resource.try(:code) %></span>
                      </div>
                      <div class="icon-auction-list">
                        <i class="fa fa-eye"></i> <%= resource.impressionist_count %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <div class="row">
                    <div class="box-one-desc-auction">
                      <div class="label-certificate">
                        <div class="label label-default">
                          <%= basic.try(:document) %>
                        </div>
                      </div>
                      <div class="count-size-room">
                        <ul>
                          <li>
                            <span><%= basic.try(:bedrooms) || 0 %></span>
                            <p>Beds</p>
                          </li>
                          <li>
                            |
                          </li>
                          <li>
                            <span><%= basic.try(:bathrooms) || 0 %></span>
                            <p>Baths</p>
                          </li>
                        </ul>
                      </div>
                      <div class="desc-bottom">
                      </div>
                    </div>
                    <div class="box-two-desc-auction">
                      <% if basic.surface_area.present? %>
                        <div class="size-area">
                          Land Area : <span><%= basic.try(:surface_area) || 0 %>m<sup>2</sup></span>
                        </div>
                      <% end %>
                      <% if basic.building_area.present? %>
                        <div class="size-area">
                          Building Area : <span><%= basic.try(:building_area) || 0 %>m<sup>2</sup></span>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                  <div class="row">
                    <div class="box-three-desc-auction">
                      <div class="title-timer">Countdown Timer</div>
                      <ul class="countdown">
                        <li> <span class="days">00</span>
                          <p class="days_ref">DAYS</p>
                        </li>
                        <li class="seperator">:</li>
                        <li> <span class="hours">00</span>
                          <p class="hours_ref">HRS</p>
                        </li>
                        <li class="seperator">:</li>
                        <li> <span class="minutes">00</span>
                          <p class="minutes_ref">MINS</p>
                        </li>
                        <li class="seperator">:</li>
                        <li> <span class="seconds">00</span>
                          <p class="seconds_ref">SEC</p>
                        </li>
                      </ul>
                      <div class="desc-bottom-timer">
                        <div class="desc-time-left">Reserver Mit : <span><%= resource.try(:auction).try(:reserve_met) %></span></div>
                        <div class="desc-time-right"><%= resource.try(:bid_auctions).size %> Bid</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="row">
                    <div class="box-for-desc-auction">
                      <div class="title-price-auction">
                        Starting Price
                      </div>
                      <div class="price-auction">
                        <%= number_to_currency_br(resource.auction.starting_bid) %>
                      </div>
                      <div class="button-detail-auction-list">
                        <%= link_to property_path(resource) do %>
                          <div class="btn btn-outlined btn-blue-light btn-sm">
                            <span class="fa fa-search"></span>
                            View Detail
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="bs-example" data-example-id="disabled-active-pagination">
    <nav>
      <%= paginate @properties, remote:true %>
    </nav>
  </div>
</div>
