<div class="col-md-12">
  <h3 align="center">Details & Type</h3>
  <% @types.each do |key, value| %>
    <div class="col-md-4 checked-error">
      <div class="well form-group">
        <center>
          <h4><%= key %></h4>
          <p><%= f.radio_button :category, key, required: true, class: 'categories_select', 'data-node' => "property" %></p>
        </center>
      </div>
    </div>
  <% end %>
  <div class="col-md-4">
    <div class="form-group">
      <h6>Type</h6>
      <% type_properties = f.object.type_property ? PropertyType.find_by(name: f.object.category).try(:children).pluck('name') || [] : PropertyType.none rescue [] %>
      <div class="category-container">
        <%= f.select :type_property, options_for_select(type_properties, f.object.type_property), {prompt: 'Select Type'}, class: 'select2 form-control type_properties_select', required: true %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <h6>Title</h6>
      <%= f.text_field :title, class: 'form-control', required: true, maxlength: 50 %>
    </div>
  </div>
  <div class="section-price-form">
    <div class="col-md-4 price-sell">
      <div class="form-group">
        <h6>Price</h6>
        <%= f.text_field :price, class: 'form-control', placeholder: 'ex. 10000000', required: true, data: {autonumeric: true} %>
      </div>
    </div>
    <% if current_user.present? %>
      <% select_options = current_user.label_packages %>
      <% if select_options.present? %>
        <div class="col-md-4">
          <div class="form-group">
            <h6>Label</h6>
            <%= f.select :label_tag, select_options, { prompt: 'Select Label' }, class: 'form-control' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="section-auction-form">
    <div class="auction-form">
      <%= f.fields_for :auction do |auction| %>
        <%= render partial: 'properties/form_auction', locals: {f: auction} %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="section-basic-form">
      <%= f.fields_for :basic_property do |basic| %>
        <%= render partial: 'properties/form_basic', locals: {f: f, basic: basic} %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-outlined btn-purple-light nextBtn btn-lg pull-right" type="button" >Next</button>
  </div>
</div>
