<div class="col-md-12">
	<h3 align="center">Photos & Facilities</h3>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<h4>Galleries Property</h4>
				<hr>
				<ul class="choice-gallery-form">
					<%= f.fields_for :galleries do |g| %>
		        <%= render 'properties/gallery_fields', f: g %>
		      <% end %>
				</ul>
			</div>
		</div>
		<div class="break"></div>
		<div class="row">
			<div class="col-xs-12">
				<h4>Facilities</h4>
				<hr>
				<div class="facility" data-url="<%= get_societies_url%>">
		      <% @facilities.each_with_index do |s| %>
		        <% if @property.present? %>
		          <%= render partial: 'properties/facility_fields', locals: {s: s} %>
		        <% else %>
		          <%= render partial: 'properties/facility_fields_new', locals: {s: s} %>
		        <% end %>
		      <% end %>
		    </div>
		    <div class="break"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="break"></div>
		<button class="btn btn-outlined btn-purple-light nextBtn btn-lg pull-right" id="nextBtnLoc" type="button" >Next</button>
	</div>
</div>
