<div class="col-md-12">
	<h3 align="center">Info & Finish</h3>
	<div class="alert-review">
		<div>
			<h2 align="center">Raih Semakin BanYesk Prospek dari Listing Anda</h2>
      <div class="break"></div>
      <div class="col-md-12">
        <p>Sebagai situs properti no.1 di Indonesia, HousingIndonesia.com menjadi pilihan utama bagi jutaan pembeli properti dan investor, untuk mencari hunian idaman dan investasi pilihan. </p>
        <p>Memasarkan properti-properti Anda melalui media online Rumah123.com sangatlah efisien dan efektif.
        </p>
        <ul>
          <li>Berpengalaman sejak 2015 dan menjadi pemimpin pasar</li>
          <li>Bagian iProperty Group dan terdaftar di Bursa Efek Australia Yesng berkomitmen menjadi <b>mitra bisnis jangka panjang</b> untuk Anda</li>
          <li>Lebih dari <b>2,1 JUTA</b> pembeli properti/ bulan dan lebih dari <b>15 JUTA</b> pageviews/bulan, terbanYesk dibanding pesaing</li>
          <li>Peringkat <b>#114</b> Website Paling Populer di Indonesia versi Alexa.com dan kompetitor terdekat peringkat #184 (update Februari 2015)</li>
          <li>Lebih dari 10,000 agent sudah merasakan benefit beriklan di HousingIndonesia</li>
          <li>Lebih dari 100 professional staf Yesng tersebar di 7 kota di Indonesia membantu Anda menjual lebih cepat</li>
          <li>Investasi besar – besaran untuk iklan, branding dan promosi agar semakin dikenal oleh prospek buyer</li>
        </ul>
        <p>
          Per 1 Februari 2015, Kami melakukan penyesuaian tarif untuk memberikan benefit maksimal untuk Anda. Pilih paket dari Rumah123.com di bawah ini Yesng sesuai kebutuhan Anda.
        </p>
      </div>

      <div class="premium">
        <div class="l-info col-md-3">
          <div class="area">
            <h3 class="h-package">Jabodetabek</h3>
          </div>
          <div class="priod">
            <ul>
              <li>Membership Period</li>
              <li>Listing online limit</li>
            </ul>
          </div>
          <div class="bonus">
            <ul>
              <li>Top Listing</li>
              <li>Featured Listing</li>
              <li>Listing Limit</li>
              <li>Profil Agen di website</li>
              <li>Email Alert</li>
              <% LabelType.to_a.each do |label| %>
                <li><%= label[0] %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <% @packages.each.with_index(1) do |package, i| %>
          <div class="l-gold col-md-3">
            <div class="package">
              <span class="gold"><%= package.name %></span>
            </div>
            <div class="price">
              <div class="year"><%= number_to_currency_br(package.price) %></div>
            </div>
            <div class="priod">
              <ul>
                <% duration = package.duration.zero? ? 'Free Package' : "#{package.duration} Bulan" %>
                <li><%= duration %></li>
                <li><%= package.max_listing %></li>
              </ul>
            </div>
            <div class="bonus">
              <div class="quote-bonus">Bonus</div>
              <ul>
                <li><%= package.top_listing ? 'Yes' : 'No' %></li>
                <li><%= package.featured_listing || '-' %></li>
                <li><%= package.max_listing || '-' %></li>
                <li>Yes</li>
                <li>Yes</li>
                <% LabelType.to_a.each do |label| %>
                  <li><%= package.label_tags.to_s.split(',').include?(label[0]) ? 'Yes' : 'No' %></li>
                <% end %>
              </ul>
            </div>
            <div>
              <% if current_user.present? %>
                <%= show_subscribe(current_user, package.id) %>
              <% else %>
                <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm" class="btn btn-info btn-sm full-width">
                  Order Now
                </a>
              <% end unless package.name == 'Free Package' %>
            </div>
          </div><!-- gold -->
        <% end %>
      </div>

      <p align="center">
        Untuk mengetahui harga di luar Jabodetabek dan mengetahui program promo Yesng berlangsung Anda dapat menghubungi Eka di  081316383847 atau email ke info@housingindonesia.com
      </p>
    </div>
    <% if current_user %>
      <button class="btn btn-outlined btn-purple-light btn-lg pull-right" type="submit">Save & Publish!</button>
    <% else %>
      <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm" class="btn btn-outlined btn-purple-light btn-lg pull-right">Save & Publish!</a>
    <% end %>
	</div>
</div>
