<div class="col-md-12">
	<h3 align="center">Address & Location</h3>
	<div class="col-xs-12">
		<%= f.fields_for :address do |address| %>
		  <%= render partial: 'properties/form_address', locals: {address: address} %>
		<% end %>
	</div>
	<div class="col-xs-12">
		<div class="break"></div>
		<button class="btn btn-outlined btn-purple-light nextBtn btn-lg pull-right" type="button" >Next</button>
	</div>
</div>
