<% if params[:category] == 'Auction Property' %>
  $("#property-container").html("<%= escape_javascript(render("product_auctions")) %>");
<% else %>
  $("#property-container").html("<%= escape_javascript(render("product_list")) %>");
<% end %>