<section class="section grey">
	<div id="loading" class="hide"><%= image_tag 'loader.gif' %></div>
	<div class="container">
		<div class="row">
			<%= render 'shareds/properties/sort_order' %>
      <div id="property-container">
      	<% if params[:category] == 'Auction Property' %>
      		<%= render 'product_auctions' %>
      	<% else %>
					<%= render 'product_list'%>
				<% end %>
			</div>
		</div>
	</div>
</section>
