<section class="section-dinamic-map">
	<div class="main-dinamic">
		<div class="round-map">
			<section id="map1" class="gmap3-dinamic"></section>
			<div class="show-property-pop" id="container-property"></div>
		</div>
		<div class="section-list-side-property">
			<div class="box-sort-order">
				<%= render 'shareds/properties/sort_order_map' %>
			</div>
			<div class="list-side-property">
				<ul class="ul-list-property">
				  <%= render 'shareds/properties/top_listing_properties_map', top_properties: @top_properties.take(2) if @top_properties.present? %>
					<% @list_properties.each_with_index do |resource, i| %>
						<% user = resource.try(:user) %>
						<% profile = user.try(:profile) %>
						<% address = resource.try(:address) %>
						<% class_hide = i <= 9 ? "" : "hidden" %>
						<% cache ["properties_map_side_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
							<li class="<%= "#{class_hide}" %>" data-id="<%= i %>" >
								<a href="javascript:void(0)" class="property" data-id="<%= resource.id %>" data-title="<%= resource.title %>" data-latitude="<%= resource.latitude %>" data-longitude="<%= resource.longitude %>" data-price="<%= resource.price %>" data-action="<%= property_path(resource.slug) %>">
									<div class= "cover-list">
			              <% if resource.label_tag.present? %>
			                <label class="label <%= downcase_uderscore(resource.label_tag) %>"><%= resource.label_tag %></label>
			              <% end %>
										<%= image_tag "#{resource.try(:galleries).try(:first).try(:file).url(:small)}" %>
									</div>
									<div class="title section-whistlist">
										<small><%= truncate(resource.title, length: 30, omission: '...') if resource.title.present? %></small>
										<% if current_user.present? %>
					            <span class="status-whistlist pull-right">
					              <%= checking_wishlist(resource.id, current_user.id, wishlist_properties_url(resource.id)).html_safe %>
					            </span>
					          <% else %>
					            <i class="fa fa-heart-o set pull-right"></i>
					          <% end %>
									</div>
									<div class="desc">
										<small>
											<%= resource.try(:category) %> <%= resource.try(:type_property) %>,
											<strong><%= resource.impressionist_count %></strong> people have seen this
										</small>
									</div>
									<div class="desc">
										<small class="text-muted">
											<i class="fa fa-map-marker"></i>
											<%= address.try(:city) %>,
											<%= address.try(:province) %>
										</small>
									</div>
									<div>
										<span class="price">
											<%= raw number_to_currency_br(resource.the_price?) + resource.the_price_status? %>
										</span>
										<% if resource.category == 'Sell' && (resource.type_property == 'Apartment' || resource.type_property == 'Office' || resource.type_property == 'House') %>
				              <span class="line-price">|</span>
				              <span class="price-sq">
				                <%= raw "#{number_to_currency_br(resource.price_per_meter)} <small class='color-grey'> per sq m</small>" %>
				              </span>
				            <% end %>
									</div>
								</a>
							</li>
						<% end %>
					<% end %>
					<% if @list_properties.count > 10 %>
						<li class="center"><a href="javascript:void(0)" class="btn btn-primary" id="load-more" data-current="10">Show Another Data</a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</section>
