<% resource = @property %>
<% user     = resource.try(:user) %>
<% profile  = user.try(:profile) %>
<% address  = resource.try(:address) %>

<% if resource.is_expired? %>
	<%= render 'shareds/page_not_found' %>
<% else %>
	<% if resource.is_category_auction? %>
		<% cache ["property_carousel__bid_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
			<%= render 'shareds/properties/carousel_bid', resource: resource %>
		<% end %>
	<% else %>
		<% cache ["property_carousel_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
			<%= render 'shareds/properties/carousel', resource: resource %>
		<% end %>
	<% end %>

	<section class="square-profile-section">
		<div class="container">
			<div class="row">
				<div class="user-menu-container square">
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 user-details">
						<div class="white">
							<div class="user-pad">
								<h3>
									<%= resource.try(:title) %>
									<small class="color-red"><%= resource.try(:category) %> </small>
								</h3>
								<div class="color-grey">
									<i class="fa fa-map-marker"></i>
									<%= address.try(:place_info) %>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<div class="btn-group pull-right">
							<%= link_to properties_path, class: "btn btn-default btn-wishlist" do %>
								<i class="fa fa-navicon"></i> Other Properties
							<% end %>

							<% if user_signed_in? %>
								<%= link_to wishlist_properties_path(resource.id) do %>
									<div class="btn btn-default btn-wishlist">
										<i class="fa fa-heart-o"></i> Add Wishlist
									</div>
								<% end %>
							<% else %>
								<a href="#signin" data-toggle="modal" data-target=".bs-modal-sm" class="btn btn-default btn-wishlist">
									<i class="fa fa-heart-o"></i> Add Wishlist
								</a>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section grey">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<%= render 'shareds/properties/overviews', resource: resource %>
							<%= render 'shareds/properties/galleries_card', resource: resource %>
						</div>
					</div>
				</div>
				<%= render 'shareds/properties/side_right', resource: resource %>
			</div>
		</div>
	</section>

	<section class="section grey">
		<div class="container">
			<div class="col-md-12 gallery-card">
				<div class="row">
					<div class="col-md-8">
						<div class="gmap3" id="mapShowProperty" data-placename="<%= resource.id %>" data-latitude="<%= resource.latitude %>" data-longitude="<%= resource.longitude %>" data-price="<%= "#{number_to_currency_br(resource.the_price?)} #{resource.the_price_status?}" %>" data-image="<%= resource.first_image(:small) %>" data-categorytype='<%= "#{resource.category}  #{resource.type_property}" %>' data-detailproperty="<%= resource.detail_property %>" data-priceinmeter="<%= number_to_currency_br(resource.price_for_meter) %>">
						</div>
					</div>
					<div class="col-md-4">
						<%= render 'shareds/properties/panel_spec' %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%#= render 'shareds/properties/reviews' %>
<% end %>
