<%= f.fields_for :profile do |profile| %>
  <%= f.fields_for :address do |address| %>
    <%= f.fields_for :contact do |contact| %>
      <%= render partial: 'backend/developers/user_form', locals: {f: f, profile: profile} %>
      <div class="break"></div>
      <%= render partial: 'backend/users/form_address', locals: {address: address} %>
      <div class="break"></div>
      <%= render partial: 'backend/users/form_contact', locals: {contact: contact} %>
    <% end %>
  <% end %>
<% end %>
