<h3>Developer Account</h3>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <br>
        <div class="well margin0">
          <center>
            <h6>Verified</h6>
            <%= f.check_box :verified %>
          </center>
        </div>
      </div>
      <div class="col-md-8">
        <h6>Email</h6>
        <%= f.email_field :email, class: 'form-control', required: true %>
        <h6>Username</h6>
        <%= f.text_field :username, class: 'form-control', required: true %>
      </div>
    </div>
    <h6>Password</h6>
    <%= f.password_field :password, class: 'form-control' %>
    <h6>Password Confirmation</h6>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <h6>Logo</h6>
    <div class="user">
      <%= image_tag profile.object.avatar.url(:medium), style: 'width: 200px', required: true %>
    </div>
    <%= profile.file_field :avatar %>
  </div>
</div>
<div class="break"></div>
<h3>Profile Developer</h3>
<hr>
<div class="row">
  <div class="col-md-6">
    <h6>Developer Name</h6>
    <%= profile.text_field :full_name, class: 'form-control' %>
    <h6>Established In</h6>
    <%= profile.text_field :birthday, class: 'datepicker form-control' %>
  </div>
  <div class="col-md-6">
    <h6>Meta Title</h6>
    <%= profile.text_field :meta_title, class: 'form-control' %>
    <h6>Meta Keyword</h6>
    <%= profile.text_field :meta_keyword, class: 'form-control' %>
  </div>
  <div class="col-md-12">
    <h6>Description</h6>
    <%= profile.cktext_area :meta_description, class: 'form-control' %>
  </div>
</div>

