<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <h6>User</h6>
        <%= f.select :user_id, @users, {prompt: 'Select User'}, {class: 'form-control select2', required: true} %>
         <div class="break"></div>
      </div>
      <div class="col-md-6">
        <h6>Type Project</h6>
        <div class="category-container">
          <%= f.select :type_project, options_for_select(@types, f.object.type_project), {prompt: 'Select Type'}, class: 'select2 form-control type_properties_select', required: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <center>
            <p>Activated</p>
            <p><%= f.check_box :activated %></p>
          </center>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <center>
            <p>Featured</p>
            <p><%= f.check_box :featured %></p>
          </center>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h6>Title</h6>
        <%= f.text_field :title, class: 'form-control', required: true, maxlength: 50 %>
      </div>
      <div class="col-md-4">
        <h6>Starting Price</h6>
        <%= f.text_field :price, class: 'form-control', placeholder: 'ex. 10000000', required: true, data: {autonumeric: true} %>
      </div>
      <div class="col-md-3">
        <h6 class="square-area"><%= f.object.status_area? %></h6>
        <%= f.number_field :area, class: 'form-control', placeholder: 'ex. 500', required: true %>
      </div>
      <div class="col-md-3">
        <h6>Construction</h6>
        <%= f.select :construction, ['In Progress', 'Available'], {prompt: 'Select Status Construction'}, {class: 'form-control', required: true} %>
      </div>
      <div class="col-md-3">
        <h6>Project Size ( ex. 2 Buildings )</h6>
        <%= f.number_field :project_size, class: 'form-control', placeholder: 'ex. 5 Buildings', required: true %>
      </div>
      <div class="col-md-3">
        <h6>Possession Start</h6>
        <%= f.text_field :possession_start, class: 'datepicker form-control', required: true %>
      </div>
    </div>
    <div class="break"></div>
    <h6>Description</h6>
    <%= f.cktext_area :description, required: true %>
    <div class="break"></div>
    <div class="row">
      <div class="col-md-6">
        <h6>Start At</h6>
        <%= f.text_field :started_at, class: 'datepicker form-control' %>
      </div>
      <div class="col-md-6">
        <h6>Expired At</h6>
        <%= f.text_field :expired_at, class: 'datepicker form-control' %>
      </div>
    </div>
    <div class="break"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Facilities</h3>
    <hr>
    <div class="facility" data-url="<%= get_societies_url%>">
      <% @facilities.each_with_index do |s| %>
        <% if resource.present? %>
          <%= render partial: 'facility_fields', locals: {s: s} %>
        <% else %>
          <%= render partial: 'facility_fields_new', locals: {s: s} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="break"></div>

<div class="row">
  <div class="col-md-12">
    <h3>Gallery</h3>
    <hr>
    <div class="setup-content">
      <ul class="choice-gallery-form">
        <%= f.fields_for :galleries do |g| %>
          <%= render 'gallery_fields', f: g %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="break"></div>

<%= f.fields_for :address do |address| %>
  <%= render partial: 'form_address', locals: {address: address} %>
<% end %>

<%= render partial: 'form_overview', locals: {f: f} %>

<div class="row">
  <div class="col-md-12">
    <h3>INSIGHTS</h3>
    <hr>
    <%= f.cktext_area :insights %>
  </div>
</div>
<div class="break"></div>
