<div class="row">
  <div class="col-md-12">
    <h3>Configurations</h3>
    <hr>
    <%= f.fields_for :overviews do |c| %>
      <%= render 'overview_fields', f: c %>
    <% end %>
  </div>
</div>

<div class="links">
  <%= link_to_add_association 'Add Overview Configurations', f, :overviews, partial: 'overview_fields', class: "btn btn-info pull-right" %>
</div>
