<h3>Address</h3>
<hr>
<div class="row" id="form-address">
  <input type="hidden" id="project_id" value="<%= resource.id || 0 %>"></input>
  <div class="col-md-6">
    <h6>Province</h6>
    <%= address.select :province_id, options_for_select(Region.roots.alfa.pluck(:name, :id), resource.address.province_id), {prompt: 'Choice Province'}, class: 'select2 form-control provinces_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    <h6>City</h6>
    <% cities = address.object.city_id ? Region.find_by(id: address.object.province_id).try(:children).pluck(:name,  :id) || [] : Region.none rescue [] %>
    <div class="city-container">
      <%= address.select :city_id, options_for_select(cities, resource.address.city_id), {prompt: 'Choice City'}, class: 'select2 form-control cities_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    </div>
    <h6>Subdistrict</h6>
    <% subdistricts = address.object.subdistrict_id ? Region.find_by(id: address.object.city_id).try(:children).pluck(:name, :id) || [] : Region.none rescue [] %>
    <div class="sub-district-container">
      <%= address.select :subdistrict_id, options_for_select(subdistricts, resource.address.subdistrict_id), {prompt: 'Choice Subdistricts'}, class: 'select2 form-control sub_districts_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    </div>
  </div>
  <div class="col-md-6">
    <h6>Village</h6>
    <% villages = address.object.village_id ? Region.find_by(id: address.object.subdistrict_id).try(:children).pluck(:name, :id) || [] : Region.none rescue [] %>
    <div class="village-container">
      <%= address.select :village_id, options_for_select(villages, resource.address.village_id), {prompt: 'Choice Village'}, class: 'select2 form-control village_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    </div>
    <h6>Complex or Apartment Name</h6>
    <% areas = address.object.area_id ? Region.find_by(id: address.object.village_id).try(:children).pluck(:name, :id) || [] : Region.none rescue [] %>
    <div class="area-container">
      <%= address.select :area_id, options_for_select(areas, resource.address.area_id), {prompt: 'Choice Area'}, class: 'select2 form-control area_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    </div>
    <h6>Postcode</h6>
    <%= address.text_field :postcode, class: 'form-control' %>
  </div>
  <div class="col-md-12">
    <h6>Address</h6>
    <%= address.text_field :address, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h6>Latitude</h6>
    <%= address.text_field :latitude, class: 'form-control latitude' %>
  </div>
  <div class="col-md-6">
    <h6>Longitude</h6>
    <%= address.text_field :longitude, class: 'form-control longitude' %>
  </div>
  <div class="col-md-12">
    <div class="round-map">
      <section id="manage_map_property" class="gmap3-dinamic"></section>
    </div>
  </div>
</div>
<div class="break"></div>
