<div class="col-md-4 padding0">
	<div class="well margin0">
		<h6><%= f.object.title %></h6>
    <%= f.text_field :val, class: 'form-control' %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :position %>
    <%= f.hidden_field :category %>
  </div>
</div>
