<div class="well nested-fields">
  <h3>
    OVERVIEW <%= f.object.title %>
    <%= link_to_remove_association "<i class='fa fa-times'></i> Remove".html_safe, f , class: 'btn btn-danger pull-right btn-xs' %>
  </h3>
  <%= f.hidden_field :position %>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h6>Bedroom Title</h6>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <h6>Price</h6>
      <%= f.text_field :price, class: 'form-control', data: {autonumeric: true} %>
    </div>
    <div class="col-md-6">
      <h6>Saleable Area in m<sup>2</sup></h6>
      <%= f.text_field :saleable_area, class: 'form-control', data: {autonumeric: true} %>
      <h6>possession_start</h6>
      <%= f.text_field :possession_start, class: 'datepicker form-control' %>
    </div>
    <div class="col-md-6">
      <div class="setup-content">
        <ul class="choice-gallery-form">
          <li class="overview">
            <span>2D</span>
            <%= image_tag f.object.file_2d.url(:small), class: 'show-choice' %>
            <%= f.file_field :file_2d, class: 'input-file' %>
          </li>
          <li class="overview">
            <span>3D</span>
            <%= image_tag f.object.file_3d.url(:small), class: 'show-choice' %>
            <%= f.file_field :file_3d, class: 'input-file' %>
          </li>
        </ul>
      </div>
    </div>
    <div class="break"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>DETAILS</h3>
      <hr>
      <div class="row">
        <div class="col-md-2">
          <h6>Balconies</h6>
          <%= f.number_field :balconies, class: 'form-control' %>
          <h6>Toilets</h6>
          <%= f.number_field :toilets, class: 'form-control' %>
        </div>
        <div class="col-md-10">
          <div class="break"></div>
          <%= f.fields_for :amenities do |a| %>
            <%= render 'society_fields', f: a %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="break"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>INTERIORS</h3>
      <hr>
      <p>FLOORINGS</p>
      <hr>
      <%= f.fields_for :interiors do |i| %>
        <% if i.object.category == 'FLOORINGS' %>
          <%= render 'form_interiors', f: i %>
        <% end %>
      <% end %>
      <div class="break"></div>
      <p>FITTINGS</p>
      <hr>
      <%= f.fields_for :interiors do |i| %>
        <% if i.object.category == 'FITTINGS' %>
          <%= render 'form_interiors', f: i %>
        <% end %>
      <% end %>
      <div class="break"></div>
      <p>WALLS</p>
      <hr>
      <%= f.fields_for :interiors do |i| %>
        <% if i.object.category == 'WALLS' %>
          <%= render 'form_interiors', f: i %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
