<div class="col-md-12">
  <div class="widget">
    <div class="widget-content">
      <%= form_tag '', url: do_import_backend_projects_path , class: "form-horizontal", multipart: true do %>

        <div class="panel panel-default">
          <div class="panel-body">

            <div class="form-group">
              <label class="col-md-1 control-label" for="val_website"> Import File </label>
              <div class="col-md-8">
                <%= file_field_tag :file, class: "form-control" %>
                <i>supported format *.xlxs, *.xls, *.csv</i>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-1 control-label" for="val_website"> Start Row </label>
              <div class="col-md-8">
                <%= number_field_tag :start_row, params[:start_row] || 2, class: 'form-control', required: true %>
                <i>enter row number where first data begins. Default first row and column are 2</i>
              </div>
            </div>

          <div class="form-group">
            <label class="col-md-1 control-label" for="val_website"> Columns </label>
            <div class="col-md-11">
              <i>please enter column position that tells these information, or leave it blank</i>
                <div style="overflow:auto">
                  <table id="general-table" class="table table-vcenter table-condensed table-bordered">
                    <thead>
                      <tr>
                        <% ImportModel::Project.import_columns.keys.each do |colname|%>
                          <th class ='text-center' style="min-width:75px;"><%= colname.to_s.titleize %></th>
                        <% end %>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <% params[:columns] ||= {} %>
                        <% ImportModel::Project.import_columns.each do |colname,position|%>
                          <td class ='text-center'>
                            <%= number_field_tag "columns[#{colname}]", params[:columns][colname.to_sym]||position+1, class: 'form-control' %>
                          </td>
                        <% end %>
                      </tr>
                    </tbody>
                  </table>
                </div>
              <%= submit_tag 'Save', class: 'btn btn-primary' %>
            </div>
          </div>

        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>