<div class="basic-form basic-form-house">
  <h3>Basic House</h3>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <h6>Document</h6>
            <%= basic.select :document, Document.to_a, {prompt: 'Select'}, {class: 'form-control'} %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <h6>Land Area in m<sup>2</sup></h6>
            <%= basic.number_field :surface_area, class: 'form-control', placeholder: 'ex. 1000' %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <h6>Building Area in m<sup>2</sup></h6>
            <%= basic.number_field :building_area, class: 'form-control', placeholder: 'ex. 600' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h6>Year Built</h6>
        <%= basic.select :age, options_for_select((1950..Time.now.year).to_a, basic.object.age), {prompt: 'Select Year'}, {class: 'form-control select2', placeholder: 'ex. 2015'} %>
      </div>
      <div class="form-group">
        <h6>Electricity</h6>
        <%= basic.text_field :electricity, class: 'form-control', placeholder: 'ex. 300 watt' %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <h6>Lines Phone</h6>
            <%= basic.number_field :phone_lines, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <h6>Garage</h6>
            <%= basic.number_field :garage, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <h6>Floor</h6>
            <%= basic.number_field :floor, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <h6>Bedrooms</h6>
            <%= basic.number_field :bedrooms, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <h6>Bathrooms</h6>
            <%= basic.number_field :bathrooms, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <h6>Entrance Facing</h6>
            <%= basic.select :facing, Facing.to_a, {prompt: 'Select'}, {class: 'form-control'} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
