<div class="basic-form basic-form-land">
  <h3>Basic Land</h3>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <h6>Document</h6>
        <%= basic.select :document, Document.to_a, {prompt: 'Select'}, {class: 'form-control'} %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h6>Land Area in (m<sup>2</sup>)</h6>
        <%= basic.number_field :surface_area, class: 'form-control', placeholder: 'ex. 1000' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h6>Long Land in (m<sup>2</sup>)</h6>
        <%= basic.number_field :long_land, class: 'form-control', placeholder: 'ex. 200' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h6>Width Land in (m<sup>2</sup>)</h6>
        <%= basic.number_field :width_land, class: 'form-control', placeholder: 'ex. 800' %>
      </div>
    </div>
  </div>
</div>
