<div class="col-md-6">
	<div class="form-group">
	  <h6>Minimum Price</h6>
	  <%= f.text_field :minimum_price, class: 'form-control', required: true, data: {autonumeric: true} %>
	</div>
</div>
<div class="col-md-6">
	<div class="form-group">
	  <h6>Increment per Bid</h6>
	  <%= f.text_field :increment_per_bid, class: 'form-control', required: true, data: {autonumeric: true} %>
	</div>
</div>
<!-- <div class="col-md-4">
	<div class="form-group">
	  <h6>Starting Bid</h6>
	  <%#= f.number_field :starting_bid, class: 'form-control', required: true %>
	</div>
</div> -->
<div class="col-md-4">
	<div class="form-group">
	  <h6>Reserve Met</h6>
	  <%= f.select :reserve_met, Condition.to_a, {prompt: 'Select Reserve'}, class: 'form-control', required: true %>
	</DIV>
</div>
<!-- <div class="col-md-3">
  <h6>Financing Considered</h6>
  <%#= f.select :financing_considered, Condition.to_a, {prompt: 'Select Financing'}, class: 'form-control', required: true %>
</div> -->
<div class="col-md-4">
	<div class="form-group">
	  <h6>Start Auction</h6>
	  <%= f.text_field :start_auction, class: 'datepicker form-control', required: true %>
	</div>
</div>
<div class="col-md-4">
	<div class="form-group">
	  <h6>End Auction</h6>
	  <%= f.text_field :end_auction, class: 'datepicker form-control', required: true %>
	</div>
</div>
