<%= render partial: 'backend/shareds/prepare_form',
            locals: { form_name: 'Auction Properties', action_name: 'Edit', form_method: 'put'} %>
<div class="hidden-form"></div>
<div class="hidden-form-basic"></div>
