<% profile = resource.profile %>
<% address = resource.address %>
<% contact = resource.contact %>
<div class="col-md-12">
  <div class="widget">
    <div class="widget-head">
      <div class="pull-left">User <%= resource.id %></div>
      <div class="clearfix"></div>
    </div>
    <div class="widget-content">
      <div class="padd">
        <h3>Profile</h3>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <table class="table table-striped table-hover table-responsive table-bordered">
              <tbody>
                <tr>
                  <td width="30%"><h6>Email</h6></td>
                  <td><%= resource.email %></td>
                </tr>
                <tr>
                  <td><h6>Username</h6></td>
                  <td><%= resource.username %></td>
                </tr>
                <tr>
                  <td><h6>Full Name</h6></td>
                  <td><%= profile.full_name %></td>
                </tr>
                <tr>
                  <td><h6>Birthday</h6></td>
                  <td><%= profile.birthday %></td>
                </tr>
                <tr>
                  <td><h6>Gender</h6></td>
                  <td><%= profile.gender %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <h6>Avatar</h6>
            <div class="user">
              <%= image_tag profile.avatar.url(:medium) %>
            </div>
          </div>
        </div>
        <div class="break"></div>
        <div class="row">
          <div class="col-md-6">
            <h3>Contact</h3>
            <hr>
            <table class="table table-striped table-hover table-responsive table-bordered">
              <tbody>
                <tr>
                  <td width="30%"><h6>Phone</h6></td>
                  <td><%= contact.phone %></td>
                </tr>
                <tr>
                  <td><h6>Handphone</h6></td>
                  <td><%= contact.handphone %></td>
                </tr>
                <tr>
                  <td><h6>PIN</h6></td>
                  <td><%= contact.pin %></td>
                </tr>
                <tr>
                  <td><h6>Facebook</h6></td>
                  <td><%= contact.facebook %></td>
                </tr>
                <tr>
                  <td><h6>Twitter</h6></td>
                  <td><%= contact.twitter %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <h3>Address</h3>
            <hr>
            <table class="table table-striped table-hover table-responsive table-bordered">
              <tbody>
                <tr>
                  <td width="30%"><h6>Province</h6></td>
                  <td><%= address.province %></td>
                </tr>
                <tr>
                  <td><h6>City</h6></td>
                  <td><%= address.city %></td>
                </tr>
                <tr>
                  <td><h6>Address</h6></td>
                  <td><%= address.address %></td>
                </tr>
                <tr>
                  <td><h6>Postcode</h6></td>
                  <td><%= address.postcode %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="break"></div>
        <div class="clearfix"></div>
        <div class="buttons">
          <%= link_to 'Edit', edit_resource_path(resource), class: "btn btn-sm btn-info" %>
        </div>
      </div>
      <div class="widget-foot">
      </div>
    </div>
  </div>
</div>


