<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
  <div class="top-label-side-fitured">
    <%= @featureds.count %> FEATURED PROJECTS AVAILABLE
  </div>
  <%= '<div class="break"></div><h5 align="center">No data found on this page!</h5>'.html_safe unless @featureds.present? %>
  <% @featureds.each_with_index do |resource, index| %>
    <% cache ["projects_featured_all_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
      <%= render 'project', resource: resource %>
    <% end %>
  <% end if @featureds.present? %>
</div>
