<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
  <div class="top-label-side-fitured">
    <%= @projects_count %> PROJECTS AVAILABLE
  </div>
  <%= '<div class="break"></div><h5 align="center">No data found on this page!</h5>'.html_safe unless @projects.present? %>
  <% @projects.each_with_index do |resource, index| %>
    <% cache ["projects_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
      <%= render 'project', resource: resource %>
    <% end %>
  <% end if @projects.present? %>
</div>
