<section class="section grey">
  <div class="container">
    <div class="row">
      <section>
        <div class="break"></div>
        <div id="project-container">
          <%= render 'featured_project_list' %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <%= render 'shareds/projects/sidebar_right_latest_projects' %>
        </div>
      </section>
      <div class="col-md-12">
        <div class="bs-example" data-example-id="disabled-active-pagination">
          <nav>
            <%= paginate @featureds %>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
