<section class="section grey">
	<div id="loading" class="hide"><%= image_tag 'loader.gif' %></div>
	<div class="container">
		<div class="row">
			<%= render 'shareds/projects/sort_order' %>
			<section>
				<div class="break"></div>
				<div id="project-container">
					<%= render 'project_list' %>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<%= render 'shareds/projects/sidebar_right_fitured' %>
				</div>
			</section>
			<div class="col-md-12">
				<div class="bs-example" data-example-id="disabled-active-pagination">
					<nav>
						<%= paginate @projects %>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>
