<section class="section-dinamic-map">
	<div class="main-dinamic">
		<div class="round-map">
			<section id="map1" class="gmap3-dinamic"></section>
			<div class="show-property-pop" id="container-property"></div>
		</div>
		<div class="section-list-side-property">
			<div class="box-sort-order">
				<%= render 'shareds/projects/sort_order_map' %>
			</div>
			<div class="list-side-property">
				<ul class="ul-list-property">
					<% @list_projects.each_with_index do |resource, i| %>
						<% user = resource.try(:user) %>
						<% profile = user.try(:profile) %>
						<% address = resource.try(:address) %>
						<% class_hide = i <= 9 ? "" : "hidden" %>
						<% cache ["projects_map_side_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
							<li class="<%= "#{class_hide}" %>" data-id="<%= i %>" >
								<a href="javascript:void(0)" class="project" data-id="<%= resource.id %>" data-title="<%= resource.title %>" data-latitude="<%= resource.latitude %>" data-longitude="<%= resource.longitude %>" data-price="<%= resource.price %>" data-action="<%= project_path(resource.slug) %>">
									<%= image_tag "#{resource.try(:galleries).try(:first).try(:file).url(:small)}", class: "cover-list" %>
									<div class="title">
										<small><%= truncate(resource.title, length: 30, omission: '...') if resource.title.present? %></small>
									</div>
									<div class="desc">
										<small><%= resource.try(:type_project) %> Project from <%= profile.full_name %></small>
									</div>
									<div class="desc">
										<small class="text-muted">
											<i class="fa fa-map-marker"></i>
											<%= address.try(:city) %>,
											<%= address.try(:province) %>
										</small>
									</div>
									<div>
										<span class="price">
											<%= raw number_to_currency_br(resource.price) %>
										</span>
										<small class='color-grey'><%= resource.status_price? %></small>
		                <% unless resource.type_project == 'House' %>
		                  |
		                  <span class="price-sq">
		                    <%= raw "#{number_to_currency_br(resource.price_in_meter)} <small class='color-grey'> per sq m</small>" %>
		                  </span>
		                <% end %>
									</div>
								</a>
							</li>
						<% end %>
					<% end %>
					<% if @list_projects.count > 10 %>
						<li class="center"><a href="javascript:void(0)" class="btn btn-primary" id="load-more" data-current="10">Show Another Data</a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</section>
