<% resource = @project %>
<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% address = resource.try(:address) %>

<% cache ["project_carousel_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
	<%= render 'shareds/projects/carousel', resource: resource %>
<% end %>
<section class="square-profile-section">
	<div class="container">
		<div class="row">
			<div class="user-menu-container square">
				<div class="col-md-6 user-details">
					<div class="white">
						<div class="user-pad">
							<h3><%= resource.try(:title) %></h3>
							<div class="color-grey">
								<i class="fa fa-map-marker"></i>
								<%= address.try(:place_info) %>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="pull-right nav-project">
						<div class="btn-group">
							<a href="#section-overview" class="btn btn-default btn-wishlist-2">
								Overview
							</a>
							<a href="#section-configuration" class="btn btn-default btn-wishlist-2">
								Configurations
							</a>
							<a href="#section-locality" class="btn btn-default btn-wishlist-2">
								Locality
							</a>
							<a href="#section-builder" class="btn btn-default btn-wishlist-2">
								Builder
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section grey">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="col-md-12">
					<div class="row">
						<%= render 'shareds/projects/overviews', resource: resource %>
						<%= render 'shareds/projects/configurations', resource: resource %>
						<%= render 'shareds/projects/builder', resource: resource %>
					</div>
				</div>
			</div>
			<%= render 'shareds/projects/side_right', resource: resource %>
		</div>
	</div>
</section>
<%= render 'shareds/projects/locality', resource: resource %>
