<div class="col-md-12">
  <%= form_for [:developerpage, resource], method: form_method, html: {class: 'form'} do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <div class="buttons">
      <button class="btn btn-sm btn-info" type="submit">Save</button>
    </div>
  <% end %>
</div>
