<div class="col-md-2 padding0">
	<div class="well margin0">
		<center>
    <p><%= s.font_icon.html_safe if s.font_icon.present? %> <%= s.name %></p>
    <% facility_checked = resource.facilities.include?(s.name) if resource.facilities.present? %>
    <%= check_box_tag "facilities[]", s.name, facility_checked %>
  	</center>
  </div>
</div>
