<div class="setup-content" id="step-1">
	<%= render 'step_one', f: f %>
</div>
<div class="setup-content" id="step-2">
	<%= render 'step_two', f: f %>
</div>
<div class="setup-content" id="step-3">
	<%= render 'step_three', f: f %>
</div>
