<%= f.fields_for :overviews do |c| %>
  <%= render 'overview_fields', f: c %>
<% end %>

<div class="links">
  <%= link_to_add_association 'Add Overview Configurations', f, :overviews, partial: 'overview_fields', class: "btn btn-info pull-right" %>
</div>
