<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <h6>Bathrooms</h6>
      <%= basic.number_field :bathrooms, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <h6>Bedrooms</h6>
      <%= basic.number_field :bedrooms, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <h6>Parking</h6>
      <%= basic.number_field :parking, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <h6>Built Up Area</h6>
      <%= basic.text_field :built_up_area, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <h6>Floor</h6>
      <%= basic.number_field :floor, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <h6>Year Built</h6>
      <%= basic.select :age, options_for_select((1950..Time.now.year).to_a, basic.object.age), {prompt: 'Select Year'}, {class: 'form-control select2', placeholder: 'ex. 2015'} %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <h6>Main Entrance Facing</h6>
      <%= basic.select :facing, Facing.to_a, {prompt: 'Select'}, {class: 'form-control'} %>
    </div>
  </div>
</div>
<div class="break"></div>
