<div class="form-row">
	<div class="checkbox">
		<%= f.hidden_field :title %>
    <%= f.hidden_field :icon %>
		<%= f.check_box :available %> <%= f.object.icon.html_safe %> <%= f.object.title %>
	</div>
</div>
