<div class="col-md-12">
	<h3 align="center">Info & Finish</h3>
	<div class="alert-review">
		<div>
			<h2 align="center">Raih Semakin Banyak Prospek dari Listing Anda</h2>
			<div class="break"></div>
			<div class="col-md-12">
				<p>Sebagai situs properti no.1 di Indonesia, Rumah123.com menjadi pilihan utama bagi jutaan pembeli properti dan investor, untuk mencari hunian idaman dan investasi pilihan. </p>
				<p>Memasarkan properti-properti Anda melalui media online Rumah123.com sangatlah efisien dan efektif.
				</p>
				<ul>
					<li>Berpengalaman sejak 2007 dan menjadi pemimpin pasar</li>
					<li>Bagian iProperty Group dan terdaftar di Bursa Efek Australia yang berkomitmen menjadi <b>mitra bisnis jangka panjang</b> untuk Anda</li>
					<li>Lebih dari <b>2,1 JUTA</b> pembeli properti/ bulan dan lebih dari <b>15 JUTA</b> pageviews/bulan, terbanyak dibanding pesaing</li>
					<li>Peringkat <b>#114</b> Website Paling Populer di Indonesia versi Alexa.com dan kompetitor terdekat peringkat #184 (update Februari 2015)</li>
					<li>Lebih dari 10,000 agent sudah merasakan benefit beriklan di Rumah123</li>
					<li>Lebih dari 100 professional staf yang tersebar di 7 kota di Indonesia membantu Anda menjual lebih cepat</li>
					<li>Investasi besar – besaran untuk iklan, branding dan promosi agar semakin dikenal oleh prospek buyer</li>
				</ul>
				<p>
					Per 1 Februari 2015, Kami melakukan penyesuaian tarif untuk memberikan benefit maksimal untuk Anda. Pilih paket dari Rumah123.com di bawah ini yang sesuai kebutuhan Anda.
				</p>
			</div>

      <div class="premium">
      	<div class="l-info col-md-4">
      		<div class="area">
      			<h2>Jabodetabek</h2>
      		</div>
      		<div class="priod">
      			<ul>
      				<li>Membership Period</li>
      				<li>Listing online limit</li>
      			</ul>
      		</div>
      		<div class="bonus">
      			<ul>
      				<li>Featured Listing</li>
      				<li>Gratis Bulan</li>
      				<li>Area Spesialis</li>
      				<li>Listing di situs mobile</li>
      				<li>Listing di aplikasi mobile</li>
      				<li>Personal Website</li>
      				<li>Profil Agen di website</li>
      				<li>SMS Alert</li>
      			</ul>
      		</div>
      	</div>

      	<div class="l-gold col-md-4">
      		<div class="package">
      			<span class="gold">GOLD</span>
      		</div>
      		<div class="price">
      			<div class="year">Rp 900.000</div>
      			<div class="monthly">Rp. 75.000/bulan</div>
      		</div>
      		<div class="priod">
      			<ul>
      				<li>12 bulan</li>
      				<li>100</li>
      			</ul>
      		</div>
      		<div class="bonus">
      			<div class="quote-bonus">Bonus</div>
      			<ul>
      				<li>2 (seharga Rp 200.000)</li>
      				<li>1 bulan</li>
      				<li>-</li>
      				<li>Ya (seharga Rp 200.000)</li>
      				<li>Ya (seharga Rp 200.000)</li>
      				<li>Ya (seharga Rp 500.000)</li>
      				<li>Ya</li>
      				<li>Ya</li>
      			</ul>
      		</div>
      	</div><!-- gold -->

      	<div class="l-platinum col-md-4">
      		<div class="package">
      			<span class="platinum">PLATINUM</span>
      		</div>
      		<div class="price">
      			<div class="year">Rp 2.500.000</div>
      			<div class="monthly">Rp. 208.000/bulan</div>
      		</div>
      		<div class="priod">
      			<ul>
      				<li>12 bulan</li>
      				<li>200</li>
      			</ul>
      		</div>
      		<div class="bonus">
      			<div class="quote-bonus">Bonus</div>
      			<ul>
      				<li>4 (seharga Rp 400.000)</li>
      				<li>3 bulan</li>
      				<li>3 bulan (seharga Rp 500.000)</li>
      				<li>Ya (seharga Rp 200.000)</li>
      				<li>Ya (seharga Rp 200.000)</li>
      				<li>Ya (seharga Rp 500.000)</li>
      				<li>Ya</li>
      				<li>Ya</li>
      			</ul>
      		</div>
      	</div><!-- platinum -->
      	<p>
      		&nbsp;
      	</p>
      	<p align="center">
      		Untuk mengetahui harga di luar Jabodetabek dan mengetahui program promo yang berlangsung Anda dapat menghubungi Eka di  081316383847 atau email ke rezki.eka@rumah123.com
      	</p>
      </div>
    </div>
    <button class="btn btn-outlined btn-purple-light btn-lg pull-right" type="submit">Save & Publish!</button>
	</div>
</div>
