<div class="col-md-12">
	<h3 align="center">Configurations & Finish</h3>
	<div class="col-xs-12 configuration-small-content">
		<%= render partial: 'form_overview', locals: {f: f} %>
	</div>
	<div class="col-xs-12">
		<div class="form-group">
			<h6>INSIGHTS</h6>
			 <%= f.text_area :insights, class: 'form-control', style: 'height:200px' %>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="break"></div>
		<button class="btn btn-outlined btn-purple-light btn-lg pull-right" type="submit">Save & Publish!</button>
	</div>
</div>
