<div class="col-md-12">
	<h3 align="center">Details Project</h3>
	<div class="col-md-12">
		<div class="row">
      <div class="col-md-12">
        <ul class="choice-gallery-form">
          <%= f.fields_for :galleries do |g| %>
            <%= render 'properties/gallery_fields', f: g %>
          <% end %>
        </ul>
      </div>
    </div>
	</div>
	<div class="break"></div>
	<div class="col-md-12">
		<div class="form-group">
			<h6>Title</h6>
			<%= f.text_field :title, class: 'form-control', required: true, maxlength: 50 %>
		</div>
	</div>
	<div class="col-md-4">
  	<div class="form-group">
	    <h6>Type Project</h6>
      <div class="category-container">
        <%= f.select :type_project, options_for_select(@types, f.object.type_project), {prompt: 'Select Type'}, class: 'select2 form-control type_properties_select', required: true %>
      </div>
	  </div>
  </div>
	<div class="col-md-4">
  	<div class="form-group">
	    <h6>Starting Price</h6>
	    <%= f.text_field :price, class: 'form-control', placeholder: 'ex. 10000000', required: true, data: {autonumeric: true} %>
	  </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <h6 class="square-area"><%= f.object.status_area? %></h6>
      <%= f.number_field :area, class: 'form-control', placeholder: 'ex. 500', required: true %>
    </div>
  </div>
	<div class="col-md-4">
		<div class="form-group">
			<h6>Construction</h6>
			<%= f.select :construction, ['In Progress', 'Available'], {prompt: 'Select Status Construction'}, {class: 'form-control', required: true} %>
		</div>
	</div>
  <div class="col-md-4">
  	<div class="form-group">
	    <h6>Project Size</h6>
	    <%= f.number_field :project_size, class: 'form-control', placeholder: 'ex. 5 Buildings', required: true %>
	  </div>
  </div>
   <div class="col-md-4">
  	<div class="form-group">
	    <h6>Possession Start</h6>
	    <%= f.text_field :possession_start, class: 'datepicker form-control', required: true %>
	  </div>
  </div>
	<div class="col-xs-12">
		<div class="form-group">
			<h6>Description</h6>
			 <%= f.text_area :description, class: 'form-control', style: 'height:200px', required: true %>
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-outlined btn-purple-light nextBtn btn-lg pull-right" id="nextBtnLoc" type="button" >Next</button>
	</div>
</div>
