<div class="col-md-12">
	<h3 align="center">Facilities & Location</h3>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div class="line-through">
					<p><span>Facilities</span></p>
				</div>
				<div class="facility facility-small-content" data-url="<%= get_societies_url%>">
		      <% @facilities.each_with_index do |s| %>
		        <% if resource.present? %>
		          <%= render partial: 'facility_fields', locals: {s: s} %>
		        <% else %>
		          <%= render partial: 'facility_fields_new', locals: {s: s} %>
		        <% end %>
		      <% end %>
		    </div>
		    <div class="break"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="line-through">
			<p><span>Location</span></p>
		</div>
		<%= f.fields_for :address do |address| %>
		  <%= render partial: 'form_address', locals: {address: address} %>
		<% end %>
	</div>
	<div class="col-xs-12">
		<div class="break"></div>
		<button class="btn btn-outlined btn-purple-light nextBtn btn-lg pull-right" type="button" >Next</button>
	</div>
</div>
