<section class="section">
	<div class="col-md-12">
		<div class="stepwizard">
			<div class="stepwizard-row setup-panel">
				<div class="stepwizard-step">
					<a href="#step-1" type="button" class="btn btn-info btn-circle">1</a>
					<p><b>Details Project</b></p>
				</div>
				<div class="stepwizard-step">
					<a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
					<p><b>Facilities & Location</b></p>
				</div>
				<div class="stepwizard-step">
					<a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
					<p><b>Configurations & Finish</b></p>
				</div>
			</div>
		</div>
	</div>
</section>
