<%= render 'top_step_wizard' %>

<!-- Form Creare Section -->
<section class="section section-shadow">
	<div class="col-md-12">
		<%= form_for resource, url: developerpage_project_path(resource), method: 'put' do |f| %>
			<%= render 'form', f: f %>
		<% end %>
	</div>
</section>
<!-- /Form Create Section -->
