<div class="row">
  <div class="col-xs-9">
    <strong>Total Projects (<%= @projects.count %>)</strong>
  </div>
  <div class="col-xs-3">
    <%= link_to '<i class="fa fa-plus-square-o"></i> Create New'.html_safe, new_resource_path, class: 'btn btn-outlined btn-purple-light btn-sm pull-right' %>
  </div>
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<% @collection.each_with_index do |resource, index| %>
  <% user = resource.try(:user) %>
  <% profile = user.try(:profile) %>
  <% address = resource.try(:address) %>
  <div class="listing-project-wrapper active">
    <div class="row">
      <div class="col-md-4 cover-gall-property">
        <% resource.galleries.limit(5).each_with_index do |g, index| %>
          <div class="<%= 'image-lg-project' if index == 0 %> <%= 'image-sm-project' unless index == 0 %>">
            <%= image_tag "#{g.file.url(:small)}", class: "img-responsive" %>
          </div>
        <% end %>
      </div>

      <div class="col-md-8">
        <div class="row">
          <div class="box-feature-properties">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <div class="info-global-project">
                <div class="title">
                  <%= link_to resource.title, project_path(resource) %>
                </div>
                <div class="location">
                  <span class="color-green">
                    <i class="fa fa-area-chart"></i>
                    <%= resource.try(:construction) %> &nbsp;
                  </span>
                  <span class="fa fa-map-marker"></span>
                  <%= address.try(:city) %>,
                  <%= address.try(:province) %>
                </div>
                <div class="desc">
                  <span class="price">
                    <%= number_to_currency_br(resource.price) if resource.price.present? %>
                  </span>
                  <small class='color-grey'><%= resource.status_price? %></small>
                  <% unless resource.type_project == 'House' %>
                    |
                    <span class="price-sq">
                      <%= raw "#{number_to_currency_br(resource.price_in_meter)} <small class='color-grey'> per sq m</small>" %>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="pull-right position-center">
                <div class="btn btn-outlined btn-red-light btn-sm">
                  <%= resource.active? %>
                </div>
              </div>
            </div>
            <div class="feature">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="box-feature">
                  <div>
                    <i class="fa fa-calendar"></i>
                    <span>Possession </span>
                  </div>
                  <div class="description">
                    <%= resource.try(:possession_start).strftime("%B, %d, %Y") if resource.possession_start.present? %>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="box-feature">
                  <div>
                    <i class="fa fa-slack"></i>
                    <span>Flat Id </span>
                  </div>
                  <div class="description">
                    <span class="uppercase"><%= resource.try(:code) %></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="box-feature">
                  <div>
                    <i class="fa fa-bookmark-o"></i>
                    <span>Property</span>
                  </div>
                  <div class="description">
                    <%= resource.try(:type_project) %>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="box-feature">
                  <div>
                    <i class="fa fa-building"></i>
                    <span>Project Size</span>
                  </div>
                  <div class="description">
                    <%= resource.try(:project_size).to_s + ' Buildings' if resource.project_size.present? %>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="box-feature">
                  <div>
                    <i class="fa fa-home"></i>
                    <span>Configurations</span>
                  </div>
                  <div class="description">
                    <%= resource.overviews.pluck(:title).to_sentence %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <hr>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <small class="color-grey">
              <i class="fa fa-eye"></i>&nbsp;
              <strong><%= resource.impressionist_count %></strong> people have seen
            </small>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="pull-right position-center">
              <%= link_to edit_resource_path(resource) do %>
                <div class="btn btn-outlined btn-purple-light btn-sm">
                  <i class="fa fa-wrench"></i>
                  Edit
                </div>
              <% end %>
              <%= link_to resource_path(resource), method: 'delete', data: {confirm: "Are you sure delete this #{resource.code}"} do %>
                <div class="btn btn-outlined btn-red-light btn-sm">
                  <i class="fa fa-trash"></i>
                  Delete
                </div>
              <% end %>
              <%= link_to project_path(resource) do %>
                <div class="btn btn-outlined btn-purple-light btn-sm">
                  <span class="fa fa-search"></span>
                  View Detail
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

<%= paginate @collection %>
