<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <fieldset>
    <div class="form-group">
      <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary-fb' do %>
        <i class="fa fa-facebook"></i>
        Login With Facebook
      <% end %>
    </div>
    <div class="form-group">
      <div class="col-xs-12 or-section">
        <i class="omb-or"></i>
        <span class="omb-span">OR</span>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <%= f.text_field :login, class: "form-control", placeholder: "Username or Email" %>
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <div class="controls">
        <%= f.password_field :password, class: "form-control password", placeholder: "Password" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.check_box :remember_me, class: "grey remember" %>
          <span>Keep me signed in</span>
          <div class="controls">
            <%= f.submit 'SignIn',  class: "btn btn-lg btn-primary btn-block" %>
          </div>
          <br>
          <div class="pull-left">
            Not Member? <%= link_to 'Register', new_registration_path(resource_name) %>
          </div>
          <div class="pull-right">
            <%= link_to 'Forgot Password', new_user_password_path %>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
