<h3>Agent Info</h3>
<hr>
<div class="row">
  <div class="col-md-6">
    <h6>Specialist Property</h6>
    <%= agent_info.text_field :specialist_property, class: 'form-control', placeholder: 'ex. Apartment, Houser ...' %>
    <h6>Specialist Area</h6>
    <%= agent_info.text_field :specialist_area, class: 'form-control', placeholder: 'ex. Jakarta, Bali ...' %>
    <h6>Fluent Language</h6>
    <%= agent_info.text_field :language, class: 'form-control', placeholder: 'ex. English, Mandarin ...' %>
    <h6>Description</h6>
    <%= agent_info.text_area :description, class: 'form-control', placeholder: 'ex: Describe about your ...' %>
  </div>
  <div class="col-md-6">
    <h6>Company Logo</h6>
    <div class="user">
      <%= image_tag agent_info.object.company_logo.url(:medium), style: 'width: 200px' %>
    </div>
    <%= agent_info.file_field :company_logo %>
    <h6>Company Name</h6>
    <%= agent_info.text_field :name_company, class: 'form-control', placeholder: 'ex. Name Company' %>
    <h6>Company Website</h6>
    <%= agent_info.text_field :company_web, class: 'form-control', placeholder: 'ex. http://company ...' %>
  </div>
</div>
