<h3>Address</h3>
<hr>
<div class="row">
  <div class="col-md-6">
    <h6>Province</h6>
    <%= address.select :province_id, options_for_select(Region.roots.alfa.pluck(:name, :id), resource.address.province_id), {prompt: 'Choice Province'}, class: 'select2 form-control provinces_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    <h6>City</h6>
    <% cities = address.object.city_id ? Region.find_by(id: address.object.province_id).try(:children).pluck(:name, :id) || [] : Region.none rescue [] %>
    <div class="city-container">
      <%= address.select :city_id, options_for_select(cities, resource.address.city_id), {prompt: 'Choice City'}, class: 'select2 form-control cities_select' %>
    </div>
    <h6>Address</h6>
    <%= address.text_field :address, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <h6>Postcode</h6>
    <%= address.text_field :postcode, class: 'form-control' %>
    <h6>Latitude</h6>
    <%= address.text_field :latitude, class: 'form-control' %>
    <h6>Longitude</h6>
    <%= address.text_field :longitude, class: 'form-control' %>
  </div>
</div>
