<h3>User Account</h3>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <br>
        <div class="well margin0">
          <center>
            <h6>Verified</h6>
            <%= f.check_box :verified %>
          </center>
        </div>
      </div>
      <div class="col-md-8">
        <h6>Email</h6>
        <%= f.email_field :email, class: 'form-control', required: true %>
        <h6>Username</h6>
        <%= f.text_field :username, class: 'form-control', required: true %>
      </div>
    </div>
    <% if resource.class.name == "Admin" %>
      <h6>Role</h6>
      <%= f.select :role_id, options_for_select(Role.pluck(:title, :id), resource.role_id), {prompt: 'Choice Role'}, class: 'select2 form-control' %>
      <% end %>
    <h6>Password</h6>
    <%= f.password_field :password, class: 'form-control' %>
    <h6>Password Confirmation</h6>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <h6>Avatar</h6>
    <div class="user">
      <%= image_tag profile.object.avatar.url(:medium), style: 'width: 200px' %>
    </div>
    <%= profile.file_field :avatar %>
  </div>
</div>
<div class="break"></div>

<h3>Profile</h3>
<hr>
<div class="row">
  <div class="col-md-6">
    <h6>Full Name</h6>
    <%= profile.text_field :full_name, class: 'form-control' %>
    <h6>Birthday</h6>
    <%= profile.date_select :birthday, {
              start_year: (Date.today.year-100),
              end_year:   (Date.today.year-17),
              order: [:day, :month, :year],
              prompt: {
                day:   'Tanggal',
                month: 'Bulan',
                year:  'Tahun'
              }},
              {required: true, class: 'form-control select-birthday'} %>
    <h6>Gender</h6>
    <%= profile.select :gender, Gender.to_a, {prompt: 'Select Gender'}, {class: 'form-control'} %>
  </div>
  <div class="col-md-6">
    <h6>Meta Title</h6>
    <%= profile.text_field :meta_title, class: 'form-control' %>
    <h6>Meta Keyword</h6>
    <%= profile.text_field :meta_keyword, class: 'form-control' %>
    <h6>Meta Description</h6>
    <%= profile.text_field :meta_description, class: 'form-control' %>
  </div>
</div>

