.modal-agent .modal-body{
	padding: 0;
}
.modal-agent .modal-content{
	float: left;
	width: 100%;
	border-radius: 0;
  top:50px;
}
.modal-agent .col-md-6{
	height: 530px;
}
.modal-agent .cover-bg{
	overflow: hidden;
  display: inline-block;
  background-position: left;
  position: relative;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.modal-agent .phone{
	font-size: 16px;
}
.modal-agent .content-text{
	bottom: 40px;
  position: absolute;
  font-weight: 100;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.modal-agent .content-text .title{
	text-transform: uppercase;
	font-size: 16px;
}
.modal-agent .content-text .price{
	font-size: 18px;
}
.modal-agent .line-through{
	margin-top: 10px;
	margin-bottom: 10px;
}
.modal-agent .code{
	text-transform: uppercase;
}

.modal-report .modal-dialog{
	width: 400px;
}
.modal-report .modal-body{
	padding: 0;
}
.modal-report .modal-content{
	float: left;
	width: 100%;
	border-radius: 0;
  top: 50px;
}
.modal-report .modal-background{
	background-color: #FD4F55;
  padding: 15px;
  color: #fff;
  margin-bottom: 20px;
}
.modal-report .modal-background .page-title{
  width: 100%;
  font-size: 20px;
}
.modal-report .well{
	padding: 10px!important;
}
.modal-report .well h6{
	margin-bottom: 5px;
}








