/*Optional Custom*/
body .bootstrap-tagsinput {
	width: 100%;
}
.fa-lg{
  font-size: 36px;
}
.thumb{
	border: solid 1px #ccc;
	padding: 2px;
	width: 65px;
}
.alert{
	margin-bottom: 0!important;
}
.break{
	width: 100%;
	height: 20px;
	float: left;
}
.padding0{
  padding: 0!important;
}
.padding-left0{
  padding-left: 0!important;
}
.margin0{
  margin: 0!important;
}
header .header-data .hdata{
  width: 100px;
}
.amenity{
  display: none;
}
.uppercase{
  text-transform: uppercase;
}
.white{
  background: #fff;
}
.select2-container--default .select2-selection--single{
  border: solid 1px #ccc!important;
}
.select2-container .select2-selection--single{
  height: 32px!important;
}
.region-based .city-container, .region-based .sub-district-container{
  margin: 8px 0;
}
.region-based .select2-container{
  width: 100%!important;
}
.section-pic{
  width: 100%;
  float: left;
  padding: 15px;
  padding-bottom: 20px;
  background: #f5f5f5;
  border: solid 1px #ccc;
  margin-bottom: 10px;
}
.select2-container{
  width: 100%!important;
}
.select-birthday{
  width: 33%;
  float: left;
}

/*Setup Content Gallery*/
.setup-content .choice-gallery-form{
  list-style: none;
  padding-left: 0;
}
.setup-content .choice-gallery-form li{
  width: 16.6%;
  float: left;
  border: solid 1px #ccc;
  padding: 2px;
  height: 100px;
  position: relative;
}
.setup-content .choice-gallery-form img{
  width: 100%;
  height: 100%;
}
.setup-content .choice-gallery-form .input-file{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  cursor: pointer;
  opacity: 0.0;
}
.setup-content .choice-gallery-form li.overview{
  width: 50%!important;
  height: 120px!important;
  position: relative;
}
.setup-content .choice-gallery-form li.overview span{
  position: absolute;
  color: #fff;
  font-weight: bold;
  top: 5px;
  left: 5px;
  font-size: 14px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

/*Dynamic Map*/
.gmap3-dinamic{
  height: 400px;
  width: 100%;
}
.round-map{
  margin-top: 20px;
  width: 100%;
  background: #fff;
  border: solid 1px #ccc;
  padding: 10px;
}

.basic-form{
  display: none;
}

.hov-image{
  border: solid 1px #ccc;
  height: 80px;
  width: 100px;
  margin-right: 10px;
}

.hidden-form-basic, .hidden-form{
  display: none;
}

