<div class="user-form">
	<div class="form-element filled mature">
		<div class="placeholder">Name</div>
		<%= f.text_field :name, value: "#{current_user.username if current_user.present?}", class: "input", required: true %>
	</div>
	<div class="form-element filled mature">
		<div class="placeholder">Phone</div>
		<%= f.text_field :phone, class: "input", value: "#{current_user.contact.phone if current_user.present?}", required: true %>
	</div>
	<div class="form-element filled mature">
		<div class="placeholder">Email</div>
		<%= f.email_field :email, class: "input", value: "#{current_user.email if current_user.present?}", required: true %>
	</div>
	<div class="form-element filled mature">
		<div class="placeholder">Message</div>
		<%= f.text_field :message, class: "input", required: true %>
	</div>
	<div class="sent-button-container">
		<input class="btn btn-primary submit-button" type="submit" value="Send Contact Information">
	</div>
</div>
