<% @comments.each do |comment| %>
	<div class="row section-comments-group">
		<div class="col-sm-3">
			<center>
				<div class="user-image-cycle float-none margin-none">
					<%= image_tag comment.try(:user).try(:profile).try(:avatar).url(:thumb), class: 'host-profile-image' %>
				</div>
				<br>
				<span class="text-muted"><b><%= comment.try(:user).try(:username) %></b></span>
			</center>
		</div>
		<div class="col-sm-9">
			<br>
			<div class="row">
				<div class="col-xs-12">
					<p class="p-message"><%= comment.message %></p>
				</div>
				<div class="col-xs-11">
					<small class="text-muted">
						<i class="fa fa-user"></i>
						&nbsp;<a href="mailto:<%= comment.try(:user).try(:email) %>"><%= comment.try(:user).try(:email) %></a>
						&nbsp;
						<i class="fa fa-mobile"></i> <%= comment.try(:user).try(:contact).try(:phone) %>
						<br>
						Sent at <%= comment.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
					</small>
				</div>
				<div class="col-xs-1">
					<%= link_to '<i class="fa fa-times-circle"></i>'.html_safe,resource_path(comment), method: 'delete', data: {confirm: "Are you sure delete this #{comment.id}"} %>
				</div>
				<div class="col-xs-12">
					<hr>
				</div>
			</div>
		</div>
	</div>
<% end if @comments.present? %>
