<li class="dropdown dropdown-account-message">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-comments fa-box-inbox"></i> <span class="count-inbox"><%= @latest_inquiries.size %></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <div class="header-inbox-pop">
        <span class="pull-left"><small>Messages(<%= @latest_inquiries.size %>)</small></span>
        <%= link_to notices_url? do %>
          <span class="pull-right"><small>View Inbox</small></span>
        <% end %>
      </div>
      <div class="box-inbox-pop">
        <%= 'No data founds!' unless @latest_inquiries.present? %>
        <% @latest_inquiries.limit(5).each do |i| %>
          <% if i.parent.present? %>
            <%= link_to show_notice_url(i.parent.id) do %>
              <div class="list-message-limit">
                <div><b><%= i.user.username %></b></div>
                <div><%= i.message %></div>
              </div>
            <% end %>
          <% elsif i.parent.blank? %>
            <%= link_to show_notice_url(i) do %>
              <div class="list-message-limit">
                <div><b><%= i.name %></b></div>
                <div><%= i.message %></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </li>
  </ul>
</li>
