/*
  Theme         : Housing
  Company       : Creative Design Sukabumi
  Author Theme  : Alam Topani Herdiansyah
  Responsive    : Fathan Rohman
  Version 1
*/

@media screen and (max-width: 1364px) {
  /*---------------- PAGE HOME START ---------------*/
  h4, .h4 {
    font-size: 15px;
  }

  .main-text h1 {
    font-size: 30px;
  }

  .grid-category-menu ul li a {
    font-size: 14px;
  }

  .btn-create-sell{
    padding: 5px 19px;
  }

  section .container .features h2{
    font-size: 23px;
  }

  section.obvious i {
    font-size: 4em;
  }
  /*---------------- PAGE HOME END ---------------*/

  /*---------------- PAGE PROJECT START ---------------*/
  /*---------------- PAGE PROJECT END ---------------*/

  /*---------------- PAGE PROPERTIES START ---------------*/
  /*---------------- PAGE PROPERTIES END ---------------*/

  /*---------------- PAGE PROPERTIES DETAIL START ---------------*/
  /*---------------- PAGE PROPERTIES DETAIL END ---------------*/

  /*---------------- PAGE PROJECT DETAIL START ---------------*/
  /*---------------- PAGE PROJECT DETAIL END ---------------*/

  /*---------------- PAGE USER PAGE START ---------------*/
  /*---------------- PAGE USER PAGE END ---------------*/
}

@media screen and (max-width: 1246px) {
  /*---------------- PAGE HOME START ---------------*/
  .grid-category-menu ul li a {
    font-size: 10px;
  }
  /*---------------- PAGE HOME END ---------------*/

  /*---------------- PAGE PROJECT START ---------------*/
  /*---------------- PAGE PROJECT END ---------------*/

  /*---------------- PAGE PROPERTIES START ---------------*/
  #custom-search-input {
    width: 240px;
  }
  /*---------------- PAGE PROPERTIES END ---------------*/

  /*---------------- PAGE PROPERTIES DETAIL START ---------------*/
  /*---------------- PAGE PROPERTIES DETAIL END ---------------*/

  /*---------------- PAGE PROJECT DETAIL START ---------------*/
  /*---------------- PAGE PROJECT DETAIL END ---------------*/

  /*---------------- PAGE USER PAGE START ---------------*/
  /*---------------- PAGE USER PAGE END ---------------*/
}

@media screen and (max-width: 991px) {
  .side-right-fitured .c-cover-project{
    margin-right: -15px;
  }

  .listing-property-wrapper .title{
    z-index: 2;
    position: relative;
  }

  .listing-project-wrapper .image-lg-project{
    height: 200px;
  }

  .listing-project-wrapper .image-sm-project{
    max-height: 80px;
  }

  .listing-project-wrapper .image-sm-project img{
    height: 80px;
  }

  .listing-project-wrapper .box-feature-properties .our-info-project div{
    margin-top: 4px;
  }

  .side-right-fitured .box-img{
    height: 200px;
  }

  .side-right-fitured .box-info-featured-wrapper, .listing-project-wrapper .box-feature-properties
  {
    margin-top: 10px;
  }

  .modal-agent .cover-bg{
    display: block;
    height: 250px;
  }

  .round-property .input-group{
    padding-top: 15px;
  }

  /*----- LISTING FEATURED PROPERTIES START -------*/
  .featured-properties-item{
    width: 48%;
  }

  .featured-properties-item .img-wrapper-feat-properties{
    padding-bottom: 44.6%;
  }

  .featured-properties-item .box-info-right{
    margin-top: 10px;
  }
  /*----- LISTING FEATURED PROPERTIES END -------*/

  /*---------------- PAGE HOME START ---------------*/
  .grid-category-menu ul li a {
    font-size: 10px;
  }

  #quote-carousel .carousel-control.right {
    right: -15px;
  }

  #quote-carousel .carousel-control.left {
    left: -15px;
  }
  /*---------------- PAGE HOME END ---------------*/

  /*---------------- PAGE PROJECT START ---------------*/
  /*---------------- PAGE PROJECT END ---------------*/

  /*---------------- PAGE PROPERTIES START ---------------*/
  #custom-search-input {
    width: 205px;
  }

  .listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .count-size-room ul li{
    margin-right: 9px;
  }

  .listing-auction-wrapper .box-desc-auction-list .box-two-desc-auction .size-area{
    font-size: 9px;
  }
  /*---------------- PAGE PROPERTIES END ---------------*/

  /*---------------- PAGE PROPERTIES DETAIL START ---------------*/
  .btn-wishlist {
    padding: 15px 39px;
  }

  .entity{
    width: 49.88%;
  }

  .entity-right .value {
    font-size: 12px;
  }
  /*---------------- PAGE PROPERTIES DETAIL END ---------------*/

  /*---------------- PAGE PROJECT DETAIL START ---------------*/
  /*---------------- PAGE PROJECT DETAIL END ---------------*/

  /*---------------- PAGE USER PAGE START ---------------*/
  .cover-image-users .info-user-cover{
    top: 40px;
  }

  .cover-image-users .info-user-cover .user-image-cycle {
    height: 55px;
    width: 55px;
    float: left;
    margin-right: 10px;
  }

  .info-user-cover .user-image-cycle img{
    width: 100%;
  }

  .info-user-cover .name{
    /*display: none;*/
  }

  .info-user-cover .email{
    /*display: none;*/
  }
  /*---------------- PAGE USER PAGE END ---------------*/

  /*---------------- PAGE LANDING PAGE START ---------------*/
  .box-landing-page {
    width: 100%;
  }
  /*---------------- PAGE LANDING PAGE END ---------------*/
}

@media screen and (max-width: 950px) {
  .listing-project-wrapper .image-lg-project{
    height: auto;
  }

  .side-right-fitured .box-img{
    height: 200px;
  }

  .listing-property-wrapper .image-lg-property-new{
    height: 200px;
  }

  .navbar .navbar-nav > li > a{
    font-size: 10px;
  }

  .main-text-auction{
    width: 70%;
  }

  .main-text-auction a button{
    margin-top: -20px;
  }

  .search-big{
    padding: 10px;
  }

  .position-center{
    display: table;
    margin: 0 auto;
    float: none!important;
  }

  .position-center-inherit{
    display: table;
    margin: 0 auto;
    float: none!important;
    left: 0;
    right: 0!important;
    position: inherit!important;
  }

  /*----- LISTING FEATURED PROPERTIES START -------*/
  .featured-properties-item{
    width: 50%;
  }

  .featured-properties-item .img-wrapper-feat-properties{
    padding-bottom: 44.6%;
  }

  .featured-properties-item .box-info-right{
    margin-top: 10px;
  }
  /*----- LISTING FEATURED PROPERTIES END -------*/

  /*---------------- PAGE HOME START ---------------*/
  a.navbar-brand{
    font-size: 12px;
  }

  h4, .h4 {
    font-size: 12px;
  }

  .main-text h1 {
    font-size: 25px;
  }

  .main-text p {
    font-size: 15px;
  }

  .grid-category-menu ul li a {
    font-size: 11px;
  }

  .btn-create-sell{
    padding: 5px 19px;
  }

  section .container .features h2{
    font-size: 23px;
  }

  section.obvious i {
    font-size: 4em;
  }
  /*---------------- PAGE HOME END ---------------*/

  /*---------------- PAGE PROJECT START ---------------*/
  .listing-project-wrapper{
    width: 100%;
  }
  /*---------------- PAGE PROJECT END ---------------*/

  /*---------------- PAGE PROPERTIES START ---------------*/
  .listing-project-wrapper .image-sm-project{
    max-height: none;
  }

  .listing-project-wrapper .image-sm-project img{
    height: 150px;
  }

  .listing-project-wrapper .box-feature-properties {
    margin-top: 10px;
  }

  #custom-search-input{
    width: 230px;
  }
  /*---------------- PAGE PROPERTIES END ---------------*/

  /*---------------- PAGE PROPERTIES DETAIL START ---------------*/
  .btn-wishlist {
    padding: 15px 125px;
  }

  section.square-profile-section {
    text-align: center;
  }

  section.square-profile-section .user-pad h3{
    font-size: 15px;
  }

  section.square-profile-section .user-pad .color-grey{
    font-size: 15px;
  }
  /*---------------- PAGE PROPERTIES DETAIL END ---------------*/

  /*---------------- PAGE PROJECT DETAIL START ---------------*/
  .img-builder-center-show{
    text-align: center;
  }

  .name-builder-center-show h4{
    text-align: center;
  }

  .name-builder-center-show .builder-details p{
    text-align: center;
  }
  /*---------------- PAGE PROJECT DETAIL END ---------------*/

  /*---------------- PAGE USER PAGE START ---------------*/
  .cover-image-users .info-user-cover{
    top: 35px;
  }

  .cover-image-users .info-user-cover .user-image-cycle {
    height: 55px;
    width: 55px;
    float: left;
    margin-right: 10px;
  }

  .info-user-cover .user-image-cycle img{
    width: 100%;
  }

  .info-user-cover .name{
    /*display: none;*/
  }

  .info-user-cover .email{
    /*display: none;*/
  }
  /*---------------- PAGE USER PAGE END ---------------*/
}

@media screen and (max-width: 930px) {
  /*---------------- PAGE HOME START ---------------*/
  a.navbar-brand{
    font-size: 11px;
  }

  h4, .h4 {
    font-size: 12px;
  }

  .main-text h1 {
    font-size: 25px;
  }

  .main-text p {
    font-size: 15px;
  }

  .grid-category-menu ul li a {
    font-size: 9px;
  }

  .btn-create-sell{
    padding: 5px 19px;
  }

  section .container .features h2{
    font-size: 23px;
  }

  section.obvious i {
    font-size: 4em;
  }

  .line-through {
    font-size: 18px;
  }

  .line-through p{
    top: -10px;
  }
  /*---------------- PAGE HOME END ---------------*/

  /*---------------- PAGE PROJECT START ---------------*/
  .listing-project-wrapper{
    width: 100%;
  }
  /*---------------- PAGE PROJECT END ---------------*/

  /*---------------- PAGE PROPERTIES START ---------------*/
  .listing-project-wrapper .image-sm-project{
    max-height: none;
  }

  .listing-project-wrapper .image-sm-project img{
    height: 150px;
  }

  /*---------------- PAGE PROPERTIES END ---------------*/

  /*---------------- PAGE PROPERTIES DETAIL START ---------------*/
  .btn-wishlist {
    padding: 15px 125px;
  }

  section.square-profile-section {
    text-align: center;
  }

  section.square-profile-section .user-pad h3{
    font-size: 14px;
  }

  section.square-profile-section .user-pad .color-grey{
    font-size: 14px;
  }
  /*---------------- PAGE PROPERTIES DETAIL END ---------------*/

  /*---------------- PAGE PROJECT DETAIL START ---------------*/
  .section-desc-white {

  }
  /*---------------- PAGE PROJECT DETAIL END ---------------*/

  /*--------------- PAGE USER PAGE START ------------------*/
  .cover-image-users .info-user-cover{
    top: 33px;
  }

  .cover-image-users .info-user-cover .user-image-cycle {
    height: 55px;
    width: 55px;
    float: left;
    margin-right: 10px;
  }

  .info-user-cover .user-image-cycle img{
    width: 100%;
  }

  .info-user-cover .name{
    /*display: none;*/
  }

  .info-user-cover .email{
    /*display: none;*/
  }

  .nav-sidebar-users-left {
    border-right: 1px solid transparent;
  }

  .nav-sidebar-users-right {
    border-left: 1px solid transparent;
  }

  .nav-sidebar-users-right .sidebar-users-right-wrapper {
    padding-left: 0px;
  }
  /*--------------- PAGE USER PAGE END ------------------*/
}

@media screen and (max-width: 850px) {
  .listing-property-wrapper .image-lg-property-new{
    height: 200px;
  }

  .navbar .navbar-nav > li > a{
    font-size: 9px;
  }

  .main-text-auction{
    width: 70%;
  }

  .main-text-auction a button{
    margin-top: -20px;
  }

  .search-big{
    padding: 10px;
  }

  /*----- LISTING FEATURED PROPERTIES START -------*/
  .featured-properties-item{
    width: 48%;
  }

  .featured-properties-item .img-wrapper-feat-properties{
    padding-bottom: 44.6%;
  }

  .featured-properties-item .box-info-right{
    margin-top: 10px;
  }
  /*----- LISTING FEATURED PROPERTIES END -------*/

  /*--------- MENU CANVAS SHOW HIDE START --------*/
  .c-menu--push-left .c-menu__link, .c-menu--push-right .c-menu__link, .c-menu--slide-left .c-menu__link, .c-menu--slide-right .c-menu__link{
    font-size:13px;
  }
  /*--------- MENU CANVAS SHOW HIDE END --------*/

  /*------- ELEMENT START ------------*/
  h1 {
    font-size: 32px;
  }

  h2{
    font-size: 24px;
  }

  h3{
    font-size: 20px;
  }

  h4{
    font-size: 16px;
  }

  h5{
    font-size: 12px;
  }
  h6{
    font-size: 11px;
  }
  /*------- ELEMENT END ------------*/

  /*---------------- PAGE HOME START ---------------*/
  a.navbar-brand{
    font-size: 11px;
  }

  a.dropdown-toggle{
    font-size: 11px;
  }

  #custom-search-input{
    min-width: 0px;
    margin-left: 0px;
  }

  h2, .h2 {
    font-size: 23px;
  }

  h4, .h4 {
    font-size: 12px;
  }

  .main-text h1 {
    font-size: 20px;
  }

  .main-text p {
    font-size: 14px;
  }

  .grid-category-menu ul li a {
    padding: 29px 14px;
    font-size: 9px;
  }

  .btn-create-sell{
    padding: 2px 12px;
    font-size: 16px;
  }

  section .container .features h2 {
    font-size: 18px;
  }

  section.obvious i {
    font-size: 4em;
  }

  .populer-location a {
    width: 49.33333%;
  }

  .btn-more-info {
    font-size: 12px;
  }

  .line-through {
    font-size: 17px;
  }

  .line-through p{
    top: -10px;
  }
  /*---------------- PAGE HOME END ---------------*/

  /*---------------- PAGE PROJECT START ---------------*/
  .listing-project-wrapper{
    width: 100%;
  }

  .listing-project-wrapper .box-feature-properties{
    margin-top: 12px;
  }

  .side-right-fitured .box-info-featured-wrapper{
    margin-top: 10px;
  }
  /*---------------- PAGE PROJECT END ---------------*/

  /*---------------- PAGE PROPERTIES START ---------------*/
  #custom-search-input{
    width: 214px;
  }
  /*---------------- PAGE PROPERTIES END ---------------*/

  /*---------------- PAGE PROPERTIES DETAIL START ---------------*/
  .user-menu-container .pull-right {
    float: none!important;
  }

  .btn-wishlist {
    padding: 15px 120px;
  }

  .btn-wishlist-2 {
    padding: 15px 59px;padding: 15px 59px;
  }

  section.square-profile-section {
    text-align: center;
  }

  section.square-profile-section .user-pad h3{
    font-size: 14px;
  }

  section.square-profile-section .user-pad .color-grey{
    font-size: 13px;
  }
  /*---------------- PAGE PROPERTIES DETAIL END ---------------*/

  /*---------------- PAGE PROJECT DETAIL START ---------------*/
  .section-desc-white {

  }
  /*---------------- PAGE PROJECT DETAIL END ---------------*/

  /*--------------- PAGE USER PAGE START ------------------*/
  .cover-image-users .info-user-cover{
    top: 26px;
  }

  .cover-image-users .info-user-cover .user-image-cycle {
    height: 55px;
    width: 55px;
    float: left;
    margin-right: 10px;
  }

  .info-user-cover .user-image-cycle img{
    width: 100%;
  }

  .info-user-cover .name{
    /*display: none;*/
  }

  .info-user-cover .email{
    /*display: none;*/
  }

  .nav-sidebar-users-left {
    border-right: 1px solid transparent;
  }

  .nav-sidebar-users-right {
    border-left: 1px solid transparent;
  }

  .nav-sidebar-users-right .sidebar-users-right-wrapper {
    padding-left: 0px;
  }
  /*--------------- PAGE USER PAGE END ------------------*/

  /*------------- PAGE CREATE PROPERTY START ------------*/
  .stepwizard-step p {
    font-size: 13px;
  }
  /*------------- PAGE CREATE PROPERTY END ------------*/
}

@media screen and (max-width: 768px) {
  .transition-timer-carousel .carousel-inner img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    height: 100%;
  }

  .navbar .navbar-nav > li > a{
    font-size: 12px;
  }
  .navbar-red .navbar-nav .open .dropdown-menu>li>a{
    color: #fff;
  }
  /*---------------- MAP SEARCH DYNAMIC ---------------*/
  .round-map {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    display: inline-block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    right: 0;
    z-index: 0;
    background: #f2f2f2;
    width: 100%;
    height: 400px;
  }
  .section-list-side-property {
    width: 100%;
  }
  .section-list-side-property .list-side-property{
    padding-top: 170px;
  }
  /*---------------- /MAP SEARCH DYNAMIC ---------------*/

  .side-right-fitured .box-img{
    height: auto;
  }

  .listing-property-wrapper .image-lg-project{
    height: auto;
  }

  .listing-property-wrapper .cover-gall-property{
    height: auto;
  }

  .c-menu--push-left .c-menu__close, .c-menu--push-right .c-menu__close, .c-menu--slide-left .c-menu__close, .c-menu--slide-right .c-menu__close{
    padding: 15px 24px;
  }

  .listing-property-wrapper .image-lg-property-new{
    height: 400px;
  }

  .modal-report .modal-content {
    width: 100%;
    margin: 100px 145px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.count{
    font-size: 30px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.day {
    font-size: 20px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.dotted-2 {
    font-size: 30px;
  }

  .main-text-auction{
    width: 70%;
  }

  .main-text-auction a button{
    margin-top: -30px;
  }

  .search-big{
    padding: 8px;
  }

  .form-row-search {
    width: 33%;
  }
  /*----- LISTING FEATURED PROPERTIES START -------*/
  .featured-properties-item{
    width: 48%;
  }

  .featured-properties-item .img-wrapper-feat-properties{
    padding-bottom: 44.6%;
  }

  .featured-properties-item .box-info-right{
    margin-top: 10px;
  }
  /*----- LISTING FEATURED PROPERTIES END -------*/

  .box-one-desc-auction{
    text-align: center;
  }

  .box-two-desc-auction{
    text-align: center;
  }

  /*--------- MENU CANVAS SHOW HIDE START --------*/
  .c-menu--push-left .c-menu__link, .c-menu--push-right .c-menu__link, .c-menu--slide-left .c-menu__link, .c-menu--slide-right .c-menu__link{
    font-size:11px;
  }
  /*--------- MENU CANVAS SHOW HIDE END --------*/

  /*------- ELEMENT START ------------*/
  h1 {
    font-size: 31px;
  }

  h2{
    font-size: 23px;
  }

  h3{
    font-size: 19px;
  }

  h4{
    font-size: 15px;
  }

  h5{
    font-size: 12px;
  }
  h6{
    font-size: 11px;
  }
  /*------- ELEMENT END ------------*/

  a.navbar-brand{
    font-size: 18px;
  }

  .navbar-nav > li {
    font-size: 9px;
  }

  /*--------------- PAGE HOME START ----------------*/
  .grid-category-menu ul li a{
    width: 50%;
  }

  .grid-category-menu ul li a i {
    font-size: 20px;
  }

  .list-catalog-home{
    width: 200%;
    border-right: solid 1px #e00007;
  }

  h2, .h2 {
    font-size: 17px;
  }

  h4, .h4 {
    font-size: 14px;
  }

  .main-text {
    top: 15%;
  }

  .main-text h1 {
    font-size: 20px;
  }

  .main-text p {
    font-size: 13px;
  }

  section.obvious i {
    font-size: 4em;
    color: #5cb85c;
  }

  section .container .features h4{
    font-size: 12px;
  }

  .line-through {
    font-size: 17px;
  }

  .line-through p{
    top: -10px;
  }
  /*--------------- PAGE HOME END ----------------*/

  .btn-create-sell {
    padding: 7px 23px;
    font-size: 14px;
  }

  .populer-location a div {
    font-size: 10px;
  }

  #quote-carousel .carousel-control.right {
    right: -15px;
  }

  #quote-carousel .carousel-control.left {
    left: -15px;
  }

  p.size-p{
    font-size: 15px;
  }

  #custom-search-input{
    width: 100%;
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    text-align: center;
  }

  .navbar-red .open .dropdown-menu > li > a{
    color: #fff;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-nav li{
    margin: auto;
    display: table;
  }

  .entity-left{
    font-size: 20px;
  }

  .entity-right .text{
    font-size: 12px;
  }

  .entity-right .value{
    font-size: 11px;
  }

  .listing-project-wrapper .box-feature-properties{
    margin-top: 10px;
  }

  .side-right-fitured .box-info-featured-wrapper{
    padding-left: 0px;
    margin-top: 10px;
  }

  .img-1_2 {
    width: 50%;
  }

  .img-1_3.first {
    width: 50%;
  }

  .img-1_3_1 {
    width: 64%;
  }

  .img-right.img-3 {
    width: 50%;
  }

  .populer-location a {
    width: 50%;
  }

  .grid-category-menu ul li a{
    border-bottom: solid 1px #FC383E;
  }

  section.square-profile-section{
    text-align: center;
  }

  .user-menu-container .pull-right{
    float: none;
  }

  .btn-wishlist {
    padding: 15px 70px;
    font-size: 12px;
  }

  .btn-wishlist-2 {
    padding: 10px 36px;
    font-size: 12px;
  }

  .listing-project-wrapper .image-sm-project{
    max-height: none;
  }

  .listing-project-wrapper .image-sm-project img{
    height: 150px;
  }

  /*---------------- PAGE USERPAGE START ----------------*/
  .cover-image-users .info-user-cover{
  }

  .cover-image-users .info-user-cover .user-image-cycle {
    height: 55px;
    width: 55px;
    float: left;
    margin-right: 10px;
  }

  .info-user-cover .user-image-cycle img{
    width: 100%;
  }

  .info-user-cover .name{
    /*display: none;*/
  }

  .info-user-cover .email{
    /*display: none;*/
  }

  .nav-sidebar-users-left {
    border-right: 1px solid transparent;
  }

  .nav-sidebar-users-right {
    border-left: 1px solid transparent;
  }

  .nav-sidebar-users-right .sidebar-users-right-wrapper {
    padding-left: 0px;
  }
  /*---------------- PAGE USERPAGE END ----------------*/

  /*---------------- LISTING START ---------------------*/
  .listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .count-size-room{
    margin-left: 20px;
    display: inline-block;
  }
  /*---------------- LISTING END ---------------------*/

  /*----------------- PAGE CREATE PROPERTIES START ---------------*/
  .setup-content .choice-gallery-form li{
    width: 33.3333%;
    height: 209px;
  }

  .stepwizard-step p {
    font-size: 13px;
  }
  /*----------------- PAGE CREATE PROPERTIES END ---------------*/

  .listing-auction-wrapper .box-desc-auction-list .box-three-desc-auction{
    border-left: none;
    padding-left: 0px;
  }

  .listing-auction-wrapper .box-desc-auction-list .box-for-desc-auction{
    border-left: none;
  }

  .box-search-form-multiaction .search-form-multiaction .form-inline .input-group > .form-control {
    width: 45%;
    border-radius: 0px;
  }

  .box-search-form-multiaction .main-text {
    top: 9%;
  }
}

@media screen and (max-width: 650px) {
  .media-carousel-feature-property{
    padding: 20px;
  }

  .entity{
    width: 50%!important;
  }

  .featured-properties-item .box-title-price .title{
    height: auto;
  }

  #quote-carousel .carousel-indicators .active{
    width: 50px;
    height: 50px;
  }

  .listing-property-wrapper .image-lg-property-new{
    height: 300px;
  }

  .contact-user-font{
    margin-top: 20px;
  }

  .modal-report .modal-content {
    width: 100%;
    margin: 90px 100px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.count{
    font-size: 30px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.day {
    font-size: 20px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.dotted-2 {
    font-size: 30px;
  }

  .main-text-auction{
    width: 70%;
  }

  .main-text-auction a button{
    margin-top: -45px;
    width: 35%;
    padding: 0px;
  }

  .search-big{
    padding: 5px;
  }

  .form-row-search {
    width: 33%;
  }

  /*----- LISTING FEATURED PROPERTIES START -------*/
  .featured-properties-item{
    width: 100%;
  }

  .featured-properties-item .img-wrapper-feat-properties{
    padding-bottom: 44.6%;
  }

  .featured-properties-item .box-info-right{
    margin-top: 10px;
  }
  /*----- LISTING FEATURED PROPERTIES END -------*/

  /*--------- MENU CANVAS SHOW HIDE START --------*/
  .c-menu--push-left .c-menu__link, .c-menu--push-right .c-menu__link, .c-menu--slide-left .c-menu__link, .c-menu--slide-right .c-menu__link{
    font-size:10px;
  }
  /*--------- MENU CANVAS SHOW HIDE END --------*/

  /*------- ELEMENT START ------------*/
  h1 {
    font-size: 30px;
  }

  h2{
    font-size: 22px;
  }

  h3{
    font-size: 18px;
  }

  h4{
    font-size: 14px;
  }

  h5{
    font-size: 12px;
  }
  h6{
    font-size: 11px;
  }
  /*------- ELEMENT END ------------*/

  a.navbar-brand {
     font-size: 18px;
  }

  /*--------------- PAGE HOME START ------------------*/
  .main-text h1 {
    font-size: 17px;
  }

  .main-text p {
    font-size: 12px;
  }

  .btn-create-sell {
    padding: 7px 20px;
    font-size: 15px;
  }

  .grid-category-menu ul li a {
    width: 50%;
    font-size: 11px;
    padding: 30px 20px;
  }

  .grid-category-menu ul li a i{
    font-size: 20px;
  }

  h2, .h2 {
    font-size: 15px;
  }

  h4, .h4 {
    font-size: 15px;
  }

  section .container .features h2{
    font-size: 18px;
  }

  section.obvious i {
    font-size: 5em;
  }

  section.obvious p {
    font-size: 11px;
  }

  .ha-bg-parallax .ha-content-whitecolor {
    font-size: 18px;
  }

  .line-through {
    font-size: 16px;
  }

  .line-through p{
    top: -10px;
  }

  .btn-more-info{
    font-size: 10px;
    padding: 10px 35px;
  }

  .section.green h2{
    font-size: 18px;
  }

  .section.green p{
    font-size: 13px;
  }

  .section.green small{
    font-size: 14px;
  }

  #quote-carousel .carousel-inner {
    min-height: 220px;
  }
  /*--------------- PAGE HOME END ------------------*/

  /*--------------- PAGE PROPERTIES START ------------------*/
  .listing-project-wrapper .box-feature-properties .info-global-project .price {
    font-size: 15px;
  }

  .listing-project-wrapper .box-feature-properties .info-global-project .title a{
    font-size: 13px;
  }

  .listing-project-wrapper .box-feature-properties .feature .box-feature .description{
    font-size: 12px;
  }

  .listing-project-wrapper .box-feature-properties .info-global-project .title{
    margin-bottom: 15px;
  }

  .top-label-side-fitured{
    font-size: 12px;
  }

  .listing-project-wrapper .image-sm-project{
    max-height: none;
  }

  .listing-project-wrapper .image-sm-project img{
    height: 150px;
  }

  .listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .count-size-room{
    margin-left: 20px;
    display: inline-block;
  }
  /*--------------- PAGE PROPERTIES END ------------------*/

  /*--------------- PAGE PROJECTS START ------------------*/
  .card.hovercard .info .title{
    font-size: 17px;
  }

  .card .contact-btn{
    font-size: 12px;
  }

  .card .price {
    font-size: 17px;
  }

  .user-image-cycle img{
    top: 50%;
    left: 50%;
  }

  .section-desc-white {
    float: none;
  }
  /*--------------- PAGE PROJECTS END ------------------*/

  /*--------------- PAGE PROPERTIES DETAIL START ------------------*/
  section.square-profile-section {
    text-align: center;
  }

  section.square-profile-section .user-pad h3{
    font-size: 13px;
  }

  section.square-profile-section .user-pad .color-grey{
    font-size: 12px;
  }

  .user-menu-container .pull-right {
    float: none!important;
  }

  .btn-wishlist {
    padding: 12px 86px;
    font-size: 10px;
  }

  .btn-wishlist-2 {
    padding: 10px 36px;
    font-size: 12px;
  }

  .listing-history-info i{
    font-size: 10px;
  }

  .listing-history-info{
    font-size: 10px;
  }

  .img-1_2 {
    width: 100%;
  }

  .img-1_3 {
    width: 100%;
  }

  .img-1_3.first {
    width: 100%;
  }

  .img-right.img-3 {
    width: 100%;
  }

  .img-1_3.bottom {
    width: 100%;
  }

  .img-1_3 img {
    height: auto;
  }

  .entity{
    width: 100%;
  }

  .entity-left{
    font-size: 23px;
  }

  .entity-right .text{
    font-size: 15px;
  }

  .entity-right .value{
    font-size: 14px;
  }
  /*--------------- PAGE PROPERTIES DETAIL END ------------------*/

  /*--------------- PAGE PROJECTS DETAIL START ------------------*/
  .configuration-entity .entity {
    width: 50%;
  }

  .utilities .configuration-entity span:last{
    width: 50%;
  }
  /*--------------- PAGE PROJECTS DETAIL END ------------------*/

  /*--------------- PAGE USER PAGE START ------------------*/
  .cover-image-users .info-user-cover{
  }

  .cover-image-users .info-user-cover .user-image-cycle {
    height: 55px;
    width: 55px;
    float: left;
    margin-right: 10px;
  }

  .info-user-cover .user-image-cycle img{
    width: 100%;
  }

  .info-user-cover .name{
    /*display: none;*/
  }

  .info-user-cover .email{
    /*display: none;*/
  }

  .nav-sidebar-users-left {
    border-right: 1px solid transparent;
  }

  .nav-sidebar-users-right {
    border-left: 1px solid transparent;
  }

  .nav-sidebar-users-right .sidebar-users-right-wrapper {
    padding-left: 0px;
  }
  /*--------------- PAGE USER PAGE END ------------------*/

  /*----------------- PAGE CREATE PROPERTIES START ---------------*/
  .setup-content .choice-gallery-form li{
    width: 33.3333%;
    height: 171px;
  }

  .stepwizard-step p {
    font-size: 12px;
  }
  /*----------------- PAGE CREATE PROPERTIES END ---------------*/

  /*----------------- MODAL REPORT START -------------------*/

  .modal-report h5{
    font-size: 13px;
  }

  .modal-report .modal-background .page-title{
    font-size: 16px;
  }

  .modal-report .modal-background .text{
    font-size: 11px;
  }
  /*----------------- MODAL REPORT END -------------------*/

  .box-search-form-multiaction .search-form-multiaction .nav-tabs > li > a {
    font-size: 10px;
  }

  .box-search-form-multiaction .search-form-multiaction .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-size: 10px;
  }

  .box-search-form-multiaction .search-form-multiaction .form-inline .input-group > .form-control {
    width: 100%;
    margin-bottom: 5px;
  }

  .box-search-form-multiaction .search-form-multiaction .input-group-btn{
    width: 100%;
  }

  .box-search-form-multiaction .search-form-multiaction .input-group-btn .btn{
    border-radius: 0;
  }

  .box-search-form-multiaction .main-text {
    top: 10%;
  }
}

@media screen and (max-width: 550px) {
  .listing-property-wrapper .image-lg-property-new{
    height: 200px;
  }

  .contact-user-font{
    margin-top: 20px;
  }

  .modal-report .modal-content {
    width: 100%;
    margin: 50px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.count{
    font-size: 30px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.day {
    font-size: 20px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.dotted-2 {
    font-size: 30px;
  }

  .main-text-auction{
    width: 70%;
  }

  .main-text-auction button span{
    font-size: 12px;
    margin-left: -7px;
  }

  .main-text-auction a button{
    display: none;
  }

  .search-big{
    padding: 5px;
  }

  .form-row-search {
    width: 50%;
  }

  /*----- LISTING FEATURED PROPERTIES START -------*/
  .featured-properties-item .img-wrapper-feat-properties{
    padding-bottom: 54.6%;
  }

  .featured-properties-item .box-info-right{
    margin-top: 10px;
  }
  /*----- LISTING FEATURED PROPERTIES END -------*/

  /*--------- MENU CANVAS SHOW HIDE START --------*/
  .c-menu--push-left .c-menu__link, .c-menu--push-right .c-menu__link, .c-menu--slide-left .c-menu__link, .c-menu--slide-right .c-menu__link{
    font-size:10px;
  }
  /*--------- MENU CANVAS SHOW HIDE END --------*/

  /*------- ELEMENT START ------------*/
  h1 {
    font-size: 29px;
  }

  h2{
    font-size: 21px;
  }

  h3{
    font-size: 17px;
  }

  h4{
    font-size: 13px;
  }

  h5{
    font-size: 12px;
  }
  h6{
    font-size: 11px;
  }
  /*------- ELEMENT END ------------*/

  a.navbar-brand {
     font-size: 18px;
  }

  /*--------------- PAGE HOME START ------------------*/
  .main-text h1 {
    font-size: 15px;
  }

  .main-text p {
    font-size: 10px;
  }

  .btn-create-sell {
    padding: 2px 12px;
    font-size: 15px;
  }

  .grid-category-menu ul li a {
    width: 50%;
    font-size: 10px;
    padding: 20px 20px;
  }

  .grid-category-menu ul li a i{
    font-size: 20px;
  }

  h2, .h2 {
    font-size: 15px;
  }

  section .container .features h2{
    font-size: 15px;
  }

  section .container .features h4 {
    font-size: 15px;
  }

  section.obvious i {
    font-size: 4em;
  }

  section.obvious p {
    font-size: 11px;
  }

  .ha-bg-parallax .ha-content-whitecolor {
    font-size: 14px;
  }

  .line-through {
    font-size: 14px;
  }

  .line-through p{
    top: -10px;
  }

  .btn-more-info{
    font-size: 10px;
    padding: 8px 26px;
  }

  .section.green h2{
    font-size: 15px;
  }

  .section.green p{
    font-size: 15px;
  }

  .section.green small{
    font-size: 12px;
  }

  #quote-carousel .carousel-inner {
    min-height: 220px;
  }
  /*--------------- PAGE HOME END ------------------*/

  /*--------------- PAGE PROPERTIES START ------------------*/
  .listing-project-wrapper .box-feature-properties .info-global-project .price {
    font-size: 15px;
  }

  .listing-project-wrapper .box-feature-properties .info-global-project .title a{
    font-size: 12px;
  }

  .listing-project-wrapper .box-feature-properties .feature .box-feature .description{
    font-size: 11px;
  }

  .listing-project-wrapper .box-feature-properties .info-global-project .title{
    margin-bottom: 15px;
  }

  .top-label-side-fitured{
    font-size: 12px;
  }

  .listing-project-wrapper .image-sm-project{
    max-height: none;
  }

  .listing-project-wrapper .image-sm-project img{
    height: 120px;
  }

  .listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .count-size-room{
    margin-left: 20px;
    display: inline-block;
  }
  /*--------------- PAGE PROPERTIES END ------------------*/

  /*--------------- PAGE PROJECTS START ------------------*/
  .card.hovercard .info .title{
    font-size: 17px;
  }

  .card .contact-btn{
    font-size: 12px;
  }

  .card .price {
    font-size: 17px;
  }

  .user-image-cycle img{
    top: 50%;
    left: 50%;
  }

  .section-desc-white {
    float: none;
  }
  /*--------------- PAGE PROJECTS END ------------------*/

  /*--------------- PAGE PROPERTIES DETAIL START ------------------*/
  section.square-profile-section {
    text-align: center;
  }

  section.square-profile-section .user-pad h3{
    font-size: 13px;
  }

  section.square-profile-section .user-pad .color-grey{
    font-size: 10px;
  }

  .btn-wishlist {
    padding: 10px 50px;
    font-size: 12px;
  }

  .btn-wishlist-2 {
    padding: 10px 24px;
    font-size: 12px;
  }

  .listing-history-info i{
    font-size: 10px;
  }

  .listing-history-info{
    font-size: 10px;
  }

  .img-1_2 {
    width: 100%;
  }

  .img-1_3 {
    width: 100%;
  }

  .img-1_3.first {
    width: 100%;
  }

  .img-right.img-3 {
    width: 100%;
  }

  .img-1_3.bottom {
    width: 100%;
  }

  .img-1_3 img {
    height: auto;
  }

  .entity{
    width: 100%;
  }

  .entity-left{
    font-size: 22px;
  }

  .entity-right .text{
    font-size: 14px;
  }

  .entity-right .value{
    font-size: 13px;
  }
  /*--------------- PAGE PROPERTIES DETAIL END ------------------*/

  /*--------------- PAGE PROJECTS DETAIL START ------------------*/
  .configuration-entity .entity {
    width: 50%;
  }
  /*--------------- PAGE PROJECTS DETAIL END ------------------*/

  /*--------------- PAGE USER PAGE START ------------------*/
  .cover-image-users .info-user-cover{
  }

  .cover-image-users .info-user-cover .user-image-cycle {
    height: 45px;
    width: 45px;
    float: left;
    margin-right: 10px;
  }

  .info-user-cover .user-image-cycle img{
    width: 100%;
  }

  .cover-image-users .info-user-cover .box-info-user .name{
    font-size: 12px;
  }

  .cover-image-users .info-user-cover .box-info-user .email{
    font-size: 12px;
  }

  .nav-sidebar-users-left {
    border-right: 1px solid transparent;
  }

  .nav-sidebar-users-right {
    border-left: 1px solid transparent;
  }

  .nav-sidebar-users-right .sidebar-users-right-wrapper {
    padding-left: 0px;
  }
  /*--------------- PAGE USER PAGE END ------------------*/

  /*----------------- PAGE CREATE PROPERTIES START ---------------*/
  .setup-content h3{
    font-size: 18px;
  }

  .setup-content .choice-gallery-form li{
    width: 33.3333%;
    height: 138px;
  }

  .stepwizard-step p {
    font-size: 9px;
  }
  /*----------------- PAGE CREATE PROPERTIES END ---------------*/

  /*----------------- MODAL REPORT START -------------------*/

  .modal-report h5{
    font-size: 13px;
  }

  .modal-report .modal-background .page-title{
    font-size: 16px;
  }

  .modal-report .modal-background .text{
    font-size: 11px;
  }
  /*----------------- MODAL REPORT END -------------------*/
  .box-search-form-multiaction .title-search-homepage h2{
    font-size: 14px;
    padding: 10px;
  }

  .nav-top-user ul li a{
    width: 100%;
  }

  .box-search-form-multiaction .main-text{
    width: 90%;
  }

  .box-search-form-multiaction .search-form-multiaction{
    padding: 15px;
  }

  .box-search-form-multiaction .search-form-multiaction .form-control{
    height: 35px;
    font-size: 12px;
  }

  .box-search-form-multiaction .search-form-multiaction .btn{
    padding: 5px;
  }

}

@media screen and (max-width: 450px) {
  .box-search-form-multiaction .main-text{
    top: 0;
  }

  .listing-property-wrapper .image-lg-property-new{
    height: 200px;
  }

  .contact-user-font{
    margin-top: 20px;
  }

  .modal-report .modal-content {
    width: 80%;
        margin: 20px 5px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.count{
    font-size: 20px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.day {
    font-size: 10px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.dotted-2 {
    font-size: 19px;
  }

  .main-text-auction{
    width: 70%;
  }

  .main-text-auction button span{
    font-size: 9px;
    margin-left: -10px;
  }

  .main-text-auction a button{
    display: none;
  }

  .search-big{
    padding: 5px;
  }

  .form-row-search {
    width: 50%;
  }

  /*--------- MENU CANVAS SHOW HIDE START --------*/
  .c-menu--push-left .c-menu__link, .c-menu--push-right .c-menu__link, .c-menu--slide-left .c-menu__link, .c-menu--slide-right .c-menu__link{
    font-size:10px;
  }
  /*--------- MENU CANVAS SHOW HIDE END --------*/

  /*------- ELEMENT START ------------*/
  h1 {
    font-size: 28px;
  }

  h2{
    font-size: 20px;
  }

  h3{
    font-size: 15px;
  }

  h4{
    font-size: 13px;
  }

  h5{
    font-size: 12px;
  }
  h6{
    font-size: 11px;
  }
  /*------- ELEMENT END ------------*/

  a.navbar-brand {
     font-size: 18px;
  }

  /*--------------- PAGE HOME START ------------------*/
  .main-text h1 {
    font-size: 13px;
  }

  .main-text p {
    display: none;
  }

  .btn-create-sell {
    padding: 2px 12px;
    font-size: 13px;
  }

  .grid-category-menu ul li a {
    width: 50%;
    font-size: 10px;
    padding: 25px 20px;
  }

  .grid-category-menu ul li a i{
    font-size: 20px;
  }

  h2, .h2 {
    font-size: 15px;
  }

  section .container .features h2{
    font-size: 12px;
  }

  section .container .features h4 {
    font-size: 10px;
  }

  section.obvious i {
    font-size: 4em;
  }

  section.obvious p {
    font-size: 11px;
  }

  .ha-bg-parallax .ha-content-whitecolor {
    font-size: 14px;
  }

  .line-through {
    font-size: 12px;
  }

  .line-through p{
    top: -9px;
  }

  .btn-more-info{
    font-size: 10px;
    padding: 8px 26px;
  }

  .section.green h2{
    font-size: 12px;
  }

  .section.green p{
    font-size: 12px;
  }

  .section.green small{
    font-size: 12px;
  }

  #quote-carousel .carousel-inner {
    min-height: 220px;
  }

  .populer-location a {
    width: 100%;
  }
  /*--------------- PAGE HOME END ------------------*/

  /*--------------- PAGE PROPERTIES START ------------------*/
  .listing-project-wrapper .box-feature-properties .info-global-project .price {
    font-size: 15px;
  }

  .listing-project-wrapper .box-feature-properties .feature .box-feature .description{
    font-size: 10px;
  }

  .listing-project-wrapper .box-feature-properties .info-global-project .title{
    margin-bottom: 15px;
  }

  .top-label-side-fitured{
    font-size: 12px;
  }

  .listing-project-wrapper .image-sm-project{
    max-height: none;
  }

  .listing-project-wrapper .image-sm-project img{
    height: 100px;
  }

  .listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .count-size-room{
    margin-left: 20px;
    display: inline-block;
  }
  /*--------------- PAGE PROPERTIES END ------------------*/

  /*--------------- PAGE PROJECTS START ------------------*/
  .card.hovercard .info .title{
    font-size: 15px;
  }

  .card .contact-btn{
    font-size: 10px;
  }

  .card .price {
    font-size: 15px;
  }

  .user-image-cycle img{
    top: 50%;
    left: 50%;
  }

  .section-desc-white {
    float: none;
  }

  .form-horizontal .radio, .form-horizontal .checkbox {
    font-size: 11px;
  }
  /*--------------- PAGE PROJECTS END ------------------*/

  /*--------------- PAGE PROPERTIES DETAIL START ------------------*/
  section.square-profile-section {
    text-align: center;
  }

  section.square-profile-section .user-pad h3{
    font-size: 11px;
  }

  section.square-profile-section .user-pad .color-grey{
    font-size: 9px;
  }

  .btn-wishlist {
    padding: 5px 27px;
    font-size: 12px;
  }

  .btn-wishlist-2 {
    padding: 5px 10px;
    font-size: 12px;
  }

  .listing-history-info i{
    font-size: 10px;
  }

  .listing-history-info{
    font-size: 10px;
  }

  .img-1_2 {
    width: 100%;
  }

  .img-1_3 {
    width: 100%;
  }

  .img-1_3.first {
    width: 100%;
  }

  .img-right.img-3 {
    width: 100%;
  }

  .img-1_3.bottom {
    width: 100%;
  }

  .img-1_3 img {
    height: auto;
  }

  .entity{
    width: 100%;
  }

  .entity-left{
    font-size: 21px;
  }

  .entity-right .text{
    font-size: 13px;
  }

  .entity-right .value{
    font-size: 12px;
  }
  /*--------------- PAGE PROPERTIES DETAIL END ------------------*/

  /*--------------- PAGE PROJECTS DETAIL START ------------------*/
  .configuration-entity .entity {
    width: 50%;
  }
  /*--------------- PAGE PROJECTS DETAIL END ------------------*/

  /*--------------- PAGE USER PAGE START ------------------*/
  .cover-image-users .info-user-cover{
  }

  .cover-image-users .info-user-cover .user-image-cycle {
    height: 43px;
    width: 43px;
    float: left;
    margin-right: 10px;
  }

  .info-user-cover .user-image-cycle img{
    width: 100%;
  }

  .cover-image-users .info-user-cover .box-info-user .name{
    font-size: 11px;
  }

  .cover-image-users .info-user-cover .box-info-user .email{
    font-size: 11px;
  }

  .nav-sidebar-users-left {
    border-right: 1px solid transparent;
  }

  .nav-sidebar-users-right {
    border-left: 1px solid transparent;
  }

  .nav-sidebar-users-right .sidebar-users-right-wrapper {
    padding-left: 0px;
  }
  /*--------------- PAGE USER PAGE END ------------------*/

  /*----------------- PAGE CREATE PROPERTIES START ---------------*/
  .setup-content h3{
    font-size: 16px;
  }

  .setup-content .choice-gallery-form li{
    width: 33%;
    height: 103px;
  }

  .setup-content .facility .well p{
    font-size: 10px;
  }

  .stepwizard-step p {
    font-size: 10px;
  }
  /*----------------- PAGE CREATE PROPERTIES END ---------------*/

  /*----------------- MODAL REPORT START -------------------*/

  .modal-report h5{
    font-size: 12px;
  }

  .modal-report .modal-background .page-title{
    font-size: 14px;
  }

  .modal-report .modal-background .text{
    font-size: 11px;
  }
  /*----------------- MODAL REPORT END -------------------*/

  .nav-top-user ul li a{
    width: 100%;
  }

  .btn-purple-light{
    padding: 5px 8px;
  }

  .box-search-form-multiaction .search-form-multiaction .form-control {
    height: 35px;
  }

  .box-search-form-multiaction .search-form-multiaction .btn{
    padding: 5px;
  }

  .select-pretty .form-control{
    width: 150px;
  }

  .select-pretty .custom-input-container{
    padding: 5px;
  }

  .box-search-form-multiaction .main-text{
    width: 100%;
  }

  .box-search-form-multiaction .search-form-multiaction .form-searching{
    margin-top: 10px;
  }

  .show-property-pop{
    width: 350px;
  }

  .box-search-form-multiaction .main-text {
      top: -10px;
  }
  .box-search-form-multiaction .search-form-multiaction {
    padding: 10px;
  }
}

@media screen and (max-width: 400px){
  .show-property-pop{
    width: 320px;
  }
  .show-property-pop .price{
    font-size: 15px;
  }
  .show-property-pop .entity-right .text, .show-property-pop .entity-right .value {
    font-size: 11px;
  }
  .btn-close {
    cursor: pointer;
    width: 34px;
    height: 34px;
    background-color: #191919;
    line-height: 34px;
    text-align: center;
    position: absolute;
    left: -34px;
    font-size: 15px;
    box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.3);
    color: #fff;
  }
} 

@media screen and (max-width: 350px) {
  .listing-property-wrapper .image-lg-property-new{
    height: 200px;
  }

  .carousel_featured_properties .media-carousel .carousel-control.left{
    top: 100px;
  }

  .carousel_featured_properties .media-carousel .carousel-control.right{
    top: 100px;
  }

  .contact-user-font{
    margin-top: 20px;
  }

  .modal-report .modal-content {
    width: 76%;
    margin: 12px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.count{
    font-size: 15px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.day {
    font-size: 8px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.dotted-2 {
    font-size: 15px;
  }

  .main-text-auction{
    width: 70%;
  }

  .main-text-auction button span{
    font-size: 9px;
    margin-left: -10px;
  }

  .main-text-auction a button{
    display: none;
  }

  .search-big{
    padding: 5px;
  }

  .listing-project-wrapper .label-default{
    display: table;
    margin: auto;
  }

  .btn-sm, .btn-group-sm > .btn{
    font-size: 10px;
  }

  .form-row-search {
    width: 50%;
  }

  .listing-property-wrapper .title {
    font-size: 10px;
  }

  .desc-prop-bottom{
    margin-bottom: 10px;
  }
  /*----LISTING FEATURED PROPERTIES START----*/
  .featured-properties-item .box-title-price .title{
    font-size: 10px;
  }

  .featured-properties-item .box-title-price .price{
    font-size: 12px;
  }

  .featured-properties-item .box-info-right{
    margin-top: 10px;
  }
  /*----LISTING FEATURED PROPERTIES END----*/

  /*--------- MENU CANVAS SHOW HIDE START --------*/
  .c-menu--push-left .c-menu__link, .c-menu--push-right .c-menu__link, .c-menu--slide-left .c-menu__link, .c-menu--slide-right .c-menu__link{
    font-size:10px;
  }
  /*--------- MENU CANVAS SHOW HIDE END --------*/

  /*------- ELEMENT START ------------*/
  h1 {
    font-size: 25px;
  }

  h2{
    font-size: 15px;
  }

  h3{
    font-size: 14px;
  }

  h4{
    font-size: 13px;
  }

  h5{
    font-size: 12px;
  }
  h6{
    font-size: 11px;
  }
  /*------- ELEMENT END ------------*/

  a.navbar-brand {
     font-size: 18px;
  }

  /*--------------- PAGE HOME START ------------------*/
  .grid-category-menu ul li a {
    width: 50%;
    font-size: 9px;
    padding: 20px 20px;
  }

  .grid-category-menu ul li a i{
    font-size: 17px;
  }

  .main-text h1 {
    font-size: 10px;
  }

  .main-text p {
    display: none;
  }

  .btn-create-sell {
    padding: 3px 10px;
    font-size: 12px;
  }

  section .container .features h2{
    font-size: 12px;
  }

  section .container .features h4 {
    font-size: 9px;
  }

  section.obvious i {
    font-size: 3em;
  }

  section.obvious p {
    font-size: 11px;
  }

  .ha-bg-parallax .ha-content-whitecolor {
    font-size: 12px;
  }

  .line-through {
    font-size: 10px;
  }

  .line-through p{
    top: -8px;
  }

  .btn-more-info{
    font-size: 10px;
    padding: 8px 26px;
  }

  .section.green h2{
    font-size: 12px;
  }

  .section.green p{
    font-size: 12px;
  }

  .section.green small{
    font-size: 12px;
  }

  #quote-carousel .carousel-inner {
    min-height: 220px;
  }

  /*--------------- PAGE HOME END ------------------*/

  /*--------------- PAGE PROPERTIES START ------------------*/
  .listing-project-wrapper .box-feature-properties .info-global-project .price {
    font-size: 15px;
  }

  .listing-project-wrapper .box-feature-properties .feature .box-feature .description{
    font-size: 9px;
  }

  .listing-project-wrapper .box-feature-properties .info-global-project .title{
    margin-bottom: 15px;
  }

  .top-label-side-fitured{
    font-size: 12px;
  }

  .listing-project-wrapper .image-sm-project{
    max-height: none;
  }

  .listing-project-wrapper .image-sm-project img{
    height: 60px;
  }

  .listing-project-wrapper .pull-right{
    margin: auto;
    display: table;
  }

  .listing-auction-wrapper .box-desc-auction-list .box-zero-desc-auction .title-auction-list {
    width: 88%;
  }

  .listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .count-size-room ul {
    padding-left: 0px;
    text-align: center;
    display: inline-block;
  }

  .listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction{
    width: 100%;
  }

  .listing-auction-wrapper .box-desc-auction-list .box-two-desc-auction{
    width: 100%;
  }
  /*--------------- PAGE PROPERTIES END ------------------*/

  /*--------------- PAGE PROJECTS START ------------------*/
  .card.hovercard .info .title{
    font-size: 15px;
  }

  .card .contact-btn{
    font-size: 10px;
  }

  .card .price {
    font-size: 15px;
  }

  .user-image-cycle img{
    top: 50%;
    left: 50%;
  }

  .section-desc-white {
    float: none;
  }

  .form-horizontal .radio, .form-horizontal .checkbox {
    font-size: 9px;
  }

  /*--------------- PAGE PROJECTS END ------------------*/

  /*--------------- PAGE PROPERTIES DETAIL START ------------------*/
  section.square-profile-section {
    text-align: center;
  }

  section.square-profile-section .user-pad h3{
    font-size: 10px;
  }

  section.square-profile-section .user-pad .color-grey{
    font-size: 9px;
  }

  .btn-wishlist {
    padding: 5px 7px;
    font-size: 12px;
  }

  .btn-wishlist-2 {
    padding: 5px 11px;
    font-size: 12px;
  }

  .listing-history-info i{
    font-size: 10px;
  }

  .listing-history-info{
    font-size: 10px;
  }

  .entity{
    width: 100%;
  }

  .entity-left{
    font-size: 20px;
  }

  .entity-right .text{
    font-size: 12px;
  }

  .entity-right .value{
    font-size: 11px;
  }

  .configuration-entity .entity {
    width: 50%;
  }
  /*--------------- PAGE PROPERTIES DETAIL END ------------------*/

  /*--------------- PAGE LANDING PAGES START ------------------*/
  .box-landing-page .title {
    font-size: 15px;
  }
  /*--------------- PAGE LANDING PAGES END ------------------*/

  /*--------------- PAGE USERPAGE ROLE END ------------------*/
  .cover-image-users .info-user-cover{
  }

  .cover-image-users .info-user-cover .user-image-cycle {
    height: 36px;
    width: 36px;
    float: left;
    margin-right: 10px;
  }

  .info-user-cover .user-image-cycle img{
    width: 100%;
  }

  .cover-image-users .info-user-cover .box-info-user .name{
    font-size: 11px;
  }

  .cover-image-users .info-user-cover .box-info-user .email{
    font-size: 11px;
  }

  .nav-sidebar-users-left {
    border-right: 1px solid transparent;
  }

  .nav-sidebar-users-right {
    border-left: 1px solid transparent;
  }

  .nav-sidebar-users-right .sidebar-users-right-wrapper {
    padding-left: 0px;
  }

  .box-feature-properties .box-feature{
    font-size: 10px;
  }
  /*--------------- PAGE USERPAGE ROLE END ------------------*/

  /*----------------- PAGE CREATE PROPERTIES START ---------------*/
  .setup-content h3{
    font-size: 15px;
  }

  .setup-content .choice-gallery-form li{
    width: 50%;
    height: 107px;
  }

  .setup-content .facility .well p{
    font-size: 9px;
  }

  .stepwizard-step p {
    font-size: 9px;
  }
  /*----------------- PAGE CREATE PROPERTIES END ---------------*/

  /*----------------- MODAL REPORT START -------------------*/

  .modal-report h5{
    font-size: 10px;
  }

  .modal-report .modal-background .page-title{
    font-size: 12px;
  }

  .modal-report .modal-background .text{
    font-size: 9px;
  }
  /*----------------- MODAL REPORT END -------------------*/

  .box-search-form-multiaction .main-text{
    display: none;
  }

  .show-property-pop{
    width: 320px;
  }
}



