/*
  Theme   : Housing
  Company : Creative Design Sukabumi
  Author  : Fathan Rohman
  Version 1
*/

.horizontal-line{
  border: 0;
  border-top: 1px solid #D5D4D4;
}


/********************************/
/*   USERS AGENTS PAGE          */
/********************************/
/*   1. NAVBAR HEADER TOP       */
/*   2. COVER IMAGE             */
/*   3. SIDEBAR LEFT            */
/*   4. CONTENT USER MIDDLE     */
/*   5. SIDEBAR RIGHT           */
/********************************/

/********************************/
/*    1.NAVBAR HEADER TOP       */
/********************************/
.nav-header-users{}
.nav-header-users .navbar ul.dropdown-menu {
  border-radius: 4px;
  box-shadow: none;
  margin-top: 12px;
  min-width: 148px;
}

/********************************/
/*    2.COVER IMAGE TOP         */
/********************************/
.cover-image-users{
  height: 0;
  overflow: hidden;
  width: 100%;
  padding-bottom: 12%;
  position: relative;
  height: 110px;
}

.cover-image-users img{
  width: 100%;
  display: block;
}

.cover-image-users .info-user-cover{
  display: block;
  position: absolute;
  top: 60px;
  width: 100%;
}

.cover-image-users .info-user-cover .user-image-cycle{
  height: 65px;
  margin-top: 0;
}

.cover-image-users .info-user-cover .box-info-user{
  display: inline-block;
  margin-top: 5px;
}

.cover-image-users .info-user-cover .box-info-user .name{
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
}
.cover-image-users .info-user-cover .box-info-user .name small{
  font-size: 12px;
  font-weight: 200;
  color: #ccc;
}
.cover-image-users .info-user-cover .box-info-user .email{
  font-size: 14px;
  color: #FFFFFF;
}

/********************************/
/*       3.SIDEBAR LEFT         */
/********************************/
.nav-sidebar-users-left{
  border-right: 1px solid #ddd;
}

.nav-sidebar-users-left .nav-sidebar-left {
  width: 100%;
  padding: 30px 0;
}

.nav-sidebar-users-left .nav-sidebar-left a {
  color: #333;
  border-left: 5px solid #FFFFFF;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear;
}

.nav-sidebar-users-left .nav-sidebar-left .active a {
  cursor: default;
  border-left: 5px solid #ff5a5f;
  color: #000;
}

.nav-sidebar-users-left .nav-sidebar-left a:hover {
  border-left: 5px solid #ff5a5f;
}

.nav-sidebar-users-left .nav-sidebar-left .text-overflow a,
.nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.nav-sidebar-users-left .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
}

.nav-sidebar-users-left .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #FFF;
}

/********************************/
/*   4.CONTENT TOP USER MENU    */
/********************************/
.nav-top-user{
  background: #fff;
  width: 100%;
  float: left;
  min-height: 20px;
  border-bottom: solid 1px #ddd;
}
.nav-top-user ul{
  padding-left: 0;
  list-style: none;
}
.nav-top-user ul li a{
  float: left;
  padding: 12px 20px;
  border-bottom: solid 4px #fff;
  color: #333;
}
.nav-top-user ul li a:hover, .nav-top-user ul li.active a{
  border-bottom: solid 4px #ff5a5f;
}
/********************************/
/*    4.CONTENT USER MIDLE      */
/********************************/
.content-users-middle{
  margin-top: 0px;
  width: 100%;
  float: left;
  padding-bottom: 20px;
}

.content-users{
  margin-top: 20px;
  text-align: center;
}

.content-users .title-empty{
  font-weight: bold;
  font-size: 14px;
}

.content-users .description-empty{
  color: #939393;
  font-size: 12px;
}

/* start box listing */
.box-property-container{
  margin-top: 20px;
}

.box-property-container .box-property-wrapper{
  margin-bottom: 20px;
  display: block;
  box-sizing: inherit;
}

.box-property-wrapper .image-carousel-listing{
  background-color: #eaeaea;
  width: 100%;
}

.box-property-wrapper .image-carousel-listing .item-ratio{
  height: 0;
  overflow: hidden;
  width: 100%;
  padding-bottom: 67%;
}

.box-property-wrapper .image-carousel-listing img{
  width: 100%;
  height: 160px;
  display: block;
}

.box-property-wrapper .desc-listing{
  width: 100%;
  display: inline-block;
}

.box-property-wrapper .desc-listing .negotiable{
  float: left;
  color: #409D00;
}

.box-property-wrapper .desc-listing .price{
  float: right;
  color: #409D00;
  font-weight: bold;
}

.box-property-wrapper .desc-listing .title{
  font-weight: bold;
  color: #000000;
}

.box-property-wrapper .desc-listing .location-row{
  display: inline-block;
  width: 100%;
}

.box-property-wrapper .desc-listing .location-row .location{
  font-size: 12px;
  float: left;
  margin-top: 10px;
}

.box-property-wrapper .desc-listing .location-row .location span{
  font-style: italic;
}

.box-property-wrapper .desc-listing .location-row .label-catalog{
  float: right;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}

.box-property-wrapper .desc-listing .info{
  margin-top: 10px;
  display: inline-block;
}

.box-property-wrapper .desc-listing .info ul{
  padding-left: 0px;
  text-decoration: none;
}

.box-property-wrapper .desc-listing .info ul li{
  float: left;
  font-size: 12px;
  padding-right: 10px;
}
/* end box listing*/

/********************************/
/*    5.SIDEBAR RIGHT USER      */
/********************************/
.nav-sidebar-users-right{
  border-left: 1px solid #ddd;
}

.nav-sidebar-users-right .sidebar-users-right-wrapper{
  padding: 20px;
}

.nav-sidebar-users-right .sidebar-users-right-wrapper {}
.nav-sidebar-users-right .sidebar-users-right-wrapper .title{
  font-size: 12px;
  color: #A3A3A3;
  margin-bottom: 14px;
}

.nav-sidebar-users-right .sidebar-users-right-wrapper .description{
  color: #A3A3A3;
  font-size: 12px;
  margin-bottom: 25px;
}

.nav-sidebar-users-right .sidebar-users-right-wrapper .image-icon{
  display: block;
}

.nav-sidebar-users-right .sidebar-users-right-wrapper .image-icon ul{
  padding-left: 0px;
}

.nav-sidebar-users-right .sidebar-users-right-wrapper .image-icon ul li{
  text-decoration: none;
  list-style: none;
  float: left;
  padding-right: 5px;
}

.nav-sidebar-users-right .sidebar-users-right-wrapper .image-icon ul li a img{
  width: 100%;
  display: block;
}

/********************************/
/*         6.USER FORM          */
/********************************/
.user-form h5{
  margin: 0!important;
}
.user-form .panel-heading{
  background: #fff!important;
}
.select2-container--default .select2-selection--single{
  border: solid 1px #ccc!important;
}
.select2-container .select2-selection--single{
  height: 34px!important;
}
.select2-container{
  width: 100%!important;
}
.top-listing{
  border-color: orange;
}