/*
  Theme   : Housing
  Company : Creative Design Jakarta
  Author  : Alam Topani Herdiansyah
  Version 1
*/

/********************************/
/*      Components Custom       */
/********************************/
body{
  font-size: 12px;
  font-weight: 200;
  color:#212b48;
}
html, body
{
  height: 100%!important;
}
a{
  color: #00a388;
  -webkit-transition: all 0.4s ease!important;
  -moz-transition: all 0.4s ease!important;
  -o-transition: all 0.4s ease!important;
  transition: all 0.4s ease!important;
}
a:hover{
  text-decoration: none;
  -webkit-transition: all 0.4s ease!important;
  -moz-transition: all 0.4s ease!important;
  -o-transition: all 0.4s ease!important;
  transition: all 0.4s ease!important;
}


/********************************/
/*         Global Custom         */
/********************************/
.navbar-default .navbar-brand{
  color: #5cb85c;
  font-weight: 400;
  text-transform: uppercase;
}
hr.hr-small{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
}
.full-width{
  width: 100%!important;
}
.page-not-found{
  margin: auto;
  display: table;
  margin-top: 100px;
  margin-bottom: 100px;
}
.margin-none{
  margin: auto;
  display: table!important;
}
.auction-form{
  display: none;
}
.table-bid tbody tr:first-child{
  background: #f5f5f5;
}
#loading{
  background:rgba(255,255,255, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#loading img{
  margin: auto;
  display: table;
  margin-top: 100px;
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

/********************************/
/*         Fonts Custom         */
/********************************/
.small{
  font-size: 11px;
}
.color-white{
  color: #FFFFFF!important;
}
.color-green{
  color: #5cb85c!important;
}
.color-blue{
  color: #6895CC!important;
}
.color-grey{
  color: #aaa!important;
}
.color-redd{
  color: #ee4e4e!important;
}
.uppercase{
  text-transform: uppercase;
}
.bold{
  font-weight: bold!important;
}
.fa{
  margin: 0 2px;
}

label.label{
  background: #444;
  color: #fff;
  position: absolute;
  font-style: italic;
  font-size: 11px;
  right: 0;
  border-radius: 0;
}
label.hot_deals{
  background: red;
}
label.fair_deals{
  background: yellow;
  color: #444;
}
label.high_price_deals{
  background: #5bc0de;
}
label.good_deals{
  background: #5cb85c;
}

/********************************/
/*        Region Custom         */
/********************************/
.ui-widget-content {
  border: 1px solid #f5f5f5;
  color: #333;
  position: fixed!important;
  z-index: 2000;
  background-color: #fff!important;
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
}
.ui-menu .ui-menu-item {
  position: relative;
  margin: 0;
  cursor: pointer;
  min-height: 0;
  padding: 5px 10px!important;
  font-weight: 200;
}
.ui-menu .ui-menu-item:hover{
  border: 0;
  background: #f5f5f5;
}
.ui-widget{
  font-size: 13px;
}

/********************************/
/*      From Login Custom       */
/********************************/
.or-section{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.modal-header-info h3{
  margin: 0!important;
}
.modal-content .form-group{
  margin-bottom: 10px!important;
}

/********************************/
/*         Errors Custom        */
/********************************/
.checked-error .has-error{
  border: solid 1px red;
}
.has-error .select2-container--default .select2-selection--single{
  border: solid 1px red!important;
}
.has-error{
  color: red;
  font-size: 11px;
}
.alert{
  margin-top: 10px;
}
.alert-top .alert{
  margin: 0!important;
  border-radius: 0!important;
}

/********************************/
/*      Message List Limit      */
/********************************/
.list-message-limit{
  width: 100%;
  border-bottom: solid 1px #f5f5f5;
  padding-top: 5px;
  padding-bottom: 5px;
}
.p-message-content{
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #ccc;
  margin-top: 10px;
}

/********************************/
/*       Feedback Content       */
/********************************/
.section-feedback-content{
  position: fixed;
  top: 15%;
  left: 0;
  z-index: 100;
}
.click-feedback{
  cursor: pointer;
  position: absolute;
  right: -30px;
  top: 20px;
}
.feedback-content {
  background-color:#fff;
  -webkit-box-shadow: -1px 0px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 5px -2px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 5px -2px rgba(0,0,0,0.75);
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  text-align:justify;
  width: 300px;
  height: 480px;
  float:right;
  display: none;
}


/********************************/
/*         Social Share         */
/********************************/
.block-share-social{
  display: none;
  margin-top: 10px;
}

/********************************/
/*     Grid Category Custom     */
/********************************/
.grid-category-menu ul, ol{
  margin-bottom: 0;
}
.grid-category-menu ul{
  padding-left: 0;
  list-style: none;
}
.grid-category-menu ul li a{
  float: left;
  padding: 40px 20px;
  width: 25%;
  background: #FD4F55;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-right: solid 1px #FC383E;
}
.grid-category-menu ul li:last-child a{
  border-right: 0;
}
.grid-category-menu ul li a:hover{
  opacity: 0.9;
}
.grid-category-menu ul li a i{
  font-size: 30px;
  width: 100%;
  margin-bottom: 10px;
}

/********************************/
/*      List Popular Custom     */
/********************************/
.populer-location {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}
.populer-location a {
  width: 33.33333%;
  float: left;
  background-color: #fff;
  border-bottom: solid 2px #ECEBEB;
  border-left: solid 4px #ccc;
  padding-left: 0;
  margin-bottom: 5px;
}
.populer-location a:hover{
  opacity: 0.8;
  border-bottom: solid 2px green;
}
.populer-location a i{
  color: #FA396F!important;
}
.populer-location a img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  float: left;
}
.populer-location a small{
  color: #000;
}
.populer-location a div{
  padding-top: 2px;
}

/********************************/
/*         Button Custom        */
/********************************/
.btn-more-info {
  border-radius: 6px!important;
  margin-top: 20px;
  font-size: 15px;
  padding: 8px 60px;
  border: solid 1px #ccc;
  border-bottom: solid 4px #ff5a5f;
  background: #fff;
  margin: auto;
  display: table;
}
.btn-more-info:hover{
  border-bottom: solid 4px green;
  opacity: 0.8;
}
.btn-close{
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-color: #191919;
  line-height: 44px;
  text-align: center;
  position: absolute;
  left: -44px;
  font-size: 20px;
  box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.3);
  color: #fff;
}
.btn-create-sell small{
  font-size: 10px;
}
.btn-create-sell .price-sq{
  font-size: 14px;
  font-weight: 200;
}
.btn-wishlist{
  padding: 15px 30px;
  border-radius: 0;
  margin-top: 20px;
}
.btn-wishlist:hover{
  color: #fff;
  background: #ff5a5f;
}
.btn-wishlist-2{
  padding: 15px 38px;
  border-radius: 0;
  margin-top: 20px;
}
.btn-wishlist-2:hover{
  color: #fff;
  background: #ff5a5f;
}
.btn-reg-log{
  margin: 12px;
}
.btn-reg-log .cycle{
  border-radius: 60%!important;
  padding: 5px;
  font-size: 10px;
  position: absolute;
  z-index: 3;
  margin-left: -13px!important;
  margin-top: 5px!important;
  border: 0!important;
  background: #ff5a5f!important;
  color: #fff;
}
.btn-reg-log .left{
  padding-right: 30px;
  color: #777;
}
.btn-reg-log .right{
  padding-left: 30px;
  color: #777;
}
.btn-default.active{
  background: #f5f5f5;
}


/* start button outlined customize */


.btn-outlined {
  border-radius: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
          transition: all 0.3s;
}

.btn-outlined.btn-red-light {
  background: none;
  color: #FF5A5F;
  border-color: #FF5A5F;
}

.btn-outlined.btn-red-light:hover,
.btn-outlined.btn-red-light:active {
  color: #FFF;
  background: #FF5A5F;
  border-color: #FF5A5F;
}

.btn-outlined.btn-blue-light {
  background: none;
  color: #428bca;
  border-color: #428bca;
}

.btn-outlined.btn-blue-light:hover,
.btn-outlined.btn-blue-light:active {
  color: #FFF;
  background: #428bca;
  border-color: #428bca;
}

.btn-outlined.btn-purple-light {
  background: none;
  color: #6f5499;
  border-color: #6f5499;
}

.btn-outlined.btn-purple-light:hover,
.btn-outlined.btn-purple-light:active {
  color: #FFF;
  background: #6f5499;
  border-color: #6f5499;
}

.btn-purple-light {
  background: #6f5499;
  color: #FFFFFF;
  border-radius: 0px;
  -webkit-transition: all 0.4s ease!important;
  -moz-transition: all 0.4s ease!important;
  -o-transition: all 0.4s ease!important;
  transition: all 0.4s ease!important;
  font-size: 12px;
}

.btn-purple-light:hover,
.btn-purple-light:active {
  color: #FFF;
  background: #855AC7;
  border-radius: 0px;
  -webkit-transition: all 0.4s ease!important;
  -moz-transition: all 0.4s ease!important;
  -o-transition: all 0.4s ease!important;
  transition: all 0.4s ease!important;
}

/* end button outlined customize */
.input-group-addon{
  padding: 5px;
}

/********************************/
/*         Margin Padding       */
/********************************/
.margin0{
  margin: 0!important;
}
.margin-top10{
  margin-top: 10px;
}
.margin-top2{
  margin-top: 2px;
}
.padding0{
  padding: 0!important;
}
.padding-right0{
  padding-right: 0;
}
.padding-left0{
  padding-left: 0;
}

/********************************/
/*          Break Custom        */
/********************************/
.break{
  width: 100%;
  float: left;
  height: 20px;
}

/********************************/
/*         Map Custom           */
/********************************/
.gmap3{
  height: 400px;
  width: 100%;
}
.gmap3-dinamic{
  height: 100%;
  width: 100%;
}
.dev-gmap3-dinamic{
  height: 400px;
  width: 100%;
}
.dev-round-map{
  margin-top: 20px;
  width: 100%;
  background: #fff;
}
.round-map{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  display: inline-block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  right: 400px;
  z-index: 0;
  background: #f2f2f2;
}
.hov-image{
  border: solid 1px #ccc;
  height: 80px;
  width: 100px;
  margin-right: 10px;
}

/********************************/
/*      Form Search Custom      */
/********************************/
.form-top-search{
  width: 100%;
  float: left;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  z-index: 2;
  position: relative;
  padding: 10px 0;
}
.form-top-search .line-through{
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-row {
  float: left;
  width: 33.3333%;
}
.form-row-search {
  float: left;
  width: 20%;
}
.form-row-search .checkbox{
  margin-top: 0;
}
.panel-for-search .input-group {
  margin-bottom: 10px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative!important;
  margin: 4px;
}
.search-more-form {
  display: none;
}
.click-search-more-form{
  cursor: pointer;
}
.display-none{
  display: none;
}

/********************************/
/*     Form Search Auction      */
/********************************/
.search-big {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  background: rgba(0,0,0,0.6);
  -webkit-box-shadow: 6px 4px 4px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 4px 4px -5px rgba(0,0,0,0.75);
  box-shadow: 6px 4px 4px -5px rgba(0,0,0,0.75);
  padding: 20px;
  width: 100%;
}
.search-big div{
  padding: 0!important;
}
.search-big select{
  border-radius: o;
}
.search-big input, .search-big select{
  height: 40px;
}
.search-big .radius-left{
  border-top-left-radius: 6px!important;
  border-bottom-left-radius: 6px!important;
}
.search-big button{
  width: 100%;
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search-big .btn-search-bt{
  border-radius: 0!important;
}
.big-price-apt{
  padding: 10px;
  padding: 10px;
  width: 350px;
  margin: auto;
}
.big-price-apt span{
  margin: 0!important;
  font-size: 22px;
}
.big-price-apt span small{
  color: #ccc!important;
}
.btn-create-sell{
  border-radius: 6px!important;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px 30px;
  border-bottom: solid 2px #fff;
}
.btn-more-info{
  border-radius: 6px!important;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px 60px;
  border: solid 1px #ccc;
  border-bottom: solid 4px green;
  background: #fff;
  margin: auto;
  display: table;
}
.btn-more-info:hover{
  border-bottom: solid 4px #5bc0de;
  background: #f5f5f5;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-appearance: none;
}

/********************************/
/*      Form Create Ads         */
/********************************/
.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 25px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 25px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.stepwizard .btn-default{
  border: solid 1px #ccc;
}
.stepwizard .btn-info{
  color: #fff;
  border: solid 1px #ff5a5f;
  background: #ff5a5f;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
  opacity: 1;
}
.ads_type{
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 18px;
  margin: auto;
  display: table;
  text-align: center;
  width: 100%;
}
.setup-content{
  border: solid 1px #ccc;
  border-radius: 5px;
  padding-bottom: 20px;
  width: 100%;
  float: left;
}
.setup-content h3{
  color: #ff5a5f;
}
.setup-content h6{
  color: #444;
  font-weight: 200;
  margin-top: 0;
}
.setup-content .line-through{
  margin-bottom: 40px;
}
.setup-content .checkbox{
  margin: 0;
  margin-bottom: 10px;
  font-weight: 200;
  color: #444;
}
.setup-content .choice-gallery-form{
  list-style: none;
  padding-left: 0;
}
.setup-content .choice-gallery-form li{
  width: 16.6%;
  float: left;
  border: solid 1px #ccc;
  padding: 2px;
  height: 100px;
  position: relative;
}
.setup-content .choice-gallery-form img{
  width: 100%;
  height: 100%;
}
.setup-content .choice-gallery-form .input-file{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  cursor: pointer;
  opacity: 0.0;
}
.setup-content .well{
  padding: 10px;
  border: solid 1px #fff;
}
.setup-content .well.nested-fields{
  padding: 15px;
}
.setup-content .basic-form{
  display: none;
}
.setup-content .select2-container--default,
.setup-content .select2-selection--single,
.setup-content select,
.setup-content input{
  background: #f5f5f5!important;
}
.setup-content .area_select{
  margin-bottom: 10px;
}
.hidden-form-basic{
  display: none;
}
.configuration-small-content .select2-container--default,
.configuration-small-content .select2-selection--single,
.configuration-small-content select,
.configuration-small-content input{
  background: #ffffff!important;
}
.facility-small-content .well{
  font-size: 11px!important;
}

label{
  font-weight: normal!important;
}
.line-through span.circle {
  background: #FFF;
  padding: 8px;
  border-radius: 50%;
  border: solid 1px #ccc;
  font-size: 14px;
  color: #aaa;
}

.setup-overview .choice-gallery-form{
  list-style: none;
  padding-left: 0;
}
.setup-overview .choice-gallery-form li{
  width: 16.6%;
  float: left;
  border: solid 1px #ccc;
  padding: 2px;
  height: 100px;
  position: relative;
}
.setup-overview .choice-gallery-form img{
  width: 100%;
  height: 100%;
}
.setup-overview .choice-gallery-form .input-file{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  cursor: pointer;
  opacity: 0.0;
}
.setup-overview .choice-gallery-form li.overview{
  width: 50%!important;
  height: 120px!important;
  position: relative;
}
.setup-overview .choice-gallery-form li.overview span{
  position: absolute;
  color: #fff;
  font-weight: bold;
  top: 5px;
  left: 5px;
  font-size: 14px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.select-birthday{
  width: 33%;
  float: left;
}

/********************************/
/*    Pricing Package     */
/********************************/
.premium{
  margin-top: 40px;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
.l-info{
  padding-top: 58px;
}
.l-info .bonus{
  padding-top: 44px;
}
.package{
  margin-bottom: 0!important;
  border-bottom: 0!important;
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
.package .gold{
  font-weight: bold;
  font-size: 15px;
}
.priod, .bonus, .package{
  background: #f5f5f5;
  border: solid 1px #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 12px;
}
.priod ul, .bonus ul{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.priod ul li, .bonus ul li{
  padding: 6px 0px;
  border-bottom: solid 1px #ccc;
}
.priod ul li:last-child, .bonus ul li:last-child{
  border-bottom: 0;
  padding-bottom: 0;
}
.l-gold, .l-platinum{
  text-align: center;
}
.l-gold .price{
  background: rgba(241,231,103,1);
  background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
  color: #fff;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
  border: solid 1px #ccc;
  border-bottom: 0;
  padding: 10px 10px;
  font-size: 20px;
}
.l-gold .price .monthly{
  font-size: 13px;
}
.l-gold .price .year{
  margin: 5px;
  border-bottom: solid 1px #fff;
  padding-bottom: 5px;
}
.l-gold .priod{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.l-gold .quote-bonus{
  background: rgba(241,231,103,1);
  background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
  padding: 6px;
  color: white;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
  font-size: 14px;
  border-radius: 5px;
}

.package .platinum{
  font-weight: bold;
  font-size: 15px;
}
.l-platinum, .l-platinum{
  text-align: center;
}
.l-platinum .price{
  background: rgba(147,206,222,1);
  background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
  background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
  color: #fff;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
  border: solid 1px #ccc;
  border-bottom: 0;
  padding: 10px 10px;
  font-size: 30px;
}
.l-platinum .price .monthly{
  font-size: 13px;
}
.l-platinum .price .year{
  margin: 5px;
  border-bottom: solid 1px #fff;
  padding-bottom: 5px;
}
.l-platinum .priod{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.l-platinum .quote-bonus{
  background: rgba(147,206,222,1);
  background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
  background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
  padding: 6px;
  color: white;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
  font-size: 14px;
  border-radius: 5px;
}
.h-package{
  margin-bottom: 3px;
}

/********************************/
/*         Card Listing         */
/********************************/
.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card .card-heading {
  padding: 0 20px;
  margin: 0;
}
.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}
.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}
.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}
.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}
.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}
.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}
.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}
.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}
.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}
.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}
.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}
.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}
.card.people:first-child {
  margin-left: 0;
}
.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}
.card.people .card-top.green {
    background-color: #53a93f;
}
.card.people .card-top.blue {
  background-color: #427fed;
}
.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}
.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}
.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  background: #fff;
}
.card.hovercard .cardheader {
  background-size: cover;
  height: 200px;
}
.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  margin-left: 10px;
  margin-right: 10px;
}
.card.hovercard .avatar img {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
  cursor: pointer;
  vertical-align: 0;
}
.card.hovercard .info {
  padding: 10px 20px;
}
.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}
.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}
.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.card .price{
  font-size: 20px;
}
.card i.set{
  font-size: 30px;
  right: 10px;
  position: absolute;
  top: 10px;
  color: #fff;
  cursor: pointer;
}
.section-whistlist i.active{
  color: #ff5a5f;
}
.card .contact-btn{
  float: right;
  border-radius: 0;
  background: rgba(0,0,0,0.5);
  border: 0;
  margin-top: 10px;
  font-weight: 100;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.card .contact-btn:hover{
  background: rgba(255,255,255,0.5);
}

/*For Property New List*/
.listing-property-wrapper .title{
  font-size: 16px;
  color: #000;
  padding-bottom: 5px;
  float: left;
  font-weight: 400;
  width: 100%;
  border-bottom: solid 1px #f5f5f5;
  margin-bottom: 10px;
}

.listing-property-wrapper .title a{
  color: #000;
}

.listing-property-wrapper .box-feature-category{
  background-color: #fff;
  border-left: solid 2px #f5f5f5;
  border-top: 0;
  padding: 4px;
  padding-bottom: 10px;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: -10px;
  right: 5px;
  width: 100%;
  float: left;
}

.listing-property-wrapper .box-feature-category i, .listing-property-wrapper .box-feature-category span{
  margin-right: 4px;
}

.listing-property-wrapper .box-feature-category div{
  width: 100%;
  float: left;
  margin: auto;
  display: table;
}

.listing-property-wrapper .box-feature-category .description{
  color: #5cb85c;
}

.listing-property-wrapper .image-lg-project{
  height: 100px;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.listing-property-wrapper .image-lg-project:hover{
  height: 100px;
  -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.listing-property-wrapper .image-lg-property-new{
  height: 120px;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.listing-property-wrapper .image-lg-property-new:hover{
  height: 120px;
  -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.listing-property-wrapper .avatar {
  position: absolute;
  float: right;
  bottom: 5px;
  padding-left: 5px;
}

.listing-property-wrapper .avatar img {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  cursor: pointer;
  vertical-align: 0;
}

.listing-property-wrapper .cover-gall-property{
  padding-right: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
  float: left;
  height: 120px;
}

.listing-property-wrapper .cover-gall-property img{
  width: 100%;
}

.listing-property-wrapper .cover-gall-property .count-galleries{
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  right: 0px;
  bottom: 0;
  padding: 0px 5px;
  margin-bottom: 0;
}

.listing-property-wrapper .section-whistlist i{
  font-size: 22px;
  cursor: pointer;
  color: #fff;
}

.listing-property-wrapper .section-whistlist i.active{
  color: red;
}

.listing-property-wrapper .cover-gall-property .section-whistlist{
  position: absolute;
  top: 4px;
  left: 4px;
}

/********************************/
/*          Agent Info          */
/********************************/
.user-image-cycle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  background-color: #cacccd;
  border-radius: 50%;
  border: 4px solid #f5f5f5;
  float: right;
}
.host-profile-image {
  width: 90px;
  height: 90px;
}
.change-ava{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  cursor: pointer;
  opacity: 0.0;
}
.cover-img{
  overflow: hidden;
  height: 200px;
  width: 100%;
  border: solid 1px #ccc;
  float: left;
}
.cover-img img{
  width: 100%;
}
.float-none{
  float: none;
}
.form-element {
  background: #fff;
  position: relative;
  margin-bottom: -1px;
  border: 1px solid #e6e6e6;
  line-height: 58px;
  height: 58px;
}
.form-element .placeholder+.input {
  padding-top: 28px;
  padding-bottom: 12px;
}
.form-element .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-element .input {
  line-height: 14px;
  padding: 21px 20px;
}
.form-element.focused .placeholder, .form-element.filled .placeholder {
  margin-top: 6px;
  line-height: 20px;
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  font-weight: bold;
}
.form-element .placeholder {
  pointer-events: none;
  color: #7f7f7f;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  max-width: 100%;
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
.form-element .placeholder {
  line-height: 60px;
  left: 20px;
}
.sent-button-container .btn{
  width: 100%;
  border-radius: 0;
  margin-top: 10px;
}
.contact-user-font-section{
  background: #fff;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
}
.contact-user-font-section .bottom{
  padding: 0 20px;
  float: left;
  width: 100%;
}
.contact-user-font-section .phone{
  font-size: 16px;
}
.grid-controls-action-show-property{
  width: 100%;
}
.grid-controls-action-show-property .btn{
  width: 50%;
  border-radius: 0;
  border: solid 1px #ddd;
  padding: 10px 0;
}


/********************************/
/*  Listing Projects Developer  */
/********************************/

.listing-project-wrapper{
  display: inline-block;
  background-color: #FFFFFF;
  padding: 10px;
  border: 1px solid #DDDDDD;
  border-top: 5px solid #DDDDDD;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.listing-project-wrapper:active{
  border: 1px solid #003399;
}

.listing-project-wrapper:hover{
  border: 1px solid #FF5A5F;
  border-top: 5px solid #FF5A5F;
  /*box-shadow: 3px 5px 18px -1px #BCBCBC;*/
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.listing-project-wrapper .count-galleries{
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  right: 0px;
  bottom: 0;
  padding: 0px 5px;
  margin-bottom: 0;
}

.listing-project-wrapper .image-lg-prop-project{
  overflow: hidden;
  width: 95%;
  margin-bottom: 5px;
  border: solid 1px #fff;
  background: #ccc;
}

.listing-project-wrapper .image-lg-project{
  overflow: hidden;
  width: 100%;
  margin-bottom: 5px;
  border: solid 1px #fff;
  background: #ccc;
  position: relative;
}

.listing-project-wrapper .image-lg-project img{
  display: block;
  width: 100%;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.listing-project-wrapper .image-lg-project img:hover{
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
   transform:scale(1.25);
}

.listing-project-wrapper .image-lg-project i.set{
  font-size: 30px;
  right: 10px;
  position: absolute;
  top: 10px;
  color: #fff;
  cursor: pointer;
}

.listing-project-wrapper .image-lg-project .label-new{
  background-color: #5CB85C;
  padding: 1px 10px;
  border-radius: 1px;
  font-size: 12px;
  left: -5px;
  position: absolute;
  top: 15px;
  color: #fff;
  cursor: pointer;
}

.listing-project-wrapper .image-lg-project i.active{
  color: #ff5a5f;
}


.listing-project-wrapper .image-lg-property-new{
  overflow: hidden;
  width: 100%;
  margin-bottom: 5px;
  background: #ccc;
}

.listing-project-wrapper .image-lg-property-new img{
  display: block;
  width: 100%;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.listing-project-wrapper .image-lg-property-new img:hover{
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
   transform:scale(1.25);
}

.listing-project-wrapper .image-lg-property-new i.set{
  font-size: 30px;
  right: 10px;
  position: absolute;
  top: 10px;
  color: #fff;
  cursor: pointer;
}

.listing-project-wrapper .image-lg-property-new .label-new{
  background-color: #5CB85C;
  padding: 1px 10px;
  border-radius: 1px;
  font-size: 12px;
  left: -5px;
  position: absolute;
  top: 15px;
  color: #fff;
  cursor: pointer;
}

.listing-project-wrapper .image-lg-property-new i.active{
  color: #ff5a5f;
}



.listing-project-wrapper .image-sm-project{
  overflow: hidden;
  width: 50%;
  position: relative;
  float: left;
  border: solid 1px #fff;
  max-height: 50px;
  background: #fff;
}

.listing-project-wrapper .image-sm-project img{
  display: block;
  width: 100%;
  height: 50px;
}

.img-overlay {
  position: relative;
  max-width: 500px;
}

.img-overlay .fa{
  padding-top: 30px;
  font-size: 25px;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.75);
  color: #fff;
  padding: 50%;
  padding: 43%;
}

.listing-project-wrapper .horizontaline{
  position: absolute;
  border-right: 1px solid #FF5A5F;
  top: 0;
  bottom: 0;
  height: auto;
}

.box-feature-properties .box-feature{
  margin-bottom: 10px;
}

.listing-project-wrapper .box-feature-properties{
  display: inline-block;
  width: 100%;
}

.listing-project-wrapper .box-feature-properties .info-global-project{
  position: relative;
}

.listing-project-wrapper .box-feature-properties .info-global-project .title a{
  font-weight: bold;
  font-size: 14px;
  color: #191919;
  text-transform: uppercase;
}

.listing-project-wrapper .box-feature-properties .info-global-project .location{
  font-size: 10px;
  color: #9E9E9E;
  margin-top: 5px;
}

.listing-project-wrapper .box-feature-properties .info-global-project .location span{
  font-size: 10px;
  color: #9E9E9E;
}

.listing-project-wrapper .box-feature-properties .info-global-project .price{
  font-size: 16px;
  font-weight: bold;
  color: #e00007;
}

.listing-project-wrapper .box-feature-properties .info-global-project .price-sq{
  font-size: 16px;
  color: #5cb85c;
}

.listing-project-wrapper .box-feature-properties .info-global-project .price-sq small{
  font-weight: 200;
  font-size: 11px;;
}

.listing-project-wrapper .box-feature-properties .info-global-project .price small{
  font-weight: 200;
  font-size: 11px;;
}

.listing-project-wrapper .box-feature-properties .info-global-project .desc{
  margin-top: 10px;
  margin-bottom: 10px;
}

.listing-project-wrapper hr{
  margin-top: 10px!important;
  margin-bottom: 10px!important;
  width: 100%;
}

.listing-project-wrapper .box-feature-properties .feature{
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
}

.listing-project-wrapper .box-feature-properties .feature-list{
  position: relative;
  display: inline-block;
  margin-top: 5px;
  width: 100%;
}

.listing-project-wrapper .box-feature-properties .label-feature{
  color: #aaa;
}

.listing-project-wrapper .box-feature-properties .box-feature-properties .feature .box-feature{
  margin-top: 5px;
  display: inline-block;
}

.listing-project-wrapper .box-feature-properties .feature .box-feature i{
  color: #353535;
  font-size: 11px;
  font-weight: normal;
  margin-right: 4px;
}

.listing-project-wrapper .box-feature-properties .box-feature-properties .feature .box-feature span{
  text-transform: uppercase;
  color: #353535;
  font-size: 12px;
  font-weight: normal;
}

.listing-project-wrapper .box-feature-properties .feature .box-feature .description{
  color: #A1A1A1;
  font-size: 11px;
  font-weight: 200;
  margin-top: 5px;
}

.listing-project-wrapper .expired-label{
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 2;
}

.listing-project-wrapper .label-default {
  background-color: #f5f5f5;
  color: #444;
  border: solid 1px #ccc;
  position: relative;
  float: left;
}

/********************************/
/*     Side Right Fitured       */
/********************************/

.top-label-side-fitured {
  background-color: #ECECEC;
  padding: 10px;
  position: relative;
  margin-bottom: 25px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

a .top-label-side-fitured{
  color: #000;
}

.top-label-side-fitured:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 1.625rem solid transparent;
  border-top-color: #ECECEC;
  top: 100%;
  left: 48%;
  z-index: 1;
}

.top-label-side-fitured-properties {
  background-color: #FFBE5A;
  padding: 10px;
  position: relative;
  margin-bottom: 25px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.top-label-side-fitured-properties:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 1.625rem solid transparent;
  border-top-color: #FFBE5A;
  top: 100%;
  left: 13%;
  z-index: 1;
}

.side-right-fitured{
  width: 100%;
  display: inline-block;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  margin-bottom: 2px;
  -webkit-transition: all 0.4s ease!important;
  -moz-transition: all 0.4s ease!important;
  -o-transition: all 0.4s ease!important;
  transition: all 0.4s ease!important;
}

.side-right-fitured .c-cover-project{
  margin-right: 0;
}

.side-right-fitured:hover{
  -webkit-transition: all 0.4s ease!important;
  -moz-transition: all 0.4s ease!important;
  -o-transition: all 0.4s ease!important;
  transition: all 0.4s ease!important;
}

.side-right-fitured .box-img{
  overflow: hidden;
  height: 100px;
}

.side-right-fitured .box-img img{
  width: 100%;
  display: block;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  height: 100%;
}

.side-right-fitured .box-info-featured-wrapper{
  display: inline-block;
  width: 100%;
}

.side-right-fitured .box-info-featured-wrapper .title{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 6px;
}

.side-right-fitured .box-info-featured-wrapper .title a{
  color: #191919;
  display: block;
  text-decoration: none;
}

.side-right-fitured .box-info-featured-wrapper .title a:hover{
  color: #333333;
}

.side-right-fitured .box-info-featured-wrapper .price{
  color: #e00007;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.side-right-fitured .box-info-featured-wrapper .price-sq{
  color: #5cb85c;
}

.side-right-fitured .box-info-featured-wrapper .more-info{
  font-size: 11px;
}

.side-right-fitured .box-info-featured-wrapper .more-info .label-info{
  color: #A1A1A1;
  background: none;
  font-weight: 200;
}

.side-right-fitured .box-info-featured-wrapper .btn-outlined{
  margin-top: 10px;
}

.side-right-fitured .box-info-featured-wrapper .box-location{
  padding-left: 0px;
  display: inline-block;
  width: 100%;
  font-size: 10px;
  color: #9E9E9E;
}

.side-right-fitured .box-info-featured-wrapper .box-location .color-green{
  font-weight: bold;
  color: #5cb85c!important;
  display: block;
}

.side-right-fitured .box-info-featured-wrapper .box-location .box-sub-info span .fa{
  font-size: 10px;
  display: block;
}

.side-right-fitured .box-info-featured-wrapper .box-location .box-sub-info span .name{
  font-size: 10px;
  display: block;
}


.side-right-fitured .box-location-featured-properties{
  padding-left: 0px;
  display: inline-block;
  width: 100%;
  font-size: 10px;
  color: #9E9E9E;
  margin-top: 8px;
  border-top: 1px solid #EEEEEE;
}

.side-right-fitured .box-location-featured-properties .color-green{
  font-weight: bold;
  color: #5cb85c!important;
  display: block;
}

.side-right-fitured .box-location-featured-properties .box-sub-info{
  display: inline-block;
  margin-top: 15px;
}

.side-right-fitured .box-location-featured-properties .box-sub-info span .fa{
  font-size: 10px;
  display: block;
}

.side-right-fitured .box-location-featured-properties .box-sub-info span .name{
  font-size: 10px;
  display: block;
}

.side-right-fitured .box-location-featured-properties .box-sub-info-progress{
  display: inline-block;
  margin-top: 10px;
  background-color: #FFF;
  border: 1px solid #6895CC;
  padding: 5px;
  border-radius: 4px;
}

.side-right-fitured .box-location-featured-properties .box-sub-info-progress span .fa{
  font-size: 10px;
  display: block;
}

.side-right-fitured .box-location-featured-properties .box-sub-info-progress span .name{
  font-size: 10px;
  display: block;
}

/********************************/
/*        Landing Page          */
/********************************/

.box-landing-page{
  width: 100%;
  display: inline-block;
}

.box-landing-page .title{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 0px;
}

.box-landing-page .box-description{
  min-height: 20px;
  padding: 19px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/********************************/
/*            Others            */
/********************************/
ul.ul-list-property li.center{
  padding: 10px;
  text-align: center;
}
ul.ul-list-property li.center a{
  margin-top: 10px;
}
ul.ul-list-property li.center a:hover{
  background: #286090;
}


/********************************/
/*       Auction Listing        */
/********************************/
.listing-auction-wrapper{
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 2px;
  display: inline-block;
  color: #777A8D;
  width: 100%;
}

.listing-auction-wrapper .box-image-auction-list{
  height: 100%;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  position: relative;
}

.listing-auction-wrapper .box-image-auction-list img{
  min-height: 170px;
  width: 100%;
  display: block;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.listing-auction-wrapper .box-image-auction-list img:hover{
  -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.listing-auction-wrapper .box-image-auction-list .overlay-count-image{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  color: #FFFFFF;
}

.listing-auction-wrapper .box-desc-auction-list{
  padding: 7px;
}

.listing-auction-wrapper .box-desc-auction-list .box-zero-desc-auction{
  display: inline-block;
  width: 100%;
  padding-bottom: 6px;
  border-bottom: 1px solid #EEEEEE;
}

.listing-auction-wrapper .box-desc-auction-list .box-zero-desc-auction .title-auction-list{
  float: left;
  font-weight: 300;
  font-size: 16px;
}

.listing-auction-wrapper .box-desc-auction-list .box-zero-desc-auction .title-auction-list a{
  color: #000;
}

.listing-auction-wrapper .box-desc-auction-list .box-zero-desc-auction .title-auction-list span{
  font-size: 12px;
  font-weight: normal;
}

.listing-auction-wrapper .box-desc-auction-list .box-zero-desc-auction .icon-auction-list{
  float: right;
  font-size: 14px;
}

.listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction{
  display: inline-block;
  width: 100%;
  padding-top: 6px;
}

.listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .label-certificate{
  padding-left: 0px;
  text-transform: uppercase;
}

.listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .count-size-room{
  margin-top: 10px;
}

.listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .count-size-room ul{
  padding-left: 0px;
  text-align: center;
  margin: auto;
  display: table;
}

.listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .count-size-room ul li{
  list-style: none;
  float: left;
  margin-right: 17px;
}

.listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .count-size-room ul li span{
  font-weight: bold;
  font-size: 14px;
  color: #337AB7;
}

.listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .count-size-room ul li p{
  font-size: 12px;
}

.listing-auction-wrapper .box-desc-auction-list .box-one-desc-auction .desc-bottom{
  font-size: 10px;
}

.listing-auction-wrapper .box-desc-auction-list .box-two-desc-auction{
  display: inline-block;
  width: 100%;
  margin-top: 1px;
}

.listing-auction-wrapper .box-desc-auction-list .box-two-desc-auction .size-area{
  font-size: 12px;
  color: #777A8D;
}

.listing-auction-wrapper .box-desc-auction-list .box-two-desc-auction .size-area span{
  font-weight: bold;
}

.listing-auction-wrapper .box-desc-auction-list .box-three-desc-auction{
  display: inline-block;
  width: 100%;
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #EEEEEE;
}

.listing-auction-wrapper .box-desc-auction-list .box-three-desc-auction .title-timer{
  font-size: 12px;
  text-align: center;
  color: #B6B6B6;
}

ul.countdown {
  list-style: none;
  padding: 0;
  display: block;
  text-align: center;
}
ul.countdown li {
  display: inline-block;
  letter-spacing: 2px;
}
ul.countdown li span {
  font-size: 14px;
  font-weight: bold;
  line-height: 36px;
  color: #E00007;
}
ul.countdown li.seperator {
  font-size: 10px;
  line-height: 36px;
  vertical-align: top;
}
ul.countdown li p {
  color: #a7abb1;
  font-size: 10px;
}

.listing-auction-wrapper .box-desc-auction-list .box-three-desc-auction .desc-bottom-timer{
  display: inline-block;
  font-size: 12px;
  width: 100%;
}

.listing-auction-wrapper .box-desc-auction-list .box-three-desc-auction .desc-bottom-timer .desc-time-left{
  float: left;
}

.listing-auction-wrapper .box-desc-auction-list .box-three-desc-auction .desc-bottom-timer .desc-time-left span{
  font-weight: bold;
}

.listing-auction-wrapper .box-desc-auction-list .box-three-desc-auction .desc-bottom-timer .desc-time-right{
  float: right;
  font-weight: bold;
}

.listing-auction-wrapper .box-desc-auction-list .box-for-desc-auction{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 6px;
  border-left: 1px solid #EEEEEE;
}

.listing-auction-wrapper .box-desc-auction-list .box-for-desc-auction .title-price-auction{
  font-size: 12px;
  color: #B6B6B6;
}

.listing-auction-wrapper .box-desc-auction-list .box-for-desc-auction .price-auction{
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ff5a5f;
}

.listing-auction-wrapper .box-desc-auction-list .box-for-desc-auction .button-detail-auction-list{
  margin-top: 25px;
  margin-bottom: 10px;
}

/*****************************************/
/*       featured properties item        */
/*****************************************/
.featured-properties-item{
  display: inline-block;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-top: 5px solid #DDDDDD;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 24%;
  margin-right: 7px;
}

.featured-properties-item:active{
  border: 1px solid #003399;
}

.featured-properties-item:hover{
  border: 1px solid #FF5A5F;
  border-top: 5px solid #FF5A5F;
  /*box-shadow: 3px 5px 18px -1px #BCBCBC;*/
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.featured-properties-item .col-md-12{
  padding-left: 10px;
  padding-right: 10px;
}

.featured-properties-item .img-wrapper-feat-properties{
  height: 0;
  overflow: hidden;
  width: 100%;
  padding-bottom: 60%;
  position: relative;
}

.featured-properties-item .img-wrapper-feat-properties img{
  min-height: 145px;
  width: 100%;
  display: block;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.featured-properties-item .img-wrapper-feat-properties img:hover{
  -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.featured-properties-item .img-wrapper-feat-properties .count-galleries{
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  right: 0px;
  bottom: 0;
  padding: 0px 5px;
  margin-bottom: 0;
}

.featured-properties-item a{
  color: #333;
}

.featured-hot-property{
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  background-color: #CF3B40;
  font-size: 11px;
  color: #FFFFFF;
  padding: 3px 7px;
}

.featured-properties-item .box-title-price{
  display: inline-block;
  width: 100%;
}

.featured-properties-item .box-title-price .title{
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 14px;
  height: 35px;
  font-weight: 400;
}

.featured-properties-item .box-title-price .price{
  margin-bottom: 5px;
  color: red;
  font-size: 14px;
}

.featured-properties-item .box-title-price .price-sq{
  margin-bottom: 5px;
  color: #68BD68;
  font-size: 12px;
}

.featured-properties-item .box-title-price .line-price{
  font-size: 10px;
  color: #ccc;
}

.featured-properties-item .box-title-price .price small{
  font-size: 11px;
}

.featured-properties-item .other-info{
  width: 100%;
  height: 30px;
}

.featured-properties-item .box-count-left{
  display: inline-block;
  width: 100%;
  background-color: #F5F5F5;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 5px -1px rgba(158,158,158,1);
  -moz-box-shadow: 2px 2px 5px -1px rgba(158,158,158,1);
  box-shadow: 2px 2px 5px -1px rgba(158,158,158,1);
  padding: 5px;
}

.featured-properties-item .box-count-left .count{
  font-size: 20px;
  font-weight: bold;
  color: #E00007;
}

.featured-properties-item .box-count-left .count-desc{
  font-size: 12px;
  color: #666666;
  font-style: italic;
}

.featured-properties-item .box-info-right{
  display: inline-block;
  width: 100%;
}

.featured-properties-item .box-info-right ul{
  padding-left: 0px;
}

.featured-properties-item .box-info-right ul li{
  list-style: none;
  margin-bottom: 12px;
}


/************************************************/
/*       sidebar detail auction property        */
/************************************************/
.sidebar-auction-detail-wrapper{
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #EEEEEE;
  padding: 20px;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
}

.sidebar-auction-detail-wrapper .box-one-wrapper{
  display: inline-block;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer{
  width: 100%;
  text-align: center;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul{
  display: inline-block;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li{
  float: left;
  list-style: none;
  margin-right: 15px;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.count{
  font-size: 25px;
  font-weight: bold;
  color: #5cb85c;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.dotted-2{
  font-size: 25px;
  font-weight: bold;
  color: #333333;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.day{
  font-size: 13px;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .price{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .price .price-nominal{
  font-weight: bold;
  font-size: 30px;
  color: #004455;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .price .price-description{
  font-size: 15px;
  color: #A8A8A8;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .box-info-double{
  display: inline-block;
  background-color: #EEEEEE;
  width: 100%;
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
}

.sidebar-auction-detail-wrapper .box-one-wrapper .box-info-double ul{
  padding-left: 0px;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .box-info-double ul li{
  list-style: none;
  float: left;
  margin-right: 7px;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .box-info-double ul li span{
  font-size: 12px;
  color: #000000;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .box-info-double ul li i{
  font-size: 12px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
  border: 1px solid #DDDDDD;
  padding: 4px 7px;
  border-radius: 54%;
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

.popover{
  font-size: 11px!important;
  color: #444!important;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .description{
  color: #6996CC;
  font-size: 12px;
  margin-top: 10px;
  width: 100%;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .spiner{
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .spiner .title{
  font-size: 12px;
  color: #333333;
  padding-left: 0px;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .spiner .spiner-custom-input{

}

.sidebar-auction-detail-wrapper .box-one-wrapper .button-place-bird{
  width: 100%;
  margin-top: 10px;
}

.sidebar-auction-detail-wrapper .box-two-wrapper{
  display: inline-block;
  width: 100%;
}

.sidebar-auction-detail-wrapper .box-two-wrapper .title-top{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #164C83;
}

.sidebar-auction-detail-wrapper .box-two-wrapper .title-ionic{
  display: inline-block;
  margin-bottom: 10px;
}

.sidebar-auction-detail-wrapper .box-two-wrapper .title-ionic .buyer{
  font-size: 12px;
}

.sidebar-auction-detail-wrapper .box-two-wrapper .title-ionic .buyer span{
  font-size: 12px;
  font-weight: bold;
}

.sidebar-auction-detail-wrapper .box-two-wrapper .title-ionic i{
  font-size: 12px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
  border: 1px solid #DDDDDD;
  padding: 4px 7px;
  border-radius: 54%;
  width: 20px;
  height: 20px;
}

.sidebar-auction-detail-wrapper .box-two-wrapper .description{
  font-size: 12px;
  margin-bottom: 10px;
}

.sidebar-auction-detail-wrapper .box-three-wrapper{
  display: inline-block;
  width: 100%;
}

.sidebar-auction-detail-wrapper .box-three-wrapper ul{
  text-align: center;
  padding-left: 0px;
}

.sidebar-auction-detail-wrapper .box-three-wrapper ul li{
  list-style: none;
  float: left;
  border-right: 1px solid #EEE;
  width: 50%;
}

.sidebar-auction-detail-wrapper .box-three-wrapper ul li:last-child{
  border-right: 1px solid #FFFFFF;
}

.sidebar-auction-detail-wrapper .box-three-wrapper ul li i{
  font-size: 30px;
  color: #0BABD3;
}

.sidebar-auction-detail-wrapper .box-three-wrapper ul li span{
  font-size: 11px;
}

.sidebar-auction-detail-wrapper .box-for-wrapper{
  display: inline-block;
  width: 100%;
}

.sidebar-auction-detail-wrapper .box-for-wrapper .title{
  font-size: 20px;
  font-weight: bold;
  color: #164C83;
  margin-bottom: 10px;
}

.sidebar-auction-detail-wrapper .box-for-wrapper ul{
  padding-left: 0px;
}

.sidebar-auction-detail-wrapper .box-for-wrapper ul li{
  list-style: none;
  margin-bottom: 10px;
}

.sidebar-auction-detail-wrapper .box-for-wrapper ul li i{
  color: #000000;
  font-size: 14px;
  margin-right: 12px;
}

.sidebar-auction-detail-wrapper .box-for-wrapper ul li span{
  color: #000000;
  font-size: 14px;
}

/*Small Version List*/
.listing-auction-wrapper-small{
}

.listing-project-wrapper.listing-auction-wrapper .desc-bottom-timer {
  display: inline-block;
  font-size: 12px;
  width: 100%;
}

.listing-project-wrapper.listing-auction-wrapper .desc-bottom-timer .desc-time-left{
  float: left;
}

.listing-project-wrapper.listing-auction-wrapper .desc-bottom-timer .desc-time-right{
  float: right;
  font-weight: 300;
}

.listing-project-wrapper.listing-auction-wrapper .desc-bottom-timer .desc-time-left span{
  font-weight: bold;
}


/*modal all bids*/
.modal-header-all-bids {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 0px;
  background-color: #2a69a3;
  color: #FFFFFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.cross {
  background-color: #275B8B;
  background-position: -95px -64px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 30px;
  border-radius: 20%;
}

.cross i{
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  padding: 6px 7px;
}

.modal-title-all-bids {
  margin: 0;
  line-height: 1.42857143;
  font-weight: bold;
}

.modal-title-all-bids span{
  font-size: 15px;
  font-weight: normal;
}
p.featured { z-index: 2; }
p.featured a { color: #000; }


/*-------------------- CUSTOM SEARCH TOP ---------------------*/
.custom-input{padding-top:0;padding-bottom:0}
.custom-input-suggestion{background-color:#f4f4f4}
.custom-input-suggestion ul{margin-bottom:0;padding:0;list-style:none}
.custom-input-suggestion ul li a:hover{color:#2980b9;background-color:#e4e4e4}
.custom-input-container{background-color:#fcfcfc;padding:10px}
.custom-input-container>span{color:#bbb;margin-right:5px}
.custom-input-container>span.label-right{margin-left:5px}
.custom-input .form-control{
  display: inline-block;
  width: auto;
}
.custom-input-suggestion a {
  color: #333;
  padding: 4px 10px;
  display: block;
}
.select-pretty .btn a {
  color: #000;
  padding: 6px 14px;
  display: block;
}
.select-pretty .btn.custom-dropdown,
.select-pretty .btn.custom-dropdown-land,
.select-pretty .btn.custom-dropdown-area,
.select-pretty .custom-dropdown-building,
.select-pretty .custom-dropdown-price-meter
{
  padding: 0;
  width: 100%;
  background: #f5f5f5;
}

.section-top-search-new .select2-container--default .select2-selection--single,
.section-top-search-new select
{
  background: #f5f5f5;
}

.btn-group > .btn:hover, .btn-group-vertical > .btn:hover,
.btn-group > .btn:focus, .btn-group-vertical > .btn:focus,
.btn-group > .btn:active, .btn-group-vertical > .btn:active,
.btn-group > .btn.active, .btn-group-vertical > .btn.active
{
  z-index: 1;
}

/*search multi action home slider*/
.box-search-form-multiaction .main-text{
  top: 40%;
}

.box-search-form-multiaction .title-search-homepage{
  text-align: center;
  margin-top: -40px;
  margin-bottom: -10px;
  margin: auto;
  width: 60%;
}

.box-search-form-multiaction .title-search-homepage h2{
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.box-search-form-multiaction .search-form-multiaction{
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 20px;
  padding-top: 0;
  margin-top: -10px;
}

.box-search-form-multiaction .search-form-multiaction .nav-tabs {
  border-bottom: 0px solid #ddd;
  vertical-align: middle;
  display: table;
  margin: auto;
  left: 0;
  right: 0;
}

.box-search-form-multiaction .search-form-multiaction .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 0px solid transparent;
  border-radius: 4px 4px 0 0;
  font-size: 15px;
  font-weight: 200;
  color: #FFFFFF;
  text-transform: uppercase;
}

.box-search-form-multiaction .search-form-multiaction .nav-tabs > li > a:hover {
  border-color: transparent;
}

.box-search-form-multiaction .search-form-multiaction .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #FFFFFF;
}

.box-search-form-multiaction .search-form-multiaction .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #FFFFFF;
  cursor: default;
  background-color: transparent;
  border: 0px solid #ddd;
  border-bottom: 1px solid #FFE000;
  font-size: 15px;
}

.box-search-form-multiaction .search-form-multiaction .nav-sidebar-users-left .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.box-search-form-multiaction .search-form-multiaction .nav-sidebar-users-left .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.box-search-form-multiaction .search-form-multiaction .form-searching{
  margin-top: 15px;
  display: inline-block;
  width: 100%;
}

.box-search-form-multiaction .search-form-multiaction .form-inline .input-group {
  display: block;
}

.box-search-form-multiaction .search-form-multiaction .form-inline .input-group > .form-control {
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance:    none;
  -webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 0;  /* Firefox 1-3.6 */
}

.box-search-form-multiaction .search-form-multiaction .by-locality {
  width: 60%;
}

.box-search-form-multiaction .search-form-multiaction .by-full-locality {
  width: 90%;
}

.box-search-form-multiaction .search-form-multiaction .by-keywords {
  width: 30%;
}

.box-search-form-multiaction .search-form-multiaction .input-group-btn {
  width: 10%;
  float: left;
}

.box-search-form-multiaction .search-form-multiaction .by-search {
  width: 100%;
}

.box-search-form-multiaction .search-form-multiaction .form-control{
  height: 46px;
}

.box-search-form-multiaction .search-form-multiaction .form-control:focus {
  border-color: #FFFFFF;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.box-search-form-multiaction .search-form-multiaction .form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.box-search-form-multiaction .search-form-multiaction .form-control:-ms-input-placeholder {
  color: #999;
}
.box-search-form-multiaction .search-form-multiaction .form-control::-webkit-input-placeholder {
  color: #999;
}
.group-year .col-xs-5:first-child{
  padding-right: 0px;
}
.group-year .col-xs-2{
  padding: 5px 0px;
  text-align: center;
}
.group-year .col-xs-5:last-child{
  padding-left: 0px;
}
.group-year .float-left{
  float: left;
}

/*housing top cities listing*/
.top-list-cities-wrapper{
  display: inline-block;
  padding: 30px 0px;
  width: 100%;
}

.top-list-cities-wrapper a{}

.top-list-cities-wrapper a figure{
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px;
}

.top-list-cities-wrapper a figure span{
  position: absolute;
  left: 0;
  right: 0;
  top: 78px;
  bottom: 0;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow:0 1px 2px rgba(0, 0, 0, .6);
}

.top-list-cities-wrapper a figcaption{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: table;
}

.top-list-cities-wrapper a figcaption div{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease!important;
  -moz-transition: all 0.4s ease!important;
  -o-transition: all 0.4s ease!important;
  transition: all 0.4s ease!important;
}

.top-list-cities-wrapper a figcaption div:after{
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 40%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 2px;
  background: #FFFFFF;
  -webkit-transition: all 0.4s ease!important;
  -moz-transition: all 0.4s ease!important;
  -o-transition: all 0.4s ease!important;
  transition: all 0.4s ease!important;
}

.top-list-cities-wrapper a figure img{
  width: 100%;
  display: block;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.top-list-cities-wrapper a figure:hover figcaption{
 background: rgba(0, 0, 0, 0.80);
}

.top-list-cities-wrapper a figcaption:hover div{
  opacity: 1;
  top: 0;
  -webkit-transition: all 0.4s ease!important;
  -moz-transition: all 0.4s ease!important;
  -o-transition: all 0.4s ease!important;
  transition: all 0.4s ease!important;
}

.top-list-cities-wrapper a figcaption:hover div:after{
  width: 50%;
  -webkit-transition: all 0.4s ease!important;
  -moz-transition: all 0.4s ease!important;
  -o-transition: all 0.4s ease!important;
  transition: all 0.4s ease!important;
}

.top-list-cities-wrapper a figure:hover img{
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}
