/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require frontend/bootstrap
 *= require frontend/jquery-ui.min
 *= require frontend/font-awesome
 *= require frontend/theme
 *= require frontend/animate
 *= require frontend/shareds/nav
 *= require frontend/shareds/carousel
 *= require frontend/shareds/section
 *= require frontend/shareds/modal
 *= require frontend/shareds/sidebar-canvas
 *= require devise
 *= require frontend/select2-bootstrap
 *= require frontend/custom_ligthbox
 *= require frontend/theme-users
 *= require frontend/theme-responsive
 *= require frontend/flipster
 */

body{
  position: relative;
  z-index: -2;
}

@import 'bootstrap-sprockets';
@import 'bootstrap-datetimepicker';
