<section>
  <!-- The carousel -->
  <div id="transition-timer-carousel" class="home-carousel carousel slide transition-timer-carousel" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @setting.galleries.each_with_index do |f, index| %>
        <% cache ["home_carousel_#{f.id}_#{f.updated_at.to_time.to_i}"] do %>
          <div class="item <%= 'active' if index == 1 %>">
            <%= image_tag f.file.url %>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <!-- Timer "progress bar" -->
    <hr class="transition-timer-carousel-progress-bar animate" />

    <div class="box-search-form-multiaction">
      <div class="main-text">
        <div class="text-center">
          <div class="col-md-10 col-md-offset-1">
            <div class="title-search-homepage">
              <h2 class="h-search-multiaction">Look Up Places to Buy</h2>
            </div>
            <div class="search-form-multiaction">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#buy" aria-controls="sell" role="tab" data-toggle="tab" data-value="Look Up Places to Buy">Buy</a>
                </li>
                <li role="presentation">
                  <a href="#rent" aria-controls="rent" role="tab" data-toggle="tab" data-value="Look Up Places to Rent">Rent</a>
                </li>
                <li role="presentation">
                  <a href="#projects" aria-controls="projects" role="tab" data-toggle="tab" data-value="Look Up Places Projects">New Projects</a>
                </li>
                <li role="presentation">
                  <a href="#auction" aria-controls="auction" role="tab" data-toggle="tab" data-value="Look Up Places to Bid Auction">Auction</a>
                </li>
              </ul>

              <!-- Tab panes bottom -->
              <div class="form-searching">
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="buy">
                    <%= form_for :search, url: properties_path, html:{class: 'form-inline', id: 'property-search', name: 'search'}, method: 'get' do %>
                      <div class="input-group">
                        <%= hidden_field_tag :category, 'Sell' %>
                        <%= autocomplete_field_tag :region_display_name, "", autocomplete_region_path, placeholder: "Search by locality", class: 'form-control by-locality', value: params[:region_display_name] %>
                        <% type_property_buy = PropertyType.find_by(name: 'Sell').try(:children).pluck('name') %>
                        <%= select_tag :type_property, options_for_select(type_property_buy, params[:type_property]), prompt: 'Select Type Property', class: 'form-control type_properties_select_search by-keywords' %>
                        <span class="input-group-btn">
                          <button class="btn btn-lg btn-info by-search" type="submit">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                      </div>
                    <% end %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="rent">
                    <%= form_for :search, url: properties_path, html:{class: 'form-inline', id: 'property-search', name: 'search'}, method: 'get' do %>
                      <div class="input-group">
                        <%= hidden_field_tag :category, 'Rent' %>
                        <%= autocomplete_field_tag :region_display_name, "", autocomplete_region_path, placeholder: "Search by locality", class: 'form-control by-locality', value: params[:region_display_name] %>
                        <% type_property_buy = PropertyType.find_by(name: 'Rent').try(:children).pluck('name') %>
                        <%= select_tag :type_property, options_for_select(type_property_buy, params[:type_property]), prompt: 'Select Type Property', class: 'form-control type_properties_select_search by-keywords' %>
                        <span class="input-group-btn">
                          <button class="btn btn-lg btn-info by-search" type="submit">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                      </div>
                    <% end %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="projects">
                    <%= form_for :search, url: projects_path, html:{class: 'form-inline', id: 'property-search', name: 'search'}, method: 'get' do %>
                      <div class="input-group">
                        <%= hidden_field_tag :category, 'New Project' %>
                        <%= autocomplete_field_tag :region_display_name, "", autocomplete_region_path, placeholder: "Search by locality", class: 'form-control by-locality', value: params[:region_display_name] %>
                        <% type_property_buy = PropertyType.find_by(name: 'New Project').try(:children).pluck('name') %>
                        <%= select_tag :type_project, options_for_select(type_property_buy, params[:type_project]), prompt: 'Select Type Property', class: 'form-control type_properties_select_search by-keywords' %>
                        <span class="input-group-btn">
                          <button class="btn btn-lg btn-info by-search" type="submit">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                      </div>
                    <% end %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="auction">
                    <%= form_for :search, url: properties_path, html:{class: 'form-inline', id: 'property-search', name: 'search'}, method: 'get' do %>
                      <div class="input-group">
                        <%= hidden_field_tag :category, 'Auction Property' %>
                        <%= autocomplete_field_tag :region_auction_display_name, params[:region_auction_display_name], autocomplete_auction_region_path, class: 'form-control by-full-locality', placeholder: 'By address, city, state, ZIP code, Property Id' %>
                        <span class="input-group-btn">
                          <button class="btn btn-lg btn-info by-search" type="submit">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="grid-category-menu">
    <ul>
      <li>
        <%= link_to properties_path(category: 'Rent') do %>
          <i class="fa fa-key"></i>
          <span clas="title">RENT</span>
        <% end %>
      </li>
      <li>
        <%= link_to properties_path(category: 'Sell') do %>
          <i class="fa fa-home"></i>
          <span clas="title">SELL</span>
        <% end %>
      </li>
      <li>
        <%= link_to auction_properties_path do %>
          <i class="fa fa-institution"></i>
          <span clas="title">AUCTION PROPERTY</span>
        <% end %>
      </li>
      <li>
        <%= link_to projects_path do %>
          <i class="fa fa-building"></i>
          <span clas="title">NEW PROJECTS</span>
        <% end %>
      </li>
    </ul>
  </div> -->
</section>

