<section class="section group-partner">
	<div class="container">
		<div class="line-through">
			<p><span>Supported By</span></p>
		</div>
		<div id="media" class="carousel carousel_supporteds slide media-carousel">
			<div class="carousel-inner">
				<% @supporteds.each do |f| %>
					<% cache ["supporteds_#{f.id}_#{f.updated_at.to_time.to_i}"] do %>
						<div class="supporteds-item col-md-2">
							<%= image_tag "#{f.logo.url(:small)}", alt: '#{ f.title }', class: 'img-responsive' %>
						</div>
					<% end %>
				<% end %>
			</div>
			<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
			<a data-slide="next" href="#media" class="right carousel-control">›</a>
		</div>
	</div>
</section>
