<section class="section grey">
	<div class="container">
		<div class="row">
			<div class="line-through">
				<p><span class="grey">Featured Locations</span></p>
			</div>
			<div class="top-list-cities-wrapper col-md-12">
				<% @regions.each do |region| %>
					<% region_display_name = "#{region.try(:name)}, #{region.try(:parent).try(:name)}" %>
					<% cache ["featured_regions_#{region.id}_#{region.updated_at.to_time.to_i}"] do %>
						<div class="col-md-4 col-sm-12 col-xs-12">
							<%= link_to properties_path(region_display_name: region_display_name) do %>
								<figure>
									<%= image_tag region.image.url(:medium), class: 'img-responsive' %>
									<span><%= region.name %>, <%= region.root.name if region.root.present? %></span>
									<figcaption>
										<div><%= region.name %>, <%= region.root.name if region.root.present? %></div>
									</figcaption>
								</figure>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</div>
			<%= link_to 'View More', properties_path, class: "btn btn-more-info" %>
		</div>
	</div>
</section>
