<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
      <span>User Account</span>
    </a>
  </div>
  <div id="collapse1" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <center>
            <h6>Avatar</h6>
            <div class="user-image-cycle float-none margin-none">
              <%= image_tag profile.object.avatar.url(:medium), class: 'host-profile-image image-change' %>
              <%= profile.file_field :avatar, class: 'change-ava' %>
            </div>
          </center>
          <hr>
          <div class="cover-img">
            <%= image_tag profile.object.cover.url(:medium), class: '' %>
          </div>
          <%= profile.file_field :cover %>
        </div>
        <div class="break"></div>
        <div class="col-md-6">
          <h6>Email</h6>
          <%= f.email_field :email, class: 'form-control', required: true %>
          <h6>Username</h6>
          <%= f.text_field :username, class: 'form-control', required: true %>
        </div>
        <div class="col-md-6">
          <h6>Password</h6>
          <%= f.password_field :password, class: 'form-control' %>
          <h6>Password Confirmation</h6>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
      <span>Profile Developer</span>
    </a>
  </div>
  <div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <h6>Developer Name</h6>
          <%= profile.text_field :full_name, class: 'form-control' %>
        </div>
        <div class="col-md-6">
          <h6>Established In</h6>
          <%= profile.text_field :birthday, class: 'datepicker form-control' %>
        </div>
        <div class="col-md-6">
          <h6>Gender</h6>
          <%= profile.select :gender, Gender.to_a, {prompt: 'Select Category'}, {class: 'form-control'} %>
        </div>
        <div class="col-md-12">
          <h6>Description</h6>
          <%= profile.text_area :meta_description, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
      <span>Meta</span>
    </a>
  </div>
  <div id="collapse5" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <h6>Meta Title</h6>
          <%= profile.text_field :meta_title, class: 'form-control' %>
          <h6>Meta Keyword</h6>
          <%= profile.text_field :meta_keyword, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>
