<% user = property.try(:user) %>
<% profile = user.try(:profile) %>
<% address = property.try(:address) %>
<% basic = property.try(:basic_property) %>
<% expired_date = property.auction.end_auction.strftime("%B, %d, %Y") if property.auction.end_auction.present? %>
<div class="listing-project-wrapper listing-auction-wrapper active"  data-expired="<%= expired_date %>">
  <div class="row">
    <div class="col-md-4 cover-gall-property">
      <% if property.sold? %>
        <%= image_tag 'sold-out.png', class: 'expired-label' unless property.category == 'Rent' %>
      <% elsif property.is_expired? %>
        <%= image_tag 'expired.png', class: 'expired-label' %>
      <% end %>
      <div class="image-lg-project">
        <% if property.label_tag.present? %>
          <label class="label <%= downcase_uderscore(property.label_tag) %>"><%= property.label_tag %></label>
        <% end %>
        <%= image_tag "#{property.try(:galleries).try(:first).try(:file).url(:small)}", class: 'img-responsive' %>
      </div>
      <div class="box-three-desc-auction">
        <center><small class="title-timer">Countdown Timer</small></center>
        <ul class="countdown">
          <li> <span class="days">00</span>
            <p class="days_ref">DAYS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="hours">00</span>
            <p class="hours_ref">HRS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="minutes">00</span>
            <p class="minutes_ref">MINS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="seconds">00</span>
            <p class="seconds_ref">SEC</p>
          </li>
        </ul>
        <div class="desc-bottom-timer">
          <div class="desc-time-left">Reserver Mit : <span><%= property.try(:auction).try(:reserve_met) %></span></div>
          <div class="desc-time-right">
            <%= property.try(:bid_auctions).size %> Bid
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="box-feature-properties">
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="info-global-project">
              <div class="title">
                <%= link_to property_path(property) do %>
                  <%= truncate(property.title, length: 30, omission: '...') if property.title.present? %>
                <% end %>
              </div>
              <div class="location">
                <i class="fa fa-tags"></i>
                <%= property.try(:category) %>&nbsp;
                <span class="fa fa-map-marker"></span>
                <%= address.try(:city) %>,
                <%= address.try(:province) %>
              </div>
              <div class="desc">
                <span class="price">
                  <%= number_to_currency_br(property.auction.starting_bid) %>
                </span>
                <small class="color-grey"> Starting Price</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="pull-right">
              <%= link_to '<i class="fa fa-trash"></i> Delete'.html_safe, resource_path(resource), class: 'btn btn-outlined btn-red-light btn-sm', method: 'delete', data: {confirm: "Are you sure delete this #{resource.id}"} %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="feature-list">
              <small>
                <span class="label-feature">Flat Id:</span> 
                <%= property.try(:code) %>
                <div>
                  <% unless property.type_property == 'Office' || property.type_property == 'Apartment' %>
                    <span class="label-feature">Land Area:</span>&nbsp;
                    <b><%= basic.try(:surface_area) || '--' %>m<sup>2</sup></b> &nbsp;
                  <% end %>
                  <% unless property.type_property == 'Land'%>
                    <span class="label-feature">Building Area:</span>&nbsp;
                    <b><%= basic.try(:building_area) || '--' %>m<sup>2</sup></b>
                  <% end %>
                </div>
                <div>
                  <% if property.type_property == 'House' || property.type_property == 'Apartment' || property.type_property == 'Ruko' %>
                    <span class="label-feature">Bathrooms:</span>&nbsp;
                    <b><%= basic.try(:bathrooms) || '--' %></b> &nbsp;
                  <% end %>
                  <% if property.type_property == 'House' || property.type_property == 'Apartment' %>
                    <span class="label-feature">Bedrooms:</span>&nbsp; 
                    <b><%= basic.try(:bedrooms) || '--' %></b>
                  <% end %>
                </div>
                <span class="label-feature">Latest Updated:</span>
                <%= property.try(:updated_at).strftime("%b, %d, %Y") if property.created_at.present? %>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <hr>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <small class="color-grey position-center">
            <i class="fa fa-calendar"></i>&nbsp;
            Sold on <%= resource.try(:date).strftime("%B, %d, %Y") if resource.date.present? %>
          </small>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <small class="color-green pull-right position-center">
            <i class="fa fa-money"></i>&nbsp;
            <strong>SOLD <%= number_to_currency_br(property.sold_report.price) if property.sold_report.price.present? %></strong>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
