<% user = property.try(:user) %>
<% profile = user.try(:profile) %>
<% address = property.try(:address) %>
<% basic    = property.try(:basic_property) %>
<div class="listing-project-wrapper active">
  <div class="row">
    <div class="col-md-4 cover-gall-property">
      <%= image_tag 'sold-out.png', class: 'expired-label' %>
      <% property.galleries.limit(5).each_with_index do |g, index| %>
        <div class="<%= 'image-lg-project' if index == 0 %> <%= 'image-sm-project' unless index == 0 %>">
          <% if property.label_tag.present? && index == 0 %>
            <label class="label <%= downcase_uderscore(property.label_tag) %>"><%= property.label_tag %></label>
          <% end %>
          <%= image_tag "#{g.file.url(:small)}", class: "img-responsive" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="box-feature-properties">
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="info-global-project">
              <div class="title">
                <%= link_to property_path(property) do %>
                  <%= property.title %>
                <% end %>
              </div>
              <div class="location">
                <i class="fa fa-tags"></i>
                <%= property.try(:category) %> <%= property.try(:type_property) %> &nbsp;
                <span class="fa fa-map-marker"></span>
                <%= property.try(:address).try(:city) %>,
                <%= property.try(:address).try(:province) %>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="pull-right">
              <%= link_to '<i class="fa fa-trash"></i> Delete'.html_safe, resource_path(resource), class: 'btn btn-outlined btn-red-light btn-sm', method: 'delete', data: {confirm: "Are you sure delete this #{resource.id}"} %>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="info-global-project margin-top10">
              <div class="pull-left">
                <span class="price">
                  <%= raw number_to_currency_br(property.the_price?) + property.the_price_status? %>
                </span>
                <% if property.category == 'Sell' && (property.type_property == 'Apartment' || property.type_property == 'Office' || property.type_property == 'House') %>
                  |
                  <span class="price-sq">
                    <%= raw "#{number_to_currency_br(property.price_per_meter)} <small class='color-grey'> per sq m</small>" %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="feature-list">
              <small>
                <span class="label-feature">Flat Id:</span>
                <%= property.try(:code) %>
                <div>
                  <% unless property.type_property == 'Office' || property.type_property == 'Apartment' %>
                    <span class="label-feature">Land Area:</span>&nbsp;
                    <b><%= basic.try(:surface_area) || '--' %>m<sup>2</sup></b> &nbsp;
                  <% end %>
                  <% unless property.type_property == 'Land'%>
                    <span class="label-feature">Building Area:</span>&nbsp;
                    <b><%= basic.try(:building_area) || '--' %>m<sup>2</sup></b>
                  <% end %>
                </div>
                <div>
                  <% if property.type_property == 'House' || property.type_property == 'Apartment' || property.type_property == 'Ruko' %>
                    <span class="label-feature">Bathrooms:</span>&nbsp;
                    <b><%= basic.try(:bathrooms) || '--' %></b> &nbsp;
                  <% end %>
                  <% if property.type_property == 'House' || property.type_property == 'Apartment' %>
                    <span class="label-feature">Bedrooms:</span>&nbsp;
                    <b><%= basic.try(:bedrooms) || '--' %></b>
                  <% end %>
                </div>
                <span class="label-feature">Latest Updated:</span>
                <%= property.try(:updated_at).strftime("%b, %d, %Y") if property.created_at.present? %>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <hr>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <small class="color-grey position-center">
            <i class="fa fa-calendar"></i>&nbsp;
            Sold on <%= resource.try(:date).strftime("%B, %d, %Y") if resource.date.present? %>
          </small>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <small class="color-green pull-right position-center">
            <i class="fa fa-money"></i>&nbsp;
            <strong>SOLD <%= number_to_currency_br(property.sold_report.price) if property.sold_report.price.present? %></strong>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
