<div class="row">
  <div class="col-xs-9">
    <strong>Total Sales Report (<%= @reports.count %>)</strong>
  </div>
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<% @collection.each_with_index do |resource, index| %>
  <% property = resource.try(:sold_reportable) %>
  <% if property.present? %>
    <% if property.is_category_auction? %>
      <%= render 'properties_auction', property: property, resource: resource %>
    <% else %>
      <%= render 'properties_list', property: property, resource: resource %>
    <% end %>
  <% end %>
<% end %>

<%= paginate @collection %>
