<!DOCTYPE html>
<html>
<head>
  <%= render 'shareds/web_setting' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
	<body id="f-wrapper">
		<section class="alert-top"><%= flash_messages %></section>
		<%= render 'shareds/nav' %>
		<%= render 'shareds/home/carousel' if params[:action] == 'home' %>
		<%= yield %>
		<%= render 'shareds/footer' %>
	</body>
	<%= javascript_include_tag 'application' %>
  <% if params[:controller] == 'properties' && params[:action] == 'new' ||
        params[:controller] == 'userpage/properties' && params[:action] == 'edit' %>
  	<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <%= render 'userpage/shareds/manage_location_property_js' %>
  <% end %>
</html>
