<!DOCTYPE html>
<html>
<head>
  <%= render 'shareds/web_setting' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <% if params[:action] == 'show' %>
	  <script type="text/javascript">var switchTo5x=true;</script>
	  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	  <script type="text/javascript">stLight.options({publisher: "85a5e2b6-1198-48e4-8cea-a5291ba2d1a6", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
	<% end %>
</head>
	<body id="f-wrapper">
		<section class="alert-top"><%= flash_messages %></section>
		<%= render 'shareds/nav' %>
		<%= render 'shareds/home/carousel' if params[:action] == 'home' %>
		<%= yield %>
		<%= render 'shareds/footer' unless params[:list].present? %>
	</body>
	<%= javascript_include_tag 'application' %>
  <% if params[:list].present? || params[:action] == 'show' %>
  	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <% end %>
	<%= render 'shareds/properties/dynamic_map_js' if params[:action] == "index" && params[:list].present? %>
  <%= render 'shareds/properties/dynamic_map_property_detail' if params[:action] == "show" %>
  <%= render 'shareds/geocomplite' %>
</html>
