<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <%= render 'shareds/web_setting' %>
    <%= stylesheet_link_tag 'backend', media: 'all'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'backend/shareds/header' %>
    <div class="content">
      <%= render 'backend/shareds/sidebar' %>
      <div class="mainbar">
        <%= render 'backend/shareds/breadcrumb' %>
        <div class="matter">
  	      <%= yield %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <%= render 'backend/shareds/footer' %>
  </body>
  <%= javascript_include_tag 'backend' %>
  <% if params[:controller] == 'backend/properties' ||  params[:controller] == 'backend/auction_properties' %>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <%= render 'backend/shareds/manage_location_property_js' unless params[:action] == 'index' || params[:action] == 'destroy' || params[:action] == 'import' %>
  <% elsif params[:controller] == 'backend/projects' %>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <%= render 'backend/shareds/manage_location_project_js' unless params[:action] == 'index' || params[:action] == 'destroy' || params[:action] == 'import' %>
  <% elsif params[:controller] == 'backend/locations' %>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <%= render 'backend/shareds/manage_public_locations_js' unless params[:action] == 'index' || params[:action] == 'destroy' || params[:action] == 'import' %>
  <% end %>
    <%#= render 'backend/shareds/manage_location_property_js' unless params[:action] == 'index' || params[:action] == 'destroy' %>
  <%# elsif params[:controller] == 'backend/locations' %>
    <%#= render 'backend/shareds/manage_public_locations_js' unless params[:action] == 'index' || params[:action] == 'destroy' %>
  <%# elsif params[:controller] == 'backend/projects' %>
    <%#= render 'backend/shareds/manage_location_project_js' unless params[:action] == 'index' || params[:action] == 'destroy' %>
</html>
