<!DOCTYPE html>
<html>
<head>
  <%= render 'shareds/web_setting' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <% if params[:action] == 'show' %>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "85a5e2b6-1198-48e4-8cea-a5291ba2d1a6", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
  <% end %>
</head>
  <body class="user-profile full-page timeline" id="f-wrapper">
    <section class="grey">
      <%= render 'shareds/nav' %>
      <%= render 'shareds/detail/cover_image' %>
      <%= render 'shareds/detail/top_menu' %>
      <div class="content-users-middle grey">
        <div class="container">
          <%= flash_messages %>
          <div class="col-md-8">
            <div class="row">
              <div class="break"></div>
              <%= yield %>
            </div>
          </div>
          <%= render 'shareds/detail/sidebar_right' %>
        </div>
      </div>
    </section>
    <%= render 'shareds/footer' %>
  </body>
  <%= javascript_include_tag 'application' %>
  <%# <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script> %>
</html>
