<!DOCTYPE html>
<html>
<head>
  <%= render 'shareds/web_setting' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
  <body class="user-profile full-page timeline" id="f-wrapper">
    <%= render 'shareds/nav' %>
    <%= render 'shareds/users/cover_image' %>
    <div class="content-users-middle">
      <div class="container">
        <div class="col-md-3">
          <%= render 'shareds/developers/sidebar_left' %>
        </div>
        <div class="col-md-9">
          <div class="row">
            <%= flash_messages %>
            <div class="break"></div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <div class="break"></div>
    <%= render 'shareds/footer' %>
  </body>
  <%= javascript_include_tag 'application' %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <% if params[:controller] == 'developerpage/projects' %>
    <%= render 'developerpage/shareds/manage_location_project_js' unless params[:action] == 'index' || params[:action] == 'destroy' %>
  <% end %>
</html>
