<!DOCTYPE html>
<html>
<head>
  <%= render 'shareds/web_setting' %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
	<body id="f-wrapper">
		<%= render 'shareds/nav' %>
		<section class="section grey">
			<div class="container">
				<div class="col-md-4 col-md-offset-4 form-devise">
					<%= flash_messages %>
					<%= yield %>
				</div>
			</div>
		</section>
		<%= render 'shareds/footer' %>
	</body>
	<%= javascript_include_tag 'application' %>
</html>
