<div class="col-md-12">
  <%= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do %>
    <div class="widget">
      <%= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Packages', button_name: 'Package', add_method: true} %>
      <div class="widget-content">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th width="1%"></th>
                <th>Name</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Max Listing</th>
                <th>Featured</th>
                <th>Top Listing</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @collection.each_with_index do |resource, index| %>
                <tr>
                  <td><%= check_box_tag "ids[]", resource.id %></td>
                  <td><%= link_to resource.name, backend_package_path(resource) %></td>
                  <td><%= resource.duration || '--' %></td>
                  <td><%= number_to_currency_br(resource.price) if resource.price.present? || '--' %></td>
                  <td><%= resource.max_listing || '--' %></td>
                  <td><%= resource.featured_listing || '--' %></td>
                  <td><%= resource.top_listing || '--' %></td>
                  <td><%= resource.status? %></td>
                  <td>
                    <%= render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="widget-foot">
          <div class="pull-right">
            <%= paginate @collection %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
