<div class="btn-close exit">
  <i class="fa fa-close"></i>
</div>
<div class="frame-show">
  <div id="carousel-example-generic" class="pop-property-carousel carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% resource.try(:galleries).each_with_index do |resource, index| %>
        <div class="item <%= 'active' if index == 0 %>">
          <%= image_tag resource.try(:file).url(:large) %>
        </div>
      <% end %>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <div class="nav-property-simple nav-project">
    <a href="#section-details">Details</a>
    <a href="#section-facilities">Facilities</a>
    <a href="#section-locality">Locality</a>
  </div>
  <div class="col-xs-12">
    <div id="section-details">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-show">
            <%= link_to resource.title, property_path(resource) %>
          </div>
        </div>
      </div>
      <div class="desc">
        <small class="text-muted">
          <span class="color-green">
            <i class="fa fa-tags"></i>
            <%= resource.try(:type_property) %>&nbsp;
          </span>
          <i class="fa fa-map-marker"></i>
          <%= address.simple_place_info %>
        </small>
      </div>
      <div class="sec-price">
        <span class="price">
          <%= raw number_to_currency_br(resource.the_price?) + resource.the_price_status? %>
        </span>
        <% if resource.category == 'Sell' && (resource.type_property == 'Apartment' || resource.type_property == 'Office' || resource.type_property == 'House') %>
          |
          <span class="price-sq">
            <%= raw "#{number_to_currency_br(resource.price_per_meter)} <small class='color-grey'> per sq m</small>" %>
          </span>
        <% end %>
      </div>
      <div class="break"></div>
      <%= render 'shareds/properties/basic', resource: resource %>
    </div>
    <div class="break"></div>
    <div id="section-facilities">
      <div class="sec-facility">
        <% @facilities = find_facilities(resource.type_property) %>
        <%= render 'shareds/properties/facilities', resource: resource %>
      </div>
    </div>
    <div class="break"></div>
    <div id="section-locality">
      <h4>LOCALITY</h4>
      <div id="group-locality-type">
      </div>
    </div>
    <div class="btn-group grid-controls-action-show-property">
      <button class="btn btn-primary" data-toggle='modal' data-target="#modal-agent-<%= resource.id %>">
        <i class="fa fa-phone"></i> Contact
      </button>
      <button class="btn btn-danger" data-toggle='modal' data-target="#modal-report">
        <i class="fa fa-flag-o"></i> Report
      </button>
    </div>
  </div>
</div>

<%= render 'shareds/modal_report', resource: resource %>
<%= render 'shareds/modal_agent', resource: resource %>

