<% @facility_list.each_with_index do |s| %>
  <div class="form-row-search">
    <div class="checkbox">
      <% facility_checked = params[:facilities].include?(s.name) rescue nil %>
      <%= check_box_tag "facilities[]", s.name, facility_checked %>
      <%= s.font_icon.html_safe if s.font_icon.present? %>
      <%= s.name %>
    </div>
  </div>
<% end %>

