<% if params[:node] == 'region' %>
  <%= select_tag "#{params[:node]}[village_id]", options_for_select(@villages.alfa.pluck(:name, :id)), {prompt: 'Choice Village', class: 'form-control select2 village_select', 'data-node' => "#{params[:node]}", required: true} %>
<% else %>
  <%= select_tag "#{params[:node]}[address_attributes][village_id]", options_for_select(@villages.alfa.pluck(:name, :id)), {prompt: 'Choice Village', class: 'form-control select2 village_select', 'data-node' => "#{params[:node]}", required: true} %>
<% end %>